﻿.pager_simple_orange{

}

.pager_simple_orange td{
	border: 0px !important;
}

.pager_simple_orange td{
    padding: 1px;
}

.pager_simple_orange a{
    text-decoration: none;
    font: 12px Arial;
    font-weight: normal;
    color: white;
    display: block;
    padding: 5px 10px;
    border: 1px solid #9d7129;
    background-color: #9d7129;
}

.pager_simple_orange .active a, 
.pager_simple_orange a:hover{    
    background-color: rgb(117, 75, 6);
    color: White;
}

.pager_simple_orange .active, 
.pager_simple_orange .active{    
    background-color: rgb(117, 75, 6);
    color: White;
}