﻿@model List<BookingReportViewModel>
@{
    int count = 1;
}

@using (Html.BeginForm("BaoCaoDanhSachBookingBySearch", "Report", FormMethod.Post, new { id = "form-data" }))
{
    <div class="modal-header">
        <div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="title-modal">Danh sách booking</span>
        </div>
    </div>
    <div class="modal-body clearfix form-horizontal scroll">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body" style="display: block;">
                        <table border="0" width="100%">
                            <tr>
                                <td colspan="2">                                    
                                    <table class="table table-bordered table-striped" id="myTable">
                                        <thead>
                                            <tr role="row" style="background-color: #1b80c8; color: white; font-size: 11.5px">
                                                <th width="5%">STT</th>
                                                <th width="10%">Tên KH</th>
                                                <th width="10%">Số điện thoại</th>
                                                <th width="10%">Khách sạn</th>
                                                <th width="10%">Phòng</th>
                                                <th width="5%">SL</th>
                                                <th width="5%">Số ngày</th>
                                                <th width="10%">Từ ngày</th>
                                                <th width="10%">Đến ngày</th>
                                                <th width="10%">Tổng tiền</th>
                                                <th width="5%">Tình trạng TT</th>
                                                <th width="10%">Nhân viên</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                            <tr>
                                                <td>
                                                    @(count++)
                                                </td>
                                                <td>
                                                    @item.CustomerName
                                                </td>
                                                <td>
                                                    @item.CustomerPhone
                                                </td>
                                                <td>
                                                    @item.HotelName
                                                </td>
                                                <td>
                                                    @item.RoomName
                                                </td>
                                                <td>
                                                    @item.RoomCount
                                                </td>
                                                <td>
                                                    @item.CountDate
                                                </td>
                                                <td>
                                                    @item.DateCheckIn.ToString("dd/MM/yyyy")
                                                </td>
                                                <td>
                                                    @item.DateCheckOut.ToString("dd/MM/yyyy")
                                                </td>
                                                <td>
                                                    @item.TotalAmount.ToString("#,###")
                                                </td>
                                                <td>
                                                    @if (item.Status == (int)Parameters.Booking.BookingStatus.DaHuy)
                                                    {
                                                        <span>Đã huỷ</span>
                                                    }
                                                    else
                                                    {
                                                        <span>
                                                            @(item.IsPaymentSuccess ? "Đã thanh toán" : (item.CustomerCheckPayment ? "KH đã xác nhận" : "Chưa thanh toán"))
                                                        </span>
                                                    }
                                                </td>
                                                <td>
                                                    @(!string.IsNullOrEmpty(item.UserConfirmName)? item.UserConfirmName : item.UserAllotedName)
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-left">
            <button class="btn btn-success btn-sm" id="btnSubmit" type="submit"><i class="fa fa-save"></i>&nbsp;Xuất excel</button>&nbsp;
            <a class="btn btn-danger btn-sm" href="javascript:$('.close').click();void(0);"><i class="fa fa-reply"></i>&nbsp;Quay lại</a>
        </div>
    </div>
}



