﻿<!-- breadcrumb -->
<div class="container">
    <div class="row">
        <ul class="breadcrumbs__wrapper d-flex align-items-center" itemscope itemtype="http://schema.org/BreadcrumbList">
            @Html.Raw(ViewBag.Breadcrumbs)
        </ul>
    </div>
</div>