﻿
<div class="footer">
    <!-- menu-footer -->
    <div class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mg-bt-20 ">
                    <a class="logo" href="#">
                        <img class="img-responsive" src="~/Content/assets/images/logo-combo.png" width="150px" />
                    </a>
                </div>
                <div class="col-md-4">                    
                    @Html.Raw(Hotel.Utilities.Utility.GetContentValue("home-address-company"))
                </div>
                <div class="col-md-4">                    
                    @Html.Raw(Hotel.Utilities.Utility.GetContentValue("home-policy-footer"))
                </div>
                <div class="col-md-4">
                    @Html.Raw(Hotel.Utilities.Utility.GetContentValue("home-partner-info"))                    
                    <div class="footer-block">
                        <div class="app-btn-group mg-bt-15">                            
                        </div>
                    </div>
                    <div class="footer-block">
                        <div class="socail-group">
                            @*<h5 class="footer-title text-uppercase mg-bt-10">
                                Kết nối với hotcombo.vn
                            </h5>
                            <ul class="list-inline">
                                <li>
                                    <a href="https://www.facebook.com/mytour.vn/" target="_blank">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://plus.google.com/+MytourVndulichtietkiem" target="_blank">
                                        <i class="fa fa-google-plus-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/mytour.vn/" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /bottom-footer -->
    </div>
</div>
<!-- /menu-footer -->