﻿
@{
    //var province = ViewBag.Province as List<tbl_Province>;
    var hotelSuggest = ViewBag.hotelSuggest as List<SearchHotelSuggestModel>;
    var search = ViewBag.Search as SearchViewModel ?? new SearchViewModel();
    var customerLogin = (CustomerAccountViewModel)Session["CustomerLogin"];
    DateTime dateCheckIn = DateTime.Today.AddDays(1);
    DateTime dateCheckOut = DateTime.Now.AddDays(2);
    int roomNumber = 1;
    int personNumber = 1;
    if (search != null)
    {
        dateCheckIn = search.StartDate != null ? search.StartDate.Value : dateCheckIn;
        dateCheckOut = search.EndDate != null ? search.EndDate.Value : dateCheckOut;

        if (search.StartDate == null)
        {
            search.StartDate = dateCheckIn;
        }
        if (search.EndDate == null)
        {
            search.EndDate = dateCheckOut;
        }
        roomNumber = search.NumberRoom != null ? search.NumberRoom.Value : 1;
        personNumber = search.NumberAdul != null ? search.NumberAdul.Value : 1;
    }

}
<!-- /mobile -->
<header class="header-mobile">
    <div class="navbar-menu">
        <!-- icon-nav -->
        <div class="icon-nav">
            <div class="nav-line-group events-tracking">
                <span class="icon-nav-line first"></span>
                <span class="icon-nav-line second"></span>
                <span class="icon-nav-line last"></span>
            </div>
        </div>
        <!-- end icon-nav -->
        <!-- menu-container -->
        <div class="menu-container">
            <div class="overlay"></div>
            <!-- menu-user-block -->
            <ul class="list-unstyled menu-block menu-user-block">
                @if (customerLogin == null)
                {
                    <li>
                        <a href="javascript:void(0)" class="loginBtn events-tracking active" role="button" data-toggle="modal" data-target="#LoginModal">
                            <div class="menu-content">
                                <div class="menu-content-icon">
                                    <i class="fal fa-user"></i>
                                </div>
                                <div class="menu-content-text">
                                    Đăng nhập
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("register","AccountCustomer")" class="events-tracking">
                            <div class="menu-content">
                                <div class="menu-content-icon">
                                    <i class="fal fa-user-plus"></i>
                                </div>
                                <div class="menu-content-text">
                                    Đăng kí
                                </div>
                            </div>
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <img src="@customerLogin.ImageUrl" alt="imageCustomer" style="height:80px;" />
                    </li>
                    <li>
                        <div class="menu-content">
                            <div class="menu-content-icon">
                                <i class="fal fa-user"></i>
                            </div>
                            <div class="menu-content-text">
                                @(customerLogin != null ? customerLogin.CustomerName.Substring(0, customerLogin.CustomerName.Length > 20 ? 20 : customerLogin.CustomerName.Length) : "")
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="@Url.Action("ChangePassword","AccountCustomer")" class="events-tracking">
                            <div class="menu-content">
                                <div class="menu-content-icon">
                                    <i class="fal fa-key"></i>
                                </div>
                                <div class="menu-content-text">
                                    Đổi mật khẩu
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("LogOut","AccountCustomer")" class="events-tracking">
                            <div class="menu-content">
                                <div class="menu-content-icon">
                                    <i class="fal fa-sign-out"></i>
                                </div>
                                <div class="menu-content-text">
                                    Đăng xuất
                                </div>
                            </div>
                        </a>
                    </li>
                }
            </ul>
            <!-- end menu-user-block -->
            <ul class="list-unstyled menu-block">
                <li>
                    <a href="/" class="events-tracking">
                        <div class="menu-content">
                            <div class="menu-content-icon">
                                <i class="fal fa-home"></i>
                            </div>
                            <div class="menu-content-text">
                                Trang chủ
                            </div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Index","TravelGuide")" class="events-tracking">
                        <div class="menu-content">
                            <div class="menu-content-icon">
                                <i class="fal fa-books"></i>
                            </div>
                            <div class="menu-content-text">
                                Cẩm nang du lịch
                            </div>
                        </div>
                    </a>
                </li>
                @*<li>
                        <a href="/news" class="events-tracking">
                            <div class="menu-content">
                                <div class="menu-content-icon">
                                    <i class="fal fa-gift"></i>
                                </div>
                                <div class="menu-content-text">
                                    Ưu đãi
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/feedback.html" class="events-tracking">
                            <div class="menu-content">
                                <div class="menu-content-icon">
                                    <i class="fal fa-comments"></i>
                                </div>
                                <div class="menu-content-text">
                                    Đánh giá website
                                </div>
                            </div>
                        </a>
                    </li>*@
            </ul>
            <!-- menu-help-block -->
            <ul class="list-unstyled menu-block menu-help-block">
                <li>
                    <h5 class="menu-block-title">Hỗ trợ khách hàng 24/7</h5>
                    <div class="menu-content">
                        <div class="menu-content-text">
                            Hà Nội: <a href="tel:(024) 7109 9999">(024) 7109 9999</a>
                        </div>
                    </div>
                    <div class="menu-content">
                        <div class="menu-content-text">
                            TPHCM: <a href="tel:(028) 7109 9998">(028) 7109 9998</a>
                        </div>
                    </div>
                </li>
                <li>
                    <h5 class="menu-block-title">Hỗ trợ đặt Vé máy bay</h5>
                    <div class="menu-content">
                        <div class="menu-content-text">
                            <a href="tel:1900 2083">1900 2083</a>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- end menu-help-block -->
        </div> <!-- menu-container -->
        <!-- logo -->
        <div class="logo-img">
            <a href="/"><img src="/Content/assets/images/logo-combo.png" alt="hotcombo.vn" class="img-responsive"></a>
        </div>
        <!-- end logo -->
        <!-- icon-user -->
        <div class="icon-right">
            <span id="icon-search-btn" class="btn btn-link li-magnifier search-btn">
                <i class="fas fa-search"></i>
            </span>
        </div>
        <!-- end icon-user -->
    </div>
    <div id="search" class="search-container" style="background-repeat: no-repeat; background-position: center center; background-image: url(https://mytourcdn.com/themes/dist/images/index-bg.jpg);">
        <div class="search-block">
            <!-- form-search -->
            <form class="home-form-search" method="post" id="search-form-mb" action="/Hotel/Index" vk-check-suggest="0"
                  enctype="multipart/form-data">
                <div class="form-search" id="the-basics">
                    <div class="search-alert">
                        <strong>Bạn chưa nhập từ khóa!</strong> Xin hãy nhập từ khóa để tiếp tục !
                        <i class="li-cross2"></i>
                    </div>
                    <span class="twitter-typeahead" style="position: relative; display: inline-block;">
                        <select data-placeholder="Nhập tên khách sạn, địa danh..." class="chosen-select js-check-content form-control typeahead tt-hint" name="ItemId" id="ItemId-mb" value="@search.ItemId" tabindex="5">
                            <option value="">Nhập tên khách sạn, địa danh...</option>
                            <optgroup id="mb-province-search" label="Địa danh" data-content="1">
                                @foreach (var item in hotelSuggest.Where(t => t.Type == "1"))
                                {
                                    <option value="@item.Id" @((item.Id == search.ItemId) ? "Selected" : "")>@item.Name</option>
                                }
                            </optgroup>
                            <optgroup id="mb-hotel-search" label="Khách sạn" data-content="0">
                                @foreach (var item in hotelSuggest.Where(t => t.Type == "0"))
                                {
                                    <option value="@item.Id" @((item.Id == search.ItemId) ? "Selected" : "")>@item.Name</option>
                                }
                            </optgroup>
                        </select>
                        <input type="hidden" id="TypeInput-mb" name="TypeInput" value="@search.TypeInput" autocomplete="off">
                    </span>
                </div>
                <!-- /group-search -->
                <!--date-box -->
                <div id="search-date-box-mb" class="form-group mt-datepicker t-datepicker mg-t-20">
                    <div class="t-check-in" id="checkIn-mb">
                        <i class="fal fa-calendar-alt"></i>
                        <span id="txtStartDate_mb" class="t-date-info-title t-check-in-days">@search.StartDate.Value.ToString("dd-MM-yyyy")</span>
                        <input type="hidden" id="StartDate-mb" name="StartDate" value="@search.StartDate" />
                    </div>
                    <div class="t-check-out" id="checkOut-mb">
                        <i class="fal fa-calendar-alt"></i>
                        <span id="txtEndDate_mb" class="t-date-info-title t-check-out-days">@search.EndDate.Value.ToString("dd-MM-yyyy")</span>
                        <input type="hidden" id="EndDate-mb" name="EndDate" value="@search.EndDate" />
                    </div>
                </div>
                <!-- /date-box -->
                <!-- room-guest-select -->
                <div class="room-guest-select mt-3">
                    <div class="room-container">
                        <span class="room-num">@search.NumberRoom</span>
                        <span class="room-label">Phòng</span>
                    </div>
                    <div class="guest-container">
                        <span class="guest-num">@search.NumberAdul</span>
                        <span class="guest-label">Khách</span>
                    </div>
                </div>
                <div class="room-guest-select-show mt-3">
                    <div class="room-select mg-bt-10">
                        <div class="input-group bootstrap-touchspin min">
                            <span class="input-group-btn">
                                <button class="li-circle-minus bootstrap-touchspin-down" type="button" onclick="SearchChangeRoomNumber('minus',this)">-</button>
                            </span>
                            <div class="guest-dropdown-container">
                                <input class="bootstrap-touchspin-input form-control" id="room-number-mobile" type="text"
                                       value="@search.NumberRoom" name="NumberRoom" style="display: block;">
                                <span class="input-group-addon bootstrap-touchspin-postfix">phòng</span>
                            </div>
                            <span class="input-group-btn">
                                <button class="li-plus-circle bootstrap-touchspin-up" type="button" onclick="SearchChangeRoomNumber('plus',this)">+</button>
                            </span>
                        </div>
                    </div>
                    <div class="guest-select">
                        <div class="input-group bootstrap-touchspin min">
                            <span class="input-group-btn">
                                <button class="li-circle-minus bootstrap-touchspin-down" type="button" onclick="SearchChangePersionNumber('minus',this)">-</button>
                            </span>
                            <div class="guest-dropdown-container">
                                <input class="bootstrap-touchspin-input form-control" id="persion-number-mobile" type="text"
                                       value="@search.NumberAdul" name="NumberAdul" style="display: block;">
                                <span class="input-group-addon bootstrap-touchspin-postfix">khách</span>
                            </div>
                            <span class="input-group-btn">
                                <button class="li-plus-circle bootstrap-touchspin-up" type="button" onclick="SearchChangePersionNumber('plus',this)">+</button>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- end room-guest-select -->
                <!-- btn-search -->
                <button type="submit" id="search_submit-mb" class="btn btn-search events-tracking-search"
                        data-action="Search" data-label="getValueSearch" data-category="hotel-detail">
                    <span id="btnTxtSearch">Tìm khách sạn</span>
                </button>
                <!-- btn-search -->
            </form>
        </div>
        <!-- <a class="slide-up-btn"><i class="li-chevron-up"></i></a> -->
    </div>
    <!-- /mobile -->
    <br />
    <script>
        $(document).ready(function () {
            if ($('#ItemId-mb').val() == "" || $('#ItemId-mb').val() == null) {
                document.getElementById("search_submit-mb").style.cursor = "not-allowed";
                document.getElementById("search_submit-mb").disabled = true;
            }
            else {
                document.getElementById("search_submit-mb").style.cursor = "pointer";
                document.getElementById("search_submit-mb").disabled = false;
            }
        });

        $('#ItemId-mb').change(function () {
            if ($('#ItemId-mb').val() == "" || $('#ItemId-mb').val() == null) {
                document.getElementById("search_submit-mb").style.cursor = "not-allowed";
                document.getElementById("search_submit-mb").disabled = true;
            }
            else {
                document.getElementById("search_submit-mb").style.cursor = "pointer";
                document.getElementById("search_submit-mb").disabled = false;
            }

            $("#TypeInput-mb").val($('#ItemId-mb :selected').parent().attr('data-content'));
        });

    </script>
    <script>
        $(document).ready(function () {
            let input_mb = document.getElementById('checkIn-mb');
            //let checkIn_mb = document.getElementsByClassName('t-check-in')[0];
            //let checkIn_day_mb = document.getElementsByClassName('t-check-in-days')[0];
            //let checkOut_day_mb = document.getElementsByClassName('t-check-out-days')[0];
            let checkIn_mb = document.getElementById('checkIn-mb');
            let checkOut_mb = document.getElementById('checkOut-mb');
            let txtStartDate_mb = document.getElementById('txtStartDate_mb');
            let txtEndDate_mb = document.getElementById('txtEndDate_mb');
            let checkIn_day_mb = document.getElementById('StartDate-mb');
            let checkOut_day_mb = document.getElementById('EndDate-mb');
            //get hotel date picker mobile

            checkIn_mb.addEventListener('click', open_datepicker_mb_function);
            checkOut_mb.addEventListener('click', open_datepicker_mb_function);
            checkIn_mb.addEventListener('afterClose', function () {
                let ranger_date = datepicker_mb.getValue();
                console.log(ranger_date);
                var res = ranger_date.split(" - ");
                txtStartDate_mb.innerHTML = res[0];
                txtEndDate_mb.innerHTML = res[1];
                checkIn_day_mb.value = res[0].split("-")[1] + "-" + res[0].split("-")[0] + "-" + res[0].split("-")[2];
                checkOut_day_mb.value = res[1].split("-")[1] + "-" + res[1].split("-")[0] + "-" + res[1].split("-")[2];
            }, false);

            function open_datepicker_mb_function() {
                datepicker_mb.open();
            }
            let datepicker_mb = new HotelDatepicker(input_mb, {
                format: 'DD-MM-YYYY',
                i18n: {
                    selected: 'Bạn đã chọn:',
                    night: 'Ngày',
                    nights: 'Ngày',
                    button: 'Đóng',
                    'checkin-disabled': 'Check-in disabilitato',
                    'checkout-disabled': 'Check-out disabilitato',
                    'day-names-short': ['T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'CN'],
                    'day-names': ['T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'CN'],
                    'month-names-short': ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                    'month-names': ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                    'error-more': 'L\'intervallo di date non deve avere più di 1 notte',
                    'error-more-plural': 'L\'intervallo di date non deve avere più di %d notti',
                    'error-less': 'L\'intervallo di date non deve avere meno di 1 notte',
                    'error-less-plural': 'L\'intervallo di date non deve avere meno di %d notti',
                    'info-more': 'Vui lòng chọn ngày tháng năm',
                    'info-more-plural': 'Per favore seleziona un intervallo di date maggiore di %d notti',
                    'info-range': 'Per favore seleziona un intervallo di date tra %d e %d notti',
                    'info-default': 'Per favore seleziona un intervallo di date'
                }
            });
        });

    </script>

    <script>
        $('#icon-search-btn').click(function () {
            if ($('#search').css('display') == 'none') {
                $('#search').slideDown("slow");
            }
            else {
                $('#search').slideUp("slow");
            }
        })

        $('.events-tracking').click(function () {
            $(this).toggleClass('active');
            $('.menu-container').toggleClass('active');
        });
    </script>
</header>


