﻿@{
    //var province = ViewBag.Province as List<tbl_Province>;
    var hotelSuggest = ViewBag.hotelSuggest as List<SearchHotelSuggestModel>;
    var search = ViewBag.Search as SearchViewModel;
    DateTime dateCheckIn = DateTime.Today.AddDays(1);
    DateTime dateCheckOut = DateTime.Now.AddDays(2);
    int roomNumber = 1;
    int personNumber = 1;
    if (search != null)
    {
        dateCheckIn = search.StartDate != null ? search.StartDate.Value : dateCheckIn;
        dateCheckOut = search.EndDate != null ? search.EndDate.Value : dateCheckOut;

        if (search.StartDate == null)
        {
            search.StartDate = dateCheckIn;
        }
        if (search.EndDate == null)
        {
            search.EndDate = dateCheckOut;
        }
        roomNumber = search.NumberRoom != null ? search.NumberRoom.Value : 1;
        personNumber = search.NumberAdul != null ? search.NumberAdul.Value : 1;
    }

}

<header class="header-desktop">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-2">
                <div class="logo navbar-brand">
                    <a href='@Url.Action("Index","Home")'>
                        <img src="~/Content/assets/images/logo-combo.png" alt="" class="img-responsive" width="250px">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <nav class="nav-bar">
                    <div class="navbar-collapse" id="menu-collapse">
                        <ul class="navbar-nav main-menu">
                            <li class="nav-item">
                                <a href='@Url.Action("Index","Home")' class="nav-link">
                                    Trang chủ
                                </a>
                            </li>
                            <li class="nav-item">
                                @*<a href='@Url.Action("Index","Hotel", new { TypeInput = "1", ItemId = "50" })' class="nav-link">
                                        Khách sạn
                                    </a>*@
                                <a href='/khach-san' class="nav-link">
                                    Khách sạn
                                </a>
                            </li>
                            <li class="tour ">
                                <a href="@Url.Action("Index","TravelGuide")" class="nav-link">
                                    Cẩm nang du lịch
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-md-6">
                <ul class="nav navbar-nav navbar-right">
                    <li class="icon-block working-time">
                        <div class="wrapper">
                            <div class="mytour-phone">
                                @Html.Raw(Hotel.Utilities.Utility.GetContentValue("header-phone-contact"))
                            </div>
                            <div class="flight-phone text-center">
                                @Html.Raw(Hotel.Utilities.Utility.GetContentValue("header-phone-contact-flight"))
                            </div>
                        </div>
                    </li>
                    @*<li class="icon-block feedback">
                            <a href="#" mytour-ext="ajax-modal" modal-name="modal-feed-back">
                                <i class="fal fa-comments"></i>
                            </a>
                        </li>
                        <li class="icon-block notification">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">
                                <i class="fal fa-bell"></i>
                                <span class="notification-alarm number-notification">1</span>
                            </a>
                            <ul class="dropdown-menu notification-list scroll-y-t ps ps--theme_default">
                                <li class="new notify-item unread" data-title='notify_invite'>
                                    <span class="notification-close" data-type="invite_item">
                                        <i class="fal fa-times" onclick="offNotify('off_noti_invite')"></i>
                                    </span>
                                    <a target="_blank" class="notification-content" href="invite-other.html">
                                        <i class="fal fa-gift"></i>
                                        <p><strong>Giới thiệu bạn mới - Thêm tiền đi chơi</strong></p>
                                        <span>Tham gia ngay!</span>
                                    </a>
                                </li>
                                <li class="alert-fh new notify-item" data-count-notify="1">
                                </li>
                            </ul>
                        </li>*@
                    @{
                        var customerLogin = (CustomerAccountViewModel)Session["CustomerLogin"];
                    }

                    <li class="icon-block dropdown account">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            @if (customerLogin == null )
                            {
                                <i class="fal fa-user"> @(customerLogin != null ? customerLogin.CustomerName.Substring(0, customerLogin.CustomerName.Length > 24 ? 24 : customerLogin.CustomerName.Length) : "")</i>
                            }
                            else
                            {
                                <img src="@(customerLogin != null ? customerLogin.ImageUrl : "")" style="width:40px;height:40px" /> @(customerLogin != null ? customerLogin.CustomerName.Substring(0, customerLogin.CustomerName.Length > 20 ? 20 : customerLogin.CustomerName.Length) : "")
                            }
                        </a>
                        <ul class="dropdown-menu text-center">
                            @if (Session["CustomerLogin"] == null)
                                {
                                <li class="p_login btn-show-login dropdown-item">
                                    <a href="javascript:;"
                                       data-toggle="modal" data-target="#LoginModal">Đăng nhập</a>
                                </li>
                                <li class="p_login dropdown-item"><a href="@Url.Action("Register","AccountCustomer")">Đăng ký</a></li>
                            }
                            else
                            {
                                @*<li class="p_login dropdown-item"><a href="#">Thông tin tài khoản</a></li>*@
                                <li class="p_login dropdown-item"><a href="@Url.Action("ChangePassword","AccountCustomer")">Đổi mật khẩu</a></li>
                                <li class="p_login dropdown-item"><a href="@Url.Action("LogOut","AccountCustomer")">Đăng xuất</a></li>
                            }
                            @*<li>
                                    <a href="favorite-hotels.html" class="events-tracking dropdown-item"
                                       data-category="Menu" data-action="Item Click"
                                       data-label="Khách sạn yêu thích">Khách sạn yêu thích</a>
                                </li>*@
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

@{ Html.RenderAction("_HeaderMobile", "Home");}

<script src="~/Content/Autocomplete/chosen.jquery.js" type="text/javascript"></script>
<script src="~/Content/Autocomplete/prism.js" type="text/javascript" charset="utf-8"></script>
<script src="~/Content/Autocomplete/init.js" type="text/javascript" charset="utf-8"></script>
