﻿@{ 
    int version = 0;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@(ViewBag.Title ?? "Đặt phòng khách sạn, hotel trực tuyến hàng đầu Việt Nam") | www.hotcombo.vn</title>
    <meta name="description"
          content="Hơn 5000 khách sạn, hotels trong và ngoài nước. Giá rẻ nhất và đánh giá thực chỉ có tại hotcombo.vn. Khuyến mãi giảm giá lên đến 70%. Hoàn Tiền Nếu Không Hài Lòng.">
    <meta name="keywords"
          content="dat phong khach san, đặt phòng khách sạn, dat phong khach san truc tuyen, đặt phòng khách sạn trực tuyến, dat phong resort, đặt phòng resort, dat phong resort truc tuyen, đặt phòng resort trực tuyến">
    <meta name="theme-color" content="#36c5f4" />
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link href="~/Content/assets/css/style.css?v=@version" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/home.css?v=@version" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/vendor.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/new-style.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/all.min.css" />
    <link rel="stylesheet" href="~/Content/assets/js/hotel-datepicker/css/hotel-datepicker.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">

    @*Script*@
    @*<script src="~/Content/assets/js/index.js" type="text/javascript"></script>*@
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>


    <script src="~/Content/assets/js/hotel-datepicker/js/fetcha.min.js"></script>
    <script src="~/Content/assets/js/hotel-datepicker/js/hotel-datepicker.js" type="text/javascript"></script>
    <script src="~/Content/SocialLogin.js?v=4" type="text/javascript"></script>
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script src="~/Scripts/plugins/hotel.js?v=@version"></script>
    @*<script src="~/Content/assets/js/index.js?v=@version"></script>*@

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="~/Content/assets/js/hotel-datepicker/js/fetcha.min.js"></script>
    <script src="~/Content/assets/js/hotel-datepicker/js/hotel-datepicker.js" type="text/javascript"></script>*@
    @Scripts.Render("~/bundles/jqueryval")

</head>
<body class="page-home">
    @Html.Partial("_Header")

    <!--Fb like share-->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v11.0&appId=560141008439125&autoLogAppEvents=1" nonce="ybGt12km"></script>
    <!--Fb like share-->
    <!-- box commercial -->
    <div>
        <!-- nav-fixed-right -->
        <div class="nav-fixed-right device-mb-none">
            <a class="nav-fixed-right-item" data-container="body" data-toggle="tooltip" data-placement="left"
               data-original-title="Về đầu trang" id="back_to_top" onclick='$("html, body").animate({ scrollTop: 0 }, "slow");'><i class="fa fa-arrow-up"></i></a>
            <a class="nav-fixed-right-item" data-container="body" data-toggle="tooltip" data-placement="left"
               data-original-title="Về trang chủ" href="/"><i class="fa fa-home"></i></a>
        </div>
        <!-- nav-fixed-right -->
    </div>
    @RenderBody()
    <!-- box commercial -->
    @Html.Partial("_Footer")
    <!-- /menu-footer -->
    <!-- Modal -->
    @Html.Partial("../AccountCustomer/_LoginPopup")
    @Html.Partial("../AccountCustomer/_ForgotPasswordPopup")
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)  

    @if (TempData["Alert"] != null)
    {
        <script>
            alert('@Html.Raw(TempData["Alert"].ToString())');
        </script>
    }
</body>
</html>