﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Đặt phòng khách sạn, hotel trực tuyến hàng đầu Việt Nam | Mytour</title>
    <meta name="description"
          content="Hơn 5000 khách sạn, hotels trong và ngoài nước. Giá rẻ nhất và đánh giá thực chỉ có tại Mytour.vn. Khuyến mãi giảm giá lên đến 70%. Hoàn Tiền Nếu Không Hài Lòng.">
    <meta name="keywords"
          content="dat phong khach san, đặt phòng khách sạn, dat phong khach san truc tuyen, đặt phòng khách sạn trực tuyến, dat phong resort, đặt phòng resort, dat phong resort truc tuyen, đặt phòng resort trực tuyến">
    <meta name="theme-color" content="#36c5f4" />
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link href="~/Content/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/home.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/vendor.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/new-style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/all.min.css" />
    <link rel="stylesheet" href="~/Content/assets/js/hotel-datepicker/css/hotel-datepicker.css" />
</head>
<body class="page-home">
    <!-- box commercial -->
    <div class="container">
        @RenderBody()
    </div>
    <!-- box commercial -->
    <!-- /menu-footer -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="defaultModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <!-- <script src="~/Content/assets/js/index.js" type="text/javascript"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="~/Content/assets/js/hotel-datepicker/js/fetcha.min.js"></script>
    <script src="~/Content/assets/js/hotel-datepicker/js/hotel-datepicker.js" type="text/javascript"></script>
    <script>
        let input = document.getElementById('checkIn');
        let checkIn = document.getElementsByClassName('t-check-in')[0];
        let checkIn_day = document.getElementsByClassName('t-check-in-days')[0];
        let checkOut_day = document.getElementsByClassName('t-check-out-days')[0];
        checkIn.addEventListener('click', open_datepicker_function);
        function open_datepicker_function() {
            datepicker.open();
        }
        let datepicker = new HotelDatepicker(input, {
            format: 'DD-MM-YYYY',
            i18n: {
                selected: 'Bạn đã chọn:',
                night: 'Notte',
                nights: 'Notti',
                button: 'Đóng',
                'checkin-disabled': 'Check-in disabilitato',
                'checkout-disabled': 'Check-out disabilitato',
                'day-names-short': ['T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'CN'],
                'day-names': ['T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'CN'],
                'month-names-short': ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                'month-names': ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                'error-more': 'L\'intervallo di date non deve avere più di 1 notte',
                'error-more-plural': 'L\'intervallo di date non deve avere più di %d notti',
                'error-less': 'L\'intervallo di date non deve avere meno di 1 notte',
                'error-less-plural': 'L\'intervallo di date non deve avere meno di %d notti',
                'info-more': 'Vui lòng chọn ngày tháng năm',
                'info-more-plural': 'Per favore seleziona un intervallo di date maggiore di %d notti',
                'info-range': 'Per favore seleziona un intervallo di date tra %d e %d notti',
                'info-default': 'Per favore seleziona un intervallo di date'
            }
        });

        //get hotel date picker mobile

        let date_start = document.getElementsByClassName('date-info')[0];
        date_start.addEventListener('click', open_datepicker_function_mb);
        function open_datepicker_function_mb() {
            datepicker_mobile.open();

        }

        date_start.addEventListener('afterClose', function () {
            console.log(datepicker_mobile.getDatePicker());
        });

        let datepicker_mobile = new HotelDatepicker(date_start, {
            format: 'DD-MM-YYYY',
            i18n: {
                selected: 'Bạn đã chọn:',
                night: 'Notte',
                nights: 'Notti',
                button: 'Đóng',
                'checkin-disabled': 'Check-in disabilitato',
                'checkout-disabled': 'Check-out disabilitato',
                'day-names-short': ['T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'CN'],
                'day-names': ['T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'CN'],
                'month-names-short': ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                'month-names': ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                'error-more': 'L\'intervallo di date non deve avere più di 1 notte',
                'error-more-plural': 'L\'intervallo di date non deve avere più di %d notti',
                'error-less': 'L\'intervallo di date non deve avere meno di 1 notte',
                'error-less-plural': 'L\'intervallo di date non deve avere meno di %d notti',
                'info-more': 'Vui lòng chọn ngày tháng năm',
                'info-more-plural': 'Per favore seleziona un intervallo di date maggiore di %d notti',
                'info-range': 'Per favore seleziona un intervallo di date tra %d e %d notti',
                'info-default': 'Per favore seleziona un intervallo di date'
            }
        });

        input.addEventListener('afterClose', function () {
            console.log(datepicker.getValue());
            let ranger_date = datepicker.getValue();
            var res = ranger_date.split(" - ");
            checkIn_day.innerHTML = res[0];
            checkOut_day.innerHTML = res[1];
        }, false);

    </script>
    <script>
        jQuery(document).ready(function ($) {
            $('.js_arrow_icon').hide();
            $('.js-check-content').click((e) => {
                $('.search-suggestion').toggleClass('show');
                $('.js_arrow_icon').show();
                $('.popular-destination').click((e) => {
                    $('.js-check-content').val(e.target.title);
                    $('.search-suggestion').removeClass('show');
                    $('.js_arrow_icon').hide();
                })
            });

            $('.room-guest-select').click(() => {
                $('.room-guest-dropdown').show();
                $('.room-guest-select-show').show();
                $('.js-guest-arrow').show();
            });

            $('.tt-hint').click(function () {
                $('.tt-nav-diemdenphobien').show();
                $('.find-hotel').show();
            });

            $('.tt-close').click(function () {
                $('.tt-nav-diemdenphobien').hide();
                $('.find-hotel').hide();
            });



            $(document).mouseup(function (e) {
                console.log($(e.target).closest(".search-suggestion").length);
                if ($(e.target).closest(".room-guest-dropdown").length === 0) {
                    $(".room-guest-dropdown").hide();
                    $('.js-guest-arrow').hide();
                }
                if ($(e.target).closest(".search-suggestion").length == 0) {
                    $(".search-suggestion").removeClass('show');
                    $('.js_arrow_icon').hide();
                }
                if ($(e.target).closest('.room-guest-select-show').length === 0) {
                    $(".room-guest-select-show").hide();
                }
                if ($(e.target).closest(".tt-nav-diemdenphobien").length === 0) {
                    $('.tt-nav-diemdenphobien').hide();
                    $('.find-hotel').hide();
                }
            });

            $(".homeslider").owlCarousel({
                nav: true,
                navText: ['<i class="fal fa-chevron-circle-left"></i>', '<i class="fal fa-chevron-circle-right"></i>'],
                center: true,
                loop: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 1
                    },
                    1000: {
                        items: 1
                    }
                }
            });
            $(".slider-deal-home .bxslider").bxSlider({
                auto: !0,
                mode: "fade",
                speed: 500,
                easing: "ease-in-out",
                touchEnabled: !1,
                oneToOneTouch: !1
            });
            $(".suggest-hotel-slider").bxSlider({
                slideMargin: 5,
                slideWidth: 220,
                minSlides: 1,
                maxSlides: 4,
                pager: !1,
                infiniteLoop: !1,
                touchEnabled: !1
            });

            $('.events-tracking').click(function () {
                $(this).toggleClass('active');
                $('.menu-container').toggleClass('active');
            });
        });

    </script>
</body>
</html>