﻿
<aside class="control-sidebar control-sidebar-dark">
    <div class="tab-pane" id="control-sidebar-home-tab">
        <h4 class="control-sidebar-heading" style="margin-left:10px">Skins</h4>
        <ul class="list-unstyled clearfix">
            <li style="float:left; width: 33.33333%; padding: 5px;">
                <a href="javascript:void(0);" data-skin="skin-blue" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                    <div>
                        <span style="display:block; width: 20%; float: left; height: 7px; background: #367fa9;"></span>
                        <span class="bg-light-blue" style="display:block; width: 80%; float: left; height: 7px;"></span>
                    </div>
                    <div>
                        <span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span>
                        <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                    </div>
                </a>
            </li>
            <li style="float:left; width: 33.33333%; padding: 5px;">
                <a href="javascript:void(0);" data-skin="skin-blue theme-green" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                    <div>
                        <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-blue-active"></span>
                        <span class="bg-blue" style="display:block; width: 80%; float: left; height: 7px;"></span>
                    </div>
                    <div>
                        <span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span>
                        <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                    </div>
                </a>
            </li>
            <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0);" data-skin="skin-green" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-green-active"></span><span class="bg-green" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div></a><p class="text-center no-margin">Green</p></li>
            <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0);" data-skin="skin-red" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-red-active"></span><span class="bg-red" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div></a><p class="text-center no-margin">Red</p></li>
            <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0);" data-skin="skin-yellow" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-yellow-active"></span><span class="bg-yellow" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div></a><p class="text-center no-margin">Yellow</p></li>
            <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0);" data-skin="skin-purple" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-purple-active"></span><span class="bg-purple" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div></a><p class="text-center no-margin">Purple</p></li>
        </ul>
    </div>
</aside>

