﻿@{
    string strClass = "";
    var applicationId = 1;
}

<header class="main-header">
    <!-- Logo -->
    <a href="@Url.Action("Index", "Home")" class="logo hidden-sm hidden-xs">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b> Hotel </b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">Quản lý <b>Hotel</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" onclick="javascript: toggle_sidebar();">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu f-right">
            
            <div class="navbar-custom-menu f-right">
                <ul class="nav navbar-nav f-right">                    
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="~/Content/images/profile.png" class="user-image" alt="User Image">
                            <span class="hidden-xs">@User.FullName</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="~/Content/images/profile.png" class="img-circle hidden" alt="User Image">
                                <p style="color:#fff;">
                                    @User.FullName
                                </p>
                                <div class="pull-left">
                                    <a onclick="ChangePass();" class="btn btn-default btn-sm btn-flat"><i class="fa fa-key"></i>&nbsp;Đổi mật khẩu</a>
                                </div>
                                <div class="pull-right">
                                    <a href="@Url.Action("LogOut","InternalAccount", new { area = "" })" class="btn btn-default btn-sm btn-flat"><i class="fa fa-power-off"></i>&nbsp;Đăng xuất</a>
                                </div>
                            </li>
                            <!-- Menu Footer-->
                            @if (User.Roles != null && User.Roles.Count() > 1)
                            {
                                <li class="user-footer">
                                    @foreach (var item in User.Roles)
                                    {
                                        string _id = item.ToString();
                                        string _name = Parameters.RolesDescription().FirstOrDefault(d => d.Value == _id).Text;
                                        <div class="pull-left" style="margin-right:5px; margin-top: 5px;">
                                            <a href="javascript:ChangeRole('@item')" class="btn btn-sm @(item == User.RoleId ? "btn-primary" : "btn-default")">
                                                @_name
                                            </a>
                                        </div>
                                    }
                                </li>
                            }

                        </ul>
                    </li>
                    <li class="hidden-xs">
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
            <div style="clear: both"></div>
        </div>
    </nav>
</header>

<script type="text/javascript">
    function changeApplication(appId) {

        $.ajax({
            type: "POST",
            url: "@Url.Action("ChangeApplication", "Home")",
            data: { applicationid: appId },
            beforeSend: function () {
                $('#preloader-wrapper').toggleClass('hide');
            },
            success: function (result) {
                $('#preloader-wrapper').toggleClass('hide');
                if (result.id > 0) {
                    //location.reload();
                    document.location.href = '@Url.Action("Index", "Home")';
                } else {
                    setTimeout(function () {
                        ShowNotify('Thao tác thất bại !', 'danger', 'top');
                    }, 800);
                }
            },
            error: function () {
                $('#preloader-wrapper').toggleClass('hide');
                ShowNotify('Thao tác thất bại !', 'danger', 'top');
            }
        });
    }

    function ChangeRole(roleId) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("ChangeRole", "Account", new { area = "" })",
            data: { roleId: roleId },
            beforeSend: function () {
                $('#preloader-wrapper').toggleClass('hide');
            },
            success: function (result) {
                if (result.id > 0) {
                    document.location.href = result.returnURL;
                } else {
                    $('#preloader-wrapper').toggleClass('hide');
                    ShowNotify('Thao tác thất bại !', 'danger', 'top');
                }
            },
            error: function () {
                $('#preloader-wrapper').toggleClass('hide');
                ShowNotify('Thao tác thất bại !', 'danger', 'top');
            }
        });
    }

    function toggle_sidebar() {
        var showSideBar = readCookie('ToggleEtourSideBar');
        if (showSideBar == 1) {
            isOpen = 0;
        }
        else if (showSideBar == 0) {
            isOpen = 1;
        }

        createCookie('ToggleEtourSideBar', isOpen, 60 * 24 * 365)
    }

    function ChangePass() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("ChangePass", "Account", new { @area = "" })",
            beforeSend: function () {
                $('#preloader-wrapper').toggleClass('hide');
            },
            success: function (result) {
                $('#preloader-wrapper').toggleClass('hide');
                if (result.length > 0) {
                    $('#myModal .modal-content').html(result);
                    $('#myModal').modal('show');
                }
            },
            error: function () {
                $('#preloader-wrapper').toggleClass('hide');
            }
        });
    }   
</script>