﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- jquery UI -->
    <link href="~/Content/plugins/jquery-ui-1.11.4/jquery-ui.css" rel="stylesheet" />
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/Content/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Datatable -->
    <link href="~/Content/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Content/fontawesome-free-5.9.0-web/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/Admin/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
    folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/Admin/css/skins/_all-skins.min.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/Content/plugins/datepicker/datepicker3.css" />
    <link rel="stylesheet" href="~/Content/plugins/animate.css" />
    <link href="@Url.VersionedContent("~/Content/hotel.css")" rel="stylesheet" />    

    <link href="~/Content/pager.css" rel="stylesheet" />    
    <!-- SelectList -->
    <link href="~/Content/plugins/choose/chosen.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/plugins/timepicker/timepicker.min.css" />

    <link rel="stylesheet" href="@Url.VersionedContent("~/Content/themes/skins/_all-skins.min.css")" />    

    <!-- ====================== Scripts ====================== -->
    <!-- jQuery 2.1.4 -->
    <script src="~/Content/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/plugins/jquery-ui-1.11.4/jquery-ui.min.js"></script>
    <!-- Validation -->
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/plugins/bootstrap-notify.js"></script>
    <!-- SelectList -->
    <script src="~/Content/plugins/choose/chosen.jquery.js"></script>

    <!-- Datatable -->
    <script src="~/Content/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.bootstrap.min.js"></script>

    <!-- FastClick -->
    <script src="~/Content/plugins/fastclick/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/Admin/js/app.min.js"></script>
    <script src="~/Content/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/numeral.min.js"></script>
    <script src="~/Scripts/autoNumeric-1.9.41.js"></script>

    <script src="@Url.VersionedContent("~/Scripts/plugins/hotel.js")"></script>    
</head>
<body class="hold-transition sidebar-mini sidebar-collapse skin-blue theme-green">
    <div id="preloader-wrapper" class="hide">
        <div id="preloader">
            <div class="spinner">
                <div class="spinner-container container1">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="spinner-container container2">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="spinner-container container3">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        @Html.Partial("_Header")
        <!-- Left side column. contains the logo and sidebar -->
        @Html.Partial("_Sidebar")
        
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content scroll-mobile">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        @Html.Partial("_ControlSidebar")
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>

        <!--scroll top-->
        <a href="#0" class="cd-top"></a>
    </div>

    <!-- Bootstrap Modal Dialog-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/Content/plugins/timepicker/timepicker.min.js"></script>
    <script type="text/javascript">
    @{        
        var notify = ViewBag.Notify as Hotel.Utilities.Notify;
        if (notify != null && notify.Status > 0)
        {
            <text>
        setTimeout(function () {
            $.notify({
                message: '@notify.Message'
            },
            {
                type: '@notify.Type',
                placement: {
                    from: '@notify.Position'
                },
                animate: {
                    enter: "animated fadeInRight",
                    exit: "animated fadeOutRight"
                },
                newest_on_top: false
            });
        }, 500);
        </text>
        }
    }

        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': { allow_single_deselect: true },
            '.chosen-select-no-single': { disable_search_threshold: 10 },
            '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
            '.chosen-select-width': { width: "95%" },
            'search_contains': true
        }
        for (var selector in config) {
            $(selector).chosen(config);
        }
    </script>

    <script type="text/javascript">
        var deleteLinks = document.querySelectorAll('.delete');

        for (var i = 0; i < deleteLinks.length; i++) {
            deleteLinks[i].addEventListener('click', function (event) {
                //event.preventDefault();

                var choice = confirm(this.getAttribute('data-confirm'));

                if (!choice) {
                    event.preventDefault();
                    event.stopImmediatePropagation();
                }
            });
        }

        $(document).ready(function (event) {
            $('.datepicker').attr('autocomplete', 'off');
        })
    </script>

    @RenderSection("scripts", required: false)
    <script src="~/Scripts/theme.js"></script>

    <script type="text/javascript">
        $(document).ready(function (event) {
            var toggleSidbar = readCookie('ToggleEtourSideBar');

            if (toggleSidbar == 1 || toggleSidbar == '') {
                if (!$('.sidebar-mini').hasClass('sidebar-open')) {
                    $('.sidebar-mini').addClass('sidebar-open');
                }

                if ($('.sidebar-mini').hasClass('sidebar-collapse')) {
                    $('.sidebar-mini').removeClass('sidebar-collapse');
                }
            } else {
                if ($('.sidebar-mini').hasClass('sidebar-open')) {
                    $('.sidebar-mini').removeClass('sidebar-open');
                }

                if (!$('.sidebar-mini').hasClass('sidebar-collapse')) {
                    $('.sidebar-mini').addClass('sidebar-collapse');
                }
            }
        });
    </script>
</body>
</html>
