﻿<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class=""><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i><span>Trang chủ</span></a></li>

            <li class="">
                <a href="#"><i class="fa fa-tasks"></i><span>Quản lý booking</span><i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li class="">
                        <a href="@Url.Action("Index", "Booking")"><i class="fa fa-circle-o"></i>Danh sách booking</a>

                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
