﻿@model List<tbl_Province>

<div class="col-md-12 city-footer">
    <ul class="list-inline">      
        @foreach (var item in Model)
        {
            <li>
                @*<a href="Hotel/Index?ItemId=@item.ProvinceId&TypeInput=1">*@
                <a href="/khach-san/tp@(item.ProvinceId)/khach-san-tai-@(item.ProvinceName.convertToUnSign2()).aspx">
                    <span class="bold">
                        @item.ProvinceName
                    </span>,
                </a>
</li>
        }        
    </ul>
</div>
