﻿@model List<tbl_banner>
    @{ 
        string imgSrcBanner = "/FileUploads/Banner/";
    }
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="title-sm text-uppercase h5" title="Đặt phòng khách sạn phổ biến Việt Nam">
                <strong>ĐIỂM ĐẾN Phổ biến Việt Nam</strong>
            </h2>
        </div>
        <div class="body-thumbnails">
            <ul class="nav-thumbnails">
                @foreach (var item in Model)
                {
                    <li class="">
                        <div class="item-thumbnail">
                            <a title="@item.banner_desc" href="@item.banner_hyperlink"
                               class="events-tracking" data-category="Home" data-action="popular-cities"
                               data-label="@item.banner_name">
                                <img class="img-responsive"
                                     src="@(imgSrcBanner + item.banner_src)"
                                     data-src="@(imgSrcBanner + item.banner_src)"
                                     alt="@item.banner_desc" title="@item.banner_desc">
                                <h3 class="item-name">@item.banner_name</h3>
                            </a>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <!-- /body-thumbnails -->
    </div>
</div>
