﻿

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="search-box">
                <div class="search-wrapper">
                    <ul class="nav nav-tabs-search align-items-center" id="search-tab" role="tablist">
                        <li role="presentation" class="active d-flex align-items-center">
                            <a href="#" data-type="0" aria-controls="VietNam" role="tab" data-toggle="tab">
                                <i class="fal fa-building" aria-hidden="true"></i>
                                Khách sạn
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content box-search box_js_arrow">
                        <div role="tabpanel" class="tab-pane in active">
                            @Html.Action("_SearchHome")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Action("_BannerHome")
    </div>
</div>