﻿@model List<tbl_banner>
<!-- /bxslider-sm -->
<div class="col-sm-12 col-md-6">
    <div class="homeslider owl-theme owl-carousel">
        @{
            foreach (var item in Model)
            {
                <div class="homeslider-item item">
                    <a href="@item.banner_hyperlink" target="@item.banner_target">
                        <img class="img-responsive"
                             src="/FileUploads/Banner/@item.banner_src"
                             alt="@item.banner_desc" title="@item.banner_name">
                    </a>
                </div>
            }
        }
    </div>
</div>
<!-- /bxslider-sm -->
