﻿@model List<tbl_banner>

<div class="col-sm-12 col-md-8">
    <div class="homeslider owl-theme owl-carousel">
        @{
            foreach (var item in Model)
            {
                <div class="homeslider-item item">
                    <a href="@item.banner_hyperlink" target="_blank">
                        <img class="img-responsive"
                             src="/FileUploads/Banner/@item.banner_src"
                             alt="@item.banner_desc" height="200" width="300" title="@item.banner_name">
                    </a>
                </div>
            }
        }
    </div>
</div>



