﻿@{
    var imageChooseme = ViewBag.WhyChooseMe as tbl_banner;
}
<!-- /why-hotcombo -->
<div class="why-hotcombo why-hotcombo-responsive col-sm-6">
    <div class="why-hotcombo-content">
        @if (imageChooseme != null)
        {
            <a href="@imageChooseme.banner_hyperlink" target="@imageChooseme.banner_target">
                <img class="img-responsive"
                     src="/FileUploads/Banner/@imageChooseme.banner_src" alt="@imageChooseme.banner_name" width="538">
            </a>
        }
        else
        {
            <img class="img-responsive"
                 src="~/FileUploads/Image/whychooseme.png" alt="tai sao chon hotcombo" width="538">
        }
        
        
    </div>
</div>
<!-- /why-hotcombo -->
