﻿<body class="page-home">
    <div class="section-search">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    @Html.Action("_SearchHome")
                </div>
                @Html.Action("_SlideBannerTop")
            </div>
        </div>
    </div>

    <!-- popular Destinations -->
    <div class="box-thumbnails mg-bt-30 clearfix">
        @Html.Action("_PopularDestination")
    </div> <!-- End popular Destinations -->
    <!-- box commercial -->
    <div class="container">
        <div class="row">
            <!-- /bxslider-sm -->
            @Html.Action("_SlideBannerBottom")
            <!-- /bxslider-sm -->
            <!-- /why-choose -->
            @Html.Partial("_WhyChoose")
            <!-- /why-choose -->
        </div>
    </div>

    <!-- box commercial -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- box-list-footer -->
                <input type="hidden" id="box-list-footer" />
                <!-- Ẩn tất cả nội dung Area tips, Địa danh ở gần, Khách sạn theo các tỉnh thành gần [Tỉnh thành] nhất khi không phải ở page 1 -->
                <div class="box-list-footer device-mb-none">
                    <div class="col-md-12">
                        <h5 class="title-xs text-uppercase">
                            <strong>Khách sạn theo các tỉnh thành</strong>
                        </h5>
                    </div>
                    @Html.Action("_HotelByProvince")

                </div>
                <!-- /box-list-footer -->
                <div class="device-pc-show">
                    <!--Translate-->
                    <div id="google_translate_element"></div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /menu-footer -->
    <!-- Modal -->

    @*<script src="~/Content/assets/js/index.js" type="text/javascript"></script>*@


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="~/Content/assets/js/hotel-datepicker/js/fetcha.min.js"></script>
    <script src="~/Content/assets/js/hotel-datepicker/js/hotel-datepicker.js" type="text/javascript"></script>
    <script>

        jQuery(document).ready(function ($) {
            if ($(window).width() <= 500) {
                $('#search').slideDown("slow");
            }
            else {
                $('#search').slideUp("slow");
            }
            //$('#icon-search-btn').click(function () {
            //    if ($('#search').css('display') == 'none') {
            //        $('#search').slideDown("slow");
            //    }
            //    else {
            //        $('#search').slideUp("slow");
            //    }
            //})
            $('.js_arrow_icon').hide();
            $('.js-check-content').click((e) => {
                $('.search-suggestion').toggleClass('show');
                $('.js_arrow_icon').show();
                $('.popular-destination').click((e) => {
                    $('.js-check-content').val(e.target.title);
                    $('.search-suggestion').removeClass('show');
                    $('.js_arrow_icon').hide();
                })
            });

            $('.room-guest-select').click(() => {
                $('.room-guest-dropdown').show();
                $('.room-guest-select-show').show();
                $('.js-guest-arrow').show();
            });

            $('.tt-hint').click(function () {
                $('.tt-nav-diemdenphobien').show();
                $('.find-hotel').show();
            });

            $('.tt-close').click(function () {
                $('.tt-nav-diemdenphobien').hide();
                $('.find-hotel').hide();
            });



            $(document).mouseup(function (e) {
                if ($(e.target).closest(".room-guest-dropdown").length === 0) {
                    $(".room-guest-dropdown").hide();
                    $('.js-guest-arrow').hide();
                }
                if ($(e.target).closest(".search-suggestion").length == 0) {
                    $(".search-suggestion").removeClass('show');
                    $('.js_arrow_icon').hide();
                }
                if ($(e.target).closest('.room-guest-select-show').length === 0) {
                    $(".room-guest-select-show").hide();
                }
                if ($(e.target).closest(".tt-nav-diemdenphobien").length === 0) {
                    $('.tt-nav-diemdenphobien').hide();
                    $('.find-hotel').hide();
                }
            });

            $(".homeslider").owlCarousel({
                nav: true,
                navText: ['<i class="fal fa-chevron-circle-left"></i>', '<i class="fal fa-chevron-circle-right"></i>'],
                center: true,
                loop: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 1
                    },
                    1000: {
                        items: 1
                    }
                },
                items: 4,
                loop: true,
                margin: 10,
                autoplay: true,
                autoplayTimeout: 4000,
                autoplayHoverPause: true,
            });


            $(".slider-deal-home .bxslider").bxSlider({
                auto: !0,
                mode: "fade",
                speed: 500,
                easing: "ease-in-out",
                touchEnabled: !1,
                oneToOneTouch: !1
            });

            $(".suggest-hotel-slider").bxSlider({
                slideMargin: 5,
                slideWidth: 220,
                minSlides: 1,
                maxSlides: 4,
                pager: !1,
                infiniteLoop: !1,
                touchEnabled: !1
            });

            //$('.events-tracking').click(function () {
            //    $(this).toggleClass('active');
            //    $('.menu-container').toggleClass('active');
            //});
        });

    </script>
</body>