﻿@model List<Hotel.ViewModels.HotelCommentViewModel>

<ul id="review_content" class="nav">
    @foreach (var item in Model)
    {
        <li>
            <div class="col-md-3">
                <div class="user-quote">
                    <i class="@item.TypeIcon text-lg mg-r-5"></i>
                    <strong>@item.CustomerName</strong>
                    <hr class="mg-t-5 mg-bt-0">
                    <span class="text-xs">@item.DateTimeComment</span>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-page-gray">
                    <div class="tab-page-header row">
                        <div class="col-md-12">
                            <div class="box-review">
                                <span class="rate">@item.PointAvgText</span>
                                <span class="rate-info">@item.RankText</span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-page-body row">
                        <div class="col-md-6">
                            <ul class="progress-list nav">
                                <li>
                                    <span class="pull-left">Vị trí</span>
                                    <span class="rate">@item.PointLocationText</span>
                                    <div class="progress progress-mini">
                                        <div class="progress-bar" role="progressbar"
                                             aria-valuenow="60" aria-valuemin="0"
                                             aria-valuemax="100" style="width:  @item.PointLocationText.Replace(".","")%;">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <span class="pull-left">Phục vụ</span>
                                    <span class="rate">@item.PointServeText</span>
                                    <div class="progress progress-mini">
                                        <div class="progress-bar" role="progressbar"
                                             aria-valuenow="60" aria-valuemin="0"
                                             aria-valuemax="100" style="width: @item.PointServeText.Replace(".","")%;">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <span class="pull-left">Tiện nghi</span>
                                    <span class="rate">@item.PointConvenientText</span>
                                    <div class="progress progress-mini">
                                        <div class="progress-bar" role="progressbar"
                                             aria-valuenow="60" aria-valuemin="0"
                                             aria-valuemax="100" style="width: @item.PointConvenientText.Replace(".","")%;">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <span class="pull-left">Giá cả</span>
                                    <span class="rate">@item.PointCostText</span>
                                    <div class="progress progress-mini">
                                        <div class="progress-bar" role="progressbar"
                                             aria-valuenow="60" aria-valuemin="0"
                                             aria-valuemax="100" style="width: @item.PointCostText.Replace(".","")%;">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <span class="pull-left">Vệ sinh</span>
                                    <span class="rate">@item.PointCleanText</span>
                                    <div class="progress progress-mini">
                                        <div class="progress-bar" role="progressbar"
                                             aria-valuenow="60" aria-valuemin="0"
                                             aria-valuemax="100" style="width: @item.PointCleanText.Replace(".","")%;">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div class="well">
                                <div class="review">
                                    <small>
                                        @Html.Raw(@item.Content)
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>
<div class="col-md-12">
    @*<a class="pull-right mg-t-20" href="#">
        Xem tất cả đánh giá ( @ViewBag.CountComment )
    </a>*@
    <label class="form-check-label ml-3" onclick="LoadCommentExtend()">
        Xem tất cả đánh giá ( @ViewBag.CountAllComment )
    </label>
    <input type="hidden" id="countCurrentComment" value="@ViewBag.CountCurrentComment"/>
</div>


