﻿@model PagedList.IPagedList<Hotel.ViewModels.HotelViewModel>

@{
    ViewBag.Title = "Danh sách Khách sạn";
}

<input type="hidden" id="conutKhachSanSearch" value="@ViewBag.CountKhachSanSearch" />
@foreach (var hotelItem in Model)
{
    <div class="product-item product-11827 row" data-id="@hotelItem.HotelId">
        <div class="col-md-9">
            <h2 class="title-sm h3 tooltip-no-max-width title-flex">
                <a class="product-name" href="@Url.Action("Detail", "Hotel", new { ItemId = hotelItem.HotelId })"> @hotelItem.HotelName </a>
                <span class="star">
                    <span class="star-@hotelItem.NumberStar"></span>
                </span>
            </h2>
            <p class="text-df mg-bt-5">
                <a class="events-tracking" href="#">
                    <i class="fa fa-map-marker"></i>
                    <span class="gray">
                        @hotelItem.Address
                    </span>
                    @*<span class="mg-l-5">(Xem bản đồ)</span>*@
                </a>
            </p>
            <div class="mg-5">
                <!--Fb like share-->
                <div class="fb-like" data-href="@Url.Action("Detail", "Hotel", new { ItemId = hotelItem.HotelId , TypeInput = 0 })" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
                <!--Fb like share-->
            </div>
            @*<p>
            <a title="Bãi Sau" alt="Bãi Sau" rel="nofollow"
               href="/a98/khach-san-khu-vuc-bai-sau.html">
                Bãi Sau
            </a>
        </p>*@
        </div>
        <div class="product-left-content col-md-9">
            <div class="product-info">
                <div class="product-image">
                    <a href="@Url.Action("Detail", "Hotel", new { ItemId = hotelItem.HotelId })">

                        @if (!String.IsNullOrEmpty(hotelItem.Image))
                        {
                            <img data-src="~/FileUploads/Image/@hotelItem.Image"
                                 src="~/FileUploads/Image/@hotelItem.Image"
                                 alt="@hotelItem.HotelName" title="@hotelItem.HotelName"
                                 class="img-responsive" onerror="" target="_blank">
                        }
                        else
                        {
                            <img data-src="~/FileUploads/Image/default-image.jpg"
                                 src="~/FileUploads/Image/default-image.jpg"
                                 alt="@hotelItem.HotelName" title="@hotelItem.HotelName"
                                 class="img-responsive" onerror="" target="_blank">
                        }
                    </a>
                </div>
                <div class="product-content">
                    <div class="attribute-hotel">
                        @foreach (var convenientType in hotelItem.ConvenientTypeList)
                        {
                            <i class="@convenientType.Symbol"></i>
                        }
                        @*<i class="fas fa-wifi"></i>
                            <i class="fas fa-users"></i>
                            <i class="fas fa-bus"></i>
                            <i class="fas fa-parking"></i>
                            <i class="fas fa-person-booth"></i>
                            <i class="fas fa-utensils"></i>*@
                    </div>
                    <div class="review device-mb-none">
                        <div class="multiLineEllipsis-3">
                            <small>
                                <p>
                                    @Html.Raw(@hotelItem.Content)
                                </p>
                            </small>
                        </div>
                    </div>
                    <ul class="nav nav-list-gray nav-flex">
                        @*<li>
                                <a mytour-ext="ajax-modal" modal-name="modal-sure-back-money">
                                    <i class="fa fa-check-circle green text-sm"></i>Đảm bảo hoàn
                                    tiền
                                </a>
                            </li>
                            <li>
                                <a mytour-ext="ajax-modal" modal-name="modal-sure-good-price">
                                    <i class="fa fa-check-circle green text-sm"></i>Đảm bảo giá tốt
                                    nhất!
                                </a>
                            </li>
                            <li>
                                <p class="notify-last-booking">Vừa được đặt 7 giờ trước</p>
                            </li>*@
                        <li>
                            <a class="mg-t-10" target="_blank"
                               href="#">
                                <span class=" fa fa-bed
                                                   mg-r-5"></span>
                                @if (hotelItem.SingleBed == 0 || hotelItem.SingleBed == null)
                                {
                                    <span>Phòng @hotelItem.SingleBed Giường đơn @hotelItem.DirectionName</span>
                                }
                                else if (hotelItem.DoubleBed == 0 || hotelItem.DoubleBed == null)
                                {
                                    <span>Phòng @hotelItem.DoubleBed Giường đôi @hotelItem.DirectionName</span>
                                }
                                else
                                {
                                    <span>Phòng @hotelItem.SingleBed Giường đơn và @hotelItem.DoubleBed Giường đôi @hotelItem.DirectionName</span>
                                }
                            </a>
                        </li>
                        @if (@hotelItem.IsCancel)
                        {
                            <li class="price text-md">Miễn phí hủy phòng</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="product-right-content col-md-3">
            @if (hotelItem.CountReview > 0)
            {
                <div class="box-review">
                    <span class="rate">@hotelItem.PointReview</span><span class="rate-info">
                        @hotelItem.PointReviewText
                    </span>
                    <p class="rate-number-info">
                        <a href="/11827-khach-san-hoang-minh.html#cus_rate">
                            (@hotelItem.CountReview đánh giá)
                        </a>
                    </p>
                </div>
            }
            else
            {
                <div class="box-review">
                </div>
            }
            <div class="listing-box-price box-price" id="checkGoodPrice">
                <div class="item-price">
                    <strong class="price-old">
                        @hotelItem.PriceContract.ToString("#,###")
                        <small>đ</small>
                    </strong><br><span>
                        <strong class="price">
                            @hotelItem.PricePromotion.ToString("#,###")
                            <small>đ</small>
                        </strong>
                    </span>
                </div><a class="btn btn-pink"
                         href="@Url.Action("Detail", "Hotel", new { ItemId = hotelItem.HotelId })" target="_blank" data-category="Listing"
                         data-action="Hotel click" data-label="button Xem phòng - @hotelItem.HotelName ">
                    Xem phòng
                </a>
                <p class="red text-xs"><strong>Đảm bảo còn @hotelItem.AvailableRoom phòng!</strong></p>
            </div>
        </div>
        <div class="col-xs-12">
            <hr class="dark">
        </div>
    </div>
}
