﻿@{
    var roomImages = ViewBag.ProductImages as List<tbl_ProductImage>;
}

<div class="detail-slider hotel-slider">
    <div class="detailslider">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="fas fa-times"></i>
        </button>
        <div class="fotorama" data-nav="thumbs" data-fit="cover" data-maxwidth="100%"
             data-loop="true">
            @foreach (var item in roomImages)
            {
                <img src="~/FileUploads/Image/Hotels/@item.ImageUrl" width="100%" data-full="~/FileUploads/Image/Hotels/@item.ImageUrl">
            }
            @*<img src="assets/images/img-1.jpeg" width="100%" data-full="assets/images/img-1.jpeg">
            <img src="assets/images/img-1.jpeg" width="100%" data-full="assets/images/img-1.jpeg">
            <img src="assets/images/img-1.jpeg" width="100%" data-full="assets/images/img-1.jpeg">
            <img src="assets/images/img-1.jpeg" width="100%" data-full="assets/images/img-1.jpeg">*@
        </div>

    </div>
</div>
<div class="detail-info">
    <div class="detail-info-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="li-cross2  events-tracking" data-category="Detail_Hotel_Slider"
                  data-action="Click_Close" data-label="Guest">
                <i class="fas fa-times"></i>
            </span>
        </button>
        <h3>Radisson Blu Resort Cam Ranh</h3>
        <ul class="nav nav-tabs detail-tab" id="myTab" role="tablist">
            @*<li class="nav-item">
                <a class="nav-link active" id="rate-tab" data-toggle="tab" href="#rate" role="tab"
                   aria-controls="rate" aria-selected="true">Đánh giá</a>
            </li>*@
            <li class="nav-item">
                <a class="nav-link active" id="room-tab" data-toggle="tab" href="#room" role="tab"
                   aria-controls="room" aria-selected="false">Tiện nghi phòng</a>
            </li>
        </ul>
    </div>
    <div class="tab-content custom-overflow">
        @*<div role="tabpanel" class="tab-pane detail-rate active show fade" id="rate">
            <div class="rate-rounded">
                <div class="rate-rounded-info">
                    <span class="rate-rounded-title">
                        Xuất sắc
                    </span>
                    <br>
                    <span class="rate-rounded-number">
                        9.6
                    </span>
                </div>
                <svg class="rounded-show">
                    <circle r="70" cx="80" cy="80"></circle>
                </svg>
                <svg class="rounded-disable">
                    <circle r="70" cx="80" cy="80"></circle>
                </svg>
            </div>
            <div class="rate-info-tab">
                <div class="text-df">
                    <i class="fa fa-folder-open"></i> <span>Tất cả</span>
                </div>
                <span>(Từ <strong>11</strong> nhận xét)</span>
            </div>

            <ul class="progress-list nav">
                <li>
                    <span class="pull-left">Vị trí</span>
                    <span class="rate">9.6</span>
                    <div class="progress progress-mini">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width: 96%;">
                            <span class="sr-only">9.6 % Complete</span>
                        </div>
                    </div>
                </li>

                <li>
                    <span class="pull-left">Phục vụ</span>
                    <span class="rate">9.6</span>
                    <div class="progress progress-mini">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width: 96%;">
                            <span class="sr-only">9.6 % Complete</span>
                        </div>
                    </div>
                </li>

                <li>
                    <span class="pull-left">Tiện nghi</span>
                    <span class="rate">9.6</span>
                    <div class="progress progress-mini">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width: 96%;">
                            <span class="sr-only">9.6 % Complete</span>
                        </div>
                    </div>
                </li>

                <li>
                    <span class="pull-left">Giá cả</span>
                    <span class="rate">9.6</span>
                    <div class="progress progress-mini">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width: 96%;">
                            <span class="sr-only">9.6 % Complete</span>
                        </div>
                    </div>
                </li>

                <li>
                    <span class="pull-left">Vệ sinh</span>
                    <span class="rate">9.6</span>
                    <div class="progress progress-mini">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width: 96%;">
                            <span class="sr-only">9.6 % Complete</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>*@
        <div role="tabpanel" class="tab-pane fade active show detail-rate" id="room">
            <ul class="detail-amenities-list" style="margin-top:10px">
                @foreach (var item in ViewBag.ConvenientTypeList)
                {
                <li class="active">
                    @*<i class="@item.Symbol"></i>*@
                    <input type="image" src="~/FileUploads/Convenient/@item.Symbol" width="24px" />
                    <span>@item.ConvenientName</span>
                </li>
                    @*<li class="col-md-4">
                        <span class="attribute-icon">
                            <i class="@item.Symbol"></i>
                        </span>
                        <span class="attribute-value">@item.ConvenientName</span>
                    </li>*@
                }

                @*<li class="active">
                    <i class="fas fa-tshirt"></i>
                    <span>Áo choàng tắm</span>
                </li>
                <li class="active">
                    <i class="fas fa-shower"></i>
                    <span>Vòi hoa sen</span>
                </li>
                <li class="active">
                    <i class="fas fa-bath"></i>
                    <span>Bồn tắm</span>
                </li>
                <li class="active">
                    <i class="fas fa-fan"></i>
                    <span>Điều hòa nhiệt độ</span>
                </li>
                <li class="active">
                    <i class="fas fa-box"></i>
                    <span>Két sắt trong phòng</span>
                </li>
                <li class="active">
                    <i class="fas fa-wine-bottle"></i>
                    <span>Nước đóng chai miễn phí</span>
                </li>
                <li class="active">
                    <i class="fas fa-socks"></i>
                    <span>Dép đi trong phòng</span>
                </li>
                <li class="active">
                    <i class="fas fa-laptop"></i>
                    <span>Két an toàn cho laptop</span>
                </li>
                <li class="active">
                    <i class="fas fa-bell"></i>
                    <span>Dịch vụ báo thức</span>
                </li>
                <li class="active">
                    <i class="fas fa-tv"></i>
                    <span>Tivi màn hình phẳng</span>
                </li>
                <li class="active">
                    <i class="fas fa-mobile-alt"></i>
                    <span>Điện thoại</span>
                </li>*@
            </ul>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

