﻿@{
    //var province = ViewBag.Province as List<tbl_Province>;
    var hotelSuggest = ViewBag.hotelSuggest as List<SearchHotelSuggestModel>;
    var search = ViewBag.Search as SearchViewModel;
    DateTime dateCheckIn = search.StartDate != null ? search.StartDate.Value : DateTime.Today.AddDays(1);
    DateTime dateCheckOut = search.EndDate != null ? search.EndDate.Value : DateTime.Now.AddDays(2);
    if(search.StartDate == null)
    {
        search.StartDate = dateCheckIn;
    }
    if(search.EndDate == null)
    {
        search.EndDate = dateCheckOut;
    }
    int roomNumber = search.NumberRoom != null ? search.NumberRoom.Value : 1;
    int personNumber = search.NumberAdul != null ? search.NumberAdul.Value : 1;
}
<!-- search-fixed -->
<link href="~/Content/Autocomplete/chosen.css" rel="stylesheet" />
<div id="searchfixed" class="search-fixed d-none-sm">
    <div class="search-wrapper">
        <div class="container">
            <div class="box-search box_js_arrow">
                <form class="form-search" method="post" id="search-form" action="/Hotel/Index" vk-check-suggest="0"
                      enctype="multipart/form-data">
                    <!-- group-search -->
                    <div class="form-group group-search js-search-typeahead js_arrow">
                        <div class="search-alert search-alert-keyword" style="display: none;">
                            <strong>Bạn chưa nhập từ khóa!</strong> Vui lòng nhập từ khóa để tiếp
                            tục !
                            <i class="li-cross2"></i>
                        </div>
                        <div class="group-search-wrapper">
                            @*<label>Nơi bạn muốn đến</label>
                <i class="fal fa-bed"></i>
                <input type="text" name="Keyword" id="q" class="js-check-content form-control typeahead"
                       value="@search.Keyword" placeholder="Nhập tên khách sạn, địa danh..." autocomplete="off">
                <input type="hidden" id="TypeInputText" name="TypeInputText" value="@search.Keyword" autocomplete="off">
                <div class="search-suggestion collapse scroll-y-t">
                    <ul class="nav nav-sear-history" id="search-history"></ul>
                    <ul id="search-suggest" class="nav nav-popular-des list-unstyled"></ul>
                </div>*@
                            <select data-placeholder="Nhập tên khách sạn, địa danh..." class="chosen-select" name="ItemId" id="ItemId" value="@search.ItemId" tabindex="5">
                                <option value=""></option>
                                <optgroup label="Địa danh" data-content="1">
                                    @foreach (var item in hotelSuggest.Where(t => t.Type == "1"))
                                    {
                                        <option value="@item.Id" @((item.Id == search.ItemId) ? "Selected" : "")>@item.Name</option>
                                    }
                                </optgroup>
                                <optgroup label="Khách sạn" data-content="0">
                                    @foreach (var item in hotelSuggest.Where(t => t.Type == "0"))
                                    {
                                        <option value="@item.Id" @((item.Id == search.ItemId) ? "Selected" : "")>@item.Name</option>
                                    }
                                </optgroup>
                            </select>
                            <input type="hidden" id="TypeInput" name="TypeInput" value="@search.TypeInput" autocomplete="off">
                        </div>
                        <span class="js_arrow_icon" style="display: none;"></span>
                    </div>


                    <!-- /group-search -->
                    <!--date-box -->
                    <div id="search-date-box" class="form-group mt-datepicker t-datepicker date-box js_arrow">
                        <div class="t-check-in" id="checkIn">
                            <i class="fal fa-calendar-alt"></i>
                            <span id="txtStartDate" class="t-date-info-title t-check-in-days">@search.StartDate.Value.ToString("dd-MM-yyyy")</span>
                            <input type="hidden" id="StartDate" name="StartDate" value="@search.StartDate.Value.ToString("MM-dd-yyyy")" />
                        </div>
                        <div class="t-check-out" id="checkOut">
                            <i class="fal fa-calendar-alt"></i>
                            <span id="txtEndDate" class="t-date-info-title t-check-out-days">@search.EndDate.Value.ToString("dd-MM-yyyy")</span>
                            <input type="hidden" id="EndDate" name="EndDate" value="@search.EndDate.Value.ToString("MM-dd-yyyy")" />
                        </div>
                    </div>
                    <!-- /date-box -->
                    <!-- select -->
                    <div class="form-group select-box js_arrow">
                        <label>Số lượng</label>
                        <div class="room-guest-select">
                            <span class="room">
                                <i class="fal fa-key-skeleton"></i><span class="room-num">@search.NumberRoom</span>
                                phòng
                            </span>
                            <span class="guest mg-l-10">
                                <i class="fal fa-user-friends"></i><span class="guest-num">@search.NumberAdul</span>
                                khách
                            </span>
                            <i class="li-cross2 pull-right hide"></i>
                        </div>
                        <div class="room-guest-dropdown">
                            <div class="room-select mg-bt-10">
                                <div class="input-group bootstrap-touchspin min">
                                    <span class="input-group-btn">
                                        <button class="li-circle-minus bootstrap-touchspin-down"
                                                type="button" onclick="SearchChangeRoomNumber('minus',this)">
                                            -
                                        </button>
                                    </span>
                                    <div class="guest-dropdown-container">
                                        <input class="bootstrap-touchspin-input form-control" id="room-number"
                                               type="text" value="@search.NumberRoom" name="NumberRoom" style="display: block;">
                                        <span class="input-group-addon bootstrap-touchspin-postfix">phòng</span>
                                    </div>
                                    <span class="input-group-btn">
                                        <button class="li-plus-circle bootstrap-touchspin-up"
                                                type="button" onclick="SearchChangeRoomNumber('plus',this)">
                                            +
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="guest-select">
                                <div class="input-group bootstrap-touchspin min">
                                    <span class="input-group-btn">
                                        <button class="li-circle-minus bootstrap-touchspin-down"
                                                type="button" onclick="SearchChangePersionNumber('minus',this)">
                                            -
                                        </button>
                                    </span>
                                    <div class="guest-dropdown-container">
                                        <input class="bootstrap-touchspin-input form-control" id="persion-number"
                                               type="text" value="@search.NumberAdul" name="NumberAdul" style="display: block;">
                                        <span class="input-group-addon bootstrap-touchspin-postfix">khách</span>
                                    </div>
                                    <span class="input-group-btn">
                                        <button class="li-plus-circle bootstrap-touchspin-up"
                                                type="button" onclick="SearchChangePersionNumber('plus',this)">
                                            +
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <span class="js_arrow_icon js-guest-arrow" style="display: none;"></span>
                    </div>
                    <!-- /select -->
                    <!-- search-btn -->
                    <div class="form-group search-btn">
                        <button id="search_submit" class="btn btn-default btn-search mt-0" type="submit">
                            <span id="btnTxtSearch">Tìm khách sạn</span>
                        </button>
                    </div>
                    <!-- end search-btn -->
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /search-fixed -->

<script type="text/javascript">
    $(document).ready(function () {
        if ($('#ItemId').val() == "" || $('#ItemId').val() == null) {
            document.getElementById("search_submit").style.cursor = "not-allowed";
            document.getElementById("search_submit").disabled = true;
        }
        else {
            document.getElementById("search_submit").style.cursor = "pointer";
            document.getElementById("search_submit").disabled = false;
        }
    });

    $('#ItemId').change(function ()
    {
        $("#TypeInput").val($('#ItemId :selected').parent().attr('data-content'));
        document.getElementById("search_submit").style.cursor = "pointer";
        document.getElementById("search_submit").disabled = false;
    });
    
</script>
<script>
    $(document).ready(function () {
        let input = document.getElementById('checkIn');
        let checkIn = document.getElementById('checkIn');
        let checkOut = document.getElementById('checkOut');
        let checkIn_day = document.getElementById('txtStartDate');
        let checkOut_day = document.getElementById('txtEndDate');
        let inputCheckIn = document.getElementById('StartDate');
        let inputCheckOut = document.getElementById('EndDate');
        checkIn.addEventListener('click', open_datepicker_function);
        checkOut.addEventListener('click', open_datepicker_function);
        function open_datepicker_function() {
            datepicker.open();
        }
        let datepicker = new HotelDatepicker(input, {
            format: 'DD-MM-YYYY',
            i18n: {
                selected: 'Bạn đã chọn:',
                night: 'Đêm',
                nights: 'Đêm',
                button: 'Đóng',
                'checkin-disabled': 'Check-in disabilitato',
                'checkout-disabled': 'Check-out disabilitato',
                'day-names-short': ['T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'CN'],
                'day-names': ['T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'CN'],
                'month-names-short': ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                'month-names': ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                'error-more': 'L\'intervallo di date non deve avere più di 1 notte',
                'error-more-plural': 'L\'intervallo di date non deve avere più di %d notti',
                'error-less': 'L\'intervallo di date non deve avere meno di 1 notte',
                'error-less-plural': 'L\'intervallo di date non deve avere meno di %d notti',
                'info-more': 'Vui lòng chọn ngày tháng năm',
                'info-more-plural': 'Per favore seleziona un intervallo di date maggiore di %d notti',
                'info-range': 'Per favore seleziona un intervallo di date tra %d e %d notti',
                'info-default': 'Per favore seleziona un intervallo di date'
            }
        });

        input.addEventListener('afterClose', function () {
            console.log(datepicker.getValue());
            let ranger_date = datepicker.getValue();
            var res = ranger_date.split(" - ");
            checkIn_day.innerHTML = res[0];
            checkOut_day.innerHTML = res[1];
            inputCheckIn.value = res[0].split("-")[1] + "-" + res[0].split("-")[0] + "-" + res[0].split("-")[2];
            inputCheckOut.value = res[1].split("-")[1] + "-" + res[1].split("-")[0] + "-" + res[1].split("-")[2];
        }, false);

    })
</script>
@*<script src="~/Content/Autocomplete/jquery-3.2.1.min.js" type="text/javascript"></script>*@
<script src="~/Content/Autocomplete/chosen.jquery.js" type="text/javascript"></script>
<script src="~/Content/Autocomplete/prism.js" type="text/javascript" charset="utf-8"></script>
<script src="~/Content/Autocomplete/init.js" type="text/javascript" charset="utf-8"></script>