﻿@model List<TravelGuideByProvince>
@{
    if (Model.Count != 0)
    {
        <div class="col-md-12 box-location-none">
            <div class="box-location"
                 style="background-image:url(https://staticproxy.mytourcdn.com/1000x600,q90/resources/pictures/locations/9841469442858.jpg)">
                <div class="box-location-content">
                    <h2 class="text-sm"> Cẩm nang du lịch @Model.FirstOrDefault().ProvinceName</h2>
                    <ul class="list-unstyled">
                        @{
                            foreach (var item in Model)
                            {
                                <li>
                                    <a href="@Url.Action("Details","TravelGuide",new { id = item.NewsId })">
                                        @item.Title
                                    </a>
                                </li>
                            }
                        }

                    </ul>
                </div>
            </div>
        </div>
    }
}

