﻿@*@model IEnumerable<Hotel.ViewModels.HotelViewModel>*@
@model PagedList.IPagedList<Hotel.ViewModels.HotelViewModel>
@{
    ViewBag.Title = "Tìm kiếm khách sạn" + (ViewBag.NameHotelsSearch!= null? " tại " + ViewBag.NameHotelsSearch.ProvinceName : "");
}
@using PagedList.Mvc;
@{
    var province = ViewBag.Province as List<tbl_Province>;
    var areaList = ViewBag.Area as List<tbl_Area>;
    var count = Model.Count();
    var search = ViewBag.Search as SearchViewModel;
    var ArrListRatingTypeStr = ViewBag.ArrListRatingTypeStr as string[];
    var provinceName = "";
    var provinceSearch = (tbl_Province)ViewBag.NameHotelsSearch;

    if (ViewBag.NameHotelsSearch == null)
    {
        provinceName = "";
    }
    else
    {
        provinceName = "tại " + ViewBag.NameHotelsSearch.ProvinceName;
    }

    var pageRender = new PagedListRenderOptions
    {
        MaximumPageNumbersToDisplay = 10,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
        DisplayLinkToLastPage = PagedListDisplayMode.Never,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        DisplayPageCountAndCurrentLocation = false,
        UlElementClasses = new[] { "pagination" },
        LiElementClasses = new string[] { "page-item" },



        ContainerDivClasses = new[] { "pagination-container" }


    };

}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css" />
<div class="page-hotel-detail" id="frmSearchDanhSach">

    @Html.Action("_SearchHotels")

    <div class="container">
        <div class="row">
            <!-- breadcrumb -->
            @*<div class="col-md-12" import-html="breadcrumb">
                <div class="breadcrumb-scroll">
                    <ul class="breadcrumb scroll-y ps-container ps-active-x" id="breadcrumb-scroll">
                        <li>
                            <a href="index.html" class="events-tracking">Khách sạn</a>
                        </li>
                        <li>
                            <a href="#" class="events-tracking">Khách sạn @ViewBag.NameHotelsSearch.ProvinceName</a>
                        </li>
                    </ul>
                </div>
            </div>*@
            @Html.Partial("_Breadcrumbs")
            <!-- /.breadcrumb -->
            <!-- Sidebar desktop -->

            <div id="sidebar-scroll" class="col-md-3 listing-sidebar">
                <button class="btn btn-default btn-close device-pc-none"><i class="li-cross2"></i></button>
                <div class="listing-sidebar-container">
                    <!-- filter -->
                    <div id="pc-listing-filter" class="listing-sidebar-box box-filter filter_tg_tl">
                        <h3 class="left-total-hotels text-sm mg-t-10">
                            Có tất cả
                            <strong>
                                <label id="countKS"></label>
                                khách sạn
                            </strong>
                        </h3>
                        <div class="listing-sidebar-header hide">
                            <a href="javascript:;" onclick="initKhachSanList()" class="uncheck">Xóa tất cả tùy chọn</a>
                        </div>
                        <br>
                        <!-- Ẩn bộ lọc với landing hạng sao -->
                        <!-- Ẩn bộ lọc với landing giá rẻ-->
                        <div class="sidebar-section">
                            <h3 class="sidebar-section-title">Theo mức giá</h3>
                            <div id="_scrollPriceHotel">
                                <input type="text" class="js-range-slider" name="my_range" value="" />
                                <input type="hidden" id="fromPrice" value="@search.PriceFrom" />
                                <input type="hidden" id="toPrice" value="@search.PriceTo" />
                            </div>

                            <ul class="list-unstyled mt-3">
                                @foreach (var itemHotelPriceType in ViewBag.HotelPriceType)
                                {
                                    <li>
                                        <a href="javascript:;" class="price-conveniences" onclick="initKhachSanList()">
                                            <label class="checkbox">
                                                <input type="checkbox" name="promotion" @itemHotelPriceType.IsCheck value="@itemHotelPriceType.Id" id-convenience="@itemHotelPriceType.Id"
                                                       filter="filter">
                                                @itemHotelPriceType.PriceTypeName
                                            </label>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>

                        <div id="old-listing-stars" class="sidebar-section">
                            <h3 class="sidebar-section-title">Hạng sao</h3>
                            <ul class="list-unstyled">
                                @foreach (var itemHotelRatingType in ViewBag.HotelRatingType)
                                {
                                    <li>
                                        <a title="Khách sạn @itemHotelRatingType.NumberStar sao @provinceName"
                                           href="/c5/khach-san-1-sao-tai-ba-ria-vung-tau.html" class="events-tracking"
                                           data-category="Listing Filter" data-action="Star rating" data-label="@itemHotelRatingType.NumberStar sao" onclick="initKhachSanList()">
                                            <label class="checkbox">
                                                <input type="checkbox" name="starRatings" @itemHotelRatingType.IsCheck value="@itemHotelRatingType.NumberStar" id-convenience="10"
                                                       filter="filter">
                                                <span class="star">
                                                    <span class="star-@itemHotelRatingType.NumberStar"></span>
                                                </span>
                                            </label>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>

                        <div id="old-listing-type-hotel" class="sidebar-section">
                            <h3 class="sidebar-section-title">Loại hình</h3>
                            <ul class="list-unstyled">
                                <li>
                                    <a id="hotel-type-all" title="Khách sạn tại Bà Rịa - Vũng Tàu"
                                       href="/c5/khach-san-tai-ba-ria-vung-tau.html"
                                       base_link="/c5/khach-san-tai-ba-ria-vung-tau.html" class="events-tracking"
                                       data-category="Listing Filter" data-action="Hotel type"
                                       data-label="Bà Rịa - Vũng Tàu">
                                        <label class="radio">
                                            <input name="propertyType" type="radio" onclick="initKhachSanList()" value="" checked="">
                                            <i class="icon-radio"></i>
                                            Tất cả
                                        </label>
                                    </a>
                                </li>
                                @foreach (var itemHotelType in ViewBag.HotelType)
                                {
                                    <li>
                                        <a href="javascript:;" class="events-tracking" data-category="Listing Filter"
                                           data-action="Hotel type" data-label="Khách sạn"
                                           title="Khách sạn @provinceName">
                                            <label class="radio">
                                                @if (itemHotelType.Id == search.HotelType)
                                                {
                                                    <input name="propertyType" type="radio" checked value="@itemHotelType.Id" value-type="hotel"
                                                           id-convenience="4" onclick="initKhachSanList()" filter="filter">
                                                }
                                                else
                                                {
                                                    <input name="propertyType" type="radio" value="@itemHotelType.Id" onclick="initKhachSanList()" value-type="hotel"
                                                           id-convenience="4" filter="filter">
                                                }
                                                <i class="icon-radio"></i>
                                                @itemHotelType.HotelTypeName
                                            </label>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>

                        <div id="old-listing-service-extras" class="sidebar-section">
                            <h3 class="sidebar-section-title">Dịch vụ đi kèm</h3>
                            <ul class="list-unstyled">
                                @foreach (var itemHotelServiceType in ViewBag.HotelServiceType)
                                {
                                    <li>
                                        <a href="/c5/khach-san-co-bua-sang-mien-phi-tai-ba-ria-vung-tau.html"
                                           class="price-conveniences" data-category="Listing Filter"
                                           data-action="Service Extra" data-label="@itemHotelServiceType.ServiceName" onclick="initKhachSanList()">
                                            <label class="checkbox">
                                                <input type="checkbox" value="@itemHotelServiceType.Id" @itemHotelServiceType.IsCheck name="accompaniedService"
                                                       id-convenience="@itemHotelServiceType.Id" filter="filter">
                                                @itemHotelServiceType.ServiceName
                                            </label>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>

                        <div id="old-listing-conveniences" class="sidebar-section section-expand">
                            <h3 class="sidebar-section-title">Tiện nghi khách sạn</h3>
                            <div class="amenities-list collapse" id="amenities">
                                @foreach (var itemHotelConvenientType in ViewBag.HotelConvenientType)
                                {
                                    <ul class="list-unstyled">
                                        <li>
                                            <a title=""
                                               href="#"
                                               data-convenience="@itemHotelConvenientType.Id" class="events-tracking"
                                               data-category="Listing Filter" data-action="Amenities" data-label="@itemHotelConvenientType.ConvenientName" onclick="initKhachSanList()">
                                                <label class="checkbox">
                                                    <input type="checkbox" name="convenienceIds" @itemHotelConvenientType.IsCheck value="@itemHotelConvenientType.Id"
                                                           id-convenience="@itemHotelConvenientType.Id" filter="filter">
                                                    @itemHotelConvenientType.ConvenientName
                                                </label>
                                            </a>
                                        </li>
                                    </ul>
                                }
                            </div>
                            <a class="section-expand-btn collapsed " data-toggle="collapse" href="#amenities"
                               aria-expanded="false" aria-controls="amenities"></a>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        Collapsible Group Item #1
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end filter -->
                    <!-- Ẩn bộ lọc với landing hạng sao -->
                    <input type="hidden" id="listing-districts" value="">
                    <!-- Quận huyện -->
                    <!-- end Quận huyện -->

                    <input type="hidden" id="listing-areas" value="">
                    <!-- khu vực -->
                    <div id="old-listing-areas" class="listing-sidebar-box">
                        <div class="sidebar-section section-expand">
                            @if (areaList.Count > 0)
                            {
                                <h3 class="sidebar-section-title">Khu vực</h3>
                                <div class="amenities-list collapse" id="areas">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a title="Khách sạn @provinceName"
                                               href="/c5/khach-san-tai-ba-ria-vung-tau.html"
                                               base_link="/c5/khach-san-tai-ba-ria-vung-tau.html" class="events-tracking"
                                               data-category="Listing Filter" data-action="District"
                                               data-label="Bà Rịa - Vũng Tàu">
                                                <label class="radio">
                                                    <input type="radio" name="areas" value="" checked="" onclick="initKhachSanList()">
                                                    <i class="icon-radio"></i>
                                                    Tất cả Khu vực
                                                </label>
                                            </a>
                                        </li>
                                        @foreach (var itemArea in areaList)
                                        {
                                            <li>
                                                <a title="Khách sạn gần @itemArea.AreaName"
                                                   href="#"
                                                   base_link="#"
                                                   class="events-tracking" data-category="Listing Filter" data-action="Area"
                                                   data-label="@itemArea.AreaName">
                                                    <label class="radio">
                                                        @if (itemArea.AreaId == search.HotelArea)
                                                        {
                                                            <input type="radio" name="areas" checked value="@itemArea.AreaId" onclick="initKhachSanList()">
                                                        }
                                                        else
                                                        {
                                                            <input type="radio" name="areas" value="@itemArea.AreaId" onclick="initKhachSanList()">
                                                        }
                                                        <i class="icon-radio"></i>
                                                        @itemArea.AreaName
                                                    </label>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <a class="section-expand-btn collapsed " data-toggle="collapse" href="#areas"
                                   aria-expanded="false" aria-controls="areas"></a>
                            }

                        </div>
                    </div>
                    <!-- end khu vực -->
                </div>
            </div>

            <!-- Sidebar -->
            <!-- content-right -->
            <div class="col-md-9">
                <!-- page-header -->
                <div class="page-header">
                    <div class="d-flex">
                        <h1 title="Khách sạn @provinceName" class="title-lg pull-left">
                            <a href="/c5/khach-san-tai-ba-ria-vung-tau.html">Khách sạn @provinceName</a>
                        </h1>
                        <small class="text-df" style="padding-left:10px;">
                            <a class="events-tracking" href="javascript:;" mytour-ext="ajax-modal"
                               modal-name="modal-map" check-place="1" data-map-lat="10.326535"
                               data-map-lng="107.084554" data-map-cname="@provinceName" data-category="Map"
                               data-action="Map_detail" data-label="@provinceName">
                                <i class="fa fa-map-marker"></i> Xem Bản Đồ
                            </a>
                        </small>
                    </div>
                    <div class="dis-none listing-title mg-bt-10 device-pc-show">
                        Bà Rịa - Vũng Tàu là một tỉnh cửa ngõ ra biển Đông. Nơi đây được biết đến với các địa
                        điểm du lịch nổi tiếng Bạch Dinh, Tượng chúa Kito, suối nước nóng Bình Châu, ngọn Hải
                        Đăng… Hãy để Mytour hỗ trợ bạn để có 1 chuyến đi thú vị, tiết kiệm bằng cách đặt phòng khách sạn
                        1 sao Bà Rịa - Vũng Tàu ngay bây giờ với giá từ 150,000 VND đến 10,546,000 VND, với hơn 23145
                        đánh giá thật từ khách hàng.
                    </div>

                    <div class="row">
                        <div class="col-sm-7">
                            <div class="des-yellow">
                                Có <strong class="total-hotel text-sm">
                                    <label id="countKS1"></label>
                                </strong>
                                <span class="hotel-type">khách sạn</span>
                                ở đây theo ngày đã chọn
                            </div>
                        </div>
                        @*<div class="col-sm-5 mg-t-10">
                            <!-- social -->
                            <!-- /.social -->
                        </div>*@
                    </div>
                </div>
                <!-- /.page-header -->
                <!-- /tablet -->
                <div id="sorter" class="group-filter mt-3">
                    <div class="device-pc-none mg-r-20">
                        <a class="btn btn-blue btn-filter-show" href="javascript:;">
                            <i class="fa fa-bars"></i> Bộ lọc
                        </a>
                    </div>
                    <!-- nav-border -->
                    <ul class="nav nav-border">
                        <li class="active">
                            <a href="javascript:;" value-sorter="0" class="sorter nav-link"
                               data-category="Listing Filter" data-action="Sort" data-label="Phổ biến nhất">
                                Phổ biến nhất
                            </a>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;" class="nav-link">
                                Hạng khách sạn
                                <span class="caret"></span>
                            </a>
                            <ul class="nav sub-menu-list">
                                <li class="">
                                    <a class="sorter nav-link value_sorter_4">Hạng sao [5...1]</a>
                                </li>
                                <li class="">
                                    <a class="sorter nav-link value_sorter_3">Hạng sao [1...5]</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="javascript:;" value-sorter="6" class="sorter nav-link"
                               data-category="Listing Filter" data-action="Sort" data-label="Đánh giá cao nhất">
                                Đánh giá cao nhất
                            </a>
                        </li>
                        <li class="sub-menu ">
                            <a href="javascript:;" class="nav-link">
                                Giá
                                <span class="caret"></span>
                            </a>
                            <ul class="nav sub-menu-list">
                                <li class="">
                                    <a class="sorter nav-link value_sorter_1">Giá tăng dần</a>
                                </li>
                                <li class="">
                                    <a class="sorter nav-link value_sorter_2">Giá giảm dần</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- /.nav-border -->
                </div>

                <!-- product -->
                <div class="product">
                    <div id="data-hotels" class="">
                        @Html.Partial("_DanhSachKhachSan", Model)
                    </div>
                </div>
                <!-- /.product -->
                <!-- Thêm mã phân trang -->
                <br />
                <div class="text-right">
                    @*Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount*@
                    @Html.PagedListPager(Model, page => Url.Action("Index",
         new { page, TypeInput = 1 }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(pageRender, new AjaxOptions() { }))
                </div>
                <!-- Kết thúc -->
            </div>
            <!-- content-right -->
            @{
                if (provinceSearch != null)
                {
                    Html.RenderAction("_TravelGuideByProvince", new { province = provinceSearch });
                }

            }
        </div>
    </div>
    <!-- Modal slider hotel -->
    <div class="modal modal-fluid modal-detail-info hotel fade" id="DetailHotelInfo" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body detail">
                    <div class="detail-slider hotel-slider">
                        <div class="detailslider">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="li-cross2"></span>
                            </button>
                            <ul class="detailslider-slides">
                            </ul>
                            <ul class="detailslider-nav">
                                <li class="detailslider-nav-prev">
                                    <a class="detailslider-prev">
                                        <i class="li-chevron-left"></i>
                                    </a>
                                </li>
                                <li class="detailslider-nav-next">
                                    <a class="detailslider-next">
                                        <i class="li-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="detailslider-thumbnails">
                            <ul class="detail-tab custom-overflow">
                            </ul>
                            <ul class="detailslider-thumbnails-list custom-overflow">
                            </ul>
                        </div>
                    </div>
                    <div class="detail-info">
                        <span class="detail-info-toggle">
                            <i class="li-chevron-up mg-r-10"></i>Đánh giá
                        </span>
                        <div class="detail-info-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="li-cross2  events-tracking" data-category="Detail_Hotel_Slider"
                                      data-action="Click_Close" data-label="Guest">
                                </span>
                            </button>
                            <h3>Radisson Blu Resort Cam Ranh</h3>
                            <ul class="detail-tab" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#rate" aria-controls="rate" role="tab" data-toggle="tab"
                                       aria-expanded="true">Đánh giá</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content custom-overflow">
                            <div role="tabpanel" class="tab-pane fade detail-rate active in" id="rate">
                                <div class="rate-rounded">
                                    <div class="rate-rounded-info">
                                        <span class="rate-rounded-title">Xuất sắc</span>
                                        <br>
                                        <span class="rate-rounded-number">
                                            9.6
                                        </span>
                                    </div>
                                    <svg class="rounded-show">
                                        <circle r="70" cx="80" cy="80"></circle>
                                    </svg>
                                    <svg class="rounded-disable">
                                        <circle r="70" cx="80" cy="80"></circle>
                                    </svg>
                                </div>
                                <div class="rate-info-tab">
                                    <div class="rate-header">
                                        <i class="li-podium"></i> <span class="">Tất cả</span>
                                    </div>
                                    <span class="rate-header-sub">
                                        Dựa trên <strong>11</strong> đánh giá của khách
                                        hàng
                                    </span>
                                </div>
                                <ul class="progress-list nav">
                                    <li>
                                        <span class="pull-left">Vị trí</span>
                                        <span class="rate">9.6</span>
                                        <div class="progress progress-mini">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100" style="width: 96%;">
                                                <span class="sr-only">9.6 % Complete</span>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <span class="pull-left">Phục vụ</span>
                                        <span class="rate">9.6</span>
                                        <div class="progress progress-mini">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100" style="width: 96%;">
                                                <span class="sr-only">9.6 % Complete</span>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <span class="pull-left">Tiện nghi</span>
                                        <span class="rate">9.6</span>
                                        <div class="progress progress-mini">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100" style="width: 96%;">
                                                <span class="sr-only">9.6 % Complete</span>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <span class="pull-left">Giá cả</span>
                                        <span class="rate">9.6</span>
                                        <div class="progress progress-mini">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100" style="width: 96%;">
                                                <span class="sr-only">9.6 % Complete</span>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <span class="pull-left">Vệ sinh</span>
                                        <span class="rate">9.6</span>
                                        <div class="progress progress-mini">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100" style="width: 96%;">
                                                <span class="sr-only">9.6 % Complete</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal slider hotel -->
    <!-- Modal slider room -->
    <div class="modal modal-blue modal-fluid modal-detail-info room fade" id="DetailRoomInfo" tabindex="-1"
         role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body detail">
                    <div class="detail-slider room-slider">
                        <div class="detailslider">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="li-cross2"></span>
                            </button>
                            <ul class="detailslider-slides">
                            </ul>
                            <ul class="detailslider-nav">
                                <li class="detailslider-nav-prev">
                                    <a class="detailslider-prev">
                                        <i class="li-chevron-left"></i>
                                    </a>
                                </li>
                                <li class="detailslider-nav-next">
                                    <a class="detailslider-next">
                                        <i class="li-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="detailslider-thumbnails">
                            <ul class="detail-tab custom-overflow">
                            </ul>
                            <ul class="detailslider-thumbnails-list custom-overflow">
                            </ul>
                        </div>
                    </div>
                    <div class="detail-info">
                        <span class="detail-info-toggle">
                            <i class="li-chevron-up mg-r-10"></i>Tiện nghi & Chính sách
                        </span>
                        <div class="detail-info-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="li-cross2"></span>
                            </button>
                            <h3>Phòng</h3>
                            <ul class="detail-tab" role="tablist">
                                <li role="presentation" class="active">
                                    <a class="events-tracking" data-category="Detail_Room_Slider"
                                       data-action="Click_info_tab" data-label="Tiện nghi phòng" href="#roomAmenities"
                                       aria-controls="roomAmenities" role="tab" data-toggle="tab">Tiện nghi phòng</a>
                                </li>
                                <li role="presentation">
                                    <a class="tab-policy events-tracking" data-category="Detail_Room_Slider"
                                       data-action="Click_info_tab" data-label="Chính sách" href="#policies"
                                       aria-controls="policies" role="tab" data-toggle="tab">Chính sách</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content custom-overflow">
                            <div role="tabpanel" class="tab-pane fade in active detail-amenities" id="roomAmenities">
                                <!-- Phương tiện đi lại -->
                                <ul class="detail-amenities-list"></ul>
                            </div>

                            <div role="tabpanel" class="tab-pane fade detail-policies" id="policies">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal room -->
    <!-- modal NhanGiaTotModal-->
    <div class="modal modal-blue fade" id="getGoodPrice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p class="modal-title" id="exampleModalLabel">XEM BÁO GIÁ QUA EMAIL</p>
                </div>
                <div class="modal-body">
                    <div class="show_error"></div>
                    <div class="alert alert-info">
                        <strong>Giá tốt nhất</strong> sẽ thay đổi theo ngày nhận phòng của bạn.
                    </div>
                    <form class="form-search form-search-date" data-toggle="validator" role="form" id="requesPrice">
                        <div class="form-group">
                            <div class="box-search box_js_arrow">
                                <div class="form-search ">
                                    <div class="mt-datepicker t-datepicker js_arrow datepicker-modal">
                                        <div class="t-check-in"></div>
                                        <div class="t-check-out"></div>
                                    </div>
                                </div>
                            </div>

                            <input id="good_price_checkin" type="hidden" class="form-control datepicker-df check-in"
                                   value="12/04/2021" name="check-in" />
                            <input id="good_price_checkout" type="hidden" class="form-control datepicker-df check-out"
                                   value="13/04/2021" name="check-out" />
                        </div>

                        <div class="form-group">
                            <label class="control-label">Tên khách hàng<small class="red">*</small></label>
                            <input type="text" name="name" required class="form-control cus_name" tabindex="1"
                                   data-error="Tên khách hàng không chính xác!" value="">
                            <p class="help-block red with-errors"></p>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Email<small class="red">*</small></label>
                            <input type="email" name="email" required class="form-control cus_email" tabindex="2"
                                   placeholder="example@gmail.com" data-error="Email không hợp lệ!" value="">
                            <p class="help-block red with-errors"></p>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Số điện thoại<small class="red">*</small></label>
                            <input type="tel" data-minlength="9" name="phone" required class="form-control cus_phone"
                                   tabindex="3" data-error="Số điện thoại không chính xác!" value="">
                            <p class="help-block red with-errors"></p>
                        </div>
                        <input type="hidden" class="hot_id get_good_price" name="hot_id" value="" />
                        <input type="hidden" class="cus_type cus_good_price" name="cus_type" value="">
                        <input type="hidden" class="room_id room_info_price" name="room_id" value="" />
                        <input type="hidden" class="rate_id rate_info_price" name="rate_id" value="" />
                        <input type="hidden" class="events-tracking" data-category="Request_price_Submit"
                               data-route="hotel-detail" data-action="Detail" data-label="non member">
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="text-center">
                        <button type="button" class="btn btn-gray" data-dismiss="modal">Huỷ</button>
                        <button type="submit" class="btn btn-blue cl-request-price">Gửi yêu cầu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /modal YeuCauGiaModal -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- box-list-footer -->
                <input type="hidden" id="box-list-footer" />
                <!-- Ẩn tất cả nội dung Area tips, Địa danh ở gần, Khách sạn theo các tỉnh thành gần [Tỉnh thành] nhất khi không phải ở page 1 -->
                <div class="box-list-footer device-mb-none">
                    <div class="col-md-12">
                        <h5 class="title-xs text-uppercase">
                            <strong>Khách sạn theo các tỉnh thành</strong>
                        </h5>
                    </div>
                    @Html.Action("_HotelByProvince", "Home")
                </div>
                <!-- /box-list-footer -->
                <div class="device-pc-show">
                    <!--Translate-->
                    <div id="google_translate_element"></div>
                    <div class="clear"></div>
                </div>

            </div>
        </div>
        
    </div>
   
    <!-- <script src="assets/js/index.js" type="text/javascript"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    
    @*<script src="~/Content/assets/js/hotel-datepicker/js/fetcha.min.js"></script>*@
    
    @*<script src="~/Content/assets/js/hotel-datepicker/js/hotel-datepicker.js" type="text/javascript"></script>*@
    <!-- price ranger slide -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
</div>
<script>
        jQuery(document).ready(function ($) {
            //$('.js-check-content').click((e) => {
            //    $('.search-suggestion').toggleClass('show');
            //    $('.popular-destination').click((e) => {
            //        $('.js-check-content').val(e.target.title);
            //        $('.search-suggestion').removeClass('show');
            //        $('#TypeInputText').val(e.target.id);
            //    })
            //});

            $('.room-guest-select').click(() => {
                $('.room-guest-dropdown').show();
                $('.room-guest-select-show').show();
            });

            //$('#icon-search-btn').click(function () {
            //    if ($('#search').css('display') == 'none') {
            //        $('#search').slideDown("slow");
            //    }
            //    else {
            //        $('#search').slideUp("slow");
            //    }
            //})

            $('.tt-hint').click(function () {
                $('.tt-nav-diemdenphobien').show();
                $('.find-hotel').show();
            });

            $('.tt-close').click(function () {
                $('.tt-nav-diemdenphobien').hide();
                $('.find-hotel').hide();
            });

            $('.btn-filter-show-mobile').click(function () {
                $('#sidebar-scroll-mobile').show();
            });

            $('.btn-close-filter').click(function () {
                $('#sidebar-scroll-mobile').hide();
            });



            $(window).scroll(function () {
                //console.log($('#searchfixed').offset().top);
                var scrollTop = $(window).scrollTop();
                if (scrollTop > $('#searchfixed').offset().top) {
                    $(' #searchfixed .search-wrapper').addClass('on-scroll');
                } else {
                    $(' #searchfixed .search-wrapper').removeClass('on-scroll');
                }
            });



            $(document).mouseup(function (e) {
                if ($(e.target).closest(".room-guest-dropdown").length === 0) {
                    $(".room-guest-dropdown").hide(500);
                }
                if ($(e.target).closest('.room-guest-select-show').length === 0) {
                    $(".room-guest-select-show").hide(500);
                }
                if ($(e.target).closest(".tt-nav-diemdenphobien").length === 0) {
                    $('.tt-nav-diemdenphobien').hide(500);
                    $('.find-hotel').hide(500);
                }
                if ($(e.target).closest(".search-suggestion").length === 0) {
                    $('.search-suggestion').removeClass('show');
                }
            });
            //$('.events-tracking').click(function () {
            //    $(this).toggleClass('active');
            //    $('.menu-container').toggleClass('active');
            //});

            $(".suggest-hotel-slider").owlCarousel({
                nav: true,
                navText: ['<i class="fal fa-chevron-circle-left"></i>', '<i class="fal fa-chevron-circle-right"></i>'],
                center: true,
                loop: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 1
                    },
                    1000: {
                        items: 4
                    }
                }
            });

            $(".js-range-slider").ionRangeSlider({
                type: "double",
                min: 0,
                max: 5000,
                from: (fromPrice == "" ? 0 : fromPrice),
                to: (toPrice == "" ? 5000 : toPrice),
                grid: true,
                skin: "round",
                //onLoad: function (data) {
                //    saveResult(data);
                //},
                //onChange: function (data) {
                //    saveResult(data);
                //},
                onFinish: function (data) {
                    saveResult(data, initKhachSanList);
                }
            });
        });

        //xu ly load page
        var fromPriceVal = $('#fromPrice').val();
        var toPriceVal = $('#toPrice').val();
        var hotelType = "";
        var hotelArea = "";
        var hotelRatingType = "";
        var hotelPriceType = "";
        var hotelServiceType = "";
        var hotelConvenientType = "";
        var orderPrice = "";
        var orderRating = "";
        var fromPrice = fromPriceVal,
            toPrice = toPriceVal;

        var radiosHotelType = document.getElementsByName('propertyType');
        var checkBoxHotelRating = document.getElementsByName('starRatings');
        var checkBoxHotelPriceType = document.getElementsByName('promotion');
        var checkBoxHotelServiceType = document.getElementsByName('accompaniedService');
        var checkBoxHotelConvenientType = document.getElementsByName('convenienceIds');
        var radiosHotelArea = document.getElementsByName('areas');

        var saveResult = function (data, callback) {
            fromPrice = data.from;
            toPrice = data.to;
            callback();
        };

        $('.value_sorter_1').click(function () {
            setSort(1, initKhachSanList);
        });

        $('.value_sorter_2').click(function () {
            setSort(2, initKhachSanList);
        });

        $('.value_sorter_3').click(function () {
            setSort(3, initKhachSanList);
        });

        $('.value_sorter_4').click(function () {
            setSort(4, initKhachSanList);
        });

        var setSort = function (data, callback) {
            if (data == 1) {
                orderPrice = 0;
                orderRating = null;
            }
            else if (data == 2) {
                orderPrice = 1;
                orderRating = null;
            }
            else if (data == 3) {
                orderRating = 0;
                orderPrice = null;
            }
            else if (data == 4) {
                orderRating = 1;
                orderPrice = null;
            }
            callback();
        };

        function myFunctionLoadPage() {
            for (var i = 0, length = radiosHotelType.length; i < length; i++) {
                if (radiosHotelType[i].checked) {
                    // do whatever you want with the checked radio
                    hotelType = radiosHotelType[i].value;

                    // only one radio can be logically checked, don't check the rest
                    break;
                }
            }

            for (var i = 0, length = checkBoxHotelRating.length; i < length; i++) {
                if (checkBoxHotelRating[i].checked) {
                    // do whatever you want with the checked radio
                    if (hotelRatingType == "") {
                        hotelRatingType += checkBoxHotelRating[i].value;
                    }
                    else {
                        hotelRatingType += ',' + checkBoxHotelRating[i].value;
                    }
                    // only one radio can be logically checked, don't check the rest
                    //break;
                }
            }

            for (var i = 0, length = checkBoxHotelPriceType.length; i < length; i++) {
                if (checkBoxHotelPriceType[i].checked) {
                    // do whatever you want with the checked radio
                    if (hotelPriceType == "") {
                        hotelPriceType += checkBoxHotelPriceType[i].value;
                    }
                    else {
                        hotelPriceType += ',' + checkBoxHotelPriceType[i].value;
                    }
                    // only one radio can be logically checked, don't check the rest
                    //break;
                }
            }

            for (var i = 0, length = checkBoxHotelServiceType.length; i < length; i++) {
                if (checkBoxHotelServiceType[i].checked) {
                    // do whatever you want with the checked radio
                    if (hotelServiceType == "") {
                        hotelServiceType += checkBoxHotelServiceType[i].value;
                    }
                    else {
                        hotelServiceType += ',' + checkBoxHotelServiceType[i].value;
                    }
                    // only one radio can be logically checked, don't check the rest
                    //break;
                }
            }

            for (var i = 0, length = checkBoxHotelConvenientType.length; i < length; i++) {
                if (checkBoxHotelConvenientType[i].checked) {
                    // do whatever you want with the checked radio
                    if (hotelConvenientType == "") {
                        hotelConvenientType += checkBoxHotelConvenientType[i].value;
                    }
                    else {
                        hotelConvenientType += ',' + checkBoxHotelConvenientType[i].value;
                    }
                    // only one radio can be logically checked, don't check the rest
                    //break;
                }
            }

            for (var i = 0, length = radiosHotelArea.length; i < length; i++) {
                if (radiosHotelArea[i].checked) {
                    // do whatever you want with the checked radio
                    hotelArea = radiosHotelArea[i].value;

                    // only one radio can be logically checked, don't check the rest
                    break;
                }
            }

            $.ajax({
                url: "/Hotel/Index",
                data: {
                    PriceFrom: fromPrice,
                    PriceTo: toPrice,
                    HotelType: hotelType,
                    HotelPriceType: hotelPriceType,
                    HotelRatingType: hotelRatingType,
                    HotelServiceType: hotelServiceType,
                    HotelConvenientType: hotelConvenientType,
                    HotelArea: hotelArea,
                    OrderPrice: orderPrice,
                    OrderRating: orderRating,
                    TypeInput: 1
                }
                , success: function (result) {
                    $('#frmSearchDanhSach').html(result);
                }
            }).done(function () {
            });
        }

        function myFunctionDeleteSort() {
            //fromPrice = data.from;
            //toPrice = data.to;

            $.ajax({
                url: "/Hotel/Index",
                data: {
                    //PriceFrom: null,
                    //PriceTo: null,
                    HotelType: hotelType,
                    HotelPriceType: hotelPriceType,
                    HotelRatingType: hotelRatingType,
                    HotelServiceType: hotelServiceType,
                    HotelConvenientType: hotelConvenientType,
                    HotelArea: hotelArea,
                    OrderPrice: orderPrice,
                    OrderRating: orderRating,
                }
                , success: function (result) {
                    $('#frmSearchDanhSach').html(result);
                }
            }).done(function () {
            });
        }
    </script>

@section Scripts {
    <script type="text/javascript">
        var dsKhachSan = "#data-hotels";
        var danhsachKhachSanUrl = "/Hotel/LayDanhSachKhachSan";

        //call ready

        $(document).ready(function () {
            initKhachSanList();
        });


        function initKhachSanList() {
            //B1: Gọi hàm refresh field để làm mới lại biến input chuyền đi
            refreshField();

            for (var i = 0, length = radiosHotelType.length; i < length; i++) {
                if (radiosHotelType[i].checked) {
                    // do whatever you want with the checked radio
                    hotelType = radiosHotelType[i].value;

                    // only one radio can be logically checked, don't check the rest
                    break;
                }
            }

            for (var i = 0, length = checkBoxHotelRating.length; i < length; i++) {
                if (checkBoxHotelRating[i].checked) {
                    // do whatever you want with the checked radio
                    if (hotelRatingType == "") {
                        hotelRatingType += checkBoxHotelRating[i].value;
                    }
                    else {
                        hotelRatingType += ',' + checkBoxHotelRating[i].value;
                    }
                    // only one radio can be logically checked, don't check the rest
                    //break;
                }
            }

            for (var i = 0, length = checkBoxHotelPriceType.length; i < length; i++) {
                if (checkBoxHotelPriceType[i].checked) {
                    // do whatever you want with the checked radio
                    if (hotelPriceType == "") {
                        hotelPriceType += checkBoxHotelPriceType[i].value;
                    }
                    else {
                        hotelPriceType += ',' + checkBoxHotelPriceType[i].value;
                    }
                    // only one radio can be logically checked, don't check the rest
                    //break;
                }
            }

            for (var i = 0, length = checkBoxHotelServiceType.length; i < length; i++) {
                if (checkBoxHotelServiceType[i].checked) {
                    // do whatever you want with the checked radio
                    if (hotelServiceType == "") {
                        hotelServiceType += checkBoxHotelServiceType[i].value;
                    }
                    else {
                        hotelServiceType += ',' + checkBoxHotelServiceType[i].value;
                    }
                    // only one radio can be logically checked, don't check the rest
                    //break;
                }
            }

            for (var i = 0, length = checkBoxHotelConvenientType.length; i < length; i++) {
                if (checkBoxHotelConvenientType[i].checked) {
                    // do whatever you want with the checked radio
                    if (hotelConvenientType == "") {
                        hotelConvenientType += checkBoxHotelConvenientType[i].value;
                    }
                    else {
                        hotelConvenientType += ',' + checkBoxHotelConvenientType[i].value;
                    }
                    // only one radio can be logically checked, don't check the rest
                    //break;
                }
            }

            for (var i = 0, length = radiosHotelArea.length; i < length; i++) {
                if (radiosHotelArea[i].checked) {
                    // do whatever you want with the checked radio
                    hotelArea = radiosHotelArea[i].value;

                    // only one radio can be logically checked, don't check the rest
                    break;
                }
            }

            $.ajax({
                url: danhsachKhachSanUrl,
                data: {
                    PriceFrom: fromPrice,
                    PriceTo: toPrice,
                    HotelType: hotelType,
                    HotelPriceType: hotelPriceType,
                    HotelRatingType: hotelRatingType,
                    HotelServiceType: hotelServiceType,
                    HotelConvenientType: hotelConvenientType,
                    HotelArea: hotelArea,
                    OrderPrice: orderPrice,
                    OrderRating: orderRating,
                    TypeInput: 1
                }
                , success: function (result) {
                    $(dsKhachSan).html(result);
                    var count = $('#conutKhachSanSearch').val();
                    document.getElementById("countKS").innerHTML = count;
                    document.getElementById("countKS1").innerHTML = count;
                    /*$('#frmSearchDanhSach').html(result)*/;
                }
            }).done(function () {
            });
        }

        function refreshField() {
            hotelRatingType = "";
            hotelType = "";
            hotelPriceType = "";
            hotelServiceType = "";
            hotelConvenientType = "";
            hotelArea = "";
        }
    </script>
}