﻿.pager_simple_orange{

}
.pager_simple_orange{
    float:right;
}
.pager_simple_orange td{
	border: 0px !important;
    width:33px;
    height:33px;
}

.pager_simple_orange td{
    /*padding: 1px;*/
}

.pager_simple_orange a{
    text-decoration: none;
    font: 12px Arial;
    font-weight: normal;
    color: black;
    display: block;
    padding: 9px 11px;
    border: 1px solid #ddd;
    background-color: white;
    width:33px;
    height:33px;
}

.pager_simple_orange .active a, 
.pager_simple_orange a:hover{    
    background-color: #f59331;
    color: White;
}

.pager_simple_orange .active, 
.pager_simple_orange .active{    
    background-color: #f59331;
    color: White;
}