/* Large Devices, Wide Screens */
@media (min-width: 1200px) {
	.container {
	    width: 1300px !important;
	}
}
@media only screen and (max-width : 1300px) {

}
@media only screen and (max-width : 1024px) {
	#form-search .bg-dltn .triangle-up {
	    left: 22% !important;
	}
	#form-search .bg-dlnn .triangle-up {
	    left: 40% !important;
	}
	#form-search .bg-dltt .triangle-up {
	    left: 77% !important;
	}
	#tourgiochot .info-tourgiochot {
		padding: 20px;
	}
	#tourgiochot .frame-tourgiochot.trai.col-lg-6 {
		padding-right: 15px !important;
	}
	#tourgiochot .tourgiochot-img.phai.col-lg-6 {
		padding-right: 15px !important;
	}
	#tourgiochot .frame-tourgiochot a.tourgiochot-title h3 {
	    font-size: 17px;
	    margin-bottom: 15px;
	}
	#tourgiochot .frame-tourgiochot .info-tourgiochot .mg-b-gia {
	    margin-bottom: 10px;
	}
	#diemden img.qg-img {
	    height: 110px;
	}
	#visao .bg-visao {
		height: auto;
	}
	#visao .bg-visao .pad .mg-bot30.mg-bot30-s {
	    margin-bottom: 0px !important; 
	}
	#khachhang .o-phai {
	    padding-left: 0px;
	} 
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    
}
@media only screen and (min-width : 769px) {
   
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	#form-search .bg-dltn .triangle-up {
	    left: 17% !important;
	}
	#form-search .bg-dlnn .triangle-up {
	    left: 37% !important;
	}
	#form-search .bg-dltt .triangle-up {
	    left: 85% !important;
	}
	#tour-type .frame-tourtype .tourtype-txt {
	    font-size: 14px;
	    line-height: 15px;
	}
	#tourgiochot .frame-tourgiochot.trai.col-lg-6 {
	    padding-left: 15px !important;
	    padding-right: 15px !important;
	}
	#tourgiochot .tourgiochot-img.trai.col-lg-6 {
	    padding-right: 15px !important;
	}
	#tourgiochot .info-tourgiochot {
		height: auto;
	}
	#tourgiochot .frame-tourgiochot.phai.col-lg-6 {
	    padding-right: 15px !important;
	}
	#tourgiochot .tourgiochot-img.phai.col-lg-6 {
	    padding-left: 15px !important;
	}
	#tourgiasoc img.tgs-img {
	    height: 260px;
	}
	#diemden img.dd-img {
	    height: 390px;
	}
	#diemden .quocgia .col-sm-4 {
	    width: 50% !important;
	}
	#diemden img.qg-img {
	    height: 230px;
	}
	#visao .bg-visao .pad .mg-bot30.mg-bot30-s {
	    margin-bottom: 0px !important; 
	}
	#visao .bg-visao {
	    padding: 50px 10px 50px 10px;
	}
	#visao .bg-visao .oso {
	    padding: 6px 10px;
	    width: 28px;
	    font-size: 15px;
	    margin-right: 10px;
	}
	#khachhang .o-phai .carousel-indicators {
	    padding-left: 30px !important;
	}
}
@media only screen and (max-width : 767px) and (min-width : 481px) {
	#header img.img-logo {
		height: 51px;
	}
	#header #top {
    	background: #fff;
    	height: 54px;
    	color: #333;
    	border-bottom: 1px dotted #ccc;
	}
    #header .nav-top {
    	display: none;
    	position: absolute;
    	right: 0px;
    	top: 50px;
    	background: #333;
    	width: auto;
    	z-index: 9;
    }
    #header .nav-top li a {
    	padding-left: 20px;
    	padding-right: 20px;
    }
    #header .nav-top li {
	    position: initial;
	}
	#header .nav-top .sub-menu {
		position: initial;
	}
	#header .nav-top>li {
	    float: initial;
	}
	#header .nav-top-iconmenu {
		float: right;
	}
	#header .nav-top>li {
	    margin-right: 0px;
	    height: 40px;
    	line-height: 39px;
    	border-top: 1px solid #585858;
	}   
	#header .area-info .obj {
	    padding-left: 15px;padding-right: 15px;
	}
	#header .area-info.support-phone {
	    padding-left: 15px;padding-right: 0px;
	} 
	#header .bot-mg-b {
		margin-bottom: 20px;
	}
	#form-search .frame-search {
	    margin-top: 0px;
	    width: 100%;

	}
	#form-search {
	    height: auto; 
	    padding-top: 10px;
	    padding-bottom: 10px;
	}
	#form-search .o-dl {
	    width: 23.2%;
	    height: 55px;
	    margin-right: 1%;
	    margin-left: 1%;
	    padding: 8px;
	}
	#form-search .frame-search .mg-b {
		margin-bottom: 10px;
	}
	#form-search .frame-search img {
		height: 35px;
	}
	#form-search .bg-dltn .triangle-up {
	    left: 15% !important;
	}
	#form-search .bg-dlnn .triangle-up {
	    left: 37% !important;
	}
	#form-search .bg-dltt .triangle-up {
	    left: 82% !important;
	}
	#form-search .frame-dltt .txt-sobooking {
	    width: 100%;
	}
	#form-search .frame-dltt .btn-trabooking {
	    width: 100%;
	}
	#form-search .frame-dltt  {
		margin: initial !important;
		display: flex !important;
		width: 100%;
	}
	#tour-type {
		height: auto !important;
	}
	#visao .bg-visao .pad .mg-bot30.mg-bot30-s {
	    margin-bottom: 30px !important; 
	}
}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
		#header #top {
    	background: #fff;
    	height: 54px;
    	color: #333;
    	border-bottom: 1px dotted #ccc;
	}
    #header .nav-top {
    	display: none;
    	position: absolute;
    	right: 0px;
    	top: 50px;
    	background: #333;
    	width: auto;
    	z-index: 9;
    }
    #header .nav-top li a {
    	padding-left: 20px;
    	padding-right: 20px;
    }
    #header .nav-top li {
	    position: initial;
	}
	#header .nav-top .sub-menu {
		position: initial;
	}
	#header .nav-top>li {
	    float: initial;
	}
	#header .nav-top-iconmenu {
		float: right;
	}
	#header .nav-top>li {
	    margin-right: 0px;
	    height: 40px;
    	line-height: 39px;
    	border-top: 1px solid #585858;
	}   
	#header .area-info .obj {
	    padding-left: 15px;padding-right: 15px;
	}
	#header .area-info.support-phone {
	    padding-left: 15px;padding-right: 0px;
	} 
	#header .bot-mg-b {
		margin-bottom: 20px;
	}
	#form-search .frame-search {
	    margin-top: 0px;
	    width: 100%;

	}
	#form-search {
	    height: auto; 
	    padding-top: 10px;
	    padding-bottom: 10px;
	}
	#form-search .o-dl {
	    width: 23.3%;
	    height: 55px;
	    margin-right: 1%;
	    margin-left: 1%;
	    padding: 8px;
	}
	#form-search .frame-search .mg-b {
		margin-bottom: 10px;
	}
	#form-search .frame-search img {
		height: 35px;
	}
	#form-search .bg-dltn .triangle-up {
	    left: 15% !important;
	}
	#form-search .bg-dlnn .triangle-up {
	    left: 37% !important;
	}
	#form-search .bg-dltt .triangle-up {
	    left: 82% !important;
	}
	#form-search .frame-dltt .txt-sobooking {
	    width: 100%;
	}
	#form-search .frame-dltt .btn-trabooking {
	    width: 100%;
	}
	#form-search .frame-dltt  {
		margin: initial !important;
		display: flex !important;
		width: 100%;
	}
	#form-search .frame-dltt .frame-dltt-left {
	    float: initial !important;
	}
	#tourgiochot div.crop {
	    height: initial !important;
	}
	#tourgiochot .frame-tourgiochot .info-tourgiochot .mg-b {
		margin-bottom: 10px;
	}
	#tourgiochot .info-tourgiochot {
	    padding: 15px;
	}
	#diemden .quocgia .col-xs-12 {
	    width: 100% !important;
	}
	#dulichtuchon .frame-tuchon-c .pos-info {
	    bottom: 50px;
	    left: 20px;
	}
	#dulichtuchon .frame-tuchon-c .tuchon-ten {
	    font-size: 14px;
	}
	#dulichtuchon .frame-tuchon-c .tuchon-noi {
	    font-size: 14px;
	    max-width: 250px;
	}
	#dulichtuchon .frame-tuchon-c .tuchon-ten span.bb {
	    font-size: 18px;
	}
	#visao .bg-visao .pad .mg-bot30.mg-bot30-s {
	    margin-bottom: 30px !important; 
	}
	#khachhang .o-phai .carousel-indicators {
	    padding-left: 15px !important;
	}
	#diemden img.dd-img {
	    height: 225px; 
	}
	#diemden img.qg-img {
	    height: 225px;
	}
	#tourgiasoc img.tgs-img {
	    height: 225px;
	}
	#dulichtuchon img.tc-img {
	    height: 225px;
	}
	#tourgiochot div.crop img {
	    margin: initial !important;
	    height: 225px;
	    width: 100%;
	}
	#form-search .text2 {
		font-size: 8px;
	}
	#form-search .text1 {
		border-bottom: 1px dashed #b7afac;
		padding-bottom: 7px;
		margin-bottom: 7px;
		font-size: 11px;
	}
	#tour-type {
		height: auto;
	}
	#tour-type .item-tour-type {
		margin-bottom: 10px;
	}
	#visao .bg-visao .pad .mg-bot30.mg-bot30-s:last-child {
		margin-bottom: 0px !important;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 414px) {

}
@media only screen and (max-width : 375px) {

}
@media only screen and (max-width : 360px) {

}
@media only screen and (max-width : 320px) {
	#diemden img.dd-img {
	    height: 195px; 
	}
	#diemden img.qg-img {
	    height: 195px;
	}
	#tourgiasoc img.tgs-img {
	    height: 195px;
	}
	#dulichtuchon img.tc-img {
	    height: 195px;
	}
	#tourgiochot div.crop img {
	    height: 195px;
	}
	#form-search .text2 {
	    font-size: 7px;
	}
	#form-search .text1 {
	    font-size: 10px;
	}
	.phone-support .dropdown-menu {
	    right: -15px !important;
	}


}
