/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --------------------------- */

body {
	font-family: "Roboto",Helvetica,Arial,sans-serif;
	font-size: 14px;
    min-width: 1024px;
}
.clear {
    clear: both;
}
strong { font-weight: bold; }
.hidden {
    display: none;
}
.mauchudao {
	color: #fc6600 !important;
}
.bg-mauchudao {
    background: #fc6600 !important;
}
.mg-bot5 {
    margin-bottom: 5px;
}
.mg-bot10 {
    margin-bottom: 10px;
}
.mg-bot15 {
	margin-bottom: 15px;
}
.mg-bot20 {
    margin-bottom: 20px;
}
.mg-bot25 {
    margin-bottom: 25px;
}
.mg-bot30 {
    margin-bottom: 30px;
}
.mg-bot35 {
    margin-bottom: 35px;
}
.pad15 {
	padding: 15px;
}
.pad10 {
	padding: 10px;
}
.f-left { float: left; }
.f-right { float: right; }
.pos-relative {
	position: relative;
}
a {
    color: #333;
}
a:hover {
	text-decoration: none;
}
.h-cattitle {
	height: 40px;
	width: 100%;
}