﻿ 
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bạn không có quyền truy cập trang này !</h2>
<br />
<a href="javascript:history.go(-1)">
    <i class="fa fa-reply"></i>&nbsp;
    Quay lại trang trước
</a>
<br />
<a href="@Url.Action("LogOut","InternalAccount", new { area = "" })" class="btn btn-default btn-sm btn-flat"><i class="fa fa-power-off"></i>&nbsp;Đăng xuất</a>   

