﻿@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-12">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="title">
                Có lỗi xảy ra !
            </h3>
        </div>
        <div class="box-body">
            Đã xảy ra lỗi trong quá trình thao tác của bạn
            <p>
                Xin vui lòng thử lại.
            </p>
            <a href="javascript:history.go(-1)">
                <i class="fa fa-reply"></i>&nbsp;
                Quay lại trang trước
            </a>
        </div>
    </div>
</div>
