﻿@{
    ViewBag.Title = "Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-12">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="title">
                Không tìm thấy nội dung
            </h3>
        </div>
        <div class="box-body">
            Nội dung bạn đang truy cập không tìm thấy hoặc không còn tồn tại trên hệ thống.
            <p>
                Xin vui lòng thử lại với nội dung khác !
            </p>
            <a href="javascript:history.go(-1)">
                <i class="fa fa-reply"></i>&nbsp;
                Quay lại trang trước
            </a>
        </div>
    </div>
</div>
