﻿@model AccountUpdateViewModel
@{
    ViewBag.Title = "Thông tin tài khoản";
}

<style type="text/css">
    .chosen-container {
        width: 100% !important;
    }

    .upload-item {
        font-size: 14px;
        border-bottom: 1px dashed #ccc;
        padding: 5px;
    }
</style>

<div class="col-md-12">
    <div class="box box-success">
        <div class="box-header">
            <div class="title">
                Thông tin tài khoản
            </div>

        </div>
        <!-- End Header -->
        <!-- Start Body -->
        <div class="box-body form-horizontal">
            <div class="no-margin col-sm-12 col-md-12 clear">
                @using (Html.BeginForm("Create", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "form_user" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-sm-3 control-label">
                                Tên đăng nhập
                            </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.LoginName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.LoginName)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-sm-3 control-label">
                                Họ và tên
                            </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FullName)
                            </div>
                        </div>
                    </div>    
                               
                    <div class="form-group">                        
                        <div class="col-md-6">
                            <label class="col-sm-3 control-label">
                                Mật khẩu
                            </label>
                            <div class="col-sm-9">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-sm-3 control-label">
                                Nhập lại mật khẩu
                            </label>
                            <div class="col-sm-9">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-sm-3 control-label">
                                Email
                            </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @type = "email" })
                                @Html.ValidationMessageFor(model => model.Email)

                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-sm-3 control-label">
                                Phân quyền
                            </label>
                            <div class="col-sm-8" style="padding-right: 0px;">
                                <select id="sllRoleId" name="sllRoleId" class="form-control chosen-select" multiple="multiple">
                                    <option value="@Parameters.HotelAll">Tất cả</option>
                                    @foreach (var selectList in (List<SelectListItem>)ViewBag.RoleId)
                                    {
                                        <option value="@selectList.Value" @(selectList.Selected ? "selected" : "")>
                                            @selectList.Text
                                        </option>
                                    }
                                </select>
                            </div>
                            <div class="col-sm-1" style="padding-right: 0px;">
                                <i class="fa fa-times text-danger" id="btnRemoveSllRole" style="cursor:pointer;"></i>
                            </div>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-sm-3 control-label">
                                Kích hoạt
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control" name="active" id="active">
                                    <option value="1">True</option>
                                    <option value="0">False</option>
                                </select>
                            </div>
                        </div>
                        @*<div class="col-md-6">
                            <label class="col-sm-3 control-label">
                                Mật khẩu vô hạn
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control" name="never_expired" id="never_expired">
                                    <option value="1">True</option>
                                    <option value="0">False</option>
                                </select>
                            </div>
                        </div>*@
                    </div>
                    @*<div class="form-group">
                        <div class="col-md-6">
                            <label class="col-sm-3 control-label">
                                Yêu cầu đổi mật khẩu
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control" name="chpwd_required" id="chpwd_required">
                                    <option value="1">True</option>
                                    <option value="0">False</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-sm-3 control-label">
                                Cho phép đổi mật khẩu
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control" name="chpwd_allowed" id="chpwd_allowed">
                                    <option value="1">True</option>
                                    <option value="0">False</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-sm-3 control-label">
                                Nhóm
                            </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.Nhom, new { @class = "form-control" })
                                <br />
                                <span style="font-weight:bold;">
                                    Các DV khác nhau cách nhau bằng dấu
                                    <span class="text-red">
                                        ;
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-sm-3 control-label">
                                Mã nhân viên
                            </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.CodeStaff, new { @class = "form-control", @type = "CodeStaff" })
                                @Html.ValidationMessageFor(model => model.CodeStaff)
                            </div>
                        </div>
                    </div>*@
                    <div class="form-group">
                        
                        <div class="col-md-6">
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="col-md-6">
                        <div class="col-sm-offset-3">
                            <button type="button" id="btnSave" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;Cập nhật</button>
                        </div>
                    </div>
                   
                }
            </div>
        </div>
        <!-- End Body -->

    </div>
    <a class="text-warning" href="@Url.Action("Manager", "Account")">
        <i class="fa fa-reply"></i>&nbsp;Quay lại
    </a>
</div>

@section scripts
{
    <script type="text/javascript">
        $('#btnSave').on('click', function (e) {
            $("#form_user").removeData("validator").removeData("unobtrusiveValidation");//remove the form validation
            $.validator.unobtrusive.parse($("#form_user"));//add the form validation
            if (!$("#form_user").valid()) {
                ShowNotify('Vui lòng kiểm tra lại dữ liệu', 'warning', 'top');
                return false;
            }
            else if ($('#sllRoleId').val() == '' || $('#sllRoleId').val() == null) {
                ShowNotify('Vui lòng chọn phân quyền', 'warning', 'top');
                $('#sllRoleId').focus();
                return false;
            }
            else {
                var _data = $("#form_user").serialize();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Create", "Account")",
                    data: _data,
                    beforeSend: function () {
                        $('#preloader-wrapper').toggleClass('hide');
                    },
                    success: function (result) {
                        if (result.id > 0) {
                                $('#preloader-wrapper').toggleClass('hide');
                                ShowNotify(result.message, 'success', 'bottom');
                        }
                        else {
                                $('#preloader-wrapper').toggleClass('hide');
                                ShowNotify(result.message, 'danger', 'top');
                        }
                    },
                    error: function () {
                        $('#preloader-wrapper').toggleClass('hide');
                        ShowNotify('Thao tác thất bại !', 'danger', 'top');
                    }
                });
            }
        })

        $('#sllDepartureId').on('change', function (event) {
            SelectFunction('sllDepartureId', '@Parameters.HotelAll');
        });

        function SelectFunction(sllDepartureId, optionAll) {
            if ($('#' + sllDepartureId).val() != null && $('#' + sllDepartureId).val().indexOf(optionAll) >= 0) {

                $('#' + sllDepartureId + ' option').each(function (event) {
                    if ($(this).val() != optionAll) {
                        $(this).prop('selected', 'selected');
                    }
                });

                $('#' + sllDepartureId).trigger("chosen:updated");
            }
            else if ($('#' + sllDepartureId).val() != null && $('#' + sllDepartureId).val().indexOf(optionAll) < 0) {
                var value = $('#' + sllDepartureId).val() + ',';

                var guidIds = value.split(',');

                $('#' + sllDepartureId + ' option').each(function (event) {
                    $(this).removeProp('selected');
                });

                for (var k = 0; k < guidIds.length; k++) {
                    if (guidIds[k] != '' && guidIds[k] != '0') {
                        $('#' + sllDepartureId + ' option[value=' + guidIds[k] + ']').prop('selected', 'selected');
                    }
                }

                $('#' + sllDepartureId).trigger("chosen:updated");
            }
        }

        $('#sllRoleId').on('change', function (event) {
            SelectFunction('sllRoleId', '@Parameters.HotelAll');
        });

        $('#btnRemoveSllDeparture').on('click', function (event) {
            ClearSelectList('sllDepartureId');
        })

        $('#btnRemoveSllRole').on('click', function (event) {
            ClearSelectList('sllRoleId');
        })

        function ClearSelectList(selectListId) {
            $('#' + selectListId).val('');

            $('#' + selectListId).trigger("chosen:updated");
        }                              
                            
    </script>
}