﻿@model List<tbl_User>
@{
    ViewBag.Title = "Quản lý tài khoản";
    SearchUser search = ViewBag.Search;

    List<SelectListItem> sllRoles = ViewBag.ListRoles;
   // List<SelectListItem> sllDepartues = ViewBag.ListDepartures;
}
<div class="row">
    <div class="col-md-12 form-search">
        <div class="box box-warning" style="margin: 0 auto; margin-bottom: 20px;">
            <div class="box-header with-border" data-widget="collapse">
                <h3 class="box-title">Tìm kiếm</h3>
            </div>
            <div class="box-body">
                @using (Html.BeginForm("Manager", "Account", FormMethod.Post, new { id = "form-search" }))
                {
                    <div class="row" style="padding: 0px;">
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>Họ và tên</label>
                                <div>
                                    <input type="text" value="@search.Fullname" placeholder="Họ và tên" name="Fullname" id="Fullname" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 col-left">
                            <div class="form-group">
                                <label>Email</label>
                                <div>
                                    <input type="text" value="@search.Email" placeholder="Email" name="Email" id="Email" class="form-control">
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 col-left">
                            <div class="form-group">
                                <label>Tên đăng nhập</label>
                                <div>
                                    <input type="text" value="@search.Username" placeholder="Tên đăng nhập" name="Username" id="Username" class="form-control">
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 col-left">
                            <div class="form-group">
                                <label>Tình trạng</label>
                                <div>
                                    @Html.DropDownList("Status", null, null, new { @class = "form-control" })
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 0px;">
                        <div class="col-xs-12 col-md-3 col-left">
                            <div class="form-group">
                                <label>
                                    Phân quyền
                                </label>
                                <div>
                                    <div class="col-md-4" style="padding-right: 0px;">
                                        @Html.DropDownList("StatusRoleId", null, null, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-8" style="padding:0px;">
                                        <select id="RoleId" name="RoleId" class="form-control chosen-select" multiple="multiple">
                                            @foreach (var item in sllRoles)
                                            {
                                                <option value="@item.Value" @(item.Selected ? "selected" : "")>@item.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        @*<div class="col-xs-12 col-md-3 col-left">
                            <div class="form-group">
                                <label>Đầu khởi hành</label>
                                <div>
                                    <div class="col-md-8" style="padding:0px;">
                                        <select id="DepartureId" name="DepartureId" class="form-control chosen-select" multiple="multiple">
                                            @foreach (var item in sllDepartues)
                                            {
                                                <option value="@item.Value" @(item.Selected ? "selected" : "")>@item.Text</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-4" style="padding-right: 0px;">
                                        @Html.DropDownList("StatusDepartureId", null, null, new { @class = "form-control" })
                                    </div>
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 col-left">
                            <div class="form-group">
                                <label>Nhóm phân hệ</label>
                                <div>
                                    @Html.DropDownList("GroupApplicationId", null, "---Tất cả---", new { @class = "form-control" })
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>*@
                        <div class="col-xs-12 col-md-3">
                            <button class="btn btn-primary btn-sm" type="submit" id="btnSearch" style="margin-top: 25px;"><i class="fa fa-search"></i>&nbsp;Tìm kiếm</button>&nbsp;
                            <a href="@Url.Action("Create")" class="btn btn-success btn-sm" style="margin-top: 25px;"><i class="fa fa-plus" ></i>&nbsp;Thêm mới</a>&nbsp;
                            <a class="btn btn-warning btn-sm" onclick="javascript: clearForm('form-search'); void (0);" style="margin-top: 25px;"><i class="fa fa-refresh"></i> Xoá</a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="box box-primary collapsed-box" style="margin: 0 auto; margin-bottom: 20px; display: none;">
            <div class="box-header with-border" data-widget="collapse">
                <h3 class="box-title fa-plus">
                    Tìm kiếm nhanh
                </h3>
            </div>
            <div class="box-body" style="display:none;">
                <div class="row" style="padding: 0px;">
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label>Họ và tên</label>
                            <div>
                                <input type="text" placeholder="Họ và tên" name="qsFullName" id="qsFullName" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 col-left">
                        <div class="form-group">
                            <label>Email</label>
                            <div>
                                <input type="text" placeholder="Email" name="qsEmail" id="qsEmail" class="form-control">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2 col-left">
                        <div class="form-group">
                            <label>Tên đăng nhập</label>
                            <div>
                                <input type="text" placeholder="Tên đăng nhập" name="qsUsername" id="qsUsername" class="form-control">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 col-left">
                        <div class="form-group">
                            <label>Phân quyền</label>
                            <div>
                                <input type="text" placeholder="Phân quyền" name="qsRole" id="qsRole" class="form-control">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-1">
                        <button type="submit" name="SubmitSearch" value="Reset" id="btnTimKiem11" class="btn btn-primary" style="margin-top: 25px;" onclick="Javascript:resetvalue();"><i class="fa fa-refresh"></i>&nbsp; Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box box-success">
    <div class="box-header">
        <div class="title">
            Danh sách @Model.Count() tài khoản
        </div>
    </div>
    <!-- End Header -->
    <!-- Start Body -->
    <div class="box-body scroll" style="max-height: 600px;">
        <table class="table table-bordered table-striped" id="myTable">
            <thead>
                <tr style="background-color: #1b80c8; color: white; font-size: 11.5px">
                    <th style="width: 50px">
                        STT
                    </th>
                    <th style="width: 35%">Họ và tên</th>
                    <th style="width: 7%">
                        Email
                    </th>
                    <th style="width: 7%">
                        Tên đăng nhập
                    </th>
                    <th style="width: 20%">
                        Phân quyền
                    </th>
                    <th style="width: 7%">
                        Hoạt động
                    </th>
                    <th style="width: 7%"></th>
                </tr>
            </thead>
            @{
                int count = 0;
            }
            @foreach (var item in Model)
            {
                count++;
                <tr id="row_@item.UserId">
                    <td>
                        @count
                    </td>
                    <td data-search="@Html.LoaiBoDauTiengViet(item.FullName), @item.FullName">
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td data-search="@item.Email">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td data-search="@item.LoginName">
                        @Html.DisplayFor(modelItem => item.LoginName)
                    </td>
                    <td>
                        @if (item.tbl_User_Role != null && item.tbl_User_Role.Count > 0)
                        {
                            string listRole = string.Join(" - ", item.tbl_User_Role.Select(d => d.tbl_Role.Name).ToArray());
                            <span>
                                @BaseFunctions.CutText(listRole, 100)
                            </span>
                        }
                    </td>
                    
                    <td>
                        @if (item.Active == 1)
                        {
                            <a style="cursor:pointer;" onclick="ToggleActive('@item.UserId', this)">
                                Hoạt động
                            </a>
                        }
                        else
                        {
                            <a style="cursor:pointer;" onclick="ToggleActive('@item.UserId', this)" class="text-warning">
                                Không hoạt động
                            </a>
                        }
                    </td>
                    <td class="center-align-text tt-wrapper">
                        <a href="@Url.Action("Edit", new { id = item.UserId })" class="text-success" data-original-title="Cập nhật" title="Cập nhật">
                            <span> Cập nhật </span>
                            <i class="fa fa-edit fa-lg"></i>
                        </a>&nbsp;
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function (event) {
            $('.chosen-select').chosen(config['.chosen-select']);
        })

        $(function () {
            //$("#example2").DataTable();
            $('#myTable').DataTable({
                "pageLength": 25
            });
        });

        $("#qsFullName").on('keyup change', function () {
            DoSearch(1, this.value);
        });

        $("#qsEmail").on('keyup change', function () {
            DoSearch(2, this.value);
        });

        $("#qsUsername").on('keyup change', function () {
            DoSearch(3, this.value);
        });

        $("#qsRole").on('keyup change', function () {
            DoSearch(4, this.value);
        });

        function DoSearch(column, _value) {
            var table = $('#myTable').DataTable();
            table
                .column(column)
                .search(_value)
                .draw();
        }

        function resetvalue() {
            $("#qsFullName").val("");
            $("#qsUsername").val("");
            $('#qsEmail').val('');
            $('#qsRole').val('');
        }

    </script>

    <script type="text/javascript">
        function ToggleActive(userId, field) {
            var choice = confirm('Bạn muốn thay đổi trạng thái hoạt động của user này ?');

            if (choice) {
                $.ajax({
                    type: 'post',
                    url: '@Url.Action("ToggleUserStatus")',
                    data: { "userId": userId },
                    beforeSend: function () {
                        $('#preloader-wrapper').toggleClass('hide');
                    },
                    success: function (data) {
                        $('#preloader-wrapper').toggleClass('hide');
                        if (data.status > 0) {
                            ShowNotify(data.message, 'success', 'top');
                            if (data.resultStatus == 1) {
                                $(field).removeClass('text-warning');
                                $(field).html('Hoạt động');
                            }
                            else {
                                $(field).addClass('text-warning');
                                $(field).html('Không hoạt động');
                            }
                        }
                        else {
                            ShowNotify(data.message, 'warning', 'top');
                        }
                    },
                    error: function () {
                        $('#preloader-wrapper').toggleClass('hide');
                        ShowNotify('Xoá thông tin không thành công', 'danger', 'top');
                    }
                })
            }
        }
    </script>
}