﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- jquery UI -->
    <link href="~/Content/plugins/jquery-ui-1.11.4/jquery-ui.css" rel="stylesheet" />
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/Content/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link href="~/Content/fontawesome-free-5.9.0-web/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/Admin/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Content/themes/skins/_all-skins.min.css" />

    <!-- SelectList -->
    <link href="~/Content/plugins/choose/chosen.css" rel="stylesheet" />
    <link href="@Url.VersionedContent("~/Content/hotel.css")" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/plugins/animate.css" />
    <!-- ====================== Scripts ====================== -->
    <!-- jQuery 2.1.4 -->
    <script src="~/Content/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/plugins/jquery-ui-1.11.4/jquery-ui.min.js"></script>
    <!-- Validation -->
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/plugins/bootstrap-notify.js"></script>
    <!-- SelectList -->
    <script src="~/Content/plugins/choose/chosen.jquery.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/Admin/js/app.min.js"></script>
    <script src="@Url.VersionedContent("~/Scripts/plugins/hotel.js")"></script>
    <style type="text/css">
        table > tbody > tr {
            background-color: initial !important;
        }
    </style>
</head>
<body class="hold-transition skin-blue">
    <div id="preloader-wrapper" class="hide">
        <div id="preloader">
            <div class="spinner">
                <div class="spinner-container container1">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="spinner-container container2">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="spinner-container container3">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper" style="background-color: #ecf0f5;">
        <!-- Main content -->
        <section class="content">
            @RenderBody()
        </section>
        <!-- /.content -->
    </div>

    <!-- Bootstrap Modal Dialog-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>

    @*<script src="~/Scripts/theme.js"></script>*@
    <script type="text/javascript" src="~/Content/plugins/timepicker/timepicker.min.js"></script>
    <script type="text/javascript">
    @*@{
        var notify = ViewBag.Notify as Notify;
        if (notify != null && notify.Status > 0)
        {
            <text>
        setTimeout(function () {
            $.notify({
                message: '@notify.Message'
            },
            {
                type: '@notify.Type',
                placement: {
                    from: '@notify.Position'
                },
                animate: {
                    enter: "animated fadeInRight",
                    exit: "animated fadeOutRight"
                },
                newest_on_top: false
            });
        }, 500);
        </text>
        }
    }*@

        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': { allow_single_deselect: true },
            '.chosen-select-no-single': { disable_search_threshold: 10 },
            '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
            '.chosen-select-width': { width: "95%" }
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
    </script>

    <script type="text/javascript">
        var deleteLinks = document.querySelectorAll('.delete');

        for (var i = 0; i < deleteLinks.length; i++) {
            deleteLinks[i].addEventListener('click', function (event) {
                //event.preventDefault();

                var choice = confirm(this.getAttribute('data-confirm'));

                if (!choice) {
                    event.preventDefault();
                    event.stopImmediatePropagation();
                }
            });
        }
    </script>

    @RenderSection("scripts", required: false)

</body>
</html>
