﻿<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class=""> <a href="@Url.Action("Index", "Hotels")"><i class="fa fa-home"></i><span>Trang chủ</span></a></li>
            <li class="@Html.IsActive("", "Account")">
                @*<a href="@Url.Action("Manager", "Account")">
                    <i class="fa fa-users"></i><span>Quản lý tài khoản</span>
                </a>*@
                <a href="#"><i class="fa fa-bed"></i><span>Quản lý người dùng</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li class="@Html.IsActive("Manager,Create,Edit","Account")">
                        <a href="@Url.Action("Manager", "Account")">
                            <i class="fa fa-circle-o"></i>Quản lý tài khoản
                        </a>
                    </li>
                    <li class="@Html.IsActive("Index, Create, Edit", "Customer")">
                        <a href="@Url.Action("Index", "Customer")">
                            <i class="fa fa-circle-o"></i><span>Quản lý khách hàng</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="#"><i class="fa fa-bed"></i><span>Quản trị khách sạn</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li class="@Html.IsActive("Index,Create,Edit", "Hotels")">
                        <a href="@Url.Action("Index", "Hotels")">
                            <i class="fa fa-circle-o"></i>Khách sạn
                        </a>
                    </li>
                    <li class="@Html.IsActive("Create", "RoomAvailable")">
                        <a href="@Url.Action("Create", "RoomAvailable")">
                            <i class="fa fa-usd"></i><span>Giá phòng</span>
                        </a>
                    </li>
                    @*<li class="@Html.IsActive("HotelNotices,HotelNoticesCreate,HotelNoticesEdit", "Category")">
                        <a href="@Url.Action("HotelNotices", "Category")">
                            <i class="fa fa-circle-o"></i>Lưu ý khách sạn
                        </a>
                    </li>*@
                    @*<li class="@Html.IsActive("CancellationPolicys,CancellationPolicysCreate,CancellationPolicysEdit", "Category")">
                        <a href="@Url.Action("CancellationPolicys", "Category")">
                            <i class="fa fa-circle-o"></i>Chính sách hủy
                        </a>
                    </li>*@
                    <li class="@Html.IsActive("SurchargePolicys,SurchargePolicysCreate,SurchargePolicysEdit", "Category")">
                        <a href="@Url.Action("SurchargePolicys", "Category")">
                            <i class="fa fa-circle-o"></i>Phụ thu
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview ">
                <a href="#">
                    <i class="fa fa-list"></i><span>Danh mục</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsActive("Regions,RegionsCreate,RegionsEdit,Countries,CountriesCreate,CountriesEdit,Provinces,ProvincesCreate,ProvincesEdit,Districts,DistrictsCreate,DistrictsEdit,Departures,DeparturesCreate,DeparturesEdit", "Category")">
                        <a href="">
                            <i class="fa fa-map"></i>Địa điểm<i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@Html.IsActive("Regions,RegionsCreate,RegionsEdit", "Category")">
                                <a href="@Url.Action("Areas", "Category")">
                                    <i class="fa fa-circle-o"></i>Khu vực
                                </a>
                            </li>
                            <li class="@Html.IsActive("Countries,CountriesCreate,CountriesEdit", "Category")">
                                <a href="@Url.Action("Countries", "Category")">
                                    <i class="fa fa-circle-o"></i>Quốc gia
                                </a>
                            </li>
                            <li class="@Html.IsActive("Provinces,ProvincesCreate,ProvincesEdit", "Category")">
                                <a href="@Url.Action("Provinces", "Category")">
                                    <i class="fa fa-circle-o"></i>Tỉnh thành
                                </a>
                            </li>
                            <li class="@Html.IsActive("Districts,DistrictsCreate,DistrictsEdit", "Category")">
                                <a href="@Url.Action("Districts", "Category")">
                                    <i class="fa fa-circle-o"></i>Quận huyện
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="@Html.IsActive("Hotels,HotelsCreate,HotelsEdit,Restaurants,RestaurantsCreate,RestaurantsEdit,RoomTypes,RoomTypesCreate,RoomTypesEdit,HotelLevels,HotelLevelsCreate,HotelLevelsEdit", "Category")">
                        <a href="#"><i class="fa fa-building"></i>Khách sạn<i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li class="@Html.IsActive("HotelLevels,HotelLevelsCreate,HotelLevelsEdit", "Category")">
                                <a href="@Url.Action("HotelTypes", "Category")">
                                    <i class="fa fa-circle-o"></i>Loại khách sạn
                                </a>
                            </li>
                            <li class="@Html.IsActive("HotelLevels,HotelLevelsCreate,HotelLevelsEdit", "Category")">
                                <a href="@Url.Action("HotelLevels", "Category")">
                                    <i class="fa fa-circle-o"></i>Cấp khách sạn
                                </a>
                            </li>

                            <li class="@Html.IsActive("ConvenientTypes,ConvenientTypesCreate,ConvenientTypesEdit", "Category")">
                                <a href="@Url.Action("ConvenientTypes", "Category")">
                                    <i class="fa fa-circle-o"></i>Tiện ích
                                </a>
                            </li>
                            <li class="@Html.IsActive("Direction,DirectionCreate,DirectionEdit", "Category")">
                                <a href="@Url.Action("Direction", "Category")">
                                    <i class="fa fa-circle-o"></i>Hướng phòng
                                </a>
                            </li>
                            @*<li class="@Html.IsActive("PriceTypes,PriceTypesCreate,PriceTypesEdit", "Category")">
                                <a href="@Url.Action("PriceTypes", "Category")">
                                    <i class="fa fa-circle-o"></i>Loại giá ưu đãi
                                </a>
                            </li>

                            <li class="@Html.IsActive("ServiceTypes,ServiceTypesCreate,ServiceTypesEdit", "Category")">
                                <a href="@Url.Action("ServiceTypes", "Category")">
                                    <i class="fa fa-circle-o"></i>Dịch vụ đính kèm
                                </a>
                            </li>*@

                                                @*<li class="@Html.IsActive("Rooms,RoomsCreate,RoomsEdit", "Category")">
                                <a href="@Url.Action("Rooms", "Category")">
                                    <i class="fa fa-circle-o"></i>Phòng
                                </a>
                            </li>*@
                            <li class="@Html.IsActive("HotelComments,HotelCommentsCreate,HotelCommentsEdit", "Category")">
                                <li class="@Html.IsActive("HotelComments,HotelCommentsCreate,HotelCommentsEdit", "Category")">
                                <a href="@Url.Action("HotelComments", "Category")">
                                    <i class="fa fa-circle-o"></i>Quản lý bình luận
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="#"><i class="fa fa-usd"></i>Thanh toán<i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li class="@Html.IsActive("PaymentTypes,PaymentTypesCreate,PaymentTypesEdit", "Category")">
                                <a href="@Url.Action("PaymentTypes", "Category")">
                                    <i class="fa fa-circle-o"></i>Loại thanh toán
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="@Url.Action("NewsCategory", "Category")"><i class="fa fa-edit"></i>Danh mục bài viết - tin tức<i class="fa fa-angle-left pull-right"></i></a>
                    </li>

                </ul>
            </li>
            <li class="">
                <a href="#"><i class="fa fa-edit"></i><span>Quản trị nội dung</span><i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li class="">
                        <a href="@Url.Action("Index", "HotelNews")"><i class="fa fa-list"></i>Bài viết - tin tức </a>

                    </li>
                    <li class="@Html.IsActive("", "")">
                        <a href="@Url.Action("Index", "Content")">
                            <i class="fa fa-list"></i><span>Danh sách nội dung</span>
                        </a>
                    </li>
                    <li class="@Html.IsActive("Index,Create,Edit", "Banner")">
                        <a href="@Url.Action("Index", "Banner")">
                            <i class="fa fa-list"></i>Banner
                        </a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="#"><i class="fa fa-tasks"></i><span>Quản lý booking</span><i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li class="">
                        <a href="@Url.Action("Index", "Booking")"><i class="fa fa-circle-o"></i>Danh sách booking</a>

                    </li>                    
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
