﻿@model List<Hotel.EntityFramework.Models.HotelNews>
@{
    ViewBag.Title = "Index";
}

<body>
    <div class="container desktop d-none-sm">
        <div class="row">
            <div>
                <!-- nav-fixed-right -->
                <div class="nav-fixed-right device-mb-none">
                    <a class="nav-fixed-right-item" data-container="body" data-toggle="tooltip" data-placement="left"
                       data-original-title="Về đầu trang" id="back_to_top"><i class="fa fa-arrow-up"></i></a>
                    <a class="nav-fixed-right-item" data-container="body" data-toggle="tooltip" data-placement="left"
                       data-original-title="Về trang chủ" href="index.html"><i class="fa fa-home"></i></a>
                    <a class="nav-fixed-right-item" data-container="body" data-toggle="tooltip" data-placement="left"
                       data-original-title="Đặt kh&aacute;ch sạn " href="index.html"><i class="fa fa-bed"></i></a>
                    <a class="nav-fixed-right-item" data-container="body" data-toggle="tooltip" data-placement="left"
                       data-original-title="Chia sẻ facebook"
                       href="https://www.facebook.com/sharer/sharer.php?app_id=857393964278669&amp;sdk=joey&amp;u=https%3A%2F%2Fmytour.vn%2Flocation&amp;display=popup&amp;ref=plugin">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
                <!-- nav-fixed-right -->
            </div>
            <!-- breadcrumb -->
            <div class="col-md-12" import-html="breadcrumb">
                <div class="breadcrumb-scroll">
                    <ul class="breadcrumb scroll" id="breadcrumb-scroll">
                        <li class="active"><a href="location.html">Cẩm nang du lịch</a> </li>
                    </ul>
                </div>
            </div>
            <!-- /.breadcrumb -->
            <!-- group-filter -->
            <div class="col-md-12">
                <div class="group-filter device-mb-none">
                    <!-- nav-border -->
                    <ul class="nav nav-border nav-border-5col camnangtab">
                        <li class="sub-menu">
                            <a href="#">Miền Bắc<i class="ml-2 fas fa-sort-down"></i></a>
                            <ul class="nav sub-menu-list scroll-y-t">
                                <li><a href="location/c2/du-lich-ha-noi.html">H&agrave; Nội</a></li>
                                <li><a href="location/c6/du-lich-bac-ninh.html">Bắc Ninh</a></li>
                                <li><a href="location/c7/du-lich-bac-giang.html">Bắc Giang</a></li>
                                <li><a href="location/c14/du-lich-bac-kan.html">Bắc Kạn</a></li>
                                <li><a href="location/c20/du-lich-lao-cai.html">L&agrave;o Cai</a></li>
                                <li><a href="location/c21/du-lich-quang-ninh.html">Quảng Ninh</a></li>
                                <li><a href="location/c23/du-lich-nam-dinh.html">Nam Định</a></li>
                                <li><a href="location/c25/du-lich-cao-bang.html">Cao Bằng</a></li>
                                <li><a href="location/c27/du-lich-ha-giang.html">H&agrave; Giang</a></li>
                                <li><a href="location/c28/du-lich-ha-nam.html">H&agrave; Nam</a></li>
                                <li><a href="location/c31/du-lich-hai-duong.html">Hải Dương</a></li>
                                <li><a href="location/c32/du-lich-hai-phong.html">Hải Ph&ograve;ng</a></li>
                                <li><a href="location/c33/du-lich-hoa-binh.html">Ho&agrave; B&igrave;nh</a></li>
                                <li><a href="location/c34/du-lich-hung-yen.html">Hưng Y&ecirc;n</a></li>
                                <li><a href="location/c37/du-lich-lai-chau.html">Lai Ch&acirc;u</a></li>
                                <li><a href="location/c39/du-lich-lang-son.html">Lạng Sơn</a></li>
                                <li><a href="location/c42/du-lich-ninh-binh.html">Ninh B&igrave;nh</a></li>
                                <li><a href="location/c44/du-lich-phu-tho.html">Ph&uacute; Thọ</a></li>
                                <li><a href="location/c51/du-lich-son-la.html">Sơn La</a></li>
                                <li><a href="location/c53/du-lich-thai-binh.html">Th&aacute;i B&igrave;nh</a></li>
                                <li><a href="location/c54/du-lich-thai-nguyen.html">Th&aacute;i Nguy&ecirc;n</a></li>
                                <li><a href="location/c58/du-lich-tuyen-quang.html">Tuy&ecirc;n Quang</a></li>
                                <li><a href="location/c60/du-lich-vinh-phuc.html">Vĩnh Ph&uacute;c</a></li>
                                <li><a href="location/c61/du-lich-yen-bai.html">Y&ecirc;n B&aacute;i</a></li>
                                <li><a href="location/c71/du-lich-dien-bien.html">Điện Bi&ecirc;n</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="#">Miền Trung<i class="ml-2 fas fa-sort-down"></i></a>
                            <ul class="nav sub-menu-list scroll-y-t">
                                <li><a href="location/c9/du-lich-binh-dinh.html">B&igrave;nh Định</a></li>
                                <li><a href="location/c65/du-lich-da-nang.html">Đ&agrave; Nẵng</a></li>
                                <li><a href="location/c17/du-lich-khanh-hoa.html">Kh&aacute;nh H&ograve;a</a></li>
                                <li><a href="location/c19/du-lich-thua-thien-hue.html">Thừa Thi&ecirc;n Huế</a></li>
                                <li><a href="location/c26/du-lich-gia-lai.html">Gia Lai</a></li>
                                <li><a href="location/c30/du-lich-ha-tinh.html">H&agrave; Tĩnh</a></li>
                                <li><a href="location/c36/du-lich-kon-tum.html">Kon Tum</a></li>
                                <li><a href="location/c41/du-lich-nghe-an.html">Nghệ An</a></li>
                                <li><a href="location/c45/du-lich-phu-yen.html">Ph&uacute; Y&ecirc;n</a></li>
                                <li><a href="location/c46/du-lich-quang-binh.html">Quảng B&igrave;nh</a></li>
                                <li><a href="location/c47/du-lich-quang-nam.html">Quảng Nam</a></li>
                                <li><a href="location/c48/du-lich-quang-ngai.html">Quảng Ng&atilde;i</a></li>
                                <li><a href="location/c49/du-lich-quang-tri.html">Quảng Trị</a></li>
                                <li><a href="location/c55/du-lich-thanh-hoa.html">Thanh Ho&aacute;</a></li>
                                <li><a href="location/c62/du-lich-dak-lak.html">Đắk Lắk</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="#">Miền Nam<i class="ml-2 fas fa-sort-down"></i></a>
                            <ul class="nav sub-menu-list scroll-y-t">
                                <li><a href="location/c3/du-lich-ho-chi-minh.html">Hồ Ch&iacute; Minh</a></li>
                                <li><a href="location/c4/du-lich-an-giang.html">An Giang</a></li>
                                <li>
                                    <a href="location/c5/du-lich-ba-ria-vung-tau.html">
                                        B&agrave; Rịa - Vũng
                                        T&agrave;u
                                    </a>
                                </li>
                                <li><a href="location/c8/du-lich-binh-duong.html">B&igrave;nh Dương</a></li>
                                <li><a href="location/c10/du-lich-binh-phuoc.html">B&igrave;nh Phước</a></li>
                                <li><a href="location/c11/du-lich-binh-thuan.html">B&igrave;nh Thuận</a></li>
                                <li><a href="location/c13/du-lich-ben-tre.html">Bến Tre</a></li>
                                <li><a href="location/c15/du-lich-can-tho.html">Cần Thơ</a></li>
                                <li><a href="location/c57/du-lich-tra-vinh.html">Tr&agrave; Vinh</a></li>
                                <li><a href="location/c22/du-lich-dong-nai.html">Đồng Nai</a></li>
                                <li><a href="location/c24/du-lich-ca-mau.html">C&agrave; Mau</a></li>
                                <li><a href="location/c35/du-lich-kien-giang.html">Ki&ecirc;n Giang</a></li>
                                <li><a href="location/c38/du-lich-lam-dong.html">L&acirc;m Đồng</a></li>
                                <li><a href="location/c40/du-lich-long-an.html">Long An</a></li>
                                <li><a href="location/c43/du-lich-ninh-thuan.html">Ninh Thuận</a></li>
                                <li><a href="location/c50/du-lich-soc-trang.html">S&oacute;c Trăng</a></li>
                                <li><a href="location/c52/du-lich-tay-ninh.html">T&acirc;y Ninh</a></li>
                                <li><a href="location/c56/du-lich-tien-giang.html">Tiền Giang</a></li>
                                <li><a href="location/c59/du-lich-vinh-long.html">Vĩnh Long</a></li>
                                <li><a href="location/c64/du-lich-dong-thap.html">Đồng Th&aacute;p</a></li>
                                <li><a href="location/c67/du-lich-dak-nong.html">Đắk N&ocirc;ng</a></li>
                                <li><a href="location/c68/du-lich-hau-giang.html">Hậu Giang</a></li>
                                <li><a href="location/c70/du-lich-bac-lieu.html">Bạc Li&ecirc;u</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="#">Địa danh nổi bật<i class="ml-2 fas fa-sort-down"></i></a>
                            <ul class="nav sub-menu-list scroll-y-t">
                                <li><a href="location/c2/du-lich-ha-noi.html">H&agrave; Nội</a></li>
                                <li><a href="location/c3/du-lich-ho-chi-minh.html">Hồ Ch&iacute; Minh</a></li>
                                <li><a href="location/c65/du-lich-da-nang.html">Đ&agrave; Nẵng</a></li>
                                <li><a href="location/d86/du-lich-vung-tau.html">Vũng T&agrave;u</a></li>
                                <li><a href="location/d156/du-lich-phan-thiet.html">Phan Thiết</a></li>
                                <li><a href="location/d309/du-lich-phu-quoc.html">Ph&uacute; Quốc</a></li>
                                <li><a href="location/d325/du-lich-nha-trang.html">Nha Trang</a></li>
                                <li><a href="location/d346/du-lich-sapa.html">SaPa</a></li>
                                <li><a href="location/d352/du-lich-da-lat.html">Đ&agrave; Lạt</a></li>
                                <li><a href="location/d419/du-lich-hoi-an.html">Hội An</a></li>
                                <li><a href="location/d431/du-lich-ha-long.html">Hạ Long</a></li>
                                <li><a href="location/d568/du-lich-hue.html">Huế</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="#">Bãi biển đẹp<i class="ml-2 fas fa-sort-down"></i></a>
                            <ul class="nav sub-menu-list sub-menu-list-right scroll-y-t" role="menu">
                                <li>
                                    <a href="location/b1/du-lich-bai-do-son-hai-phong.html">
                                        B&atilde;i Đồ Sơn - Hải
                                        Ph&ograve;ng
                                    </a>
                                </li>
                                <li>
                                    <a href="location/b2/du-lich-bai-tra-co-ha-long.html">
                                        B&atilde;i Tr&agrave; Cổ - Hạ
                                        Long
                                    </a>
                                </li>
                                <li>
                                    <a href="location/b3/du-lich-bai-quan-lan-ha-long.html">
                                        B&atilde;i Quan Lạn - Hạ
                                        Long
                                    </a>
                                </li>
                                <li>
                                    <a href="location/b4/du-lich-bai-ti-top-ha-long.html">
                                        B&atilde;i Ti Tốp - Hạ
                                        Long
                                    </a>
                                </li>
                                <li>
                                    <a href="location/b5/du-lich-bai-tuan-chau-ha-long.html">
                                        B&atilde;i Tuần Ch&acirc;u
                                        - Hạ Long
                                    </a>
                                </li>
                                <li>
                                    <a href="location/b6/du-lich-bai-chay-ha-long.html">
                                        B&atilde;i Ch&aacute;y - Hạ
                                        Long
                                    </a>
                                </li>
                                <li>
                                    <a href="location/b7/du-lich-bai-nhat-le-quang-binh.html">
                                        B&atilde;i Nhật Lệ - Quảng
                                        B&igrave;nh
                                    </a>
                                </li>
                                <li>
                                    <a href="location/b8/du-lich-bai-da-nhay-quang-binh.html">
                                        B&atilde;i Đ&aacute; Nhảy
                                        - Quảng B&igrave;nh
                                    </a>
                                </li>
                                <li>
                                    <a href="location/b9/du-lich-bai-non-nuoc-da-nang.html">
                                        B&atilde;i Non Nước -
                                        Đ&agrave; Nẵng
                                    </a>
                                </li>
                                <li>
                                    <a href="location/b10/du-lich-ban-dao-son-tra-da-nang.html">
                                        B&aacute;n đảo Sơn
                                        Tr&agrave; - Đ&agrave; Nẵng
                                    </a>
                                </li>
                                <li>
                                    <a href="location/b11/du-lich-bai-my-khe-da-nang.html">
                                        B&atilde;i Mỹ Kh&ecirc; -
                                        Đ&agrave; Nẵng
                                    </a>
                                </li>
                                <li>
                                    <a href="location/b12/du-lich-bai-thanh-binh-da-nang.html">
                                        B&atilde;i Thanh
                                        B&igrave;nh - Đ&agrave; Nẵng
                                    </a>
                                </li>
                                <li>
                                    <a href="location/b13/du-lich-bai-dai-nha-trang.html">
                                        B&atilde;i D&agrave;i - Nha
                                        Trang
                                    </a>
                                </li>
                                <li><a href="location/b14/du-lich-doc-let-nha-trang.html">Dốc Lết - Nha Trang</a></li>
                                <li>
                                    <a href="location/b15/du-lich-bai-dai-lanh-nha-trang.html">
                                        B&atilde;i Đại
                                        L&atilde;nh - Nha Trang
                                    </a>
                                </li>
                                <li>
                                    <a href="location/b16/du-lich-bai-ninh-chu-ninh-thuan.html">
                                        B&atilde;i Ninh Chữ -
                                        Ninh Thuận
                                    </a>
                                </li>
                                <li>
                                    <a href="location/b17/du-lich-bai-binh-tien-ninh-thuan.html">
                                        B&atilde;i B&igrave;nh
                                        Ti&ecirc;n - Ninh Thuận
                                    </a>
                                </li>
                                <li>
                                    <a href="location/b18/du-lich-bai-bien-doi-duong-phan-thiet.html">
                                        B&atilde;i biển
                                        Đồi Dương - Phan Thiết
                                    </a>
                                </li>
                                <li>
                                    <a href="location/b19/du-lich-bai-rang-phan-thiet.html">
                                        B&atilde;i Rạng - Phan
                                        Thiết
                                    </a>
                                </li>
                                <li>
                                    <a href="location/b20/du-lich-bai-co-thach-phan-thiet.html">
                                        B&atilde;i Cổ Thạch -
                                        Phan Thiết
                                    </a>
                                </li>
                                <li>
                                    <a href="location/b21/du-lich-bai-phu-hai-phan-thiet.html">
                                        B&atilde;i Ph&uacute;
                                        H&agrave;i - Phan Thiết
                                    </a>
                                </li>
                                <li>
                                    <a href="location/b22/du-lich-ho-coc-ba-ria-vung-tau.html">
                                        Hồ Cốc - B&agrave; Rịa
                                        Vũng T&agrave;u
                                    </a>
                                </li>
                                <li>
                                    <a href="location/b23/du-lich-bai-dau-ba-ria-vung-tau.html">
                                        B&atilde;i D&acirc;u -
                                        B&agrave; Rịa Vũng T&agrave;u
                                    </a>
                                </li>
                                <li>
                                    <a href="location/b24/du-lich-bai-dua-ba-ria-vung-tau.html">
                                        B&atilde;i Dứa -
                                        B&agrave; Rịa Vũng T&agrave;u
                                    </a>
                                </li>
                                <li>
                                    <a href="location/b25/du-lich-bai-truoc-ba-ria-vung-tau.html">
                                        B&atilde;i Trước -
                                        B&agrave; Rịa Vũng T&agrave;u
                                    </a>
                                </li>
                                <li>
                                    <a href="location/b26/du-lich-bai-sau-ba-ria-vung-tau.html">
                                        B&atilde;i sau -
                                        B&agrave; Rịa Vũng T&agrave;u
                                    </a>
                                </li>
                                <li>
                                    <a href="location/b27/du-lich-bai-truong-phu-quoc.html">
                                        B&atilde;i Trường -
                                        Ph&uacute; Quốc
                                    </a>
                                </li>
                                <li>
                                    <a href="location/b28/du-lich-bai-sao-phu-quoc.html">
                                        B&atilde;i Sao - Ph&uacute;
                                        Quốc
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- /.nav-border -->
                </div>
                <div class="device-pc-none mg-bt-15">
                    <a class="btn btn-blue btn-filter-show" href="#">
                        <i class="fa fa-bars"></i> Điểm đến
                    </a>
                </div>
            </div>
            <!-- /.group-filter -->
            <!-- sidebar -->
            <div id="sidebar-scroll">
                <div class="sidebar-top">
                    <!-- <button class="btn btn-blue btn-close device-mb-show">Áp dụng</button> -->
                    <button class="btn btn-default btn-close device-pc-none">Đóng</button>
                </div>

            </div>
            <!-- /.sidebar -->
            @Html.Partial("_SideBar")
            <!-- /.sidebar -->
            <div class="col-md-9">
                <!-- page-header -->
                <div class="page-header">
                    <h1 class="title-lg" title="Cẩm nang du lịch">
                        <a href="location.html">Cẩm nang du lịch</a>
                    </h1>
                    <div class="dark mg-bt-10 mg-t-10"></div>
                </div>
                <!-- /.page-header -->
                <div class="blog row">
                    @{foreach (var item in Model)
                        {
                            <div class="col-md-4">
                                <!-- blog-item -->
                                <div class="blog-item" style="height:94%">
                                    <a href="@Url.Action("Details","News",new { id = item.HotelNewsID })">
                                        <img class="img-responsive blog-img"
                                             src="FileUploads/News/@item.FileAttchment"
                                             style="width:100%;">
                                        <h2 class="blog-name">
                                            @item.Title
                                        </h2>
                                    </a>
                                    <p class="blog-data">
                                        <span>
                                            <i class="fa fa-calendar"></i>
                                            <span class="date">@item.CrtDate.ToShortDateString()</span>
                                        </span>
                                        @*<span class="pull-right">
                                                <i class="fa fa-eye"></i>
                                                <span class="data-view">17</span>
                                            </span>*@
                                    </p>
                                    <div class="blog-item-content">
                                        @{ if (item.Brief.Length < 100)
                                            {
                                                <text>@item.Brief.Substring(0, item.Brief.Length)</text>
                                            }
                                            else
                                            {
                                                <text>@item.Brief.Substring(0, 100) ...</text>
                                            }
                                        }
                                    </div>
                                </div>
                                <!-- /.blog-item -->
                            </div>
                                            }
                    }

                    <div class="col-md-4">
                        <!-- blog-item -->
                        <div class="blog-item">
                            <a href="location/14479-lam-sao-de-dat-ve-may-bay-sai-gon-dien-bien.html">
                                <img class="img-responsive blog-img"
                                     src="https://staticproxy.mytourcdn.com/480x360,q90/resources/pictures/locations/mza1618455780.jpg"
                                     style="width:100%;">
                                <h2 class="blog-name">
                                    L&agrave;m Sao Để Đặt V&eacute; M&aacute;y Bay S&agrave;i
                                    G&ograve;n - Điện Bi&ecirc;n
                                </h2>
                            </a>
                            <p class="blog-data">
                                <span>
                                    <i class="fa fa-calendar"></i>
                                    <span class="date">09/04/2021</span>
                                </span>
                                <span class="pull-right">
                                    <i class="fa fa-eye"></i>
                                    <span class="data-view">17</span>
                                </span>
                            </p>
                            <div class="blog-item-content">
                                Điện Bi&ecirc;n mảnh đất ghi dấu chiến thắng lịch sử Điện Bi&ecirc;n Phủ rực lửa năm
                                1954. L&agrave; một v&ugrave;ng n&uacute;i T&acirc;y B...
                            </div>
                        </div>
                        <!-- /.blog-item -->
                    </div>
                    <div class="col-md-4">
                        <!-- blog-item -->
                        <div class="blog-item">
                            <a href="location/14479-lam-sao-de-dat-ve-may-bay-sai-gon-dien-bien.html">
                                <img class="img-responsive blog-img"
                                     src="https://staticproxy.mytourcdn.com/480x360,q90/resources/pictures/locations/mza1618455780.jpg"
                                     style="width:100%;">
                                <h2 class="blog-name">
                                    L&agrave;m Sao Để Đặt V&eacute; M&aacute;y Bay S&agrave;i
                                    G&ograve;n - Điện Bi&ecirc;n
                                </h2>
                            </a>
                            <p class="blog-data">
                                <span>
                                    <i class="fa fa-calendar"></i>
                                    <span class="date">09/04/2021</span>
                                </span>
                                <span class="pull-right">
                                    <i class="fa fa-eye"></i>
                                    <span class="data-view">17</span>
                                </span>
                            </p>
                            <div class="blog-item-content">
                                Điện Bi&ecirc;n mảnh đất ghi dấu chiến thắng lịch sử Điện Bi&ecirc;n Phủ rực lửa năm
                                1954. L&agrave; một v&ugrave;ng n&uacute;i T&acirc;y B...
                            </div>
                        </div>
                        <!-- /.blog-item -->
                    </div>
                    <div class="col-md-4">
                        <!-- blog-item -->
                        <div class="blog-item">
                            <a href="location/14479-lam-sao-de-dat-ve-may-bay-sai-gon-dien-bien.html">
                                <img class="img-responsive blog-img"
                                     src="https://staticproxy.mytourcdn.com/480x360,q90/resources/pictures/locations/mza1618455780.jpg"
                                     style="width:100%;">
                                <h2 class="blog-name">
                                    L&agrave;m Sao Để Đặt V&eacute; M&aacute;y Bay S&agrave;i
                                    G&ograve;n - Điện Bi&ecirc;n
                                </h2>
                            </a>
                            <p class="blog-data">
                                <span>
                                    <i class="fa fa-calendar"></i>
                                    <span class="date">09/04/2021</span>
                                </span>
                                <span class="pull-right">
                                    <i class="fa fa-eye"></i>
                                    <span class="data-view">17</span>
                                </span>
                            </p>
                            <div class="blog-item-content">
                                Điện Bi&ecirc;n mảnh đất ghi dấu chiến thắng lịch sử Điện Bi&ecirc;n Phủ rực lửa năm
                                1954. L&agrave; một v&ugrave;ng n&uacute;i T&acirc;y B...
                            </div>
                        </div>
                        <!-- /.blog-item -->
                    </div>
                    <div class="col-md-4">
                        <!-- blog-item -->
                        <div class="blog-item">
                            <a href="location/14479-lam-sao-de-dat-ve-may-bay-sai-gon-dien-bien.html">
                                <img class="img-responsive blog-img"
                                     src="https://staticproxy.mytourcdn.com/480x360,q90/resources/pictures/locations/mza1618455780.jpg"
                                     style="width:100%;">
                                <h2 class="blog-name">
                                    L&agrave;m Sao Để Đặt V&eacute; M&aacute;y Bay S&agrave;i
                                    G&ograve;n - Điện Bi&ecirc;n
                                </h2>
                            </a>
                            <p class="blog-data">
                                <span>
                                    <i class="fa fa-calendar"></i>
                                    <span class="date">09/04/2021</span>
                                </span>
                                <span class="pull-right">
                                    <i class="fa fa-eye"></i>
                                    <span class="data-view">17</span>
                                </span>
                            </p>
                            <div class="blog-item-content">
                                Điện Bi&ecirc;n mảnh đất ghi dấu chiến thắng lịch sử Điện Bi&ecirc;n Phủ rực lửa năm
                                1954. L&agrave; một v&ugrave;ng n&uacute;i T&acirc;y B...
                            </div>
                        </div>
                        <!-- /.blog-item -->
                    </div>
                    <div class="col-md-4">
                        <!-- blog-item -->
                        <div class="blog-item">
                            <a href="location/14479-lam-sao-de-dat-ve-may-bay-sai-gon-dien-bien.html">
                                <img class="img-responsive blog-img"
                                     src="https://staticproxy.mytourcdn.com/480x360,q90/resources/pictures/locations/mza1618455780.jpg"
                                     style="width:100%;">
                                <h2 class="blog-name">
                                    L&agrave;m Sao Để Đặt V&eacute; M&aacute;y Bay S&agrave;i
                                    G&ograve;n - Điện Bi&ecirc;n
                                </h2>
                            </a>
                            <p class="blog-data">
                                <span>
                                    <i class="fa fa-calendar"></i>
                                    <span class="date">09/04/2021</span>
                                </span>
                                <span class="pull-right">
                                    <i class="fa fa-eye"></i>
                                    <span class="data-view">17</span>
                                </span>
                            </p>
                            <div class="blog-item-content">
                                Điện Bi&ecirc;n mảnh đất ghi dấu chiến thắng lịch sử Điện Bi&ecirc;n Phủ rực lửa năm
                                1954. L&agrave; một v&ugrave;ng n&uacute;i T&acirc;y B...
                            </div>
                        </div>
                        <!-- /.blog-item -->
                    </div>

                    <!-- show link parent if empty listing -->
                </div>
                <!-- panigation-blue -->
                <div id="place-paginator">
                    <!-- panigation-center -->
                    <div class="panigation-center">
                        <ul class="pagination mg-0">
                            <li class="active">
                                <a href="location.html" data-category="Pagination_bar" data-action=""
                                   class="events-tracking" data-label="1">1</a>
                            </li>
                            <li class="">
                                <a href="location4658.html?page=2" data-category="Pagination_bar" data-action=""
                                   class="events-tracking" data-label="2">2</a>
                            </li>
                            <li class="">
                                <a href="location9ba9.html?page=3" data-category="Pagination_bar" data-action=""
                                   class="events-tracking" data-label="3">3</a>
                            </li>
                            <li class="">
                                <a href="locationfdb0.html?page=4" data-category="Pagination_bar" data-action=""
                                   class="events-tracking" data-label="4">4</a>
                            </li>
                            <li class="">
                                <a href="locationaf4d.html?page=5" data-category="Pagination_bar" data-action=""
                                   class="events-tracking" data-label="5">5</a>
                            </li>
                            <li class="">
                                <a href="locationc575.html?page=6" data-category="Pagination_bar" data-action=""
                                   class="events-tracking" data-label="6">6</a>
                            </li>
                            <li class="">
                                <a href="location235c.html?page=7" data-category="Pagination_bar" data-action=""
                                   class="events-tracking" data-label="7">7</a>
                            </li>
                            <li class="">
                                <a href="locationfdfa.html?page=8" data-category="Pagination_bar" data-action=""
                                   class="events-tracking" data-label="8">8</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.panigation-center -->
                </div>
                <!-- /.panigation-blue -->
            </div>
        </div>
    </div>
    <div class="mobile d-none-lg flex-column">
        <div class="blog-categories">
            <ul class="list-inline">
                <li class="active"><a href="/location">Tổng hợp</a></li>
                <li>
                    <a title="Chuyên mục ẩm thực Việt Nam" alt="Chuyên mục ẩm thực Việt Nam"
                       href="/location/n1/chuyen-muc-am-thuc-viet-nam.html">
                        Ẩm thực
                    </a>
                </li>
                <li>
                    <a title="Chuyên mục cảnh đẹp Việt Nam" alt="Chuyên mục cảnh đẹp Việt Nam"
                       href="/location/n1/chuyen-muc-canh-dep-viet-nam.html">
                        Cảnh đẹp
                    </a>
                </li>
                <li>
                    <a title="Chuyên mục khám phá Việt Nam" alt="Chuyên mục khám phá Việt Nam"
                       href="/location/n1/chuyen-muc-kham-pha-viet-nam.html">
                        Khám phá
                    </a>
                </li>
                <li>
                    <a title="Chuyên mục du lịch biển Việt Nam" alt="Chuyên mục du lịch biển Việt Nam"
                       href="/location/n1/chuyen-muc-du-lich-bien-viet-nam.html">
                        Du lịch biển
                    </a>
                </li>
                <li>
                    <a title="Chuyên mục di sản văn hóa Việt Nam" alt="Chuyên mục di sản văn hóa Việt Nam"
                       href="/location/n1/chuyen-muc-di-san-van-hoa-viet-nam.html">
                        Di sản văn hóa
                    </a>
                </li>
                <li>
                    <a title="Chuyên mục mẹo du lịch Việt Nam" alt="Chuyên mục mẹo du lịch Việt Nam"
                       href="/location/n1/chuyen-muc-meo-du-lich-viet-nam.html">
                        Mẹo du lịch
                    </a>
                </li>
                <li>
                    <a title="Chuyên mục du lịch tâm linh Việt Nam" alt="Chuyên mục du lịch tâm linh Việt Nam"
                       href="/location/n1/chuyen-muc-du-lich-tam-linh-viet-nam.html">
                        Du lịch tâm linh
                    </a>
                </li>
                <li>
                    <a title="Chuyên mục vui chơi - giải trí Việt Nam" alt="Chuyên mục vui chơi - giải trí Việt Nam"
                       href="/location/n1/chuyen-muc-vui-choi-giai-tri-viet-nam.html">
                        Vui chơi - Giải trí
                    </a>
                </li>
                <li>
                    <a title="Chuyên mục thế giới đó đây " alt="Chuyên mục thế giới đó đây "
                       href="/location/n1/chuyen-muc-the-gioi-do-day.html">
                        Thế giới đó đây
                    </a>
                </li>
                <li>
                    <a title="Chuyên mục lịch trình du lịch a - z Việt Nam"
                       alt="Chuyên mục lịch trình du lịch a - z Việt Nam"
                       href="/location/n1/chuyen-muc-lich-trinh-du-lich-a-z-viet-nam.html">
                        Lịch trình du lịch A - Z
                    </a>
                </li>
                <li>
                    <a title="Chuyên mục lễ hội - sự kiện Việt Nam" alt="Chuyên mục lễ hội - sự kiện Việt Nam"
                       href="/location/n1/chuyen-muc-le-hoi-su-kien-viet-nam.html">
                        Lễ hội - Sự kiện
                    </a>
                </li>
                <li>
                    <a title="Chuyên mục du lịch cộng đồng Việt Nam" alt="Chuyên mục du lịch cộng đồng Việt Nam"
                       href="/location/n1/chuyen-muc-du-lich-cong-dong-viet-nam.html">
                        Du lịch cộng đồng
                    </a>
                </li>
                <li>
                    <a title="Chuyên mục nghỉ dưỡng Việt Nam" alt="Chuyên mục nghỉ dưỡng Việt Nam"
                       href="/location/n1/chuyen-muc-nghi-duong-viet-nam.html">
                        Nghỉ dưỡng
                    </a>
                </li>
            </ul>
        </div>
        <div class="blog-sub-nav">
            <a class="blog-sub-nav-btn">Cẩm nang du lịch <i class="fas fa-chevron-down"></i></a>
            <div class="blog-sub-nav-list list-unstyled mg-0" style="display: none;">
                <form id="form_search_location" class="form_search_location form-search" action="">
                    <div class="custom-form-search-location">
                        <span class="twitter-typeahead" style="position: relative; display: inline-block;">
                            <input type="text" class="form-control tt-hint">
                        </span>
                    </div>
                    <button class="btn btn-main submit_search_location"><i class="fas fa-search"></i></button>
                </form>
                <hr>
                <a class="d-block mb-3 text-white" href="#">
                    Mới nhất
                </a>
                <a class="d-block text-white" href="#">
                    Du lịch Việt Nam
                </a>
                <hr>
                <div id="accordion">
                    <div class="accordion-item mb-3">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                            Miền Bắc <i class="fas fa-chevron-down"></i>
                        </button>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <ul class="location-list list-inline">
                                <li><a href="#">Hà Nội</a></li>
                                <li><a href="#">Hà Nội</a></li>
                                <li><a href="#">Hà Nội</a></li>
                                <li><a href="#">Hà Nội</a></li>
                                <li><a href="#">Hà Nội</a></li>
                                <li><a href="#">Hà Nội</a></li>
                                <li><a href="#">Hà Nội</a></li>
                                <li><a href="#">Hà Nội</a></li>
                                <li><a href="#">Hà Nội</a></li>
                                <li><a href="#">Hà Nội</a></li>
                                <li><a href="#">Hà Nội</a></li>
                                <li><a href="#">Hà Nội</a></li>
                                <li><a href="#">Hà Nội</a></li>
                                <li><a href="#">Hà Nội</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="true" aria-controls="collapseTwo">
                            Miền Trung <i class="fas fa-chevron-down"></i>
                        </button>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <ul class="location-list list-inline">
                                <li><a href="#">Hà Nội</a></li>
                                <li><a href="#">Hà Nội</a></li>
                                <li><a href="#">Hà Nội</a></li>
                                <li><a href="#">Hà Nội</a></li>
                                <li><a href="#">Hà Nội</a></li>
                                <li><a href="#">Hà Nội</a></li>
                                <li><a href="#">Hà Nội</a></li>
                                <li><a href="#">Hà Nội</a></li>
                                <li><a href="#">Hà Nội</a></li>
                                <li><a href="#">Hà Nội</a></li>
                                <li><a href="#">Hà Nội</a></li>
                                <li><a href="#">Hà Nội</a></li>
                                <li><a href="#">Hà Nội</a></li>
                                <li><a href="#">Hà Nội</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
