﻿@model RoomPrice

@{
    //var sllHotel = ViewBag.sllHotel as IEnumerable<SelectListItem>;
    var sllRoom = ViewBag.sllRoom as IEnumerable<SelectListItem>;
    var RoomPriceType = ViewBag.RoomPriceType as IEnumerable<SelectListItem>;

    List<SelectListItem> sllActive = new List<SelectListItem>{
        new SelectListItem { Text = "Không", Value = "False" },
        new SelectListItem { Text = "Có", Value = "True", Selected = true }
    };
    List<SelectListItem> selectDate = new List<SelectListItem>
{
        new SelectListItem{Text = "Từ ngày - Đến ngày", Value = "DateFromTo"},
        new SelectListItem{Text = "Chọn ngày", Value = "DateSelect"}
    };
}
@using (Html.BeginMultipartForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="container-fluid">
        <div class="box-header">
            <h3 class="box-title">Đăng phòng bán</h3>
        </div><!-- /.box-header -->
        <!-- general form elements -->
        <div class="box box-primary">
            @*<div class="box-body">*@
            <div class="col-md-3">
                @{
                    if (ViewBag.Status == "Success")
                    {
                        <div class="alert alert-success alert-dismissable" style="max-width: 500px;">
                            <i class="fa fa-check"></i>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <b>Cập nhật thành công!</b>
                        </div>
                    }
                    else if (ViewBag.Status == "Error")
                    {
                        <div class="alert alert-danger alert-dismissable" style="max-width: 500px;">
                            <i class="fa fa-ban"></i>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <b>Cập nhật bị lỗi!</b> @ViewBag.Message
                        </div>
                    }
                }
                @*<div class="form-group">
                        <label>Tỉnh thành</label>
                        @Html.DropDownList("ProvineId", (IEnumerable<SelectListItem>)sllProvince, new { @class = "form-control", @style = "width: 200px;" })
                    </div>*@

                <div class="form-group">
                    <label>Chọn khách sạn</label>
                    @Html.DropDownList("HotelId", null, "--- Chọn khách sạn ---", new { @class = "form-control chosen-select", @style = " max-width: 600px; ", @onchange = "LoadRoomHotel();" })
                </div>

                <div class="form-group">
                    <label>Chọn phòng</label>
                    @Html.DropDownList("RoomId", (IEnumerable<SelectListItem>)sllRoom, "--- Chọn phòng ---", new { @class = "form-control chosen-select", @style = " max-width: 600px; ", @onchange = "LoadRoomAvailableCalendar();" })

                </div>
                <div class="form-group">
                    <label>Tuỳ chọn ngày</label>
                    @Html.DropDownList("DateType", (IEnumerable<SelectListItem>)selectDate, new { @id = "selectDate", @class = "form-control chosen-select", @style = " max-width: 600px; ", @onchange = "ChangeSelectDate(this);" })

                </div>
                <div id="DateSelect" class="select-date">
                    <div class="form-group">
                        <label>Chọn các ngày</label>
                        @Html.TextBoxFor(model => model.DateList, new { @class = "form-control", @style = " max-width: 600px; ", @autocomplete = "off" })
                    </div>
                </div>
                <div id="DateFromTo" class="select-date">
                    <div class="form-group">
                        <label>Từ ngày</label>
                        @Html.TextBoxFor(model => model.DateFrom, new { @class = "form-control", @style = " max-width: 600px; ", @autocomplete = "off" })
                    </div>

                    <div class="form-group">
                        <label>Đến ngày</label>
                        @Html.TextBoxFor(model => model.DateTo, new { @class = "form-control", @style = " max-width: 600px;", @autocomplete = "off" })
                    </div>
                </div>
                @*<div class="form-group">
                        <label>Loại giá</label>
                        @Html.DropDownList("PriceTypeId", (IEnumerable<SelectListItem>)RoomPriceType, "--- Chọn ---", new { @class = "form-control", @style = " max-width: 600px;" })
                    </div>*@

                <div class="form-group">
                    <label>Giá phòng</label>
                    @Html.TextBoxFor(model => model.PriceContract, new { @class = "form-control", @style = " max-width: 600px; ", @onkeyup = "FormatAmount(this);" })
                </div>

                <div class="form-group">
                    <label>Giá phòng khuyến mại</label>
                    @Html.TextBoxFor(model => model.PricePromotion, new { @class = "form-control", @style = " max-width: 600px;", @onkeyup = "FormatAmount(this);" })
                </div>

                <div class="form-group">
                    <label>Số lượng</label>
                    @Html.TextBoxFor(model => model.AvailableRoom, new { @class = "form-control", @style = " max-width: 600px; ", @type = "number" })
                </div>

                @*<div class="form-group">
                        <label>Hoạt động?</label>
                        @Html.DropDownList("IsActived", (IEnumerable<SelectListItem>)sllActive, new { @class = "form-control", @style = "max-width: 600px; " })
                    </div>*@
                <div class="form-group">
                    <button type="submit" id="submit" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;Lưu</button>

                    <a class="btn btn-default f-right" href="@Url.Action("Index","Hotels")">Danh sách KS</a>
                </div>
            </div>
            <div class="col-md-9">
                <!--calendar-->
                <h4>
                    <i class="fa fa-calendar"></i>
                    <strong><span id="roomAvailableId" style="color:#0000cc;">Room Available Calendar</span></strong>
                </h4>
                <div id="calendar"></div>
                <!--.calendar-->
            </div>
            @*</div>*@

            @*<div class="box-footer">

                </div>*@
        </div>
        <!-- /.box-footer -->
    </div>
}
<script src="~/Content/plugins/datepicker/locales/bootstrap-datepicker.vi.js"></script>
<script src="~/Content/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="~/Content/ThemeAdmin/js/FormatNumber.js?v=1"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#DateList").datepicker({
            autoclose: false,
            multidate: true,
            multidateSeparator: ',',
            format: 'dd/mm/yyyy',
            keyboardNavigation: true,
            language: 'vi',
            startDate: new Date(),
            todayBtn: true,
            todayHighlight: true,
        });

        $("#DateFrom").datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy',
            keyboardNavigation: true,
            language: 'vi',
            startDate: new Date(),
            todayBtn: true,
            todayHighlight: true,
        });

        $("#DateTo").datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy',
            keyboardNavigation: true,
            language: 'vi',
            startDate: new Date(),
            todayBtn: true,
            todayHighlight: true,
        });
        //LoadRoomHotel();
        LoadRoomAvailableCalendar();

        $('.select-date').hide();
        $('#' + $('#selectDate').val()).show();
    });

    ///////////////////////////

    function LoadRoomHotel() {
        if ($("#HotelId").val() != '') {
            $.ajax({
                url: '@Url.Action("_GetHotelRoom", "RoomAvailable")',
                data: { hotelId: $("#HotelId").val() },
                success: function (result) {
                    if (result != '') {
                        $('#RoomId').empty();
                        $('#RoomId').append($('<option/>', { value: 0}).html('--- Chọn phòng ---'));
                        $.each(result, function (i, state) {
                            $('#RoomId').append($('<option/>', { value: state.Id }).html(state.RoomName));
                        });
                        $('#RoomId').trigger("chosen:updated");
                    } else {
                        ShowNotify('Có lỗi xảy ra, vui lòng kiểm tra lại dữ liệu.', 'danger', 'top');
                    }

                }
            });

            $('#calendar').fullCalendar('destroy');
        }
    }

    function LoadRoomAvailableCalendar() {
        document.getElementById('roomAvailableId').innerText = $("#HotelId option:selected").text() + ' >> ' + $("#RoomId option:selected").text();
        $('#calendar').fullCalendar('destroy');
        $('#calendar').fullCalendar({
            header:
            {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            buttonText: {
                today: 'today',
                month: 'month',
                week: 'week',
                day: 'day'
            },

            events: function (start, end, timezone, callback) {
                if ($("#RoomId").val() > '0' || $("#RoomId").val() != '') {
                    $.ajax({
                        url: '/RoomAvailable/_GetCalendarData',
                        //type: "GET",
                        type: "POST",
                        dataType: "JSON",
                        data: {
                            "roomId": $("#RoomId").val(),
                            "dateFrom": $("#DateFrom").val(),
                            "dateTo": $("#DateTo").val()
                        },
                        success: function (result) {
                            var events = [];

                            $.each(result, function (i, data) {
                                events.push(
                                    {
                                        title: data.title,
                                        //description: data.description,
                                        start: moment(data.start).format('YYYY-MM-DD'),
                                        end: moment(data.end).format('YYYY-MM-DD'),
                                        backgroundColor: data.backgroundColor,
                                        borderColor: data.borderColor,
                                    });
                            });

                            callback(events);
                        }
                    });
                }
            },

            eventRender: function (event, element) {
                element.qtip(
                {
                    content: event.description
                });
            },

            editable: false
        });

    }

    function ChangeSelectDate(select) {
            $('.select-date').hide();
            $('#'+select.value).show();

    }

    function ChangeStatusPrice(priceId, checkBox) {
        event.preventDefault();
        if (!confirm("Xác nhận thay đổi trạng thái giá?")) {
            checkBox.checked = !checkBox.checked;
            return false;
        }
        $.ajax({
            url: '@Url.Action("_ChangeStatusPrice","RoomAvailable")',
            type: "GET",
            //type: "POST",
            dataType: "JSON",
            beforeSend: function () {
                $('#preloader-wrapper').toggleClass('hide');
            },
            data: {
                PriceId: priceId,
                Status: checkBox.checked
            },
            success: function (result) {
                $('#preloader-wrapper').toggleClass('hide');
                if (result.id == 1) {
                    ShowNotify(result.message, "success", "top");
                    LoadRoomAvailableCalendar();
                }
                else {
                    ShowNotify(result.message, "warning", "top");
                    checkBox.checked = !checkBox.checked;
                }
            },
            error: function () {
                $('#preloader-wrapper').toggleClass('hide');
                ShowNotify("Không thực hiện được", "danger", "top");
            }
            
        });

    }

    //Format Amount

    $(function () {
        $(document).ready(function () {
            FormatAmount(document.getElementById('PriceContract'));
            FormatAmount(document.getElementById('PricePromotion'));
        });
        $('#submit').on('click', function () {

            var priceContract = $('#PriceContract').val();
            $('#PriceContract').val(clearFormatNumber(priceContract));

            var pricePromotion = $('#PricePromotion').val();
            $('#PricePromotion').val(clearFormatNumber(pricePromotion));


        });
    });

</script>
