﻿@using Hotel.Utilities
@using Hotel.Models
@model LoginViewModel
@{
    Layout = null;
}
<style type="text/css">
    .validation-summary-errors {
        font-weight: bold;
        color: red;
    }
</style>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.2 -->
    <link href="~/Content/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- iCheck -->
    <link href="~/Content/plugins/iCheck/square/blue.css" rel="stylesheet" type="text/css" />
    <!-- pnotify -->
    <link href="/Content/pnotify/dist/pnotify.css" rel="stylesheet" />
    <link href="/Content/pnotify/dist/pnotify.buttons.css" rel="stylesheet" />
    <link href="/Content/pnotify/dist/pnotify.nonblock.css" rel="stylesheet" />
    <link href="~/Content/login.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row" id="pwd-container">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <section class="login-form">
                    <form action="@Url.Action("Login")" method="post" role="form">
                        @Html.Hidden("ReturnUrl", (string)ViewBag.ReturnUrl)
                        <img src="~/Content/assets/images/Logo-min.png" class="img-responsive" alt="" />
                        <input type="text" name="UserName" placeholder="Tên đăng nhập" required class="form-control input-lg mg-top5" value="@Model.UserName" />
                        <input type="password" class="form-control input-lg mg-top5" id="Password" name="Password" placeholder="Mật khẩu" required="" style="margin-top:10px;" />
                        <div class="pwstrength_viewport_progress">
                            @Html.ValidationSummary(true)
                        </div>
                        <button type="submit" name="go" class="btn btn-lg btn-primary btn-block" style="margin-top:20px;">Đăng nhập</button>
                    </form>
                    <div class="form-links">
                        <a target="_blank" href="http://www.hotcombo.vn">www.hotcombo.vn</a>
                        <br />
                        @DateTime.Now
                    </div>
                </section>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <!-- /.login-box-body -->
    <!-- jQuery 2.1.3 -->
    <script src="~/Content/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- iCheck -->
    <script src="~/Content/plugins/iCheck/icheck.min.js"></script>
    <script src="~/Scripts/TeamCode.js"></script>

    <!-- pnotify -->
    <script src="~/Content/pnotify/dist/pnotify.js"></script>
    <script src="~/Content/pnotify/dist/pnotify.buttons.js"></script>
    <script src="~/Content/pnotify/dist/pnotify.nonblock.js"></script>
    <script>
        @{
            var notify = ViewBag.Notify as Notify;
            if (notify != null && notify.Status > 0)
            {
                <text>
                    setTimeout(ShowNoti("@notify.Message", '', 'error'), 500);
                </text>
            }
        }
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
</body>
</html>
