.header {
    margin: 0 0 20px;
    padding: 20px 20px 40px;
    float: left;
    width: 100%;
    -webkit-border-radius: 0 0 30px 30px;
    -moz-border-radius: 0 0 30px 30px;
    -ms-border-radius: 0 0 30px 30px;
    -o-border-radius: 0 0 30px 30px;
    border-radius: 0 0 30px 30px;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, .4);
    -ms-box-shadow: 0 5px 20px rgba(0, 0, 0, .4);
    -o-box-shadow: 0 5px 20px rgba(0, 0, 0, .4);
    box-shadow: 0 5px 20px rgba(0, 0, 0, .4)
}

.li-chevron-down {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.li-chevron-down.active {
    transform: rotate(180deg)
}

.index-navbar {
    color: #fff;
    float: left;
    width: 100%
}

.index-navbar .notification {
    color: #fff;
    padding: 5px;
    background-color: #FF1284;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 11px;
    line-height: 1em;
    font-weight: 700;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px
}

.index-navbar .icon-nav,
.index-navbar .icon-user {
    position: relative;
    float: left
}

.index-navbar .icon-nav {
    z-index: 10
}

.index-navbar .icon-nav .nav-line-group {
    position: relative;
    width: 20px;
    margin-top: 15px;
    -webkit-transition: margin-top .3s linear .1s;
    -moz-transition: margin-top .3s linear .1s;
    -o-transition: margin-top .3s linear .1s;
    transition: margin-top .3s linear .1s
}
.index-navbar .icon-nav .nav-line-group.active {
    position: fixed;
    
}

.index-navbar .icon-nav .nav-line-group .notification {
    position: absolute;
    top: -10px;
    left: 12px;
    z-index: 1
}

.index-navbar .icon-nav .nav-line-group.top {
    margin-top: -50px
}

.index-navbar .icon-nav .nav-line-group.active .notification {
    display: none;
    position:fixed;

}

.index-navbar .icon-nav .nav-line-group.active .icon-nav-line {
    border-color: #515151
}

.index-navbar .icon-nav .nav-line-group.active .icon-nav-line.first {
    bottom: -6px;
    left: -4px;
    -ms-transform: rotateZ(-45deg);
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg)
}

.index-navbar .icon-nav .nav-line-group.active .icon-nav-line.second {
    opacity: 0;
    width: 0
}

.index-navbar .icon-nav .nav-line-group.active .icon-nav-line.last {
    bottom: 6px;
    left: 0;
    -ms-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg)
}

.index-navbar .icon-nav-line {
    display: block;
    position: relative;
    height: 1px;
    width: 20px;
    padding-top: 5px;
    border-bottom: 1px solid #fff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.index-navbar .icon-user {
    float: right;
    text-align: right;
    height: 100%;
    padding: 10px 0
}

.index-navbar .icon-user .user-profile.btn {
    position: relative;
    background-color: transparent;
    border: none;
    outline: 0;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    padding: 0
}

.index-navbar .icon-user .user-profile.btn .notification {
    position: absolute;
    top: -10px;
    right: -5px
}

.index-navbar .dropdown-profile {
    color: #515151;
    border: none;
    width: 200px
}

.index-navbar .dropdown-profile::before {
    content: '';
    opacity: .7;
    position: absolute;
    right: 5px;
    bottom: 100%;
    border-style: solid;
    border-width: 0 6px 12px;
    border-color: transparent transparent #fff
}

.index-navbar .dropdown-profile li a {
    padding: 10px;
    white-space: normal;
    border-bottom: 1px solid #e7e8e9
}

.btn-search,
.index-navbar .dropdown-profile li:last-child a {
    border: none
}

.index-navbar .dropdown-profile li a:active,
.index-navbar .dropdown-profile li a:focus {
    background-color: #a3e1f9
}

.index-navbar .logo-img {
    position: absolute;
    width: 137px;
    margin: 0 auto;
    display: block;
    left: 0;
    right: 0;
    padding-top: 5px
}

.section,
.section-destination.grid .item a {
    float: left;
    position: relative
}

.index-content-container {
    padding: 0 20px;
    width: 100%;
    float: left
}

.btn-search {
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #FF1284;
    padding: 11px 12px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .12);
    -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, .12);
    -ms-box-shadow: inset 0 0 0 rgba(0, 0, 0, .12);
    -o-box-shadow: inset 0 0 0 rgba(0, 0, 0, .12);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .12)
}

.btn-search:active,
.btn-search:focus,
.btn-search:hover {
    color: #fff;
    border: 0;
    -webkit-box-shadow: inset 0 10px 30px rgba(0, 0, 0, .12);
    -moz-box-shadow: inset 0 10px 30px rgba(0, 0, 0, .12);
    -ms-box-shadow: inset 0 10px 30px rgba(0, 0, 0, .12);
    -o-box-shadow: inset 0 10px 30px rgba(0, 0, 0, .12);
    box-shadow: inset 0 10px 30px rgba(0, 0, 0, .12);
    outline: 0
}

.btn-search:active,
.btn-search:active:hover {
    background-color: #f7aec7;
    outline: 0;
    color: #fff
}

.section {
    margin: 20px auto;
    width: 100%
}

.section-title {
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 20px
}

.section-title strong {
    color: #00adef
}

.section-visited .section-title {
    margin-bottom: 10px
}

.section-visited a {
    color: #515151
}

.section-visited .product-container {
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    -o-box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    margin-top: 10px;
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px
}

.section-visited .product-img,
.section-visited .product-info {
    padding-left: 0
}

.section-visited .product-info {
    padding-right: 0
}

.section-visited .product-name {
    font-size: 14px;
    margin-top: 0
}

.section-destination .item-name,
.section-history .item-name {
    font-size: 14px;
    font-weight: 700;
    color: #515151;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 5px 0 0;
    line-height: 1.4em
}

.section-destination .item-name:focus,
.section-destination .item-name:hover,
.section-history .item-name:focus,
.section-history .item-name:hover {
    color: #04a8e7
}

.section-destination .item-info,
.section-history .item-info {
    font-size: 12px;
    color: #959798;
    font-weight: 300;
    margin-bottom: 0
}

.section-history .owl-stage {
    padding-left: 0 !important
}

.section-history .rate {
    font-size: 12px
}

.section-destination .owl-stage-outer {
    margin-right: -20px
}

.section-destination.grid {
    margin-bottom: 10px
}

.section-destination.grid .container {
    padding: 0 10px
}

.section-destination.grid .item {
    padding: 0 5px;
    margin-bottom: 10px
}

.section-destination.grid .item-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: 400;
    line-height: 1em;
    padding: 3px 5px;
    background-color: rgba(0, 0, 0, .2)
}

.section-destination.grid .item-info,
.section-destination.grid .item-name {
    color: #fff
}

.section-destination.grid .item-name {
    color: #fff;
    margin: 0
}

.section-destination.grid .item-info {
    font-size: 10px
}

.section-app-promo {
    background-color: #f2fbfe;
    margin: 0 -20px;
    width: auto;
    padding: 20px
}

.reason-list,
.section-list-footer .list-inline {
    width: 100%;
    float: left
}

.section-app-promo .btn-line {
    color: #00adef;
    float: right;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    border: 1px solid #00adef;
    padding: 5px 15px;
    font-size: 14px
}

.section-app-promo .btn-line:active,
.section-app-promo .btn-line:focus {
    background-color: #00adef;
    color: #fff
}

.section-app-promo-text h3 {
    font-size: 16px;
    color: #00adef;
    margin-top: 0
}

.section-list-footer {
    margin-bottom: 10px
}

.section-list-footer .section-title {
    font-size: 15px
}

.section-list-footer a {
    font-size: 11px;
    color: #737474
}

.payment-partner-list .row {
    margin: 0 -25px
}

.payment-partner-custom,
.payment-partner-img {
    padding: 0 5px
}

.payment-partner-custom img,
.payment-partner-img img {
    padding: 5px
}

.carousel-promo.owl-theme .owl-dots {
    position: absolute;
    top: -50px;
    right: 0
}

.carousel-promo.owl-theme .owl-dots .owl-dot span {
    margin: 5px;
    background-color: transparent;
    border: 1px solid #b7babb
}

.carousel-promo.owl-theme .owl-dots .owl-dot.active span {
    background-color: #b7babb
}

.carousel-promo.owl-theme .item img {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px
}

.reason-outer {
    float: left
}

.reason-img {
    padding: 0 5px 0 0
}

.reason-content {
    padding: 0 0 0 5px;
    margin-top: 20px
}

.reason-title {
    font-size: 14px;
    font-weight: 700;
    margin-top: 0
}

.hotel-group {
    display: -webkit-box;
    display: -moz-box;
    -moz-box-align: center;
    -webkit-box-align: center;
    -moz-box-pack: center;
    -webkit-box-pack: center
}

.hotel-img {
    display: block !important;
    padding: 0 5px;
    width: 20%
}

.hotel-partner-detail img {
    width: 50px
}

.hotel-partner-detail img,
.hotel-partner-name {
    display: inline-block
}

.hotel-partner-name {
    margin-left: 20px
}

.carousel-flash-sales .owl-stage-outer {
    margin-right: -20px
}

.carousel-flash-sales .item {
    background: #000;
    display: block;
    position: relative;
    height: 216px;
    width: 162px;
    overflow: hidden
}

.header{
    display: none;
}

.nav-thumbnails {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 15px;
    align-items: center;
    justify-content: space-between;
}

.nav-thumbnails li {
    flex: 0 0 23%;
}

@media(max-width: 480px){
    .header{
        display: block;
    }
    .navbar {
        display: none;
    }
    
    .section-search {
        display: none;
    }

    .nav-thumbnails {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 15px;
        align-items: center;
        justify-content: space-between;
    }
    
    .nav-thumbnails li {
        flex: 0 0 48%;
    }
    
    .nav-thumbnails .item-thumbnail {
        border-radius: 0;
    }
    
    .box-thumbnails .nav-thumbnails li .item-thumbnail a img {
        min-height: 250px;
        object-fit: cover;
    }
}

@media (max-width:360px) {
    .carousel-flash-sales .item {
        width: 136px
    }
}

.carousel-flash-sales .item .rate {
    background: rgba(0, 0, 0, .35);
    display: inline-block;
    padding: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    margin: 5px 0
}

.carousel-flash-sales .item,
.carousel-flash-sales .item:hover {
    color: #fff
}

.carousel-flash-sales .item-img {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    max-height: 100%;
    width: auto !important;
    -webkit-opacity: .75;
    -moz-opacity: .75;
    -ms-opacity: .75;
    -o-opacity: .75;
    opacity: .75
}

.carousel-flash-sales .item-default {
    left: 50%;
    transform: translate(-50%, 0)
}

.carousel-flash-sales .item-name {
    font-size: 13px;
    font-weight: 700;
    max-height: 40px;
    overflow: hidden;
    margin: 5px 0 0;
    line-height: 1.4em
}

.carousel-flash-sales .item-bottom,
.carousel-flash-sales .item-top {
    z-index: 5;
    right: 0;
    left: 0;
    padding: 10px;
    position: absolute
}

.carousel-flash-sales .item-top {
    background: rgba(0, 0, 0, .35);
    background: linear-gradient(rgba(0, 0, 0, .75), transparent);
    -o-background: linear-gradient(rgba(0, 0, 0, .75), transparent);
    -moz-background: linear-gradient(rgba(0, 0, 0, .75), transparent);
    -webkit-background: linear-gradient(rgba(0, 0, 0, .75), transparent)
}

.carousel-flash-sales .item-bottom {
    bottom: 0;
    text-align: right;
    background: rgba(0, 0, 0, .35);
    background: linear-gradient(transparent, rgba(0, 0, 0, .75));
    -o-background: linear-gradient(transparent, rgba(0, 0, 0, .75));
    -moz-background: linear-gradient(transparent, rgba(0, 0, 0, .75));
    -webkit-background: linear-gradient(transparent, rgba(0, 0, 0, .75))
}

.carousel-flash-sales .item-deal {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background: #e91e63;
    display: inline-block;
    padding: 3px 5px
}

.carousel-flash-sales .item .price {
    font-size: 20px;
    font-weight: 700
}

.carousel-flash-sales .item .price-old {
    font-size: 16px;
    margin: 5px 0;
    text-decoration: line-through
}

.carousel-flash-sales .item-view-all {
    background: #fff;
    color: #475053;
    text-align: center;
    padding-top: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .65);
    border-top: 1px solid #e7e8e9;
    border-bottom: 1px solid #e7e8e9
}

.carousel-flash-sales .item-view-all:active,
.carousel-flash-sales .item-view-all:focus,
.carousel-flash-sales .item-view-all:hover {
    color: #475053
}

.carousel-flash-sales .item-view-all .item-img {
    max-width: 100% !important;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto
}

.rate {
    font-size: 16px;
    color: #fff;
}

.rate.rate-active-1 .rate-1,
.rate.rate-active-2 .rate-1,
.rate.rate-active-2 .rate-2,
.rate.rate-active-3 .rate-1,
.rate.rate-active-3 .rate-2,
.rate.rate-active-3 .rate-3,
.rate.rate-active-4 .rate-1,
.rate.rate-active-4 .rate-2,
.rate.rate-active-4 .rate-3,
.rate.rate-active-4 .rate-4,
.rate.rate-active-5 .rate-1,
.rate.rate-active-5 .rate-2,
.rate.rate-active-5 .rate-3,
.rate.rate-active-5 .rate-4,
.rate.rate-active-5 .rate-5 {
    color: #ffbc59
}

.owl-carousel {
    touch-action: pan-y
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}