.header-desktop .navbar-nav {
    flex-direction: row;
    align-items: center;
}

.navbar-right .icon-block{
    padding: 3px;
}

.navbar-nav li a{
    padding: 9px !important;
}

.main-menu.navbar-nav .nav-link:hover{
    background-color: rgba(53,64,82,.08);
}

.btn-lotus-pink{
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.navbar-nav .dropdown-menu li a {
    display: block;
    padding: 10px !important;
}

.icon-block .dropdown-menu{
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}

.section-search .homeslider img {
    min-height: 380px;
    max-height: 380px;
    border-radius: 5px;
}

.homeslider .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #184072;
}

.owl-nav .owl-prev {
    width: 30px;
}

.owl-nav button i {
    font-size: 30px;
    color: #194172;
}

.owl-nav button:hover i {
    color: #fff;
}

.owl-nav button:hover {
    background-color: unset !important;
}

.form-horizontal label {
    text-align: right;
}

.room-guest-dropdown{
    width: 100%;
    z-index: 1038;
}

.bootstrap-touchspin-down {
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 14px;
}

.bootstrap-touchspin .input-group-btn:first-child,
.bootstrap-touchspin .input-group-btn:last-child{
    border-radius: 40px;
    border: 1px solid;
}

.bootstrap-touchspin-up {
    width: 20px;
    height: 20px;
    padding: 0;
}

.guest-dropdown-container {
    display: flex;
    align-items: center;
}

.footer .list-inline {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer .list-inline li {
    margin-right: 20px;
}

.why-hotcombo .why-hotcombo-content ul {
    display: flex;
    flex-direction: column;
}

.index-navbar .icon-nav {
    z-index: 1038;
}

.index-navbar .dropdown-profile li a {
    display: block;
    color: #000;
}

#searchfixed .room-guest-select, 
#searchfixed .room-guest-select-show{
    height: 45px;
}

.breadcrumb{
    align-items: center;
}

.breadcrumb-scroll{
    border-bottom: 1px solid #e7e8e9;
}

.tab-blue .nav-tabs li a {
    padding: 10px 15px;
    width: 100%;
    display: block;
}

.progress-list {
    flex-direction: column;
}

input, textarea, button {
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    resize: none;
}

input[type="radio"]{
    -webkit-appearance: radio;
}

input[type="checkbox"]{
    -webkit-appearance: checkbox;
}


#review_content >li {
    display: flex;
}

.suggest-hotel-item img.img-responsive {
    min-height: 190px;
    object-fit: cover;
}

.navbar-menu {
    display: none;
}

.product-item {
    border-bottom: 1px solid #ededed;
    margin-bottom: 20px;
}

.nav-flex {
    flex-direction: column;
}

.irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
    background-color: #0175ff !important;
}

.irs--round .irs-handle {
    border-color: #0175ff !important;
}

.irs--round .irs-bar {
    background-color: #0175ff !important;
}

.group-filter-mobile {
    display: none;
}

.contact_blk ul {
    flex-direction: column;
}

.contact_blk ul li {
    margin-bottom: 20px;
}

.booking .form-control {
    min-height: 35px;
}

.tab-content {
    padding: 20px;
    margin: 20px 0 0;
    position: relative;
    border: 1px solid #cbd3db;
    background-color: #fafbfd;
    border-radius: 4px;
}

.camnangtab .sub-menu-list {
    top: 25px;
    border-top: 0;
    overflow-y: scroll;
}

.box .box-title, .box .toggle-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.scroll-wrap-flex ul li {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.scroll-wrap-flex {
    max-height: 250px;
    overflow-y: scroll;
}

#dia-danh li {
    width: 100%;
    flex: 0 0 100%;
}

.panigation-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-categories {
    height: 42px;
    overflow-y: hidden;
    background-color: #f2fbfe;
    width: 100%;
}

.blog-categories .list-inline {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    height: 100%;
}

.blog-categories .list-inline li {
    padding: 5px 15px;
    height: 42px;
    display: flex;
    align-items: center;
}

.blog-categories .list-inline li.active {
    border-bottom: 3px solid #1a4273;
}

.blog-sub-nav {
    padding: 10px 15px;
    position: relative;
    background-color: #001f2f;
}
.blog-sub-nav-btn {
    color: #fff !important;
    font-weight: 600;
}

.blog-sub-nav-list form {
    padding: 10px 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: unset !important;
}

.btn-main.submit_search_location {
    font-size: 16px;
}

.accordion-item button {
    font-size: 14px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    color: #fff !important;
    text-decoration: none !important;
    padding: 0 !important;
}

.location-list {
    background-color: #014769;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.location-list li a {
    color: #fff;
}

.location-list li {
    flex-grow: 1;
    flex: 0 0 20%;
    padding: 5px 8px;
}

.accordion-item button:focus {
    box-shadow: none !important;
}

.custom-form-search-location{
    flex: 0 0 75%;
    margin: 0;
    display: inline-block;
}

.blog-sub-nav-list form .btn-main {
    flex: 0 0 20%;
    line-height: 1.45em;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -ms-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.js_arrow_icon {
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
}

.tab-content.box-search.box_js_arrow {
    background-color: #2080db !important;
    border: unset;
    min-height:290px;
}

.help-block {
    width: 100%;
}

.box .nav-thumbnails-list li {
    flex: 0 0 48%;
}

.item-thumbnail-content .star.star-xs {
    height: auto !important;
}

.box-tag .label {
    color: #ffff;
    border-radius: 5px !important;
    font-size: 13px;
    padding: 0 10px;
}

.suggest-hotel-slider.owl-carousel .owl-nav.disabled{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    left: 0;
    right: 0;
}

.device-mb-show {
    display: block !important;
    width: 100%;
}

.nav-arrow{
    position: relative;
}

.nav-arrow:before{
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    width: 10px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    z-index: 1000;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and ( max-width: 480px ) {
    .header-desktop{
        display: none;
    }

    .group-filter-mobile{
        display: flex;
    }

    .mylux-left-content {
        padding-right: 15px !important;
    }

    .navbar-menu {
        display: block;
    }

    .hotel-img-container {
        margin-top: 30px;
        height: auto;
    }
    
    .hotel-img-container .hotel-img-wrapper {
        grid-template-columns: 100%;
    }
    
    .hotel-img-container .hotel-img-wrapper .hotel-img-right {
        display: none;
    }

    #sorter {
        display: none;
    }

    .btn-group-justified {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .btn-group-justified .btn-group {
        text-align: center;
        padding: 10px;
    }

    .btn-group-justified .btn-group .btn {
        font-size: 16px;
    }
    
    .btn-group-justified {
        box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    }

    .dropdown-short li a {
        display: block;
        width: 100%;
        padding: 8px 10px;
        font-size: 15px;
        border-bottom: 1px solid #e7e8e9;
        margin-bottom: -1px;
    }
    
    .dropdown-short {
        min-width: 200px;
        left: -50px !important;
        padding: 0;
    }

    .panigation-center .pagination>li>a {
        padding: 5px 8px;
    }

    #sidebar-scroll-mobile {
        padding-bottom: 15px;
        z-index: 1038;
        height: 100%;
        background: #fff;
        width: 90vw;
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .listing-sidebar-top {
        position: relative;
        z-index: 100;
        height: 85px;
        width: 100%;
        background-color: #194172;
        box-shadow: 0 0 2px #bdc0c1;
        padding-top: 20px;
    }

    #sidebar-scroll-mobile .listing-sidebar-scroll {
        overflow: hidden;
        overflow-y: auto;
        width: 100%;
        background-color: #e7e8e9;
    }

    .listing-sidebar-top span.btn-close {
        position: absolute;
        top: 10px;
        left: 10px;
        color: #fff;
        font-size: 24px;
    }

    .listing-sidebar-top .box-title {
        font-weight: 700;
        color: #fff;
    }

    .btn-clear-filter {
        border-color: transparent;
        background-color: transparent;
        color: #fff;
        font-weight: 600;
    }
    
    .btn-filter-apply {
        background-color: #fff;
        border-radius: 0;
        color: #1a4171;
        padding: 5px 25px;
    }

    .tab-rate .d-flex {
        flex-direction: column;
    }
    
    .tab-rate .nav-tabs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .tab-rate .nav-tabs li {
        flex: 0 0 48%;
        border-bottom: 1px solid #19406f;
    }
    
    .tab-blue .nav-tabs a.active {
        border-radius: 0px !important;
    }

    #review_content >li {
        flex-direction: column;
    }
    
    #type_sort li {
        flex: 0 0 48%;
        margin-right: 0;
    }
    
    #type_sort {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .payment .info-pay-hotel-warning{
        width: auto;
    }

    .nav-guide-payment .nav-radio-list {
        justify-content: flex-start;
        padding: 0;
    }

    .payment .col-left {
        padding-right: 15px !important;
    }
    
    .payment .col-left .box+.box {
        margin-top: 10px;
    }
    
    .payment .box .title-sm {
        font-size: 14px;
        text-align: left;
    }
    
}
