﻿@{
    var Lists = ViewBag.List as IEnumerable<tbl_ProductImage>;
}

<table id="myTableRoomSlides" class="table table-striped jambo_table bulk_action table-bordered display-table">
    <thead>
        <tr class="table-header">
            <th class="column-title" style="display: table-cell;" width="40px">STT</th>
            <th class="column-title" style="display: table-cell;">Hình</th>
            <th class="column-title" style="display: table-cell;">Thứ tự</th>
            <th class="column-title no-link last" style="display: table-cell;">
                <span class="nobr"></span>
            </th>
        </tr>
    </thead>
    <tbody>
        @{ var STT = 1; }
        @foreach (var List in Lists)
        {
            <tr data-id="@List.Id" class="dg-hight clickable-row row-@List.Id" onclick="highlight_rowclick('row-@List.Id'); rowclick('row-@List.Id');">
                <td style="text-align: center;">
                    @STT
                </td>
                <td style="text-align: center;">
                    <img style="width:100px" src="~/FileUploads/Image/Hotels/@List.ImageUrl" />
                </td>
                <td style="text-align: center;">
                    @List.Order
                </td>
                <td class="last" style="text-align:center">
                    <a style="cursor:pointer" class="itemDelete" onclick="DeleteRoomImage('@List.Id')">Xóa</a>
                </td>
            </tr>

            STT++;
        }
    </tbody>
</table>

