﻿@model IEnumerable<HotelSurchargePolicyViewModel>

@{
    ViewBag.Title = "Danh sách phòng";
    var ordId = 1;
}

<table id="mytableSurcharge" class="table table-bordered table-striped">
    <thead>
        <tr style="background-color: #1b80c8; color: white; font-size: 11.5px">
            <th style="width:5%;">
                STT
            </th>
            <th>
                Điều kiện
            </th>
            <th>
                Giá phụ thu
            </th>
            <th width="15%" style="min-width:40px;"></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr id="row_@item.Id">
            <td class="text-center">
                @(ordId++)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td class="tt-wrapper text-center">
                <a href="javascript:DoEditSur('@item.Id')" class="text-success" data-original-title="Cập nhật" title="Cập nhật">
                    <span> Cập nhật </span>
                    <i class="fa fa-edit fa-lg"></i>
                </a>&nbsp;
                <span> | </span>
                <a href="javascript:DoDeleteSurcharge('@item.Id')" class="text-danger delete" data-original-title="Xóa" title="Xóa">
                    <span> Xoá </span>
                    <i class="fa fa-trash-o fa-lg"></i>
                </a>
            </td>
        </tr>

    }
</table>


