﻿
@model tbl_HotelNotice

@using (Html.BeginForm("HotelNoticesEdit", "Hotels", FormMethod.Post, new { id = "frmPopEditNotice" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.Id)
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="title-modal">Cập nhật lưu ý khách sạn</span>
    </div>
    <div class="modal-body form-horizontal">
        <div class="row">
            @Html.HiddenFor(m => m.HotelId, new { @id = "idHotelPopupEditNotice" })
            <div class="col-md-12 mg-top5">
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Nội dung
                    </label>
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control", @id = "inputTextChange" } })
                        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <div class="text-left">
            <button type="button" id="btnEditNotice" onclick="mySubmitEditNotice()" data-dismiss="modal" class="btn btn-success btn-sm"><i class="fa fa-save"></i>&nbsp;Lưu</button>
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Quay lại</button>
        </div>
    </div>
}




