﻿@model IEnumerable<HotelViewModel>

@{
    ViewBag.Title = "Danh sách Khách sạn";
    var ordId = 1;
}

<table id="mytable" class="table table-bordered table-striped">
    <thead>
        <tr style="background-color: #1b80c8; color: white; font-size: 11.5px">
            <th style="width:5%;">
                STT
            </th>
            <th width="20%">
                Tên khách sạn
            </th>
            <th width="18%">
                Địa chỉ
            </th>
            @*<th width="8%">
                Quốc gia
            </th>*@
            <th width="8%">
                Tỉnh thành
            </th>
            @*<th width="8%">
                Quận huyện
            </th>*@
            <th width="8%">
                Điện thoại
            </th>
            @*<th width="8%">
                    Email
                </th>
                <th width="8%">
                    Url
                </th>*@
            <th width="15%" style="min-width:40px;"></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr id="row_@item.Id">
            <td class="text-center">
                @(ordId++)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ProvinceName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.DistrictName)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>*@
        <td class="tt-wrapper text-center">
            <a href="@Url.Action("Create","RoomAvailable", new {  id=item.Id  })" class="text-success" data-original-title="Giá phòng">
                <span> Giá phòng </span>
                <i class="fa fa-list fa-lg"></i>
            </a>
            <span> | </span>
            <a href="@Url.Action("Edit", new {  id=item.Id  })" class="text-success" data-original-title="Cập nhật" title="Cập nhật">
                <span> Cập nhật </span>
                <i class="fa fa-edit fa-lg"></i>
            </a>
            <span> | </span>
            @*<text>&nbsp;&nbsp;</text>*@
            <a href="@Url.Action("DeleteHotel", new {  id=item.Id  })" class="text-success" data-original-title="Xóa" title="Xóa">
                <span> Xoá </span>
                <i class="fa fa-trash-o fa-lg"></i>
            </a>
            <span> | </span>
            <a href="@Url.Action("Copy", new {  hotelID=item.Id  })" class="text-success" data-original-title="Copy" title="Copy">
                <span> Copy </span>
                <i class="fa fa-copy fa-lg"></i>
            </a>
            <p><a style="cursor:pointer" class="itemEdit" onclick="Slide('@item.Id')"><i class="fa fa-plus"></i> Quản lý ảnh</a></p>
        </td>
        </tr>

    }
</table>


