﻿@model IEnumerable<HotelNoticeViewModel>

@{
    ViewBag.Title = "Danh lưu ý khách sạn";
    var ordId = 1;
}

<table id="mytableHotelNotice" class="table table-bordered table-striped">
    <thead>
        <tr style="background-color: #1b80c8; color: white; font-size: 11.5px">
            <th style="width:40px;min-width:40px">
                STT
            </th>
            <th>
                Nội dung
            </th>
            <th style="width:70px;min-width:70px">
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr id="row_@item.Id">
            <td class="text-center">
                @(ordId++)
            </td>
            <td class="text-left">
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td class="tt-wrapper text-center">
                <a href="javascript:DoEditNotice('@item.Id')" class="text-success" data-original-title="Cập nhật" title="Cập nhật">
                    <span> Cập nhật </span>
                    <i class="fa fa-edit fa-lg"></i>
                </a>&nbsp;
                <span> | </span>
                <a href="javascript:DoDeleteNotice('@item.Id')" class="text-danger delete" data-original-title="Xóa" title="Xóa">
                    <span> Xoá </span>
                    <i class="fa fa-trash-o fa-lg"></i>
                </a>
            </td>
        </tr>

    }
</table>


