﻿@model IEnumerable<RoomViewModel>

@{
    ViewBag.Title = "Danh sách phòng";
    var ordId = 1;
}

<table id="mytable" class="table table-bordered table-striped">
    <thead>
        <tr style="background-color: #1b80c8; color: white; font-size: 11.5px">
            <th style="width:5%;">
                STT
            </th>
            @*<th width="130px">
                Hình ảnh
            </th>*@
            <th width="18%">
                Tên phòng
            </th>
            <th width="8%">
                Số lượng phòng
            </th>
            <th width="8%">
                Diện tích
            </th>
            @*<th width="8%">
                Hướng phòng
            </th>*@
            <th width="8%">
                Số giường đơn
            </th>
            <th width="8%">
                Số giường đôi
            </th>
            <th width="8%">
                Số người tối đa
            </th>
            <th width="5%" style="min-width:40px;"></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr id="row_@item.Id">
            <td class="text-center">
                @(ordId++)
            </td>
            @*<td>
                @if (!String.IsNullOrEmpty(item.Image))
                {
                    <img src="~/FileUploads/Image/@item.Image" height="150" width="150" />
                }
                else
                {
                    <img src="~/FileUploads/Image/default-image.jpg" height="150" width="150" />
                }
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomArea)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.DirectionName)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.SingleBed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoubleBed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPeople)
            </td>
            <td class="tt-wrapper text-center">
                <a href="@Url.Action("RoomsEdit", new {  id=item.Id  })" class="text-success" data-original-title="Cập nhật" title="Cập nhật">
                    <span> Cập nhật </span>
                    <i class="fa fa-edit fa-lg"></i>
                </a>
                <span> | </span>
                @Html.ActionLink("Xóa", "DeleteRoom", new { id = item.Id }, new { @onclick = "return confirm('Bạn có muốn xóa tin này?');", @class = "text-success" })
                <span> | </span>
                <p><a style="cursor:pointer" class="itemEdit" onclick="SlideRoom('@item.Id', '@item.HotelId')"><i class="fa fa-plus"></i> Quản lý ảnh</a></p>
            </td>
        </tr>

    }
</table>

