﻿
@model tbl_HotelSurchargePolicy

@using (Html.BeginForm("SurchargePolicysEdit", "Hotels", FormMethod.Post, new { id = "frmPopEditPolicy" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.Id)
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="title-modal">Cập nhật phụ thu</span>
    </div>
    <div class="modal-body form-horizontal">
        <div class="row">
            @Html.HiddenFor(m => m.HotelId)
            @*<div class="col-md-12 mg-top5">
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Khách sạn
                    </label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.HotelId, null, null, new { @class = "form-control chosen-select input-sm", @id = "editProvinceId" })
                        @Html.ValidationMessageFor(model => model.HotelId)
                    </div>
                </div>
            </div>*@
            <div class="col-md-12 mg-top5">
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Điệu kiện
                    </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Condition, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.Condition)
                    </div>
                </div>
            </div>
            <div class="col-md-12 mg-top5">
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Giá phụ phí
                    </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Amount, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.Amount)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-left">
            <button type="button" onclick="mySubmitEditPolicy()" class="btn btn-success btn-sm"><i class="fa fa-save"></i>&nbsp;Lưu</button>
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Quay lại</button>
        </div>
    </div>
}


