﻿@model HotelViewModel
@{
    ViewBag.Title = "Thêm khách sạn";
    string urlImg = ViewBag.UrlImage;
}

<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
    }

    #infowindow-content .title {
        font-weight: bold;
    }

    #infowindow-content {
        display: none;
    }

    #map #infowindow-content {
        display: inline;
    }

    .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
    }

    #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
    }

    .pac-controls {
        display: inline-block;
        padding: 5px 11px;
    }

        .pac-controls label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }

    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
    }

        #pac-input:focus {
            border-color: #4d90fe;
        }

    #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 0px 6px 12px;
    }

    #target {
        width: 345px;
    }
</style>

<!-- cập nhật phòng -->
<div>
    @using (Html.BeginForm("Create", "Hotels", FormMethod.Post, new { id = "form-submittour", enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        <div class="row tour">
            <div class="col-md-12 col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border" data-widget="collapse">
                        <h3 class="box-title">Thông tin cơ bản</h3>
                    </div>
                    <div class="box-body" style="display: block;height:auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Tên khách sạn</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.HotelName, new { @class = "form-control input-sm" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Địa chỉ</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control input-sm" })

                                    </div>
                                    <a href="javascript:initGoogleMap()" class="text-success" data-original-title="Bản đồ" title="Bản đồ">
                                        <i class="fas fa-map-marked-alt"></i>
                                    </a>&nbsp;
                                    @*<div class="col-md-1" style="padding-left: 0px;" onclick="initGoogleMap();">
                        <button id="btnMap" style="height: 30px; width: 40px;">
                            <i class="fas fa-map-marked-alt"></i>
                        </button>
                    </div>*@
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Loại</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.HotelTypeId, (SelectList)ViewBag.HotelType, "-- Chọn --", new { @class = "form-control input-sm", @id = "ddlHotelType" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @*<label class="col-md-4">@Language.TenTour</label>*@
                                    <label class="col-md-4">Quốc gia</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.CountryId, (SelectList)ViewBag.Country, "-- Chọn --", new { @class = "form-control input-sm", @id = "ddlContry", @onchange = "GetProvince(this, 'ddlProvince');" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @*<label class="col-md-4">@Language.TenTour</label>*@
                                    <label class="col-md-4">Tỉnh thành</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.ProvinceId, null, "-- Chọn --", new { @class = "form-control input-sm", @id = "ddlProvince", @onchange = "GetDistrict(this, 'ddlDistrict');" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @*<label class="col-md-4">@Language.TenTour</label>*@
                                    <label class="col-md-4">Quận huyện</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.DistrictId, null, "-- Chọn --", new { @class = "form-control input-sm", @id = "ddlDistrict" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @*<label class="col-md-4">@Language.TenTour</label>*@
                                    <label class="col-md-2" style="width: 11%;">Khu vực du lịch</label>
                                    <div class="col-md-10" style="width: 89%;">
                                        <select name="sllAreaTypeID" id="sllAreaTypeID" class="form-control chosen-select" multiple="multiple">
                                            @foreach (var selectList in (List<SelectListItem>)ViewBag.ddlAreaType)
                                            {
                                                <option value="@selectList.Value" @(selectList.Selected ? "selected" : "")>
                                                    @selectList.Text
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2" style="width: 11%;">Tiện ích</label>
                                    <div class="col-md-10" style="width: 89%;">
                                        <select name="sllConvenientTypeID" id="sllConvenientTypeID" class="form-control chosen-select" multiple="multiple">
                                            @foreach (var selectList in (List<SelectListItem>)ViewBag.ddlConvenientType)
                                            {
                                                <option value="@selectList.Value" @(selectList.Selected ? "selected" : "")>
                                                    @selectList.Text
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @*<div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4">Địa chỉ</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control input-sm" })
                        <br />
                        <font color="red">*</font>
                    </div>
                </div>
            </div>*@
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Số điện thoại</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Telephone, new { @class = "form-control input-sm" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Di động</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control input-sm" })

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Email</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-sm" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Url</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Url, new { @class = "form-control input-sm" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Hạng sao</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.HotelRatingTypeId, (SelectList)ViewBag.HotelRatingType, "-- Chọn --", new { @class = "form-control input-sm", @id = "ddlHotelRatingType" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 10px;">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-2" style="width: 11%;">
                                        Nội dung
                                    </label>
                                    <div class="col-md-10" style="width: 89%;">
                                        @Html.HtmlEditor("Content", Model.Content)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-2" style="width: 11%;">Hình đại diện  (240px X 230px)</label>
                                    <div class="col-md-4">
                                        
                                        <input type="file" id="files" name="files" multiple="multiple" style="float: left; height: auto;" class="form-control" />
                                    </div>
                                    <div class="col-md-4">@if (!String.IsNullOrEmpty(Model.Image))
                                    {
                                        <img src="~/FileUploads/Image/@Model.Image" height="150" width="150" />
                                    }
                                    else
                                    {
                                        <img src="~/FileUploads/Image/default-image.jpg" height="150" width="150" />
                                    }</div>
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Hoạt động</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.IsActive, (SelectList)ViewBag.ddlStatus, "--Chọn--", new { @class = "form-control d-inline-block", @id = "ddlTrangThai" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Huỷ sau khi booking (Giờ)</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.CancelTime, new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 dropup f-left bar-footer">
                <button type="submit" class="btn btn-success btn-sm" id="btnSubmitTour"><i class="fa fa-save"></i>&nbsp;Lưu</button>&nbsp;
                <a class="btn btn-danger btn-sm" href='@Url.Action("Index","Hotels")'><i class="fa fa-reply"></i>&nbsp;Quay lại</a>
            </div>
        </div>
    }
    <div style="clear:both"></div>
</div>

<div id="myModal" class="modal" style="width: 70%; height: 60%; margin: auto;">
    <!-- Modal content -->
    <div class="modal-content" style="width: 100%; height: 100%">
        <div id="title">
            <span>BẢN ĐỒ</span>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -2px">
                <span id="resetMap" style="color: black; padding-right: 10px; padding-left: 10px; background-color: red;" aria-hidden="true">&times;</span>
            </button>
        </div>
        <div>
            <input id="pac-input" type="text" style="margin-top: 5px;margin-left: 5px; max-width: 50%;" placeholder="Nhập địa chỉ" />
            <input id="pac-direct" style="margin-top: 7px; margin-left:2px;" type="button" value="Chỉ đường" />
        </div>
        <div id="dvMap" class="corona" style="width: 100%; height: 100%; margin-top: 10px;">
        </div>
    </div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0DQqfjDcwdoUwN_CHhVu0rtPbC3M3bqo&libraries=places&v=weekly&language=vi&region=VN"></script>

@section scripts
{
    <script>
        var modal = document.getElementById("myModal");
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        function initGoogleMap() {
            var mapOptions = {
                center: new google.maps.LatLng(10.781620551367318, 106.69561829769506),
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                gestureHandling: "greedy",
            };
            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
            modal.style.display = "block";
        }
        function GetProvince(parent, child) {
            var countryid = $(parent).val();

            $.ajax({
                type: "GET",
                url: '@Url.Action("_GetProvince")',
                data: { "countryid": countryid },
                beforeSend: function () {
                    $('#preloader-wrapper').toggleClass('hide');
                },
                success: function (result) {
                    if (result != '') {
                        $('#' + child).empty();
                        $.each(result, function (i, state) {
                            $('#' + child).append($('<option/>', { value: this.Value }).html(this.Text));
                        });
                        $('#' + child).trigger("chosen:updated");
                        $('#preloader-wrapper').toggleClass('hide');
                    } else {
                        ShowNotify('Có lỗi xảy ra, vui lòng kiểm tra lại dữ liệu.', 'danger', 'top');
                        $('#preloader-wrapper').toggleClass('hide');
                    }
                }
            });
        }

         function GetDistrict(parent, child) {
            var provinceId = $(parent).val();

            $.ajax({
                type: "GET",
                url: '@Url.Action("_GetDistrict")',
                data: { "provinceId": provinceId },
                beforeSend: function () {
                    $('#preloader-wrapper').toggleClass('hide');
                },
                success: function (result) {
                    if (result != '') {
                        $('#' + child).empty();
                        $.each(result, function (i, state) {
                            $('#' + child).append($('<option/>', { value: this.Value }).html(this.Text));
                        });
                        $('#' + child).trigger("chosen:updated");
                        $('#preloader-wrapper').toggleClass('hide');
                    } else {
                        ShowNotify('Có lỗi xảy ra, vui lòng kiểm tra lại dữ liệu.', 'danger', 'top');
                        $('#preloader-wrapper').toggleClass('hide');
                    }
                }
            });
        }
    </script>
}