﻿@model HotelViewModel
@{
    ViewBag.Title = "Cập nhật khách sạn";
}

<style type="text/css">
    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
    }

        #pac-input:focus {
            border-color: #4d90fe;
        }
</style>

<!-- cập nhật tour -->
<div>
    @using (Html.BeginForm("Edit", "Hotels", FormMethod.Post, new { id = "form-submittour", enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Id, new { @id = "IdHotelVal" })
        @Html.HiddenFor(m => m.Image)
        <input type="hidden" id="hdLat" value="@Model.Latitude" />
        <input type="hidden" id="hdLng" value="@Model.Longitude" />
        <div class="row tour">
            <div class="col-md-12 col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border" data-widget="collapse">
                        <h3 class="box-title">Thông tin cơ bản</h3>
                    </div>
                    <div class="box-body" style="display: block;height:auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Tên khách sạn</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.HotelName, new { @class = "form-control input-sm" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Địa chỉ</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control input-sm" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Loại</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.HotelTypeId, (SelectList)ViewBag.HotelType, "-- Chọn --", new { @class = "form-control input-sm", @id = "ddlHotelType" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @*<label class="col-md-4">@Language.TenTour</label>*@
                                    <label class="col-md-4">Quốc gia</label>
                                    <div class="col-md-8">
                                        @*@Html.DropDownListFor(m => m.CountryId, (SelectList)ViewBag.Country, "-- Chọn --", new { @class = "form-control input-sm", @id = "ddlContry" })*@

                                        @Html.DropDownListFor(m => m.CountryId, null, null, new { @class = "form-control chosen-select input-sm", @id = "ddlCountryId", @onchange = "GetProvince(this, 'ddlProvince');" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @*<label class="col-md-4">@Language.TenTour</label>*@
                                    <label class="col-md-4">Tỉnh thành</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.ProvinceId, (SelectList)ViewBag.Province, "-- Chọn --", new { @class = "form-control input-sm", @id = "ddlProvince", @onchange = "GetDistrict(this, 'ddlDistrictId');" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @*<label class="col-md-4">@Language.TenTour</label>*@
                                    <label class="col-md-4">Quận huyện</label>
                                    <div class="col-md-8">
                                        @*@Html.DropDownListFor(m => m.CountryId, (SelectList)ViewBag.District, "-- Chọn --", new { @class = "form-control input-sm", @id = "ddlDistrict" })*@

                                        @Html.DropDownListFor(m => m.DistrictId, null, null, new { @class = "form-control chosen-select input-sm", @id = "ddlDistrictId" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @*<label class="col-md-4">@Language.TenTour</label>*@
                                    <label class="col-md-2" style="width: 11%;">Khu vực du lịch</label>
                                    <div class="col-md-10" style="width: 89%;">
                                        <select name="sllAreaTypeID" id="sllAreaTypeID" class="form-control chosen-select" multiple="multiple">
                                            @foreach (var selectList in (List<SelectListItem>)ViewBag.ddlAreaType)
                                            {
                                                <option value="@selectList.Value" @(selectList.Selected ? "selected" : "")>
                                                    @selectList.Text
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2" style="width: 11%;">Tiện ích</label>
                                    <div class="col-md-10" style="width: 89%;">
                                        <select name="sllConvenientTypeID" id="sllConvenientTypeID" class="form-control chosen-select" multiple="multiple">
                                            @foreach (var selectList in (List<SelectListItem>)ViewBag.ddlConvenientType)
                                            {
                                                <option value="@selectList.Value" @(selectList.Selected ? "selected" : "")>
                                                    @selectList.Text
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Số điện thoại</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Telephone, new { @class = "form-control input-sm" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Di động</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control input-sm" })

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Email</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-sm" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Url</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Url, new { @class = "form-control input-sm" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Hạng sao</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.HotelRatingTypeId, (SelectList)ViewBag.HotelRatingType, "-- Chọn --", new { @class = "form-control input-sm", @id = "ddlHotelRatingType" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px; display:none;">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-2" style="width: 11%;">
                                        Bản đồ
                                    </label>
                                    <div class="col-md-10" style="width: 89%;">
                                        <!--Input Control-->
                                        <div class="pac-card" id="pac-card">
                                            <div>
                                                <div id="title">Autocomplete search</div>
                                                <div id="type-selector" class="pac-controls">
                                                    <input type="radio"
                                                           name="type"
                                                           id="changetype-all"
                                                           checked="checked" />
                                                    <label for="changetype-all">All</label>

                                                    <input type="radio" name="type" id="changetype-establishment" />
                                                    <label for="changetype-establishment">Establishments</label>

                                                    <input type="radio" name="type" id="changetype-address" />
                                                    <label for="changetype-address">Addresses</label>

                                                    <input type="radio" name="type" id="changetype-geocode" />
                                                    <label for="changetype-geocode">Geocodes</label>
                                                </div>
                                                <br />
                                                <div id="strict-bounds-selector" class="pac-controls">
                                                    <input type="checkbox" id="use-location-bias" value="" checked />
                                                    <label for="use-location-bias">Bias to map viewport</label>

                                                    <input type="checkbox" id="use-strict-bounds" value="" />
                                                    <label for="use-strict-bounds">Strict bounds</label>
                                                </div>
                                            </div>
                                            <div id="pac-container">
                                                <input id="pac-input" type="text" placeholder="Enter a location" />
                                            </div>
                                        </div>
                                        <div id="dvMap" style="width: 100%; height: 500px"></div>
                                        <div id="infowindow-content">
                                            <span id="place-name" class="title"></span><br />
                                            <span id="place-address"></span>
                                        </div>
                                            <!--./Input Control-->
                                        </div>
                                    </div>
                            </div>
                           
                        </div>
                        <div class="row" style="padding-top: 10px;">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-2" style="width: 11%;">
                                        Nội dung
                                    </label>
                                    <div class="col-md-10" style="width: 89%;">
                                        @Html.HtmlEditor("Content", Model.Content)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-2" style="width: 11%;">Hình đại diện</label>
                                    <div class="col-md-4">
                                        @if (!String.IsNullOrEmpty(Model.Image))
                                        {
                                            <img src="~/FileUploads/Image/@Model.Image" height="150" width="150" />
                                        }
                                        else
                                        {
                                            <img src="~/FileUploads/Image/default-image.jpg" height="150" width="150" />
                                        }
                                        <input type="file" id="files" name="files" multiple="multiple" style="float: left; height: auto;" class="form-control" />
                                    </div>

                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                                <div id="imageList" style="margin:5px;">

                                </div>
                                <div class="clear"></div>
                                <input type="file" id="fileImages" name="fileImages" multiple="multiple" style="float: left; height: auto;" class="form-control" />
                                <input type="hidden" id="khachSanId" value="0" />
                            </div>*@
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Hoạt động</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.IsActive, (SelectList)ViewBag.ddlStatus, "--Chọn--", new { @class = "form-control d-inline-block", @id = "ddlTrangThai" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Huỷ sau khi booking (Giờ)</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.CancelTime, new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Danh sách lưu ý</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <ul id="tabs" class="nav nav-tabs">
                                    <li class="active"><a href="#tab1" data-toggle="tab">Danh sách</a></li>
                                    <li><a href="#tab2" data-toggle="tab"><i class="fa fa-plus"></i>&nbsp;Thêm mới</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade active in" id="tab1">
                                        <div class="nContent" id="idHotelMoticeList">
                                            <img src="~/Content/images/loading.gif" alt="loading" style="text-align:center;display:table;margin:0 auto;height: 100px;" />
                                            @*@Html.Partial("_HotelNoticeList", Model.HotelNotices)*@
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab2">
                                        <div class="form-horizontal col-sm-12 col-md-6 clear" style="padding-top: 20px;">
                                            @Html.HiddenFor(m => m.Id, new { @id = "idHotelSaveNote" })
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">
                                                    Nội dung
                                                </label>
                                                <div class="col-sm-9">
                                                    @Html.EditorFor(model => model.ContentNotice, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.ContentNotice, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                            <div class="col-sm-offset-3 col-sm-9" style="padding-left:5px">
                                                <button type="button" id="btnSubmitNote" onclick="mySaveNotice()" class="btn btn-success btn-sm"><i class="fa fa-save"></i>&nbsp;Lưu</button>
                                            </div>
                                            @*}*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Danh sách phụ thu</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <ul id="tabs" class="nav nav-tabs">
                                    <li class="active"><a href="#tab3" data-toggle="tab">Danh sách</a></li>
                                    <li><a href="#tab4" data-toggle="tab"><i class="fa fa-plus"></i>&nbsp;Thêm mới</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade active in" id="tab3">
                                        @*<div class="nContent">
                                                @Html.Partial("_HotelSurchargePolicyList", Model.HotelSurchargePolicys)
                                            </div>*@
                                        <div class="nContent" id="idHotelPolicyList">
                                            <img src="~/Content/images/loading.gif" alt="loading" style="text-align:center;display:table;margin:0 auto;height: 100px;" />
                                            @*@Html.Partial("_HotelNoticeList", Model.HotelNotices)*@
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab4">
                                        <div class="form-horizontal col-sm-12 col-md-6 clear" style="padding-top: 20px;">
                                            @Html.HiddenFor(m => m.Id, new { @id = "idHotelSaveNote" })
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">
                                                    Điều kiện
                                                </label>
                                                <div class="col-sm-9">
                                                    @Html.TextBoxFor(model => model.ConditionSurcharge, new { @class = "form-control input-sm" })
                                                    @Html.ValidationMessageFor(model => model.ConditionSurcharge)
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">
                                                    Giá phụ thu
                                                </label>
                                                <div class="col-sm-9">
                                                    @Html.TextBoxFor(model => model.AmountSurcharge, new { @class = "form-control input-sm" })
                                                    @Html.ValidationMessageFor(model => model.AmountSurcharge)
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                            <div class="col-sm-offset-3 col-sm-9" style="padding-left:5px">
                                                <button type="button" onclick="mySaveSur()" class="btn btn-success btn-sm"><i class="fa fa-save"></i>&nbsp;Lưu</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Danh sách phòng</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="nContent">
                                    <a href="@Url.Action("RoomsCreate", new {  hotelId=Model.Id  })" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>&nbsp;Thêm mới</a>
                                    @Html.Partial("_RoomList", Model.Rooms)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 dropup f-left bar-footer">
                <button type="submit" class="btn btn-success btn-sm" id="btnSubmitTour"><i class="fa fa-save"></i>&nbsp;Lưu</button>&nbsp;
                <a class="btn btn-danger btn-sm" href="@Url.Action("Index","Hotels")"><i class="fa fa-reply"></i>&nbsp;Quay lại</a>
            </div>
        </div>
    }
    <div style="clear:both"></div>
</div>

<!-- Modal -->
<div id="myModalSlide" class="modal fade" role="dialog">
    <div class="modal-dialog">
        Modal content
        <div style="min-width: 800px; background-color: #fff;">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frmRoomSlide", id = "frmRoomSlide", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="modal-title" style="font-size: 17px;text-transform:uppercase;color:#3c8dbc"><strong id="myModalTitleSlide"></strong></div>
                </div>
                <div class="modal-body">
                    <div id="myModalContentSlide">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-right">
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJ5uURsXQ_7eYWOOo4ZYGk3bLzxraGhVo&callback=initMap&libraries=&v=weekly&language=vi&region=VN"
            async></script>
    <script>
        //1. Lấy vị trí tỉnh thành hiện tại
        function initMap() {
            var latCombo = document.getElementById("hdLat").value;
            var lngCombo = document.getElementById("hdLng").value;
            const myLatLng = { lat: parseFloat(latCombo), lng: parseFloat(lngCombo) };
            const map = new google.maps.Map(document.getElementById("dvMap"), {
                zoom: 15,
                center: myLatLng,
            });
            new google.maps.Marker({
                position: myLatLng,
                map,
            });

            const card = document.getElementById("pac-card");
            const input = document.getElementById("pac-input");
            const biasInputElement = document.getElementById("use-location-bias");
            const strictBoundsInputElement = document.getElementById("use-strict-bounds");
            const options = {
                fields: ["formatted_address", "geometry", "name"],
                strictBounds: false,
                types: ["establishment"],
            };
            map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);
            const autocomplete = new google.maps.places.Autocomplete(input, options);
            // Bind the map's bounds (viewport) property to the autocomplete object,
            // so that the autocomplete requests use the current map bounds for the
            // bounds option in the request.
            autocomplete.bindTo("bounds", map);
            const infowindow = new google.maps.InfoWindow();
            const infowindowContent = document.getElementById("infowindow-content");
            infowindow.setContent(infowindowContent);
            const marker = new google.maps.Marker({
                map,
                anchorPoint: new google.maps.Point(0, -29),
            });
            autocomplete.addListener("place_changed", () => {
                infowindow.close();
                marker.setVisible(false);
                const place = autocomplete.getPlace();

                if (!place.geometry || !place.geometry.location) {
                    // User entered the name of a Place that was not suggested and
                    // pressed the Enter key, or the Place Details request failed.
                    window.alert("No details available for input: '" + place.name + "'");
                    return;
                }

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17);
                }
                marker.setPosition(place.geometry.location);
                marker.setVisible(true);
                infowindowContent.children["place-name"].textContent = place.name;
                infowindowContent.children["place-address"].textContent =
                    place.formatted_address;
                infowindow.open(map, marker);
            });

            // Sets a listener on a radio button to change the filter type on Places
            // Autocomplete.
            function setupClickListener(id, types) {
                const radioButton = document.getElementById(id);
                radioButton.addEventListener("click", () => {
                    autocomplete.setTypes(types);
                    input.value = "";
                });
            }
            setupClickListener("changetype-all", []);
            setupClickListener("changetype-address", ["address"]);
            setupClickListener("changetype-establishment", ["establishment"]);
            setupClickListener("changetype-geocode", ["geocode"]);
            biasInputElement.addEventListener("change", () => {
                if (biasInputElement.checked) {
                    autocomplete.bindTo("bounds", map);
                } else {
                    // User wants to turn off location bias, so three things need to happen:
                    // 1. Unbind from map
                    // 2. Reset the bounds to whole world
                    // 3. Uncheck the strict bounds checkbox UI (which also disables strict bounds)
                    autocomplete.unbind("bounds");
                    autocomplete.setBounds({ east: 180, west: -180, north: 90, south: -90 });
                    strictBoundsInputElement.checked = biasInputElement.checked;
                }
                input.value = "";
            });
            strictBoundsInputElement.addEventListener("change", () => {
                autocomplete.setOptions({
                    strictBounds: strictBoundsInputElement.checked,
                });

                if (strictBoundsInputElement.checked) {
                    biasInputElement.checked = strictBoundsInputElement.checked;
                    autocomplete.bindTo("bounds", map);
                }
                input.value = "";
            });

        }


        $(function () {
            EditHotelModule.init();
        });

        var EditHotelModule = (function () {
            var danhSachRoomlUrl = "/Admin/Hotels/GetRoomsListInEditHotel";
            var danhSachHoteNoticeUrl = "/Admin/Hotels/GetHotelNoticesListInEditHotel";
            var danhSachHoteSurchargePolicyUrl = "/Admin/Hotels/GetHotelSurchargePolicysListInEditHotel";

            function init() {
                initRoomTable();
                initHoteNoticeTable();
                initHoteSurchargePolicyTable();
                initLoadHotelNoticeTable();
                initLoadHotelPolicyTable();
            }

            function initRoomTable() {
                var hotelId = $('#Id').val();

                $.ajax({
                    type: "GET",
                    url: danhSachRoomlUrl,
                    data: {
                        HotelId: hotelId
                    },
                    success: function (response) {
                        $('#mytable').html(response);
                            $("#mytable").DataTable({
                            "paging": true,
                            "lengthChange": false,
                            "ordering": true,
                            "info": true,
                                "autoWidth": false,
                            destroy: true,
                            "aoColumnDefs": [
                                { 'bSortable': false, 'aTargets': [1] }
                            ]
                        });
                    }
                });
            }

            function initHoteNoticeTable() {
                var hotelId = $('#Id').val();

                $.ajax({
                    type: "GET",
                    url: danhSachHoteNoticeUrl,
                    data: {
                        HotelId: hotelId
                    },
                    success: function (response) {
                        $('#mytableHotelNotice').html(response);
                        $("#mytableHotelNotice").DataTable({
                            "paging": true,
                            "lengthChange": false,
                            "ordering": true,
                            "info": true,
                            "autoWidth": false,
                            destroy: true,
                            "aoColumnDefs": [
                                { 'bSortable': false, 'aTargets': [1] }
                            ]
                        });
                    }
                });
            }

            function initHoteSurchargePolicyTable() {
                var hotelId = $('#Id').val();

                $.ajax({
                    type: "GET",
                    url: danhSachHoteSurchargePolicyUrl,
                    data: {
                        HotelId: hotelId
                    },
                    success: function (response) {
                        $('#mytableSurcharge').html(response);
                        $("#mytableSurcharge").DataTable({
                            "paging": true,
                            "lengthChange": false,
                            "ordering": true,
                            "info": true,
                            "autoWidth": false,
                            destroy: true,
                            "aoColumnDefs": [
                                { 'bSortable': false, 'aTargets': [1] }
                            ]
                        });
                    }
                });
            }

            return {
                init: init,
                reloadRoomTable: initRoomTable,
                reloadHoteNoticeTable: initHoteNoticeTable,
                reloadHoteSurchargePolicyTable: initHoteSurchargePolicyTable
            };
        })();

        $(document).ready(function () {
            console.log("ready!");
        });

        var $modalSlide = $('#myModalSlide');
        var $myModalContentSlide = $("#myModalContentSlide");
        var $myModalTitleSlide = $("#myModalTitleSlide");

        function SlideRoom(Id, HotelId) {
            $myModalContentSlide.html("");
            $myModalTitleSlide.html("Thêm hình ảnh");
            $.ajax({
                url: '@Url.Action("_AddRoomImages")',
                timeout: 20000,
                data: {
                    Id: Id,
                    HotelId: HotelId
                },
                beforeSend: function (xhr) {
                    $(".divLoading").addClass("loading");
                },
                success: function (result) {
                    $myModalContentSlide.html(result);
                    $modalSlide.modal({ backdrop: 'static', keyboard: false });
                    $(".divLoading").removeClass("loading");
                },
                error: function (message) {
                    $(".divLoading").removeClass("loading");
                }
            });
        }

        function initLoadHotelNoticeTable() {
            var hotelId = $('#Id').val();
            $('.nav-tabs a[href="#tab1"]').tab('show');
            $.ajax({
                url: '@Url.Action("GetHotelNoticesListInEditHotel", "Hotels")',
                data: {"HotelId" :  hotelId},
                success: function (result) {
                    $('#idHotelMoticeList').html(result);
                    $('#idHotelMoticeList').trigger("change");
                    $("#mytableHotelNotice").DataTable({
                        "paging": true,
                        "lengthChange": false,
                        "ordering": true,
                        "info": true,
                        "autoWidth": false,
                        destroy: true,
                        "aoColumnDefs": [
                            { 'bSortable': false, 'aTargets': [1] }
                        ]
                    });
                },
                error: function (e) {
                    $('#idHotelMoticeList').html(e.responseText);
                }
            });
        }

        function initLoadHotelPolicyTable() {
            var hotelId = $('#Id').val();
            $('.nav-tabs a[href="#tab3"]').tab('show');
            $.ajax({
                url: '@Url.Action("GetHotelSurchargePolicysListInEditHotel", "Hotels")',
                data: {"HotelId" :  hotelId},
                success: function (result) {
                    $('#idHotelPolicyList').html(result);
                    $('#idHotelPolicyList').trigger("change");
                    $("#mytableSurcharge").DataTable({
                        "paging": true,
                        "lengthChange": false,
                        "ordering": true,
                        "info": true,
                        "autoWidth": false,
                        destroy: true,
                        "aoColumnDefs": [
                            { 'bSortable': false, 'aTargets': [1] }
                        ]
                    });
                },
                error: function (e) {
                    $('#idHotelPolicyList').html(e.responseText);
                }
            });
        }

        function mySaveNotice() {
            var idHotel = $('#IdHotelVal').val;
            var id = $('#idHotelSaveNote').val();
            var content = $('#ContentNotice').val();

            $.ajax({
                type: "POST",
                url: '@Url.Action("HotelNoticesCreate")',
                data: {
                    Id: id,
                    ContentNotice: content
                },
                beforeSend: function () {
                    $('#preloader-wrapper').toggleClass('hide');
                },
                success: function (result) {

                    $('#preloader-wrapper').toggleClass('hide');
                    $('.modal-content').toggleClass('hide');
                    $('#myModal').modal('hide');
                    initLoadHotelNoticeTable();
                    ShowNotify('Thêm thông tin thành công', 'success', 'bottom');
                },
                error: function(data)
                {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });
        }

        function mySaveSur() {
            var idHotel = $('#IdHotelVal').val;
            var id = $('#idHotelSaveNote').val();
            var condition = $('#ConditionSurcharge').val();
            var amount = $('#AmountSurcharge').val();

            $.ajax({
                type: "POST",
                url: '@Url.Action("HotelSurchargesCreate")',
                data: {
                    Id: id,
                    ConditionSurcharge: condition,
                    AmountSurcharge: amount
                },
                beforeSend: function () {
                    $('#preloader-wrapper').toggleClass('hide');
                },
                success: function (result) {
                    $('#preloader-wrapper').toggleClass('hide');
                    $('.modal-content').toggleClass('hide');
                    $('#myModal').modal('hide');
                    initLoadHotelPolicyTable();
                    ShowNotify('Thêm thông tin thành công', 'success', 'bottom');
                },
                error: function(data)
                {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });
        }

        function DoEditNotice(id) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("_HotelNoticesEdit")',
                data: { id: id },
                beforeSend: function () {
                    $('#preloader-wrapper').toggleClass('hide');
                },
                success: function (result) {
                    if (result.length > 0) {
                        $('#preloader-wrapper').toggleClass('hide');
                        $('.modal-content').html(result);
                        $('.modal-content').removeClass('hide');
                        $('.modal-content').addClass('show');
                        $('#myModal').modal('show');
                    }
                },
                error: function(data)
                {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });

        }

        function mySubmitEditNotice() {
            $.ajax({
                    type: "POST",
                    url: '@Url.Action("HotelNoticesEdit")',
                    data: $($("#frmPopEditNotice")).serialize(),
                    beforeSend: function () {
                        $('#preloader-wrapper').toggleClass('hide');
                    },
                    success: function (result) {

                        $('#preloader-wrapper').toggleClass('hide');
                        $('.modal-content').toggleClass('hide');
                        $('#myModal').modal('hide');
                        initLoadHotelNoticeTable();
                        ShowNotify('Thêm thông tin thành công', 'success', 'bottom');
                    },
                    error: function(data)
                    {
                        $('#preloader-wrapper').toggleClass('hide');
                    }
                });

        }

        function mySubmitEditPolicy() {
            $.ajax({
                    type: "POST",
                    url: '@Url.Action("SurchargePolicysEdit")',
                    data: $($("#frmPopEditPolicy")).serialize(),
                    beforeSend: function () {
                        $('#preloader-wrapper').toggleClass('hide');
                    },
                    success: function (result) {

                        $('#preloader-wrapper').toggleClass('hide');
                        $('.modal-content').toggleClass('hide');
                        $('#myModal').modal('hide');
                        initLoadHotelPolicyTable();
                        ShowNotify('Thêm thông tin thành công', 'success', 'bottom');
                    },
                    error: function(data)
                    {
                        $('#preloader-wrapper').toggleClass('hide');
                    }
                });

        }

        function DoEditSur(id) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("_SurchargePolicysEdit")',
                data: { id: id },
                beforeSend: function () {
                    $('#preloader-wrapper').toggleClass('hide');
                },
                success: function (result) {
                    if (result.length > 0) {
                        $('#preloader-wrapper').toggleClass('hide');
                        $('.modal-content').html(result);
                        $('.modal-content').removeClass('hide');
                        $('.modal-content').addClass('show');
                        $('#myModal').modal('show');
                    }
                },
                error: function(data)
                {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });

        }

        function DoDeleteNotice(id) {
           $.ajax({
                type: 'post',
                url: '@Url.Action("HotelNoticesDelete")',
                data: { "id": id },
                success: function () {
                    initLoadHotelNoticeTable();
                    ShowNotify('Xoá thông tin thành công', 'success', 'bottom');

                },
                error: function () {
                    ShowNotify('Xoá thông tin không thành công', 'danger', 'top');
                }
            })

        }

        function DoDeleteSurcharge(id) {
           $.ajax({
                type: 'post',
                url: '@Url.Action("HotelSurchargesDelete")',
                data: { "id": id },
                success: function () {
                    initLoadHotelPolicyTable();
                    ShowNotify('Xoá thông tin thành công', 'success', 'bottom');
                },
                error: function () {
                    ShowNotify('Xoá thông tin không thành công', 'danger', 'top');
                }
            })

        }
        function GetProvince(parent, child) {
            var countryid = $(parent).val();

            $.ajax({
                type: "GET",
                url: '@Url.Action("_GetProvince")',
                data: { "countryid": countryid },
                beforeSend: function () {
                    $('#preloader-wrapper').toggleClass('hide');
                },
                success: function (result) {
                    if (result != '') {
                        $('#' + child).empty();
                        $.each(result, function (i, state) {
                            $('#' + child).append($('<option/>', { value: this.Value }).html(this.Text));
                        });
                        $('#' + child).trigger("chosen:updated");
                        $('#preloader-wrapper').toggleClass('hide');
                    } else {
                        ShowNotify('Có lỗi xảy ra, vui lòng kiểm tra lại dữ liệu.', 'danger', 'top');
                        $('#preloader-wrapper').toggleClass('hide');
                    }
                }
            });
        }

         function GetDistrict(parent, child) {
            var provinceId = $(parent).val();

            $.ajax({
                type: "GET",
                url: '@Url.Action("_GetDistrict")',
                data: { "provinceId": provinceId },
                beforeSend: function () {
                    $('#preloader-wrapper').toggleClass('hide');
                },
                success: function (result) {
                    if (result != '') {
                        $('#' + child).empty();
                        $.each(result, function (i, state) {
                            $('#' + child).append($('<option/>', { value: this.Value }).html(this.Text));
                        });
                        $('#' + child).trigger("chosen:updated");
                        $('#preloader-wrapper').toggleClass('hide');
                    } else {
                        ShowNotify('Có lỗi xảy ra, vui lòng kiểm tra lại dữ liệu.', 'danger', 'top');
                        $('#preloader-wrapper').toggleClass('hide');
                    }
                }
            });
        }
    </script>
}