﻿@model IEnumerable<HotelViewModel>

@{
    ViewBag.Title = "Danh sách khách sạn";
    var ordId = 1;
}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            @using (Html.BeginForm("Index", "Hotels", FormMethod.Post, new { id = "form-search", enctype = "multipart/form-data" }))
            {
                <div class="box-body">
                    <div class="row" style="padding: 0px;">
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>Tên khách sạn </label>
                                <div>
                                    <input type="text" id="Name" name="Name" class="form-control input-sm" value="@ViewBag.Name" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>Địa chỉ </label>
                                <div>
                                    <input type="text" id="Address" name="Address" class="form-control input-sm" value="@ViewBag.Address" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>Loại khách sạn </label>
                                @*<div>
                                        <input type="text" id="HotelType" name="HotelType" class="form-control input-sm" value="@ViewBag.HotelType" />
                                    </div>*@
                                <div>
                                    @Html.DropDownList("HotelType", null, "---  Chọn  ---", new { @class = "form-control chosen-select input-sm" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>Điện thoại </label>
                                <div>
                                    <input type="text" id="Phone" name="Phone" class="form-control input-sm" value="@ViewBag.Phone" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>Mã quốc gia</label>
                                <div>
                                    @Html.DropDownList("CountryId", (SelectList)ViewBag.CountryId, "---  Chọn  ---", new { @class = "form-control chosen-select input-sm", @onchange = "GetProvince(this, 'ProvinceId');" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>Tỉnh thành</label>
                                <div>
                                    @*@Html.DropDownList("ProvinceId", null, "---  Chọn  ---", new { @class = "form-control chosen-select input-sm", @onchange = "GetDistrict(this, 'DistrictId');" })*@
                                    <div>
                                        <select id="ProvinceId" name="ProvinceId" onchange="GetDistrict(this, 'DistrictId');" class="form-control chosen-select">
                                            <option value="0">
                                                ---  Chọn  ---
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            @*<div class="form-group">
            <label>Quận huyện</label>
            <div>
                @Html.DropDownList("DistrictId", null, "---  Chọn  ---", new { @class = "form-control chosen-select input-sm" })
            </div>
        </div>*@
                            <div class="form-group">
                                <label>Quận huyện</label>
                                <div>
                                    <select id="DistrictId" name="DistrictId" class="form-control chosen-select">
                                        <option value="0">
                                            ---  Chọn  ---
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>Trạng thái</label>
                                <div>
                                    @Html.DropDownList("Status", null, "---  Chọn  ---", new { @class = "form-control chosen-select input-sm" })
                                    @*@Html.DropDownList("ActiveStatus", (SelectList)ViewBag.ddlStatus, "--Chọn--", new { @class = "form-control d-inline-block", @id = "ddlTrangThai" })*@
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <label>&nbsp;</label>
                            <div>
                                <button type="button" name="SubmitSearch" value="Search" id="btnTimKiem" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>&nbsp;Tìm kiếm</button>
                                <a href="@Url.Action("Create")" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>&nbsp;Thêm mới</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Danh sách khách sạn</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="nContent">
                   
                    @Html.Partial("_HotelsList", Model)
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>

<!-- Modal -->
<div id="myModalSlide" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="min-width: 800px;">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frmSlide", id = "frmSlide", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="modal-title" style="font-size: 17px;text-transform:uppercase;color:#3c8dbc"><strong id="myModalTitleSlide"></strong></div>
                </div>
                <div class="modal-body">
                    <div id="myModalContentSlide">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-right">
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script>

        $(function () {
            HotelModule.init();
        });

        var HotelModule = (function () {
            var danhSachHotelUrl = "/Admin/Hotels/GetHotelsList";

            function init() {
                initHotelTable();
            }

            $('#btnTimKiem').on('click', function (event) {
                initHotelTable();
            });

            function initHotelTable() {
                var hotelName = $('#Name').val();
                var address = $('#Address').val();
                var hotelType = $('#HotelType').val();
                var phone = $('#Phone').val();
                var countryId = $('#CountryId').val();
                var provinceId = $('#ProvinceId').val();
                var districtId = $('#DistrictId').val();
                var status = $('#Status').val();

                $.ajax({
                    type: "GET",
                    url: danhSachHotelUrl,
                    data: {
                        HotelName: hotelName,
                        Address: address,
                        HotelType: hotelType,
                        Phone: phone,
                        CountryId: countryId,
                        ProvinceId: provinceId,
                        DistrictId: districtId,
                        Status: status
                    },
                    success: function (response) {
                        $('#mytable').html(response);
                            $("#mytable").DataTable({
                            "paging": true,
                            "lengthChange": false,
                            "ordering": true,
                            "info": true,
                                "autoWidth": false,
                            destroy: true,
                            "aoColumnDefs": [
                                { 'bSortable': false, 'aTargets': [1] }
                            ]
                        });
                    }
                });
            }

            return {
                init: init,
                reloadHotelTable: initHotelTable
            };
        })();

        var DeleteHotelModule = (function (hotelModule) {

            //var $form;

            function init() {
                //$form = $("#frmThayDoiTrangThai");
                //editStatusSinhVien();
            }

            function confirmDeleteHotel(id_) {
                var confirm_ = confirm('Bạn có muốn xóa dữ liệu này không?');
                if (confirm_) {
                    $.ajax({
                        url: '@Url.Action("DeleteHotel", "Hotels")',
                        timeout: 20000,
                        data: { id: id_ },
                        beforeSend: function (xhr) {
                            $(".divLoading").addClass("loading");
                        },
                        success: function (result) {
                            if (result.status >= 1) {
                                //ShowNoti(result.title, result.text, "success");
                                window.location.href = '@Url.Action("Index", "Hotels")';
                            }
                            else {
                                //ShowNoti(result.title, result.text, "error");
                                alert(result.text);
                            }

                            $(".divLoading").removeClass("loading");

                            //reloadData(true);
                        },
                        error: function (message) {
                            $(".divLoading").removeClass("loading");
                        }
                    });
                }

            }

            return {
                init: init
            }
        })(HotelModule);

        $(document).ready(function (event) {

        });

        function DoImageManage() {
            $('.btn-imagesA').off('click').on('click', function (e) {
                e.preventDefault();
                $('#imagesManage').modal('show');
                $('#khachSanId').val($(this).data('id'));
            });

            $('input[type="file"]').on('change', function (e) {
                console.log('cccccccc', e);
                if (!e.target.files || !window.FileReader) return;

                //selDiv.innerHTML = "";

                var files = e.target.files;
                var filesArr = Array.prototype.slice.call(files);
                filesArr.forEach(function (f) {
                    var f = files[i];
                    if (!f.type.match("image.*")) {
                        return;
                    }


                    var reader = new FileReader();
                    reader.onload = function (e) {
                        console.log('eeee this', e);
                        console.log('fffff this', f);
                        $('#imageList').append('<div style="float:left"><img src="' + e.target.result + '" width="100" height="100" alt="' + f.name + '"/><a href="#" class="btn-delImage"><i class="fa fa-times"></i></a></div>')

                        $('.btn-delImage').off('click').on('click', function (e) {
                            e.preventDefault();
                            $(this).parent().remove();
                        });
                    }
                    reader.readAsDataURL(f);
                });
            });
        }

        var $modalSlide = $('#myModalSlide');
        var $myModalContentSlide = $("#myModalContentSlide");
        var $myModalTitleSlide = $("#myModalTitleSlide");

        function Slide(Id) {
            $myModalContentSlide.html("");
            $myModalTitleSlide.html("Thêm hình ảnh");
            $.ajax({
                url: '@Url.Action("_AddImages")',
                timeout: 20000,
                data: {
                    Id: Id
                },
                beforeSend: function (xhr) {
                    $(".divLoading").addClass("loading");
                },
                success: function (result) {
                    $myModalContentSlide.html(result);
                    $modalSlide.modal({ backdrop: 'static', keyboard: false });
                    $(".divLoading").removeClass("loading");
                },
                error: function (message) {
                    $(".divLoading").removeClass("loading");
                }
            });
        }

        
        function GetProvince(parent, child) {
            var countryid = $(parent).val();

            $.ajax({
                type: "GET",
                url: '@Url.Action("_GetProvince")',
                data: { "countryid": countryid },
                beforeSend: function () {
                    $('#preloader-wrapper').toggleClass('hide');
                },
                success: function (result) {
                    if (result != '') {
                        $('#' + child).empty();
                        $.each(result, function (i, state) {
                            $('#' + child).append($('<option/>', { value: this.Value }).html(this.Text));
                        });
                        $('#' + child).trigger("chosen:updated");
                        $('#preloader-wrapper').toggleClass('hide');
                    } else {
                        ShowNotify('Có lỗi xảy ra, vui lòng kiểm tra lại dữ liệu.', 'danger', 'top');
                        $('#preloader-wrapper').toggleClass('hide');
                    }
                }
            });
        }

         function GetDistrict(parent, child) {
            var provinceId = $(parent).val();

            $.ajax({
                type: "GET",
                url: '@Url.Action("_GetDistrict")',
                data: { "provinceId": provinceId },
                beforeSend: function () {
                    $('#preloader-wrapper').toggleClass('hide');
                },
                success: function (result) {
                    if (result != '') {
                        $('#' + child).empty();
                        $.each(result, function (i, state) {
                            $('#' + child).append($('<option/>', { value: this.Value }).html(this.Text));
                        });
                        $('#' + child).trigger("chosen:updated");
                        $('#preloader-wrapper').toggleClass('hide');
                    } else {
                        ShowNotify('Có lỗi xảy ra, vui lòng kiểm tra lại dữ liệu.', 'danger', 'top');
                        $('#preloader-wrapper').toggleClass('hide');
                    }
                }
            });
        }
    </script>
}

