﻿@model IEnumerable<BookingViewModel>
@{ 
    int STT = 1;
}
@foreach (var item in Model)
{
<tr>
    <td class="text-center" >@STT</td>
    <td class="text-center">@item.BookingCode</td>
    <td class="text-center">@item.Hotel.HotelName</td>
    <td class="text-center">@item.Hotel.ProvinceName</td>
    <td class="text-center">@item.CustomerInfo.CustomerName</td>
    <td class="text-center">@item.DateCheckIn.ToString("dd/MM/yyyy") - @item.DateCheckOut.ToString("dd/MM/yyyy")</td>
    <td class="text-center">@item.RoomCount</td>
    <td class="text-center">@item.PersonCount</td>
    <td class="text-center">@Html.CheckBox("a", item.CustomerCheckPayment, new { @disabled = "true" })</td>
    <td class="text-center">@Html.CheckBox("a", item.IsPaymentSuccess, new { @disabled = "true" })</td>
    <td class="text-center">
        <a href="@Url.Action("Detail","Booking",new { Id = item.BookingId })"><i class="fa fa-edit"></i>Chi tiết</a> 
        | <a href="#" onclick="AllotBooking('@item.BookingId');"><i class="fa fa-tasks"></i>Phân bổ</a>
    </td>
</tr>
    STT++;
}