﻿@model AllotBooking

@using (Html.BeginForm("AllotBooking", "Booking", FormMethod.Post, new { Id = "Form-Allot" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m=>m.Id)
    @Html.HiddenFor(m => m.BookingId)

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="title-modal">Phân bổ booking</span>
    </div>
    <div class="modal-body form-horizontal">
        <div class="clear-prefix">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-lg-12 text-left">
                            Mã booking:
                            <b>@Html.DisplayFor(m => m.BookingCode)</b>
                        </label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-2 text-left">
                            Nhân viên chỉ định
                        </label>
                        <div class="col-md-10 ">
                            @Html.DropDownList("UserId", new SelectList(ViewBag.ListStaff as List<SelectListItem>, "Value", "Text", Model.UserId), new { @class = "form-control input-sm chosen-select required" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-2 text-left">
                            Deadline
                        </label>
                        <div class="col-md-10 ">
                            <input type="date" class="form-control input-sm required" id="DeadLine" name="DeadLine" value="@Model.DeadLine.ToString("yyyy-MM-dd")">
                        </div>
                    </div>
                </div>
                @if (Model.UserId != null && Model.UserId != Guid.Empty)
                {
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-lg-12 text-left"><b>Booking đã được phân bổ</b></label>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-left">
            @if (Model.UserId == null || Model.UserId == Guid.Empty)
            {
                <a onclick="AllotSubmit()" class="btn btn-success btn-sm"><i class="fa fa-save"></i>&nbsp;Lưu</a>
            }
            else
            {
                <a onclick="AllotCancel()" class="btn btn-warning btn-sm"><i class="fa fa-save"></i>&nbsp;Huỷ phân bổ</a>
            }
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-reply"></i>&nbsp;Thoát</button>
        </div>
    </div>
}
