﻿@model Hotel.Models.BookingViewModel

@{
    ViewBag.Title = "Chi tiết booking";
}

<div>
    <div class="row tour">
        <div class="col-md-12 col-sm-12">
            <!--Thông tin booking-->
            <div class="box box-primary">
                <div class="box-header with-border" data-widget="collapse">
                    <h3 class="box-title">Thông tin booking</h3>
                </div>
                <div class="box-body" style="display: block;height:auto">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4">Mã Booking</label>
                                <div class="col-md-8">
                                    <b>@Model.BookingCode</b>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4">Ngày đặt</label>
                                <div class="col-md-8">
                                    <b>@Model.DateCreate.ToString("dd/MM/yyyy - HH:mm:ss")</b>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4">Hạn thanh toán</label>
                                <div class="col-md-8">
                                    <b>@Model.CODCancel.ToString("dd/MM/yyyy - HH:mm:ss")</b>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4">Tên khách sạn</label>
                                <div class="col-md-8">
                                    <b>@Model.Hotel.HotelName</b>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="col-md-2">Địa chỉ</label>
                                <div class="col-md-8 text-left">
                                    <b>@Model.Hotel.Address - @Model.Hotel.DistrictName - @Model.Hotel.ProvinceName</b>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Thông tin khách hàng-->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Thông tin khách hàng</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4">Tên khách hàng </label>
                                        <div class="col-md-8">
                                            <b>@Model.CustomerInfo.CustomerName</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @*<label class="col-md-4">@Language.TenTour</label>*@
                                        <label class="col-md-4">Số điện thoại</label>
                                        <div class="col-md-8">
                                            <b>@Model.CustomerInfo.CustomerPhoneNumber</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @*<label class="col-md-4">@Language.TenTour</label>*@
                                        <label class="col-md-4">Email</label>
                                        <div class="col-md-8">
                                            <b>@Model.CustomerInfo.CustomerEmail</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4">Địa chỉ</label>
                                        <div class="col-md-8">
                                            <b>@Model.CustomerInfo.CustomerAddress - @Model.CustomerInfo.CustomerDistrictName - @Model.CustomerInfo.CustomerProvinceName </b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Chi tiết đặt phòng-->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Chi tiết đặt phòng</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4">Loại phòng</label>
                                        <div class="col-md-8">
                                            <b>@Model.Room.RoomName</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4">Số lượng phòng</label>
                                        <div class="col-md-8">
                                            <b>@Model.RoomCount</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4">Số lượng khách</label>
                                        <div class="col-md-8">
                                            <b>@Model.PersonCount</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4">Ngày nhận phòng</label>
                                        <div class="col-md-8">
                                            <b>@Hotel.Utilities.Utility.GetDayOfWeek((int)Model.DateCheckIn.DayOfWeek) - @Model.DateCheckIn.ToString("dd/MM/yyyy")</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4">Ngày trả phòng</label>
                                        <div class="col-md-8">
                                            <b>@Hotel.Utilities.Utility.GetDayOfWeek((int)Model.DateCheckOut.DayOfWeek) - @Model.DateCheckOut.ToString("dd/MM/yyyy")</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4">Số đêm</label>
                                        <div class="col-md-8">
                                            <b>@Model.CountDate</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="col-md-2">Ghi chú</label>
                                        <div class="col-md-8">
                                            @Html.TextArea("CustomerNote", !string.IsNullOrEmpty(Model.CustomerNote) ? Model.CustomerNote : "", new { @class = "form-control", @style = " min-width: 100px; ", @rows = "4" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Thông tin giá-->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Thông tin giá</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4">Giá phòng</label>
                                        <div class="col-md-8">
                                            @{
                                                foreach (var item in Model.RoomPrices)
                                                {
                                                    <b>@item.RoomDate.ToString("dd/MM/yyyy") - @item.PricePromotion.Value.ToString("#,###đ")</b>
                                                    <br />
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4">Tổng giá phòng</label>
                                        <div class="col-md-8">
                                            <b>@Model.RoomAmount.ToString("#,###đ")</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4">Thuế</label>
                                        <div class="col-md-8">
                                            <b>@Model.Tax.ToString("#,###đ")</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4">Phụ phí/Giảm giá</label>
                                        <div class="col-md-8">
                                            <b>@Model.Surcharge</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4">Tổng tiền</label>
                                        <div class="col-md-8">
                                            <b>@Model.TotalAmount.ToString("#,###đ")</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4">Giá NET</label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(m => m.NetPrice, new { @class = "form-control input-sm", @type = "number" })
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-sm btn-default" onclick="UpdateNetPrice()">Cập nhật</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Thông tin thanh toán-->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Thông tin thanh toán</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            @using (Html.BeginForm("PaymentSuccess", "Booking", FormMethod.Post, new { Id = "Form-PaymentSubmit", enctype = "" }))
                            {
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-4">Tình trạng booking</label>
                                            <div class="col-md-8">
                                                @switch (Model.PaymentType)
                                                {
                                                    case (int)Parameters.Booking.BookingStatus.TaoThanhCong:
                                                        <b>Tạo thành công</b>
                                                        break;
                                                    case (int)Parameters.Booking.BookingStatus.KHDaThanhToan:
                                                        <b>Khách hàng xác nhận thanh toán</b>
                                                        break;
                                                    case (int)Parameters.Booking.BookingStatus.AdminXNThanhToan:
                                                        <b>Xác nhận thanh toán thành công</b>
                                                        break;
                                                    case (int)Parameters.Booking.BookingStatus.DaHuy:
                                                        <b>Đã huỷ</b>
                                                        break;
                                                    default:
                                                        break;
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-4">Loại thanh toán</label>
                                            <div class="col-md-8">
                                                @switch (Model.PaymentType)
                                                {
                                                    case (int)Parameters.Booking.PaymentTypes.TienMat:
                                                        <b>Tiền mặt</b>
                                                        break;
                                                    case (int)Parameters.Booking.PaymentTypes.ChuyenKhoan:
                                                        <b>Chuyển khoản</b>
                                                        break;
                                                    default:
                                                        break;
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-4">Khách hàng đã thanh toán</label>
                                            <div class="col-md-8">
                                                @if (!Model.CustomerCheckPayment)
                                                {
                                                    <b>Chưa thanh toán</b>
                                                }
                                                else
                                                {
                                                    <b>Đã thanh toán</b>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-4">Xác nhận đã thanh toán</label>
                                            <div class="col-md-8">
                                                @Html.AntiForgeryToken()
                                                @Html.HiddenFor(m => m.BookingId)
                                                <input type="checkbox"
                                                       id="IsPaymentSuccess"
                                                       name="IsPaymentSuccess"
                                                       onchange="PaymentSubmit(this);"
                                                       @(Model.IsPaymentSuccess ? "checked" : "") />

                                                @if (!Model.IsPaymentSuccess)
                                                {
                                                    <b id="ConfirmStatus"> Chưa xác nhận</b>
                                                }
                                                else
                                                {
                                                    <b id="ConfirmStatus">  Đã xác nhận</b>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    @if (Model.IsInvoceExport)
                    {
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Thông tin xuất hoá đơn</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-4">Tên công ty</label>
                                            <div class="col-md-8">
                                                <b>@Model.InvoceInfo.CompanyName</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-4">Mã số thuế</label>
                                            <div class="col-md-8">
                                                <b>@Model.InvoceInfo.TaxCode</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="col-md-2">Địa chỉ công ty</label>
                                            <div class="col-md-8">
                                                <b>@Model.InvoceInfo.CompanyAddress</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="col-md-2">Địa chỉ nhận hoá đơn</label>
                                            <div class="col-md-8">
                                                <b>@Model.InvoceInfo.BillingAddress</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 dropup f-left bar-footer">
            @if (!Model.IsPaymentSuccess)
            {
                <a class="btn btn-success btn-sm" href="#" onclick="$('#IsPaymentSuccess').click();"><i class="fa fa-check"></i>&nbsp;XN Thanh toán</a>
            }
            @if (Model.IsPaymentSuccess && Model.IsInvoceExport)
            {
                <a class="btn btn-default btn-sm" href="#"><i class="fa fa-money-bill"></i>&nbsp;Xuất hoá đơn</a>
            }

            <a class="btn btn-danger btn-sm" href="@Url.Action("Index")"><i class="fa fa-reply"></i>&nbsp;Quay lại</a>
        </div>
    </div>
    <div style="clear:both"></div>
</div>
<script>
    function PaymentSubmit() {
        event.preventDefault();
        isPayment = document.getElementById('IsPaymentSuccess');
        var token = $('input[name="__RequestVerificationToken"]').val();
        if (confirm("Xác nhận thay đổi?")) {
            isPayment.value = isPayment.checked;
            //$('#Form-PaymentSubmit').submit();
            $.ajax({
                url: '@Url.Action("PaymentSuccess", "Booking")',
                type: "POST",
                data: {
                    "__RequestVerificationToken": token,
                    bookingId: '@Model.BookingId',
                    IsPaymentSuccess: isPayment.value
                },
                success: function (result) {
                    if (result.status == 1) {
                        isPayment.checked = result.check;
                        if (result.check) {
                            $("#ConfirmStatus")[0].innerText("Đã xác nhận")
                        }
                        else {
                            $("#ConfirmStatus")[0].innerText("Chưa xác nhận")
                        }
                        alert(result.msg);
                    }
                    else {
                        isPayment.checked = result.check;
                        alert(result.msg);
                    }

                    
                },
                error: function () {
                    isPayment.checked = !isPayment.checked;
                    alert("Vui lòng thử lại");
                }
            });
        }
    }
    function UpdateNetPrice() {
        var token = $('input[name="__RequestVerificationToken"]').val();
        netPrice = document.getElementById('NetPrice');
        if (parseInt(netPrice.value) > 0) {
            if (confirm("Xác nhận thay đổi?")) {
                $.ajax({
                    url: '@Url.Action("UpdateNetPrice","Booking")',
                    type: 'POST',
                    data: {
                        __RequestVerificationToken: token,
                        bookingId: '@Model.BookingId',
                        NetPrice: parseInt(netPrice.value)
                    },
                    success: function (result) {
                        if (result.status == 1) {
                            alert(result.msg);
                            console.log(result.point);
                        }
                        else {
                            alert(result.msg);
                        }
                    },
                    error: function () {
                        alert("Vui lòng thử lại");
                    }
                });
            }
        }
        else {
            alert("Vui lòng nhập giá NET");
            netPrice.focus();
            return false;
        }

        
    }
</script>
