﻿@model tbl_banner

@{
    ViewBag.Title = "Tạo mới banner";

    /* Vi Trí */
    List<SelectListItem> sllPosition = ViewBag.sllPosition;

    /* Loại */
    List<SelectListItem> sllbanner_target = new List<SelectListItem>{
        new SelectListItem { Text = "_blank", Value = "_blank", Selected = true },
        new SelectListItem { Text = "_parent", Value = "_parent" },
        new SelectListItem { Text = "_self", Value = "_self" },
        new SelectListItem { Text = "_top", Value = "_top" }

    };

    /* sllActive */
    List<SelectListItem> sllActive = new List<SelectListItem>{
        new SelectListItem { Text = "Không", Value = "0" },
        new SelectListItem { Text = "Có", Value = "1" ,Selected = true}
    };
}

<h2>Tạo mới Banner</h2>

@using (Html.BeginForm("Create", "Banner", FormMethod.Post, new { id = "Form" }))
{
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-body">
                @using (Html.BeginForm("Edit", "Banner", FormMethod.Post, new { id = "Form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <fieldset>
                        <legend></legend>

                        <div class="form-group">
                            <label>Tiêu đề</label>
                            @Html.TextBox("banner_name", null, new { @class = "form-control", @style = " max-width: 600px; " })
                            @Html.ValidationMessageFor(model => model.banner_name)
                        </div>
                        <div class="form-group">
                            <label>Mô tả</label>
                            @Html.TextBox("banner_desc", null, new { @class = "form-control", @style = " max-width: 600px; " })
                            @Html.ValidationMessageFor(model => model.banner_desc)
                        </div>
                        <div class="form-group">
                            <label>Đường dẫn</label>
                            @Html.TextBox("banner_hyperlink", null, new { @class = "form-control", @style = " max-width: 600px; " })
                        </div>
                        <div class="form-group">
                            <label>Vị trí</label>
                            @Html.DropDownList("banner_pos", (IEnumerable<SelectListItem>)sllPosition, new { @class = "form-control", @style = "width: 600px;" })
                        </div>     
                        <div class="form-group">
                            <label>Hình ảnh</label>
                            <input type="file" id="uplImage" name="uplImage" />
                        </div>
                        <div class="form-group hidden">
                            <label>Thời gian hiển thị (giây)</label>
                            @Html.TextBox("banner_dura", null, new { @class = "form-control", @style = " max-width: 600px; ", @onkeypress = "return funCheckInt(event)" })
                        </div>
                        <div class="form-group">
                            <label>Loại</label>
                            @Html.DropDownList("banner_target", (IEnumerable<SelectListItem>)sllbanner_target, new { @class = "form-control", @style = "width: 200px;" })
                        </div>
                        <div class="form-group">
                            <label>Độ ưu tiên</label>
                            @Html.TextBox("priority", null, new { @class = "form-control", @style = " max-width: 600px; ", @onkeypress = "return funCheckInt(event)" })
                        </div>
                        <div class="form-group">
                            <label>Hoạt động?</label>
                            @Html.DropDownList("active", (IEnumerable<SelectListItem>)sllActive, new { @class = "form-control", @style = "width: 200px;" })
                        </div>
                        <div class="form-group  hidden">
                            <label>Ngày bắt đầu</label>
                            @Html.TextBox("date_start", "", new { @class = "form-control", @style = " max-width: 600px; " })
                        </div>
                        <div class="form-group  hidden">
                            <label>Ngày kết thúc</label>
                            @Html.TextBox("date_end", "", new { @class = "form-control", @style = " max-width: 600px; " })
                        </div>

                        <div class="box-footer">
                            <input type="submit" class="btn btn-success" value="Tạo mới" />

                            <a href="@Url.Action("Index")" class="btn btn-warning" >Quay lại danh sách</a>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
}
<div>
    @*@Html.ActionLink("Trở lại danh sách", "Index")*@
    <a href="#" onclick="history.go(-1); return false;">.</a>
</div>

<script type="text/javascript">

    $("#date_start").datepicker({ dateFormat: 'dd/mm/yy' });
    $("#date_end").datepicker({ dateFormat: 'dd/mm/yy' });

    $('#Form').on('submit', function (event) {
        event.preventDefault();
        form = $("#Form");
            form.removeData('validator');
            form.removeData('unobtrusiveValidation');
            $.validator.unobtrusive.parse("#Form");
            if (form.valid()) {
                var formdata = new FormData(form[0]); //FormData object

                var fileInput = document.getElementById('uplImage');
                    formdata.append("uplImage" , fileInput.files);

                $.ajax({
                    url: '@Url.Action("Create")',
                    type: "POST",
                    data: formdata,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $(".divLoading").addClass("loading");
                    },
                    success: function (result) {
                        $(".divLoading").removeClass("loading");

                        if (result.status >= 1) {
                            ShowNotify(result.message, "success", "top");
                        }
                        else {
                            ShowNotify(result.message, "warning", "top");
                        }
                    },
                    error: function (message) {
                        $(".divLoading").removeClass("loading");
                        ShowNotify("Lỗi", "danger", "top");
                    }
                });
            }
    })
</script>