﻿@model tbl_banner

@{
    ViewBag.Title = "Cập nhật Banner";

    /* Vi Trí */
    List<SelectListItem> sllPosition = ViewBag.sllPosition; //new SelectList(db.web_pb_banner_position.ToList(), "id", "name").ToList();

    /* Loại */
    List<SelectListItem> sllbanner_target = new List<SelectListItem>{
        new SelectListItem { Text = "_blank", Value = "_blank" },
        new SelectListItem { Text = "_parent", Value = "_parent" },
        new SelectListItem { Text = "_self", Value = "_self" },
        new SelectListItem { Text = "_top", Value = "_top" }

    };

    /* sllActive */
    List<SelectListItem> sllActive = new List<SelectListItem>{
        new SelectListItem { Text = "Không", Value = "0" },
        new SelectListItem { Text = "Có", Value = "1" }
    };
}
<h2>Cập nhật Banner</h2>
@using (Html.BeginForm("Edit", "Banner", FormMethod.Post, new { id = "Form" }))
{
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">@Model.banner_name</h3>
            </div><!-- /.box-header -->

            <div class="box-body">              
                @using (Html.BeginForm("Edit", "Banner", FormMethod.Post, new {Id = "form-BannerEdit", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    //@Html.ValidationSummary(true)

                    @Html.HiddenFor(model => model.banner_id)
                    @Html.HiddenFor(model => model.visits)
                    @Html.HiddenFor(model => model.listpage)
                    @Html.HiddenFor(model => model.img_apple)

                    <div class="form-group">
                        <label>Tiêu đề</label>
                        @Html.TextBoxFor(model => model.banner_name, new { @class = "form-control", @style = " max-width: 600px; " })
                        @Html.ValidationMessageFor(model => model.banner_name)
                    </div>
                    <div class="form-group">
                        <label>Mô tả</label>
                        @Html.TextBoxFor(model => model.banner_desc, new { @class = "form-control", @style = " max-width: 600px; " })
                        @Html.ValidationMessageFor(model => model.banner_desc)
                    </div>
                    <div class="form-group">
                        <label>Đường dẫn</label>
                        @Html.TextBoxFor(m => m.banner_hyperlink, new { @class = "form-control", @style = " max-width: 600px; " })
                    </div>
                    <div class="form-group">
                        <label>Vị trí</label>
                        @Html.DropDownList("banner_pos", (IEnumerable<SelectListItem>)sllPosition, new { @class = "form-control", @style = "width: 600px;" })
                    </div>
                    <div class="form-group">
                        <label>Hình ảnh </label>

                        @Html.HiddenFor(model => model.banner_src)
                        @{if (Model.banner_src != null)
                            {
                                if (Model.banner_src.Length > 0)
                                {
                                    <div>
                                        <img src="~/FileUploads/Banner/@Model.banner_src" width="266" /> @*height="266"*@
                                    </div>
                                }
                            }
                        }
                        <input type="file" id="uplImage" name="uplImage" />
           
                    </div>
                                    
                    <div class="form-group hidden">
                        <label>Thời gian hiển thị (giây)</label>
                        @Html.TextBoxFor(m => m.banner_dura, new { @class = "form-control", @style = " max-width: 600px; ", @onkeypress = "return funCheckInt(event)" })
                    </div>
                    <div class="form-group">
                        <label>Loại</label>
                        @Html.DropDownList("banner_target", (IEnumerable<SelectListItem>)sllbanner_target, new { @class = "form-control", @style = "width: 200px;" })
                    </div>
                    <div class="form-group">
                        <label>Độ ưu tiên</label>
                        @Html.TextBoxFor(m => m.priority, new { @class = "form-control", @style = " max-width: 600px; ", @onkeypress = "return funCheckInt(event)" })
                    </div>
                    <div class="form-group  hidden">
                        <label>Ngày bắt đầu</label>
                        @{
                            var date_start = "";
                            var date_end = "";

                            if (Model.date_start != null)
                            {
                                date_start = Model.date_start.GetValueOrDefault().ToString("dd/MM/yyyy");
                            }
                            if (Model.date_end != null)
                            {
                                date_end = Model.date_end.GetValueOrDefault().ToString("dd/MM/yyyy");
                            }
                        }
                        @Html.TextBox("date_start", (string)date_start, new { @class = "form-control", @style = " max-width: 600px; " })
                    </div>
                    <div class="form-group  hidden">
                        <label>Ngày kết thúc</label>
                        @Html.TextBox("date_end", (string)date_end, new { @class = "form-control", @style = " max-width: 600px; " })
                    </div>
                    <div class="form-group">
                        <label>Hoạt động?</label>
                        @Html.DropDownList("active", (IEnumerable<SelectListItem>)sllActive, new { @class = "form-control", @style = "width: 200px;" })
                    </div>
                    <div class="box-footer">
                        <input type="submit" class="btn btn-success" value="Cập nhật" />
                        <a href="@Url.Action("Index")" class="btn btn-warning" return false;">Quay lại danh sách</a>
                    </div>
                }
            </div>
        </div>
    </div>
}
<div>
    @*@Html.ActionLink("Trở lại danh sách", "Index")*@
    <a href="#" onclick="history.go(-1); return false;">.</a>
</div>

<script type="text/javascript">

    $("#date_start").datepicker({ dateFormat: 'dd/mm/yy' });
    $("#date_end").datepicker({ dateFormat: 'dd/mm/yy' });

    $('#Form').on('submit', function (event) {
        event.preventDefault();
        form = $("#Form");
            form.removeData('validator');
            form.removeData('unobtrusiveValidation');
            $.validator.unobtrusive.parse("#Form");
            if (form.valid()) {
                var formdata = new FormData(form[0]); //FormData object

                var fileInput = document.getElementById('uplImage');
                    formdata.append("uplImage" , fileInput.files);                

                $.ajax({
                    url: '@Url.Action("Edit")',
                    type: "POST",
                    data: formdata,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $(".divLoading").addClass("loading");
                    },
                    success: function (result) {
                        $(".divLoading").removeClass("loading");

                        if (result.status >= 1) {
                            ShowNotify(result.message, "success", "top");
                        }
                        else {
                            ShowNotify(result.message, "warning", "top");
                        }
                    },
                    error: function (message) {
                        $(".divLoading").removeClass("loading");
                        ShowNotify("Lỗi", "danger", "top");
                    }
                });
            }
    })
</script>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
