﻿@model IEnumerable<tbl_banner>

@{
    /* Vi Trí */
    List<SelectListItem> sllPosition = ViewBag.sllPosition;// new SelectList(db.web_pb_banner_position.ToList(), "id", "name").ToList();
    sllPosition.Insert(0, (new SelectListItem { Text = "--Tất cả--", Value = "" }));

    /* sllActive */
    List<SelectListItem> sllActive = new List<SelectListItem>{
        new SelectListItem { Text = "--Tất cả--", Value = "" },
        new SelectListItem { Text = "Không", Value = "0" },
        new SelectListItem { Text = "Có", Value = "1" }
    };

    //List<SelectListItem> sllLanguage = new List<SelectListItem>{
    //    new SelectListItem { Text = "Tiếng Việt", Value = "2" },
    //    new SelectListItem { Text = "Tiếng Anh", Value = "1"}
    //};

    ViewBag.Title = "Quản trị banner";
}

<h2>Quản lý banners</h2>

<div>
    <div class="box box-primary">
        <div class="box-body">
            @using (Html.BeginForm("Index", "Banner", FormMethod.Post, new { id = "Form" }))
            {
                <input type="text" id="page" name="page" style="display:none;" />
                <div class="row" style="padding: 0px;">
                    <div class="col-xs-12 col-md-3 col-left">
                        <div class="form-group">
                            <label>Tiêu đề</label>
                            <div>
                                @Html.TextBox("banner_name", null, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2 col-left">
                        <div class="form-group">
                            <label>Vị trí</label>
                            <div>
                                @Html.DropDownList("banner_pos", (IEnumerable<SelectListItem>)sllPosition, new { @class = "form-control", @style = "width: 200px;" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2 col-left">
                        <div class="form-group">
                            <label>Hoạt động?</label>
                            <div>
                                @Html.DropDownList("active", (IEnumerable<SelectListItem>)sllActive, new { @class = "form-control", @style = "width: 120px;" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2  col-left">
                        <div class="form-group">
                            <label> </label>
                            <div>
                                <input type="submit" class="btn btn-primary" value="Tìm kiếm" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- box End -->
    <!-- box Start -->
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">
                Danh sách banners
                <i class="fa fa-plus"></i> @Html.ActionLink("Tạo mới", "Create")
            </h3>

        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div id="myTabContent" class="tab-content">

                <table id="myTable" class="table table-bordered table-hover">
                    <thead>
                        <tr style="background-color: #1b80c8; color: white; font-size: 11.5px">
                            <th width="130px">
                                Hình ảnh
                            </th>
                            <th>
                                Tiêu đề
                            </th>
                            <th>
                                Đường dẫn
                            </th>
                            <th>
                                Vị trí
                            </th>
                            <th style="width:100px;min-width:100px">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr id="@item.banner_id">
                            <td data-search="@item.banner_src">
                                @{if (item.banner_src != null)
                                    {
                                        if (item.banner_src.Length > 0)
                                        {
                                            <img src="~/FileUploads/Banner/@item.banner_src" width="120" />
                                        }
                                    }
                                }
                            </td>
                            <td data-search="@item.banner_name" class="text-center">
                                @Html.ActionLink(item.banner_name, "Edit", new { id = item.banner_id })
                            </td>

                            <td data-search="">
                                @Html.DisplayFor(modelItem => item.banner_hyperlink)
                            </td>
                            @{
                                switch (item.banner_pos)
                                {
                                    case (int)Parameters.Banner.Position.LogoCongTy:
                                        <td data-search="@item.banner_pos" class="col-md-1"> Logo Công Ty </td>
                                        break;
                                    case (int)Parameters.Banner.Position.SlideBannerTrangChu:
                                        <td data-search="@item.banner_pos" class="col-md-1"> Slide Banner trang Chủ </td>
                                        break;
                                    case (int)Parameters.Banner.Position.DiemDenDuLich:
                                        <td data-search="@item.banner_pos" class="col-md-1"> Điểm đến du lịch </td>
                                        break;
                                    case (int)Parameters.Banner.Position.SlideFooterTrangChu:
                                        <td data-search="@item.banner_pos" class="col-md-1"> Slide Footer trang Chủ </td>
                                        break;
                                    case (int)Parameters.Banner.Position.PopupNgoaiTrangChu:
                                        <td data-search="@item.banner_pos" class="col-md-1"> Popup ngoài trang chủ </td>
                                        break;
                                    case (int)Parameters.Banner.Position.LogoWhyChoose:
                                        <td data-search="@item.banner_pos" class="col-md-1"> Logo Vì sao chọn HotCombo </td>
                                        break;
                                    default:
                                        <td data-search="@item.banner_pos" class="col-md-1"></td>
                                        break;
                                }
                            }
                        <td class="tt-wrapper text-center">
                            
                                <a href="@Url.Action("Edit",new { id = item.banner_id })"><i class="fa fa-edit"></i> </a>
                           
                            <span> | </span>
                            
                                <a href="@Url.Action("DeleteBanner",new { id = item.banner_id })" onclick="return confirmDelete()"><i class="fa fa-trash"></i> Xóa</a>
                          
                        </td>
                        </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
    <!-- box End -->
</div>


<script type="text/javascript">
    $('#page a').click(function () {
        $('#page').val(this.textContent);
        $('#Form').submit();
        return false;
    });
    $(document).ready(function () {
        //$("#example2").DataTable();
        $('#myTable').DataTable({
            "order": [[1, "asc"]]
        });
    });
    function confirmDelete() {
        if (!confirm("Bạn chắc chắn muốn xoá ?")) {
            return false;
        }
    }
</script>


