﻿table.myTable {
    border-collapse: collapse;
}

    table.myTable td {
        border: 1px solid #000;
        height: 20px;
        padding: 3px;
        color: #000;
    }

    table.myTable th {
        border: 1px solid #000;
        padding: 3px;
        height: 20px;
        background-color: #f1f1f1;
        color: #000;
        font-size: 10px;
    }

tr.border_bottom td {
    border-bottom: 1pt solid black;
}

table > tbody > tr:nth-of-type(odd) {
    background-color: white !important;
}
