﻿/* myqdh */
.form-search .panel {
    margin-bottom: 10px !important;
}

.nav-button {
    margin-bottom: 10px;
}

.tour label {
    font-weight: normal !important;
}

.pad-table {
    padding-right: 28px !important;
}

@media(max-width: 1260px) {
    .pad-table {
        padding-right: 10px !important;
    }
}
/* myqdh */



table tr th {
    text-align: center;
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}

.form-horizontal .form-group {
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: 10px;
}

.panel-body {
    padding: 10px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 5px;
    vertical-align: inherit;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-offset-right-12 {
    margin-right: 100%;
}

.col-xs-offset-right-11 {
    margin-right: 91.66666667%;
}

.col-xs-offset-right-10 {
    margin-right: 83.33333333%;
}

.col-xs-offset-right-9 {
    margin-right: 75%;
}

.col-xs-offset-right-8 {
    margin-right: 66.66666667%;
}

.col-xs-offset-right-7 {
    margin-right: 58.33333333%;
}

.col-xs-offset-right-6 {
    margin-right: 50%;
}

.col-xs-offset-right-5 {
    margin-right: 41.66666667%;
}

.col-xs-offset-right-4 {
    margin-right: 33.33333333%;
}

.col-xs-offset-right-3 {
    margin-right: 25%;
}

.col-xs-offset-right-2 {
    margin-right: 16.66666667%;
}

.col-xs-offset-right-1 {
    margin-right: 8.33333333%;
}

.col-xs-offset-right-0 {
    margin-right: 0;
}

@media (min-width: 768px) {
    .col-sm-offset-right-12 {
        margin-right: 100%;
    }

    .col-sm-offset-right-11 {
        margin-right: 91.66666667%;
    }

    .col-sm-offset-right-10 {
        margin-right: 83.33333333%;
    }

    .col-sm-offset-right-9 {
        margin-right: 75%;
    }

    .col-sm-offset-right-8 {
        margin-right: 66.66666667%;
    }

    .col-sm-offset-right-7 {
        margin-right: 58.33333333%;
    }

    .col-sm-offset-right-6 {
        margin-right: 50%;
    }

    .col-sm-offset-right-5 {
        margin-right: 41.66666667%;
    }

    .col-sm-offset-right-4 {
        margin-right: 33.33333333%;
    }

    .col-sm-offset-right-3 {
        margin-right: 25%;
    }

    .col-sm-offset-right-2 {
        margin-right: 16.66666667%;
    }

    .col-sm-offset-right-1 {
        margin-right: 8.33333333%;
    }

    .col-sm-offset-right-0 {
        margin-right: 0;
    }
}

@media (min-width: 992px) {
    .col-md-offset-right-12 {
        margin-right: 100%;
    }

    .col-md-offset-right-11 {
        margin-right: 91.66666667%;
    }

    .col-md-offset-right-10 {
        margin-right: 83.33333333%;
    }

    .col-md-offset-right-9 {
        margin-right: 75%;
    }

    .col-md-offset-right-8 {
        margin-right: 66.66666667%;
    }

    .col-md-offset-right-7 {
        margin-right: 58.33333333%;
    }

    .col-md-offset-right-6 {
        margin-right: 50%;
    }

    .col-md-offset-right-5 {
        margin-right: 41.66666667%;
    }

    .col-md-offset-right-4 {
        margin-right: 33.33333333%;
    }

    .col-md-offset-right-3 {
        margin-right: 25%;
    }

    .col-md-offset-right-2 {
        margin-right: 16.66666667%;
    }

    .col-md-offset-right-1 {
        margin-right: 8.33333333%;
    }

    .col-md-offset-right-0 {
        margin-right: 0;
    }
}

@media (min-width: 1200px) {
    .col-lg-offset-right-12 {
        margin-right: 100%;
    }

    .col-lg-offset-right-11 {
        margin-right: 91.66666667%;
    }

    .col-lg-offset-right-10 {
        margin-right: 83.33333333%;
    }

    .col-lg-offset-right-9 {
        margin-right: 75%;
    }

    .col-lg-offset-right-8 {
        margin-right: 66.66666667%;
    }

    .col-lg-offset-right-7 {
        margin-right: 58.33333333%;
    }

    .col-lg-offset-right-6 {
        margin-right: 50%;
    }

    .col-lg-offset-right-5 {
        margin-right: 41.66666667%;
    }

    .col-lg-offset-right-4 {
        margin-right: 33.33333333%;
    }

    .col-lg-offset-right-3 {
        margin-right: 25%;
    }

    .col-lg-offset-right-2 {
        margin-right: 16.66666667%;
    }

    .col-lg-offset-right-1 {
        margin-right: 8.33333333%;
    }

    .col-lg-offset-right-0 {
        margin-right: 0;
    }
}

.control-label {
    padding-right: 0px;
}

.tt-wrapper a {
    position: relative;
}

    .tt-wrapper a span {
        width: 100px;
        height: auto;
        line-height: 20px;
        padding: 5px;
        left: 50%;
        margin-left: -50px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        font-size: 12px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        text-align: center;
        background: rgba(0,0,0,0.8);
        text-indent: 0px;
        position: absolute;
        pointer-events: none;
        bottom: 100px;
        opacity: 0;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .tt-wrapper a:hover span {
        opacity: 0.9;
        bottom: 35px;
    }

    .tt-wrapper a span:before, .tt-wrapper a span:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 50%;
        margin-left: -9px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid rgba(0,0,0,0.1);
    }

    .tt-wrapper a span:after {
        bottom: -5px;
        margin-left: -5px;
        border-top: 5px solid rgba(0,0,0,0.8);
    }

/*sdf*/
.tt-wrapper .field-validation-error {
    position: relative !important;
}

.tt-wrapper .field-validation-error {
    width: 100px;
    height: auto;
    line-height: 20px;
    padding: 15px;
    left: -50%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 12px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: rgba(217,83,79,0.8);
    text-indent: 0px;
    pointer-events: none;
    bottom: 50px;
    display: initial !important;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}



    .tt-wrapper .field-validation-error:before, .tt-wrapper .field-validation-error:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 50%;
        margin-left: -9px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid rgba(0,0,0,0.1);
    }

    .tt-wrapper .field-validation-error:after {
        bottom: -5px;
        margin-left: -5px;
        border-top: 5px solid rgba(0,0,0,0.8);
    }

.table-normal tr:nth-of-type(odd) {
    background-color: rgba(207, 237, 249, 0);
}

@media screen and (max-width: 778px) {
    .nContent table, .nContent thead, .nContent tbody, .nContent th, .nContent td, .nContent tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        .nContent thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    /*.nContent tr { border: 1px solid #ccc; }*/

    .nContent td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 1%;
    }

        .nContent td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        .nContent td.stt {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    .txthide {
        display: block;
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 800px !important;
    }
}

.modal-header {
    padding-bottom: 0px !important;
    border-bottom: 1px solid #e5e5e5 !important;
}

.send-admin, .send-admin td, .send-admin td a, .send-admin td span {
    color: #6a0f0f;
    font-weight: bold;
}

.admin-accept, .admin-accept td, .admin-accept td a, .admin-accept td span {
    color: #065d1d;
    font-weight: bold;
}

.admin-reject, .admin-reject td, .admin-reject td a, .admin-reject td span {
    color: #ff0000;
    font-weight: bold;
}

.xuatvemaybay, .xuatvemaybay td, .xuatvemaybay td a, .xuatvemaybay td span {
    color: #001C84 !important;
    font-weight: bold;
}

.btn-circle {
    width: 15px;
    height: 15px;
    text-align: center;
    padding: 6px 0;
    font-size: 18px;
    line-height: 1;
    border-radius: 20px;
}

.bg-send-admin {
    background-color: #6a0f0f;
}

.bg-admin-accept {
    background-color: #065d1d;
}

.bg-admin-reject {
    background-color: #ff0000;
}

.bg-xuatvemaybay {
    background-color: #001C84;
}

.box-title.fa.fa-minus, .box-title.fa.fa-plus {
    width: 100%;
    cursor: pointer;
}

h3.fa-plus:before, h3.fa-minus:before {
    content: "";
}

h3.fa-plus:after {
    content: "\f067";
    float: right;
    font: normal normal normal 14px/1 FontAwesome;
}

h3.fa-minus:after {
    content: "\f068";
    float: right;
    font: normal normal normal 14px/1 FontAwesome;
}

.chosen-container {
    width: 100% !important;
}

.modal-header .close {
    color: #367fa9;
    opacity: 1;
}

.title-modal {
    color: #1b80c8;
    font-weight: bold;
    font-size: 17px;
}

.modal-open .modal {
    min-width: 768px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: 140px !important;
}

.price-vn:after {
    content: "\20AB";
    padding-left: 5px;
}

.price-usd:after {
    content: "\0024";
    padding-right: 5px;
}

.bar-footer {
    position: fixed;
    bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #e9e9e9;
    width: 100%;
    border-top: 1px solid;
}

    .bar-footer .btn-default:hover, .bar-footer .btn-default:active, .bar-footer .btn-default {
        background-color: white;
    }

.scroll {
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 10px;
}

.right input, .right {
    text-align: right;
}

#frmChietTinh .input-sm {
    padding: 5px 7px;
}

.col-middle {
    padding-left: 0px;
}

h3.box-title {
    width: 100%;
}
/*.modal {background: none !important;}*/

/*change background-color*/
.animate-me {
    -webkit-animation: bgcolorchange 4s infinite; /* Chrome, Safari, Opera */
    animation: 4s infinite bgcolorchange;
}

@keyframes bgcolorchange {
    0% {
        background-color: red;
        color: #fff;
    }

    25% {
        background-color: white;
        color: #000;
    }

    50% {
        background-color: red;
        color: #fff;
    }

    75% {
        background-color: white;
        color: #000;
    }

    100% {
        background-color: red;
        color: #fff;
    }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes bgcolorchange {
    0% {
        background: red;
        color: #fff;
    }

    25% {
        background: white;
        color: #000;
    }

    75% {
        background: red;
        color: #fff;
    }

    100% {
        background: white;
        color: #000;
    }
}

.field-validation-error {
    background-color: #f76570;
    color: #fff !important;
    font-size: 12px !important;
    text-transform: uppercase;
    padding-left: 0px;
    padding: 10px 20px;
    margin: 10px 0px;
    overflow: hidden;
    display: inline-block;
}

    .field-validation-error span {
        color: #fff !important;
    }


.field-validation-valid {
    display: none;
}

.tt-wrapper a {
    position: relative;
}

    .tt-wrapper a span {
        width: 100px;
        height: auto;
        line-height: 20px;
        padding: 5px;
        left: 50%;
        margin-left: -50px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        font-size: 12px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        text-align: center;
        background: rgba(0,0,0,0.8);
        text-indent: 0px;
        position: absolute;
        pointer-events: none;
        bottom: 100px;
        opacity: 0;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .tt-wrapper a.tt-doitac span {
        width: 200px;
    }
    /*.tt-wrapper a.tt-doitac span {
    left: -50px;
}*/
    .tt-wrapper a:hover span {
        opacity: 0.9;
        bottom: 35px;
    }

    .tt-wrapper a.tt-doitac:hover span {
        bottom: 10px;
    }

    .tt-wrapper a span:before, .tt-wrapper a span:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 50%;
        margin-left: -9px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid rgba(0,0,0,0.1);
    }

    .tt-wrapper a span:after {
        bottom: -5px;
        margin-left: -5px;
        border-top: 5px solid rgba(0,0,0,0.8);
    }

/*.chosen-container {
    height: 40px;
}*/

.sub-nav li .selected, .sub-nav li .active {
    cursor: default;
}

.bold {
    font-weight: bold;
}

.text-info {
    color: #00c0ef !important;
}

    .text-info:hover {
        color: #5cb85c !important;
    }

.no-padding-right {
    padding-right: 0px;
}

.input-group-addon {
    padding: 6px !important;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.clear-prefix {
    overflow: hidden;
    clear: both;
}

.skin-yellow .modal-header {
    background-color: #f39c12;
    color: #fff;
}

/**Loader*/
#preloader-wrapper {
    z-index: 9999;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.6;
    -webkit-transition: opacity .8s;
    -moz-transition: opacity .8s;
    -o-transition: opacity .8s;
    transition: opacity .8s;
}

    #preloader-wrapper:before {
        display: inline-block;
        content: '';
        height: 100%;
        vertical-align: middle;
    }

    #preloader-wrapper #preloader {
        display: inline-block;
        width: 96%;
        vertical-align: middle;
    }

    #preloader-wrapper .spinner {
        margin: 100px auto;
        width: 50px;
        height: 50px;
        position: relative;
    }

    #preloader-wrapper .container1 > div, #preloader-wrapper .container2 > div, #preloader-wrapper .container3 > div {
        width: 10px;
        height: 10px;
        background-color: #333;
        border-radius: 100%;
        position: absolute;
        -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
        animation: bouncedelay 1.2s infinite ease-in-out;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    #preloader-wrapper .spinner .spinner-container {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    #preloader-wrapper .container2 {
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
    }

    #preloader-wrapper .container3 {
        -webkit-transform: rotateZ(90deg);
        transform: rotateZ(90deg);
    }

    #preloader-wrapper .circle1 {
        top: 0;
        left: 0;
    }

    #preloader-wrapper .circle2 {
        top: 0;
        right: 0;
    }

    #preloader-wrapper .circle3 {
        right: 0;
        bottom: 0;
    }

    #preloader-wrapper .circle4 {
        left: 0;
        bottom: 0;
    }

    #preloader-wrapper .container2 .circle1 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }

    #preloader-wrapper .container3 .circle1 {
        -webkit-animation-delay: -1s;
        animation-delay: -1s;
    }

    #preloader-wrapper .container1 .circle2 {
        -webkit-animation-delay: -.9s;
        animation-delay: -.9s;
    }

    #preloader-wrapper .container2 .circle2 {
        -webkit-animation-delay: -.8s;
        animation-delay: -.8s;
    }

    #preloader-wrapper .container3 .circle2 {
        -webkit-animation-delay: -.7s;
        animation-delay: -.7s;
    }

    #preloader-wrapper .container1 .circle3 {
        -webkit-animation-delay: -.6s;
        animation-delay: -.6s;
    }

    #preloader-wrapper .container2 .circle3 {
        -webkit-animation-delay: -.5s;
        animation-delay: -.5s;
    }

    #preloader-wrapper .container3 .circle3 {
        -webkit-animation-delay: -.4s;
        animation-delay: -.4s;
    }

    #preloader-wrapper .container1 .circle4 {
        -webkit-animation-delay: -.3s;
        animation-delay: -.3s;
    }

    #preloader-wrapper .container2 .circle4 {
        -webkit-animation-delay: -.2s;
        animation-delay: -.2s;
    }

    #preloader-wrapper .container3 .circle4 {
        -webkit-animation-delay: -.1s;
        animation-delay: -.1s;
    }

@-webkit-keyframes bouncedelay {
    0%,80%,100% {
        -webkit-transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes bouncedelay {
    0%,80%,100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }

    40% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

.required {
    color: #be0500;
    font-weight: bold;
}

#tab1 {
    padding-top: 20px;
}

body {
    /*font-family: 'Roboto Condensed', sans-serif !important;
  font-size: 14.5px;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    /*min-width: 768px;*/
}
/*@media(max-width: 768px) {
  body {
    font-size: 13px !important;
  }
  .header .nav-money select {
    width: 90px !important;
  }
  .header .nav-money select.form-control {
    padding: 0px !important;
  }
}*/
.button {
    background-color: #1b80c8;
    color: white;
}

.chuin {
    text-transform: uppercase;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.hidden {
    display: none;
}

.title-modal {
    text-transform: uppercase !important;
}

.mg-top5 {
    margin-top: 5px;
}
/*#myTable.table-striped tbody tr.highlight td a {
    color:#fff;
}*/
/*#myTable tr td {
    font-weight:bold;
}*/
/* right mouse */
.context {
    font-size: 1.1em;
    position: absolute;
    width: auto;
    height: auto;
    padding: 5px 0px;
    border-radius: 5px;
    top: 10;
    left: 10;
    background-color: #fff;
    color: #000;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

    .context .context_item {
        height: 32px;
        line-height: 32px;
        cursor: pointer;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

        .context .context_item .inner_item a {
            color: #000;
        }

    .context a.context_item :hover {
        color: white !important;
        background: #1b80c8;
    }

    .context .context_item:hover {
        color: white !important;
        background: #1b80c8;
    }

    .context .context_item .inner_item {
        margin: 0px 10px;
    }

        .context .context_item .inner_item i {
            margin: 0 5px 0 0;
            font-weight: bold;
        }

    .context .context_hr {
        height: 1px;
        border-top: 1px solid #eee;
        margin: 3px 10px;
    }

/* right mouse */
.price {
    color: #a00000;
    font-weight: bold !important;
}

.socho {
    font-weight: bold;
}

table.ui-datepicker-calendar > tbody > tr:nth-of-type(odd) {
    background-color: #fff !important;
}

table.table-hm > tbody > tr:nth-of-type(odd) {
    background-color: #fff !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f0f9ff;
}

table.data tbody tr {
    cursor: pointer;
}
/*table.data tbody tr:hover {
  background-color: #c8ebff;
}*/
.paging .pagination {
    margin: 0px !important;
}

.show-page a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

    .show-page a:hover {
        font-weight: bold;
    }

.page-chose a {
    font-weight: bold !important;
    color: #1b80c8 !important;
}

@media(max-width: 1131px) {
    .tr-data {
        width: 31%;
    }
}

@media(min-width: 1132px) {
    .tr-data {
        width: 36%;
    }
}

#myTable.table-striped tbody tr:nth-child(odd) td {
    background-color: #c9e6fb;
}

#myTable.table-striped tbody tr.highlight td {
    background-color: #6998BA;
    /*color:#fff;*/
}
/*#myTable.table-striped tbody tr.highlight td .price {
    color:white !important;    
}*/
.table-td-bg {
    background-color: #1b7ab8;
    color: white;
}

.pager_primary a {
    color: black !important;
    border: 1px solid #6fbdf7 !important;
    background: #d5edff !important;
}

.pager_primary .active a {
    background-color: #337ab7 !important;
    border: 1px solid #337ab7 !important;
    color: White !important;
}

#myTable2.table-striped tbody tr:nth-child(odd) td {
    background-color: #EFF7FD;
}

#myTable2.table-striped tbody tr.highlight td {
    background-color: #6998BA;
    /*color:#fff;*/
}
/*
#myTable2.table-striped tbody tr.highlight td .price {
    color:white !important;    
}*/
.box-body .btn-default {
    background-color: #d5edff !important;
    color: #333 !important;
    border-color: #6fbdf7 !important;
}

    .box-body .btn-default:hover {
        background-color: #6998BA !important;
        color: #fff !important;
        border-color: #6fbdf7 !important;
    }

.content-wrapper {
    background-color: #E9F5FE !important;
}
/*#myTable.table-striped tbody tr.highlight td a,#myTable.table-striped tbody tr.highlight td,#myTable.table-striped tbody tr.highlight td span.price {
    color: #fff !important;
}*/
#ui-datepicker-div {
    z-index: 99999 !important;
}
/*.c-search-nc {
  color: #1b80c8;
}*/
.boder-select {
    width: 75px;
    border-radius: 3px;
    border: 1px solid #ccc !important;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}

.fa.pull-left {
    margin-top: 4px;
    font-size: 14px;
}

.mg-right5 {
    margin-right: 5px;
}

.mg-right10 {
    margin-right: 10px;
}

.mg-right15 {
    margin-right: 15px;
}

.mg-right20 {
    margin-right: 20px;
}

.title-tour span.title {
    font-size: 22px;
    color: #1b80c8;
    font-weight: bold;
}

.tour fieldset legend {
    font-size: 18px;
    color: #1b80c8;
    font-weight: bold;
}

.input-sm {
    font-size: 14px !important;
}

.hdv.table > tbody > tr > td, .hdv.table > tbody > tr > th, .hdv.table > tfoot > tr > td, .hdv.table > tfoot > tr > th, .hdv.table > thead > tr > td, .hdv.table > thead > tr > th {
    padding: 5px !important;
    border: 0px !important;
}

.title-item {
    color: #414141;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    font-weight: bold;
}

.title-tour span.title {
    font-size: 22px;
    color: #1b80c8;
    font-weight: bold;
}

.price-blue {
    font-weight: bold;
    color: #2066d0;
}

.price-red {
    font-weight: bold;
    color: #f11414;
}

.title-thongtin {
    font-size: 16px;
}
/*@media(max-width: 768px) {
  .title-thongtin {
    font-size: 14.5px !important;
  }
  .img-avatar {
    width: 22px !important;
    height: 23px !important;
  }
}*/
.button-other {
    background-color: #F1F1F1 !important;
}

ol li {
    padding-bottom: 10px;
    line-height: 22px;
}

.nav-tabs > li.active > a {
    color: #3B8CD2 !important;
}

.nav-tabs > li > a {
    color: #333 !important;
}

.pagination-sm > li > a, .pagination-sm > li > span {
    font-weight: bold;
}

.buttons .dropdown-menu {
    left: 60px !important;
}

.mg-top10 {
    margin-top: 10px;
}

.mg-right20 {
    margin-right: 20px;
}

.mg-left50 {
    margin-left: 50px;
}

.mg-bottom10 {
    margin-bottom: 10px;
}

.mg-bottom5 {
    margin-bottom: 5px;
}

.mg-top5 {
    margin-top: 5px;
}

.label-align {
    margin-top: 3.5px;
}

.form-horizontal label {
    font-weight: normal !important;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.disabled-control {
    pointer-events: none;
}

.form-search .panel {
    margin-bottom: 10px !important;
}

.nav-button {
    margin-bottom: 10px;
}

.etour .panel {
    margin-bottom: 7px !important;
}

.customer-info .panel {
    margin-bottom: 7px !important;
}

#tttt .panel, #ttkh .panel {
    border-top: none;
    border-right: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    border-left: 1px solid #ccc !important;
}

.col-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.min-width {
    min-width: 55px;
}

.min-width2 {
    min-width: 100px;
}

/*-- Visa --*/
/*http://codecanyon.net/item/step-form-wizard/full_screen_preview/8591111*/
.clearfix {
    zoom: 1;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.sf-nav {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

    .sf-nav li {
        float: left;
        position: relative;
        margin-right: 50px;
    }

sf-t2 .sf-nav li {
    font-size: 16px;
    color: #FFF;
    background: #283d50;
    height: 40px;
    line-height: 40px;
    padding: 0 45px;
    border-radius: 3px;
}

.sf-t2 .sf-nav-top {
    height: 45px;
}

.sf-nav-wrap {
    overflow: hidden;
    width: 100%;
    position: relative;
    left: 0;
}

.sf-nav-top .sf-nav, .sf-nav-bottom .sf-nav {
    width: 9999px;
    position: absolute;
}

.sf-nav li.sf-nav-link:not(.sf-nav-step-disabled) {
    cursor: pointer;
}

.sf-t2 .sf-nav-top li, .sf-t2 .sf-nav-bottom li {
    -webkit-transition: margin 200ms;
    -moz-transition: margin 200ms;
    -ms-transition: margin 200ms;
    -o-transition: margin 200ms;
    transition: margin 200ms;
}

.sf-t2 .sf-li-number .sf-nav-subtext {
    padding-left: 35px;
}

.sf-t2 .sf-nav-subtext {
    display: block;
}

.sf-t2 .sf-nav-number {
    position: absolute;
    left: 12px;
    top: 0;
    font-size: 60px;
    font-weight: 700;
    overflow: hidden;
}

.sf-t2 .sf-nav-number-inner {
    display: block;
}

.sf-t2 .sf-nav li {
    font-size: 16px;
    color: #FFF;
    background: #283d50;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 3px;
}
    /*, .sf-t2 .sf-nav li.sf-nav-link:not(.sf-nav-step-disabled):not(.sf-nav-unlink):hover*/
    .sf-t2 .sf-nav li.sf-active {
        background: #14b5c8;
    }

        .sf-t2 .sf-nav li.sf-active:after {
            content: "";
            width: 5px;
            height: 5px;
            background: transparent;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            position: absolute;
            bottom: -10px;
            left: 50%;
            margin-left: -12px;
            border: 12px solid black;
            border-color: transparent #14b5c8 #14b5c8 transparent;
            z-index: -1;
        }
/*-- ./Visa --*/
.text-warning {
    color: #f39c12 !important;
}

.form-group {
    margin-bottom: 10px !important;
}

.hien-menu-home-noidia {
    display: none;
}

.nav > li.hien-menu-home-noidia {
    display: none;
}

@media(max-width: 980px) {
    .an-menu-home-noidia {
        display: none;
    }

    .nav > li.hien-menu-home-noidia {
        display: block !important;
    }

    .hien-menu-home-noidia {
        display: block;
    }
}

@media only screen and (max-width: 980px) {

    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        #no-more-tables thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    #no-more-tables tr {
        border: 1px solid #ccc;
    }

    #no-more-tables td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
        min-height: 30px;
    }

        #no-more-tables td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            text-align: left;
            font-weight: bold;
        }

        /*
	Label the data
	*/
        #no-more-tables td:before {
            content: attr(data-title);
            color: #333;
            font-weight: bold;
        }

    #myTable.table-striped tbody tr.highlight td {
        background-color: #ddd;
        /* color: #fff; */
    }
}

.mg-bottom10 {
    margin-bottom: 10px;
}

.mg-left5 {
    margin-left: 5px;
}

/* table */
body.theme-green {
    color: black !important;
}

.theme-green .content-wrapper {
    background-color: #d2f2ff !important;
}

.theme-green #myTable.table-striped tbody tr:nth-child(odd) td {
    background-color: #41dde9;
}

.theme-green #myTable.table-striped thead tr {
    background-color: #336666 !important;
    color: white;
}

.theme-green #myTable tbody tr {
    background-color: #8beaec;
}
/*.theme-green #myTable.table-striped tbody tr.highlight td a,.theme-green #myTable.table-striped tbody tr.highlight td,.theme-green #myTable.table-striped tbody tr.highlight td span.price {
    color: black !important;
}*/
.theme-green #myTable.table-striped tbody tr td a {
    color: black !important;
}

.theme-green #myTable.table-bordered > tbody > tr > td {
    border-color: grey !important;
    /*color: black !important;*/
}

.theme-green #myTable.table-striped tbody tr.highlight td {
    background-color: #778899;
    /*color:#fff;*/
}

.theme-green .table thead tr {
    background-color: #336666 !important;
    color: white;
}

.theme-green .table {
    border-color: grey !important;
    color: black !important;
}

.theme-green table.table-hm > tbody > tr:nth-of-type(odd) {
    background-color: #d2f2ff !important;
}

.theme-green .table-bordered > tbody > tr > td.table-td-bg {
    background-color: #336666 !important;
    color: #fff !important;
}

.theme-green .table > tbody > tr:nth-of-type(odd) {
    background-color: #41dde9 !important;
}

.theme-green .table > tbody > tr {
    background-color: #8beaec !important;
}

.theme-green .table-bordered > tbody > tr > td {
    border-color: grey !important;
    /*color: black !important;*/
}

.theme-green .nav-tabs > li.active > a, .theme-green .nav-tabs > li.active > a:focus, .theme-green .nav-tabs > li.active > a:hover {
    background-color: #b8e2f3 !important;
    color: black !important;
}

.theme-green .nav-tabs > li > a:hover {
    background-color: #8beaec !important;
}

.theme-green .pagination > li > a, .theme-green .pagination > li > span {
    color: black !important;
    border: 1px solid #2fbfca;
    background: #8fe7f3;
}

.theme-green .pagination > .active > a, .theme-green .pagination > .active > a:focus, .theme-green .pagination > .active > a:hover, .theme-green .pagination > .active > span, .theme-green .pagination > .active > span:focus, .theme-green .pagination > .active > span:hover {
    background: #336666 !important;
}

/* table */
/* button */
.theme-green .content .btn-default, .theme-green .content .btn-primary {
    background-color: #3c8dbc !important;
    color: white !important;
    border-color: #266589 !important;
}

    .theme-green .content .btn-default:hover, .theme-green .content .btn-primary:hover {
        background-color: #266589 !important;
    }

.theme-green .thanhtoan .btn-primary {
    background-color: #3c8dbc !important;
    color: white !important;
    border-color: #266589 !important;
}

    .theme-green .thanhtoan .btn-primary:hover {
        background-color: #266589 !important;
    }

.theme-green .them .btn-primary {
    background-color: #3c8dbc !important;
    color: white !important;
    border-color: #266589 !important;
}

    .theme-green .them .btn-primary:hover {
        background-color: #266589 !important;
    }

/* button */
/* paging */
.theme-green .pager_primary a {
    color: black !important;
    border: 1px solid #2fbfca !important;
    background: #8fe7f3 !important;
}

.theme-green .pager_primary .active a {
    background-color: #336666 !important;
    border: 1px solid #337ab7 !important;
    color: White !important;
}
/* paging */
/* textbox */
.input-validation-error {
    border-color: #dd4b39 !important;
}

.theme-green .content .form-control {
    border-color: #949494;
}

/* textbox */
/* box panel */
.theme-green .content .box-body {
    background: #d2f2ff !important;
}

.theme-green .content .box {
    border-left: 1px solid #949494 !important;
    border-right: 1px solid #949494 !important;
    border-bottom: 1px solid #949494 !important;
}

.theme-green .content .panel-body {
    background: #d2f2ff !important;
}

.theme-green .content .panel-default {
    border-color: #949494 !important;
}

.theme-green .box.box-primary {
    border-top-color: #336666;
}

.theme-green .box-header.with-border {
    border-bottom: 1px solid #949494;
}

.theme-green .box-header {
    background-color: #d2f2ff;
}

.theme-green .box-footer {
    background-color: #d2f2ff;
}

.theme-green .content .sodobotriphong.box-body {
    background: #fff !important;
}

.theme-green .content .invedulich .box-body {
    background: #fff !important;
}

.theme-green .content .sodobotrixe.panel-body {
    background: #fff !important;
}

.theme-green .content .chiettinh .panel-body {
    background: #fff !important;
}

.theme-green .content .nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #336666 !important;
}

.theme-green .content .nav-tabs-custom > .tab-content {
    background: #b8e2f3 !important;
}

.theme-green .nav-tabs-custom {
    background-color: transparent !important;
}

    .theme-green .nav-tabs-custom > .nav-tabs > li > a:hover {
        background: rgb(139, 215, 246) !important;
    }
/* box panel */
/* title */
.theme-green .tour fieldset legend {
    color: #336666 !important;
}

.theme-green .chuin {
    color: #336666 !important;
}

.theme-green #myTable2.table-striped tbody tr.highlight td a {
    color: black !important;
}

.theme-green .title-item {
    color: #000000 !important;
}
/* title */
/* report */
.theme-green .reportcss table > tbody > tr:nth-of-type(odd) {
    background-color: #fff !important;
}

.theme-green .reportcss table > tbody > tr {
    background-color: #fff !important;
}

.theme-green .reportcss .box-body {
    background-color: #fff !important;
}

.theme-green .title-modal {
    color: #336666 !important;
    text-transform: uppercase;
}
/* report */
.theme-green .form-control:focus {
    border-color: #266589 !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.skin-green #myTable.table-striped thead tr {
    background-color: #00a65a !important;
    color: white;
}
.skin-red #myTable.table-striped thead tr {
    background-color: #dd4b39 !important;
    color: white;
}
.skin-yellow #myTable.table-striped thead tr {
    background-color: #f39c12 !important;
    color: white;
}
.skin-purple #myTable.table-striped thead tr {
    background-color: #605ca8 !important;
    color: white;
}

.ui-autocomplete-loading {
    background: white url('images/AutoComplete.gif') right center no-repeat;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    z-index: 999999;
}

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 5px;
    right: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    background-color: #3c8dbc;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
    border: 2px solid #fff;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    box-shadow: 0px 0px 10px rgba(126, 134, 139, 1);
    -moz-box-shadow: 0px 0px 10px rgba(126, 134, 139, 10);
    -webkit-box-shadow: 0px 0px 10px rgba(126, 134, 139, 1);
}

    .cd-top:before {
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f106";
        color: #fff;
        position: relative;
        top: 5px;
        left: 30%;
        font-size: 22px;
    }

/*change color animate*/
.awesome {
    width: 100%;
    text-align: center;
    color: #313131;
    font-weight: bold;
    -webkit-animation: colorchange 5s infinite alternate;
}

@-webkit-keyframes colorchange {
    0% {
        color: white;
    }

    12.5% {
        color: yellow;
    }

    25% {
        color: orange;
    }

    37.5% {
        color: yellow;
    }

    50% {
        color: white;
    }

    62.5% {
        color: yellow;
    }

    75% {
        color: orange;
    }

    87.5% {
        color: yellow;
    }

    100% {
        color: white;
    }
}

.bell::after {
    content: "\f0a2";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    font-family: "FontAwesome";
    text-align: right;
    background: transparent;
    box-shadow: none;
    transform-origin: 70% 1em;
    -webkit-animation: ring 2s infinite alternate;
    position: absolute;
    top: 15px;
    left: 5px;
    -webkit-text-stroke-width: 2px;
    /*color:orange;    
    -webkit-text-stroke-color: orange;*/
}


@-webkit-keyframes ring {
    0% {
        transform: rotate(0deg);
    }

    5% {
        transform: rotate(45deg);
    }

    15% {
        transform: rotate(-40deg);
    }

    25% {
        transform: rotate(20deg);
    }

    35% {
        transform: rotate(-15deg);
    }

    45% {
        transform: rotate(10deg);
    }

    55% {
        transform: rotate(-5deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media (max-width: 991px) {
    .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
        top: 100% !important;
        left: auto !important;
    }
}

.badge-num {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
    background: #ff0000;
    cursor: default;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    height: 2rem;
    letter-spacing: -.1rem;
    line-height: 1.55;
    margin-top: -1rem;
    margin-left: .1rem;
    border: .2rem solid #fff;
    text-align: center;
    display: inline-block;
    width: 2rem;
    box-shadow: 1px 1px 5px rgba(0,0,0, .2);
    animation: pulse 1.5s 1;
}

    .badge-num:after {
        content: '';
        position: absolute;
        top: -.1rem;
        left: -.1rem;
        border: 2px solid rgba(255,0,0,.5);
        opacity: 0;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        animation: sonar 1.5s 1;
    }

@keyframes sonar {
    0% {
        transform: scale(.9);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.4);
    }

    50% {
        transform: scale(.9);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 767px) {
    .main-sidebar, .left-side {
        padding-top: 50px !important;
    }

    .menu-language {
        margin-top: 15px !important;
    }

    #badge {
        display: none;
    }
}

/*custom nav bar*/
.control-sidebar.control-sidebar-open, .control-sidebar.control-sidebar-open + .control-sidebar-bg {
    display: block;
}

.control-sidebar-bg, .control-sidebar {
    display: none;
}

@media(max-width: 767px) {
    .content-wrapper {
        padding-top: 50px;
    }

    .control-sidebar {
        padding-top: 50px;
    }

    .main-header .navbar {
        position: fixed;
    }

    .mg-top10-mobile {
        margin-top: 10px;
    }

    .scroll-mobile {
        overflow-y: scroll;
        overflow-x: scroll;
        margin-bottom: 10px;
    }

    .modal-open .modal {
        overflow-x: scroll;
        min-width: initial;
    }

    .cd-top.cd-is-visible {
        display: none;
    }
}

.ui-autocomplete {
    z-index: 999999 !important;
}

.more {
    height: 100px;
    overflow: hidden;
}

.more:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5em;
    left: 0;
    top: 40px;
    background: linear-gradient(transparent 0,#fff);
    border-radius: 2px;
    z-index: 1;    
}
.table>tbody>tr.danger>td { background-color: #f75e5e !important; }
@media (max-width: 767px) {
    .skin-blue .main-header .navbar .dropdown-menu li a.btn-primary {

        background-color: rgb(60, 141, 188) !important;
    }
}


    .navbar-nav > .user-menu > .dropdown-menu > li.user-header {
        height: 100px !important;
    }

.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}
.sidebar-menu .treeview-menu>li>a .far,.sidebar-menu .treeview-menu>li>a .fas
, ul.sidebar-menu li a i.fas
, ul.sidebar-menu li a i.far
, ul.sidebar-menu li a i.fab {
    width: 18px !important;
}