﻿.pager_primary{

}

.pager_primary table tr {
    background-color: rgba(207, 237, 249, 0) !important;
}

.pager_primary td{
	border: 0px !important;
}

/*.pager_primary td{
    padding: 1px;
}*/

.pager_primary a{
    text-decoration: none;
    font: 12px Arial;
    font-weight: normal;
    color: black;
    display: block;
    padding: 5px 10px;
    border: 1px solid #eee;
    background: #fafafa;
    color: #666;
}

.pager_primary .active a {
    background-color: #337ab7;
    border: 1px solid #337ab7;
    color: White;
}

.pager_primary a:hover{    
    font-weight:bolder;
}

.pager_orange{

}

.pager_orange td{
	border: 0px !important;
}

.pager_orange td{
    padding: 1px;
}

.pager_orange a{
    text-decoration: none;
    font: 12px Arial;
    font-weight: normal;
    color: black;
    display: block;
    padding: 5px 10px;
    border: 1px solid #fe8c00;
    background-color: #ffd9b4;
}

.pager_orange .active a, 
.pager_orange a:hover{    
    background-color: #fe8c00;
    color: White;
}