﻿/* myqdh */
.form-search .panel {
    margin-bottom: 10px !important;
}

.nav-button {
    margin-bottom: 10px;
}

.tour label {
    font-weight: normal !important;
}

/* myqdh */



table tr th {
    text-align: center;
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}

.form-horizontal .form-group {
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: 10px;
}

.panel-body { padding: 10px; }

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 5px;
    vertical-align: inherit;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-offset-right-12 {
    margin-right: 100%;
}

.col-xs-offset-right-11 {
    margin-right: 91.66666667%;
}

.col-xs-offset-right-10 {
    margin-right: 83.33333333%;
}

.col-xs-offset-right-9 {
    margin-right: 75%;
}

.col-xs-offset-right-8 {
    margin-right: 66.66666667%;
}

.col-xs-offset-right-7 {
    margin-right: 58.33333333%;
}

.col-xs-offset-right-6 {
    margin-right: 50%;
}

.col-xs-offset-right-5 {
    margin-right: 41.66666667%;
}

.col-xs-offset-right-4 {
    margin-right: 33.33333333%;
}

.col-xs-offset-right-3 {
    margin-right: 25%;
}

.col-xs-offset-right-2 {
    margin-right: 16.66666667%;
}

.col-xs-offset-right-1 {
    margin-right: 8.33333333%;
}

.col-xs-offset-right-0 {
    margin-right: 0;
}

@media (min-width: 768px) {
    .col-sm-offset-right-12 {
        margin-right: 100%;
    }

    .col-sm-offset-right-11 {
        margin-right: 91.66666667%;
    }

    .col-sm-offset-right-10 {
        margin-right: 83.33333333%;
    }

    .col-sm-offset-right-9 {
        margin-right: 75%;
    }

    .col-sm-offset-right-8 {
        margin-right: 66.66666667%;
    }

    .col-sm-offset-right-7 {
        margin-right: 58.33333333%;
    }

    .col-sm-offset-right-6 {
        margin-right: 50%;
    }

    .col-sm-offset-right-5 {
        margin-right: 41.66666667%;
    }

    .col-sm-offset-right-4 {
        margin-right: 33.33333333%;
    }

    .col-sm-offset-right-3 {
        margin-right: 25%;
    }

    .col-sm-offset-right-2 {
        margin-right: 16.66666667%;
    }

    .col-sm-offset-right-1 {
        margin-right: 8.33333333%;
    }

    .col-sm-offset-right-0 {
        margin-right: 0;
    }
}

@media (min-width: 992px) {
    .col-md-offset-right-12 {
        margin-right: 100%;
    }

    .col-md-offset-right-11 {
        margin-right: 91.66666667%;
    }

    .col-md-offset-right-10 {
        margin-right: 83.33333333%;
    }

    .col-md-offset-right-9 {
        margin-right: 75%;
    }

    .col-md-offset-right-8 {
        margin-right: 66.66666667%;
    }

    .col-md-offset-right-7 {
        margin-right: 58.33333333%;
    }

    .col-md-offset-right-6 {
        margin-right: 50%;
    }

    .col-md-offset-right-5 {
        margin-right: 41.66666667%;
    }

    .col-md-offset-right-4 {
        margin-right: 33.33333333%;
    }

    .col-md-offset-right-3 {
        margin-right: 25%;
    }

    .col-md-offset-right-2 {
        margin-right: 16.66666667%;
    }

    .col-md-offset-right-1 {
        margin-right: 8.33333333%;
    }

    .col-md-offset-right-0 {
        margin-right: 0;
    }
}

@media (min-width: 1200px) {
    .col-lg-offset-right-12 {
        margin-right: 100%;
    }

    .col-lg-offset-right-11 {
        margin-right: 91.66666667%;
    }

    .col-lg-offset-right-10 {
        margin-right: 83.33333333%;
    }

    .col-lg-offset-right-9 {
        margin-right: 75%;
    }

    .col-lg-offset-right-8 {
        margin-right: 66.66666667%;
    }

    .col-lg-offset-right-7 {
        margin-right: 58.33333333%;
    }

    .col-lg-offset-right-6 {
        margin-right: 50%;
    }

    .col-lg-offset-right-5 {
        margin-right: 41.66666667%;
    }

    .col-lg-offset-right-4 {
        margin-right: 33.33333333%;
    }

    .col-lg-offset-right-3 {
        margin-right: 25%;
    }

    .col-lg-offset-right-2 {
        margin-right: 16.66666667%;
    }

    .col-lg-offset-right-1 {
        margin-right: 8.33333333%;
    }

    .col-lg-offset-right-0 {
        margin-right: 0;
    }
}

.control-label {
    padding-right: 0px;
}

.tt-wrapper a {
    position: relative;
}

    .tt-wrapper a span {
        width: 100px;
        height: auto;
        line-height: 20px;
        padding: 5px;
        left: 50%;
        margin-left: -50px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        font-size: 12px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        text-align: center;
        background: rgba(0,0,0,0.8);
        text-indent: 0px;
        position: absolute;
        pointer-events: none;
        bottom: 100px;
        opacity: 0;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .tt-wrapper a:hover span {
        opacity: 0.9;
        bottom: 35px;
    }

    .tt-wrapper a span:before, .tt-wrapper a span:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 50%;
        margin-left: -9px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid rgba(0,0,0,0.1);
    }

    .tt-wrapper a span:after {
        bottom: -5px;
        margin-left: -5px;
        border-top: 5px solid rgba(0,0,0,0.8);
    }

/*sdf*/
.tt-wrapper .field-validation-error {
    position: relative !important;
}

.tt-wrapper .field-validation-error {
    width: 100px;
    height: auto;
    line-height: 20px;
    padding: 15px;
    left: -50%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 12px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: rgba(217,83,79,0.8);
    text-indent: 0px;
    pointer-events: none;
    bottom: 50px;
    display: initial !important;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}



    .tt-wrapper .field-validation-error:before, .tt-wrapper .field-validation-error:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 50%;
        margin-left: -9px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid rgba(0,0,0,0.1);
    }

    .tt-wrapper .field-validation-error:after {
        bottom: -5px;
        margin-left: -5px;
        border-top: 5px solid rgba(0,0,0,0.8);
    }

.table-normal tr:nth-of-type(odd) {
    background-color: rgba(207, 237, 249, 0);
}

@media screen and (max-width: 778px) {
    .nContent table, .nContent thead, .nContent tbody, .nContent th, .nContent td, .nContent tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        .nContent thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    /*.nContent tr { border: 1px solid #ccc; }*/

    .nContent td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 1%;
    }

        .nContent td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        .nContent td.stt {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    .txthide {
        display: block;
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 800px !important;
    }
}

.modal-header {
    padding-bottom: 0px !important;
    border-bottom: 1px solid #e5e5e5 !important;
}

.send-admin, .send-admin td, .send-admin td a, .send-admin td span {
    color: #6a0f0f;
    font-weight: bold;
}

.admin-accept, .admin-accept td, .admin-accept td a, .admin-accept td span {
    color: #065d1d;
    font-weight: bold;
}

.admin-reject, .admin-reject td, .admin-reject td a, .admin-reject td span {
    color: #ff0000;
    font-weight: bold;
}

.xuatvemaybay, .xuatvemaybay td, .xuatvemaybay td a, .xuatvemaybay td span{
    color:#001C84 !important;
    font-weight:bold;
}

.btn-circle {
    width: 15px;
    height: 15px;
    text-align: center;
    padding: 6px 0;
    font-size: 18px;
    line-height: 1;
    border-radius: 20px;
}

.bg-send-admin{ background-color: #6a0f0f;}
.bg-admin-accept{ background-color: #065d1d;}
.bg-admin-reject{ background-color: #ff0000;}
.bg-xuatvemaybay{ background-color: #001C84;}

.box-title.fa.fa-minus, .box-title.fa.fa-plus {
    width: 100%;
    cursor: pointer;
}

h3.fa-plus:before, h3.fa-minus:before {
    content: "";
}

h3.fa-plus:after {
    content: "\f067";
    float: right;
    font: normal normal normal 14px/1 FontAwesome;
}

h3.fa-minus:after {
    content: "\f068";
    float: right;
    font: normal normal normal 14px/1 FontAwesome;
}

.chosen-container {
    width: 100% !important;
}

.modal-header .close {
    color: #367fa9;
    opacity: 1;
}

.title-modal {
    color: #1b80c8;
    font-weight: bold;
    font-size: 17px;
}

.modal-open .modal {
    min-width: 768px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: 140px !important;
}

.price-vn:after {
    content: "\20AB";
    padding-left: 5px;
}

.price-usd:after {
    content: "\0024";
    padding-right: 5px;
}

.bar-footer {
    position: fixed;
    bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #e9e9e9;
    width: 100%;
    border-top: 1px solid;
}

    .bar-footer .btn-default:hover, .bar-footer .btn-default:active, .bar-footer .btn-default {
        background-color: white;
    }

.scroll {
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 10px;
}

.right input, .right {
    text-align: right;
}

#frmChietTinh .input-sm {
    padding: 5px 7px;
}

.col-middle {
    padding-left: 0px;
}

h3.box-title{width: 100%;}
/*.modal {background: none !important;}*/

/*change background-color*/
.animate-me {
  -webkit-animation: bgcolorchange 4s infinite; /* Chrome, Safari, Opera */ 
  animation: 4s infinite bgcolorchange;
}
@keyframes bgcolorchange {
  0% {background-color: red;color: #fff;}
  25% {background-color: white;color: #000;}
  50% {background-color: red;color: #fff;}
  75% {background-color: white;color: #000;}
  100% {background-color: red;color: #fff;
  }
}
/* Chrome, Safari, Opera */
 @-webkit-keyframes bgcolorchange {
      0%   {background: red;color: #fff;}
      25%  {background: white;color: #000;}
      75%  {background: red;color: #fff;}
      100% {background: white;color: #000;}
 }
 