body {
  /*font-family: 'Roboto Condensed', sans-serif !important;
  font-size: 14.5px;*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  /*min-width: 768px;*/ 
}
/*@media(max-width: 768px) {
  body {
    font-size: 13px !important;
  }
  .header .nav-money select {
    width: 90px !important;
  }
  .header .nav-money select.form-control {
    padding: 0px !important;
  }
}*/
.button {
  background-color:#1b80c8;
  color:white;
}
.chuin {
    text-transform: uppercase;
}
.f-left {
  float:left;
}
.f-right {
  float:right;
}
.hidden {
  display: none;
}
.title-modal {
    text-transform:uppercase !important;
}
.mg-top5 {
    margin-top:5px;
}
/*#myTable.table-striped tbody tr.highlight td a {
    color:#fff;
}*/
/*#myTable tr td {
    font-weight:bold;
}*/
/* right mouse */
.context {
  font-size: 1.1em;
  position: absolute;
  width: auto;
  height: auto;
  padding: 5px 0px;
  border-radius: 5px;
  top: 10;
  left: 10;
  background-color: #fff;
  color: #000;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}
.context .context_item {
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.context .context_item .inner_item a {
  color: #000;
}
.context a.context_item :hover  {color: white !important;background:#1b80c8}
.context .context_item:hover { color: white !important;background:#1b80c8}
.context .context_item .inner_item { margin: 0px 10px; }
.context .context_item .inner_item i {
  margin: 0 5px 0 0;
  font-weight: bold;
}
.context .context_hr {
  height: 1px;
  border-top: 1px solid #eee;
  margin: 3px 10px;
}

/* right mouse */
.price {
  color: #a00000;
   font-weight:bold !important;
}
.socho {
  font-weight: bold;
}
table.ui-datepicker-calendar>tbody>tr:nth-of-type(odd) {
    background-color:#fff !important;
}
table.table-hm>tbody>tr:nth-of-type(odd) {
    background-color:#fff !important;
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #f0f9ff;
}
table.data tbody tr {
  cursor: pointer;
}
/*table.data tbody tr:hover {
  background-color: #c8ebff;
}*/
.paging .pagination {
  margin: 0px !important;
}
.show-page a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
}
.show-page a:hover {
  font-weight:bold;
}
.page-chose a {
  font-weight:bold !important;
  color:#1b80c8 !important;

}
@media(max-width: 1131px) {
  .tr-data {
    width: 31%;
  }
}

@media(min-width: 1132px) {
  .tr-data {
    width: 36%;
  }
}

#myTable.table-striped tbody tr:nth-child(odd) td {
  background-color: #c9e6fb;
}

#myTable.table-striped tbody tr.highlight td { 
    background-color: #6998BA;
    /*color:#fff;*/
}
/*#myTable.table-striped tbody tr.highlight td .price {
    color:white !important;    
}*/
.table-td-bg {
    background-color: #1b7ab8; 
    color: white;
}
.pager_primary a {
    color: black !important;
    border: 1px solid #6fbdf7 !important;
    background: #d5edff !important;
}
.pager_primary .active a {
    background-color: #337ab7 !important;
    border: 1px solid #337ab7 !important;
    color: White !important;
}
#myTable2.table-striped tbody tr:nth-child(odd) td {
  background-color: #EFF7FD;
}

#myTable2.table-striped tbody tr.highlight td { 
    background-color: #6998BA;
    /*color:#fff;*/
}
/*
#myTable2.table-striped tbody tr.highlight td .price {
    color:white !important;    
}*/
.box-body .btn-default {
     background-color: #d5edff !important;
    color: #333 !important;
    border-color: #6fbdf7 !important;
}
.box-body .btn-default:hover {
     background-color: #6998BA !important;
    color: #fff !important;
    border-color: #6fbdf7 !important;
}
.content-wrapper {
    background-color: #E9F5FE !important;
}
/*#myTable.table-striped tbody tr.highlight td a,#myTable.table-striped tbody tr.highlight td,#myTable.table-striped tbody tr.highlight td span.price {
    color: #fff !important;
}*/
#ui-datepicker-div {
  z-index: 99999 !important;
}
/*.c-search-nc {
  color: #1b80c8;
}*/
.boder-select {
    width:75px;
    border-radius:3px;
    border:1px solid #ccc !important;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}
.fa.pull-left {
  margin-top: 4px;
  font-size: 14px;
}
.mg-right5 {
  margin-right:5px;
}

.mg-right10 {
  margin-right:10px;
}
.mg-right15 {
  margin-right:15px;
}
.mg-right20 {
  margin-right:20px;
}
.title-tour span.title {
  font-size: 22px;
  color: #1b80c8;
  font-weight: bold;
}
.tour fieldset legend {
  font-size: 18px;
  color: #1b80c8;
    font-weight: bold;
}
.input-sm {
  font-size: 14px !important;
}
.hdv.table>tbody>tr>td, .hdv.table>tbody>tr>th, .hdv.table>tfoot>tr>td, .hdv.table>tfoot>tr>th, .hdv.table>thead>tr>td, .hdv.table>thead>tr>th {
  padding:5px !important;
  border: 0px !important;
}
.title-item {
  color:#414141; 
  border-bottom:1px solid #ccc;
  font-size:15px;
  font-weight: bold;
}
.title-tour span.title {
  font-size: 22px;
  color: #1b80c8;
  font-weight: bold;
}
.price-blue {
  font-weight: bold;
  color: #2066d0;
}
.price-red {
  font-weight: bold;
  color: #f11414;
}
.title-thongtin {
  font-size: 16px;
}
/*@media(max-width: 768px) {
  .title-thongtin {
    font-size: 14.5px !important;
  }
  .img-avatar {
    width: 22px !important;
    height: 23px !important;
  }
}*/
.button-other {
  background-color: #F1F1F1 !important;
}
ol li {
  padding-bottom: 10px;
  line-height: 22px;
}
.nav-tabs>li.active>a {
  color:#3B8CD2 !important;
}
.nav-tabs>li>a {
  color:#333 !important;
}

.pagination-sm>li>a, .pagination-sm>li>span {
  font-weight:bold;
}
.buttons .dropdown-menu {
  left:60px !important;
}
.mg-top10 {
    margin-top:10px;
}
.mg-right20 {
    margin-right:20px;
}
.mg-left50 {
    margin-left:50px;
}
.mg-bottom10 {
    margin-bottom:10px;
}
.mg-bottom5 {
    margin-bottom:5px;
}
.mg-top5 {
    margin-top:5px;
}
.label-align {
    margin-top:3.5px;
}
.form-horizontal label {
    font-weight: normal !important;
}
.disabled {
    pointer-events:none; 
    opacity:0.6;         
}
.form-search .panel {
    margin-bottom:10px !important;
}
.nav-button {
    margin-bottom:10px;
}
.etour .panel {
    margin-bottom:7px!important;
}
.customer-info .panel {
    margin-bottom:7px!important;
}
#tttt .panel,#ttkh .panel {
    border-top:none;
    border-right:1px solid #ccc !important;
    border-bottom:1px solid #ccc !important;
    border-left:1px solid #ccc !important;
}
.col-0 {
    padding-left:0px !important;
    padding-right:0px !important;
}
.min-width {
    min-width:55px;
}
.min-width2 {
    min-width:100px;
}

/*-- Visa --*/
/*http://codecanyon.net/item/step-form-wizard/full_screen_preview/8591111*/
.clearfix
{
	zoom: 1;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.sf-nav {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
.sf-nav li
{
	float: left;
	position: relative;
	margin-right: 50px;
}
sf-t2 .sf-nav li
{
	font-size: 16px;
	color: #FFF;
	background: #283d50;
	height: 40px;
	line-height: 40px;
	padding: 0 45px;
	border-radius: 3px;
}
.sf-t2 .sf-nav-top {
    height: 45px;
}
.sf-nav-wrap
{
	overflow: hidden;
	width: 100%;
	position: relative;
	left: 0;
}
.sf-nav-top .sf-nav, .sf-nav-bottom .sf-nav
{
	width: 9999px;
	position: absolute;
}
.sf-nav li.sf-nav-link:not(.sf-nav-step-disabled)
{
	cursor: pointer;
}

.sf-t2 .sf-nav-top li, .sf-t2 .sf-nav-bottom li
{
	-webkit-transition: margin 200ms;
	-moz-transition: margin 200ms;
	-ms-transition: margin 200ms;
	-o-transition: margin 200ms;
	transition: margin 200ms;
}

.sf-t2 .sf-li-number .sf-nav-subtext
{
	padding-left: 35px;
}
.sf-t2 .sf-nav-subtext
{
	display: block;
}
.sf-t2 .sf-nav-number {
    position: absolute;
    left: 12px;
    top: 0;
    font-size: 60px;
    font-weight: 700;
    overflow: hidden;
}
.sf-t2 .sf-nav-number-inner {
    display: block;
}
.sf-t2 .sf-nav li {
    font-size: 16px;
    color: #FFF;
    background: #283d50;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 3px;
}
/*, .sf-t2 .sf-nav li.sf-nav-link:not(.sf-nav-step-disabled):not(.sf-nav-unlink):hover*/
.sf-t2 .sf-nav li.sf-active {
    background: #14b5c8;
}
.sf-t2 .sf-nav li.sf-active:after {
    content: "";
    width: 5px;
    height: 5px;
    background: transparent;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -12px;
    border: 12px solid black;
    border-color: transparent #14b5c8 #14b5c8 transparent;
    z-index: -1;
}
/*-- ./Visa --*/
.text-warning{color: #f39c12 !important;}

.form-group {
    margin-bottom: 10px !important;
}
.hien-menu-home-noidia {
    display:none;
}
@media(max-width: 980px) {
    .an-menu-home-noidia {
        display:none;
    }
    .hien-menu-home-noidia {
        display:block;
    }
}
@media only screen and (max-width: 980px) {
	
	/* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
        min-height: 30px;

	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title);color: #333;font-weight:bold}
    #myTable.table-striped tbody tr.highlight td {
    background-color: #ddd;
    /* color: #fff; */
}
}
.mg-bottom10 {
    margin-bottom:10px;
}
.mg-left5 {
    margin-left:5px;
}
