/* table */
body.theme-green {
    color:black !important;
}
.theme-green .content-wrapper {
    background-color: #d2f2ff !important;
}
.theme-green #myTable.table-striped tbody tr:nth-child(odd) td {
  background-color: #41dde9;
}
.theme-green #myTable.table-striped thead tr {
    background-color: #336666 !important;
    color: white;
}
.theme-green #myTable tbody tr {
      background-color: #8beaec;
}
/*.theme-green #myTable.table-striped tbody tr.highlight td a,.theme-green #myTable.table-striped tbody tr.highlight td,.theme-green #myTable.table-striped tbody tr.highlight td span.price {
    color: black !important;
}*/
.theme-green #myTable.table-striped tbody tr td a
{
    color: black !important;
}
.theme-green  #myTable.table-bordered>tbody>tr>td {
    border-color: grey !important;
    /*color: black !important;*/
}
.theme-green #myTable.table-striped tbody tr.highlight td { 
    background-color: #778899;
    /*color:#fff;*/
}
.theme-green .table thead tr {
    background-color: #336666 !important;
    color: white;
}
.theme-green .table {
    border-color: grey !important;
    color: black !important;
}
.theme-green table.table-hm>tbody>tr:nth-of-type(odd) {
    background-color: #d2f2ff !important;   
}
.theme-green .table-bordered>tbody>tr>td.table-td-bg {
      background-color: #336666 !important;
      color: #fff !important;
}
.theme-green .table>tbody>tr:nth-of-type(odd) {
    background-color: #41dde9 !important;
}
.theme-green .table>tbody>tr {
    background-color: #8beaec !important;
}
.theme-green .table-bordered>tbody>tr>td {
    border-color: grey !important;
    /*color: black !important;*/
}
.theme-green .nav-tabs>li.active>a, .theme-green .nav-tabs>li.active>a:focus, .theme-green .nav-tabs>li.active>a:hover {
   background-color: #b8e2f3 !important;
   color:black !important;
}
.theme-green .nav-tabs>li>a:hover {
   background-color: #8beaec !important;
}
.theme-green .pagination>li>a, .theme-green .pagination>li>span {
    color: black !important;
    border: 1px solid #2fbfca;
    background: #8fe7f3;
}
.theme-green .pagination>.active>a,.theme-green .pagination>.active>a:focus,.theme-green .pagination>.active>a:hover,.theme-green .pagination>.active>span,.theme-green .pagination>.active>span:focus,.theme-green .pagination>.active>span:hover {
    background: #336666 !important;
}

/* table */
/* button */
.theme-green .content .btn-default,.theme-green .content .btn-primary {
    background-color: #3c8dbc !important;
    color: white !important;
    border-color: #266589  !important;
}
.theme-green .content .btn-default:hover, .theme-green .content .btn-primary:hover{
       background-color: #266589 !important;
}
.theme-green .thanhtoan .btn-primary{
    background-color: #3c8dbc !important;
    color: white !important;
    border-color: #266589  !important;
}
.theme-green .thanhtoan .btn-primary:hover{
       background-color: #266589 !important;
}
.theme-green .them .btn-primary {
    background-color: #3c8dbc !important;
    color: white !important;
    border-color: #266589  !important;
}
.theme-green .them .btn-primary:hover {
       background-color: #266589 !important;
}

/* button */
/* paging */
.theme-green .pager_primary a{
    color: black !important;
    border: 1px solid #2fbfca !important;
    background: #8fe7f3 !important;
}
.theme-green .pager_primary .active a {
    background-color: #336666 !important;
    border: 1px solid #337ab7 !important;
    color: White !important;
}
/* paging */
/* textbox */
.input-validation-error {
    border-color: #dd4b39 !important;    
}
.theme-green .content  .form-control {
    border-color: #949494;
}

/* textbox */
/* box panel */
.theme-green .content .box-body {
    background: #d2f2ff !important;
}
.theme-green .content .box {
    border-left: 1px solid #949494 !important;
    border-right: 1px solid #949494 !important;
    border-bottom: 1px solid #949494 !important;
}
.theme-green .content .panel-body {
    background: #d2f2ff !important;
}
.theme-green .content .panel-default {
    border-color: #949494 !important;
}
.theme-green .box.box-primary {
    border-top-color: #336666;
}
.theme-green  .box-header.with-border {
    border-bottom: 1px solid #949494;
}
.theme-green .box-header {
    background-color: #d2f2ff;
}
.theme-green .box-footer {
    background-color: #d2f2ff;
}
.theme-green .content .sodobotriphong.box-body {
    background: #fff !important;
}
.theme-green .content .invedulich .box-body {
    background: #fff !important;
}

.theme-green .content .sodobotrixe.panel-body {
    background: #fff !important;
}
.theme-green .content .chiettinh .panel-body {
    background: #fff !important;
}
.theme-green .content .nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #336666 !important;
}
.theme-green .content .nav-tabs-custom > .tab-content {
    background: #b8e2f3 !important;
}
.theme-green .nav-tabs-custom {
    background-color:transparent !important;
}
.theme-green .nav-tabs-custom>.nav-tabs>li>a:hover {
    background:rgb(139, 215, 246) !important;
}
/* box panel */
/* title */
.theme-green .tour fieldset legend {
    color: #336666 !important;
}
.theme-green .chuin {
     color: #336666 !important;
}
.theme-green #myTable2.table-striped tbody tr.highlight td a {
    color: black !important;
}
.theme-green .title-item {
    color: #000000 !important;
}
/* title */
/* report */
.theme-green .reportcss table>tbody>tr:nth-of-type(odd) {
  background-color: #fff !important;
}
.theme-green .reportcss table>tbody>tr {
  background-color: #fff !important;
}
.theme-green .reportcss .box-body {
  background-color: #fff !important;
}
.theme-green .title-modal {
   color: #336666 !important;
   text-transform:uppercase;
}
/* report */
.theme-green .form-control:focus {
  border-color: #266589   !important;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
