﻿
@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm("SendEmail", "Contact", FormMethod.Post, new { id = "SendEmail" }))
{
    <div class="container">
        <div class="row">
            <!-- breadcrumb -->
            <div class="col-md-12" import-html="breadcrumb">
                <div class="breadcrumb-scroll">
                    <ul class="breadcrumb scroll-y ps-container ps-active-x" id="breadcrumb-scroll">
                        <li><a href="/">Trang chủ</a></li>
                        <li class="active"> Liên hệ</li>
                    </ul>
                </div>
            </div>
            <!-- /.breadcrumb -->
            <!-- sidebar -->
            @*<div class="col-md-3">
                <div class="sidebar box">
                    <div class="box-header">
                        <h3 class="box-title"> Khách sạn bán chạy </h3>
                    </div>
                    <div class="box-body">
                        <ul id="news_best_seller" class="nav-thumbnails nav-thumbnails-list">
                        </ul>
                    </div>
                </div>
            </div>*@
            <!-- /.sidebar -->
            <!-- content-right -->
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <strong>Liên lạc với chúng tôi qua email</strong>
                    </div>
                    <div class="box-body">
                        <form method="post" class="form-horizontal pd-t-20">
                            <div class="form-group row">
                                <label class="col-md-4 control-label">
                                    Họ và tên <span class="red">*</span>
                                </label>
                                <div class="col-md-4">
                                    <input value="" name="txtHoTen" id="txtHoTen" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 control-label">
                                    Email <span class="red">*</span>
                                </label>
                                <div class="col-md-4">
                                    <input value="" name="txtEmail" id="txtEmail" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 control-label">
                                    Số điện thoại <span class="red">*</span>
                                </label>
                                <div class="col-md-4">
                                    <input value="" name="txtDienThoai" , id="txtDienThoai" type="text" class="form-control" placeholder="">
                                    <small>Vui lòng nhập cả mã quốc gia và mã vùng của bạn</small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 control-label">Chủ đề</label>
                                <div class="col-md-4 select-df">
                                    <select name="txtTieuDe" id="txtTieuDe" class="select-topic">
                                        <option value="Liên hệ - Góp ý" selected="">Liên hệ - Góp ý</option>
                                        <option value="Thông tin đặt phòng">Thông tin đặt phòng</option>
                                        <option value="Đối tác Khách Sạn">Đối tác Khách Sạn</option>
                                        <option value="Đối tác Đại Lý">Đối tác Đại Lý</option>
                                        <option value="Đối tác Doanh Nghiệp">Đối tác Doanh Nghiệp</option>
                                        <option value="Đối tác Quảng Cáo">Đối tác Quảng Cáo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 control-label">
                                    Nội dung <span class="red">*</span>
                                </label>
                                <div class="col-md-4">
                                    <textarea name="txtNoiDung" id="txtNoiDung" class="form-control" type="text" rows="3"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="offset-md-4 col-md-2">
                                    <button type="submit" class="btn btn-block btn-yellow">Gửi</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    @*<div class="contact_blk">
                        <ul class="nav pd-20">
                            <li class="pd-bt-5">
                                <strong>Công ty cổ phần du lịch Việt Nam VnTravel</strong>
                            </li>
                            <li class="pd-bt-5">
                                <strong>Văn phòng Hà Nội: </strong>
                                <br>
                                <i class="fa fa-map-marker mg-r-10"></i>Tầng 11, Tòa Peakview, 36 Hoàng Cầu, Đống Đa.
                                <br>
                                <i class="fa fa-phone mg-r-10"></i>Điện thoại: 024 7109 9999.
                                <br>
                                <i class="fa fa-envelope-o mg-r-10"></i>Email: info@mytour.vn
                            </li>
                            <li class="pd-bt-5">
                                <strong>Văn phòng TP. Hồ Chí Minh:</strong>
                                <br>
                                <i class="fa fa-map-marker mg-r-10"></i>Tầng 6, Tòa Nhà Central Park, 117 Nguyễn Du,
                                Q.1, Thành phố Hồ Chí Minh.
                                <br>
                                <i class="fa fa-phone mg-r-10"></i>Điện thoại: 028 7109 9998.
                                <br>
                                <i class="fa fa-envelope-o mg-r-10"></i>Email: info@mytour.vn
                            </li>
                            <li class="pd-bt-5">
                                <strong>Liên hệ hợp tác, truyền thông:</strong>
                                <br>
                                <i class="fa fa-map-marker mg-r-10"></i>Phòng Marketing - Công ty cổ phần du lịch Việt
                                Nam VnTravel.
                                <br>
                                <i class="fa fa-phone mg-r-10"></i>Điện thoại 024 7109 9999 ( số máy lẻ 198 hoặc 203,
                                197).
                                <br>
                                <i class="fa fa-envelope-o mg-r-10"></i>Email: marketing@mytour.vn.
                            </li>
                        </ul>
                    </div>*@
                </div>
            </div>
            <!-- /.content-right -->
        </div>
    </div>
}

@section Scripts {
    <script>
        jQuery(document).ready(function ($) {

            $('.select-topic').select2();

            $('.js-check-content').click((e) => {
                $('.search-suggestion').toggleClass('show');
                $('.popular-destination').click((e) => {
                    $('.js-check-content').val(e.target.title);
                    $('.search-suggestion').removeClass('show');
                })
            });

            $('.room-guest-select').click(() => {
                $('.room-guest-dropdown').show();
                $('.room-guest-select-show').show();
            });

            //$('#icon-search-btn').click(function () {
            //    if ($('#search').css('display') == 'none') {
            //        $('#search').slideDown("slow");
            //    }
            //    else {
            //        $('#search').slideUp("slow");
            //    }
            //})

            $('.tt-hint').click(function () {
                $('.tt-nav-diemdenphobien').show();
                $('.find-hotel').show();
            });

            $('.tt-close').click(function () {
                $('.tt-nav-diemdenphobien').hide();
                $('.find-hotel').hide();
            });

            $('.btn-filter-show-mobile').click(function () {
                $('#sidebar-scroll-mobile').show();
            });

            $('.btn-close-filter').click(function () {
                $('#sidebar-scroll-mobile').hide();
            });



            $(document).mouseup(function (e) {
                if ($(e.target).closest(".room-guest-dropdown").length === 0) {
                    $(".room-guest-dropdown").hide(500);
                }
                if ($(e.target).closest('.room-guest-select-show').length === 0) {
                    $(".room-guest-select-show").hide(500);
                }
                if ($(e.target).closest(".tt-nav-diemdenphobien").length === 0) {
                    $('.tt-nav-diemdenphobien').hide(500);
                    $('.find-hotel').hide(500);
                }
                if ($(e.target).closest(".search-suggestion").length === 0) {
                    $('.search-suggestion').removeClass('show');
                }
            });
            //$('.events-tracking').click(function () {
            //    $(this).toggleClass('active');
            //    $('.menu-container').toggleClass('active');
            //});


        });

    </script>
    <script>
        let input = document.getElementById('checkIn');
        let checkIn = document.getElementsByClassName('t-check-in')[0];
        let checkIn_day = document.getElementsByClassName('t-check-in-days')[0];
        let checkOut_day = document.getElementsByClassName('t-check-out-days')[0];

        //get hotel date picker mobile

        let date_start = document.getElementsByClassName('date-info')[0];
        if (date_start) {
            date_start.addEventListener('click', open_datepicker_function);
            function open_datepicker_function() {
                datepicker_mobile.open();

            }
            let datepicker_mobile = new HotelDatepicker(date_start, {
                format: 'DD-MM-YYYY',
                i18n: {
                    selected: 'Bạn đã chọn:',
                    night: 'Đêm',
                    nights: 'Đêm',
                    button: 'Đóng',
                    'checkin-disabled': 'Check-in disabilitato',
                    'checkout-disabled': 'Check-out disabilitato',
                    'day-names-short': ['T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'CN'],
                    'day-names': ['T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'CN'],
                    'month-names-short': ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                    'month-names': ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                    'error-more': 'L\'intervallo di date non deve avere più di 1 notte',
                    'error-more-plural': 'L\'intervallo di date non deve avere più di %d notti',
                    'error-less': 'L\'intervallo di date non deve avere meno di 1 notte',
                    'error-less-plural': 'L\'intervallo di date non deve avere meno di %d notti',
                    'info-more': 'Vui lòng chọn ngày tháng năm',
                    'info-more-plural': 'Per favore seleziona un intervallo di date maggiore di %d notti',
                    'info-range': 'Per favore seleziona un intervallo di date tra %d e %d notti',
                    'info-default': 'Per favore seleziona un intervallo di date'
                }
            });
        }



        if (checkIn) {
            input.addEventListener('afterClose', function () {
                console.log(datepicker.getValue());
                let ranger_date = datepicker.getValue();
                var res = ranger_date.split(" - ");
                checkIn_day.innerHTML = res[0];
                checkOut_day.innerHTML = res[1];
            }, false);
        }

    </script>
    <script>
        $('#SendEmail').submit(function () {
            var serializedForm = $(this).serialize();
            $.ajax({
                url: '@Url.Action("SendEmail", "Contact")',
                type: "POST",
                data: serializedForm,
                success: function (result) {
                    if (result.Status == 1) {
                        alert(result.Message);
                        location.href = "/Contact/Index";
                    }
                    else {
                        if (result.Status == 0) {
                            alert(result.Message);
                        }
                    }
                },
                error: function (result) {
                    alert("Gửi email không thành công");
                }
            });
            return false;
        });
    </script>
}

