﻿@{ 
    var categories = ViewBag.NewsCategories as List<NewsCategory>;
    var latestNews = ViewBag.LatestNews as List<HotelNews>;
}

<div class="col-md-3  sidebar">
    <!-- Slider box -->
    <!-- /.Slider box  -->
  
    <!-- Chuyên mục -->
    <div class="box box-toggle filter_tg_tl">
        <div class="box-header" js-t="js-toggle">
            <h3 class="box-title">
                Chuyên mục
                <i class="fa fa-chevron-up pull-right"></i>
            </h3>
        </div>
        <div class="box-body">
            <div class="scroll-wrap-flex">
                <ul class="nav" id="category_method">
                    <li>
                        <a title="Tất cả"
                           href="/cam-nang-du-lich">Tất cả</a>
                    </li>
                    @if (categories != null)
                    {
                        foreach (var item in categories)
                        {
                            <li>
                                <a title="@item.CategoryName"
                                   @*href="@Url.Action("Index","TravelGuide", new { category = item.CategoryID })"*@
                                   href="/cam-nang-du-lich/@(item.CategoryName.convertToUnSign2() +"-c-"+ item.CategoryID)">@item.CategoryName</a>
                                
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <!-- /Chuyên mục -->
   
    <div class="box device-pc-show">
        <div class="box-header">
            <h3 class="box-title">
                BÀI VIẾT MỚI
            </h3>
        </div>
        <div class="box-body">
            <div class="scroll-wrap-flex">
                <ul class="nav-thumbnails nav-thumbnails-list nav-thumbnails-list-no-pd" id="dia-danh">
                    @if (latestNews != null)
                    {
                        foreach (var item in latestNews)
                        {
                            <li>
                                <div class="item-thumbnail">
                                    <a title="@item.Title"
                                       href="/cam-nang-du-lich/@(item.Title.convertToUnSign2() + "-v" + item.HotelNewsID).aspx"
                                       class="item-name" target="_blank">
                                        @item.Title
                                    </a>
                                    <a href="/cam-nang-du-lich/@(item.Title.convertToUnSign2() + "-v" + item.HotelNewsID).aspx"
                                       target="_blank">
                                        <img class="img-responsive"
                                             src="/FileUploads/News/@item.FileAttchment"
                                             title="@item.Title"
                                             onerror="this.src='/Content/images/pc-listing-default.png';this.onerror=null;">
                                    </a>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>

    <!-- /Địa danh -->
    <!-- Tour liên quan -->
    <!-- /Tour liên quan -->
    <!-- Khách sạn dc xem nhiều trong tháng -->
    <!-- Khách sạn topview theo tỉnh thành-->
    <div class="box seen-hotel-box hidden-box"style="visibility:hidden">
        <div class="box-header">
            <h3 class="box-title">
                Khách sạn
            </h3>
        </div>
        <div class="box-body">
            <div class="scroll-wrap">
                <ul class="nav-thumbnails nav-thumbnails-list scroll-y-t ps-container ps-active-y pd-r-10"></ul>
                <input id="count_hotel" type="hidden" value="0"></input>
            </div>
        </div>
    </div>
    <!--/Khách sạn topview theo tỉnh thành-->
    <!-- /Khách sạn dc xem nhiều trong tháng -->
</div>
