﻿@model Hotel.EntityFramework.Models.HotelNews
@{
    ViewBag.Title = Model.Title;
    var categories = ViewBag.NewsCategories as List<NewsCategory>;
}

<body>
    <div class="container desktop d-none-sm">
        <div class="row">

            <!-- breadcrumb -->
            <div class="col-md-12" import-html="breadcrumb">
                <div class="breadcrumb-scroll">
                    @*<ul class="breadcrumb scroll" id="breadcrumb-scroll">
                            <li class="active"><a href="@Url.Action("Index")">Cẩm nang du lịch</a> </li>
                        </ul>*@
                    @Html.Partial("_Breadcrumbs")
                </div>
            </div>
            <!-- /.sidebar -->
            @{Html.RenderAction("_SideBar"); }
            <!-- /.sidebar -->
            <div class="col-md-9">
                <div class="blog row">
                    <h1 class="bold col-lg-12">@Model.Title</h1>
                    <br />
                    <div class="mg-5">
                        <!--Fb like share-->
                        <div class="fb-like" data-href="/cam-nang-du-lich/@(Model.Title.convertToUnSign2() + "-v" + Model.HotelNewsID).aspx" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
                        <!--Fb like share-->
                    </div>
                    <div class="col-md-12 mg-t-10">
                        @Html.Raw(Model.Content)
                    </div>

                    <!-- show link parent if empty listing -->
                </div>
                <div class="mg-5">
                    <!--Fb like share-->
                    <div class="fb-like" data-href="/cam-nang-du-lich/@(Model.Title.convertToUnSign2() + "-v" + Model.HotelNewsID).aspx" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
                    <!--Fb like share-->
                </div>
            </div>
        </div>
    </div>
    <div class="mobile d-none-lg flex-column">
        <div class="blog-categories">
            <ul class="list-inline">
                <li class="active"><a href="/cam-nang-du-lich">Tổng hợp</a></li>

                @if (categories != null)
                {
                    foreach (var item in categories)
                    {
                        @*<li>
                                <a title="@item.CategoryName"
                                   href="@Url.Action("Index","TravelGuide", new { category = item.CategoryID })">@item.CategoryName</a>
                            </li>*@
                        <li>
                            <a title="Chuyên mục @item.CategoryName" alt="Chuyên mục @item.CategoryName"
                               href="/cam-nang-du-lich/@(item.CategoryName.convertToUnSign2() +"-c-"+ item.CategoryID)">
                                @item.CategoryName
                            </a>
                        </li>
                    }
                }

            </ul>
        </div>
        <div class="blog-sub-nav">

            <a class="blog-sub-nav-btn">Cẩm nang du lịch</a>

        </div>
        <div class="container">
            <div class="row">
                <div>
                    <!-- nav-fixed-right -->
                    <!-- nav-fixed-right -->
                </div>
                <!-- breadcrumb -->
                <div class="col-md-12" import-html="breadcrumb">
                    <div class="breadcrumb-scroll">
                        <ul class="breadcrumb scroll" id="breadcrumb-scroll">
                            <li class="active"><a href="@Url.Action("Index","TravelGuide")">Cẩm nang du lịch</a> </li>
                        </ul>
                    </div>
                </div>
                <!-- /.breadcrumb -->
                <!-- group-filter -->
                <!-- /.group-filter -->
                <!-- sidebar -->
                <!-- /.sidebar -->

                <div class="col-md-9">
                    <!-- page-header -->
                    <div class="page-header">
                        <h1 class="title-lg">
                            @Model.Title
                        </h1>

                        <div class="row">
                            <div class="col-sm-12">
                                <p class="blog-data pull-left mg-r-15">
                                    <span>
                                        <i class="fa fa-calendar"></i>
                                        <span class="date">@Model.CrtDate.ToShortDateString()</span>
                                    </span>
                                    @*<span class="mg-l-10">
                                            <i class="fa fa-eye"></i>
                                            <span class="data-view"> 95</span>
                                        </span>*@
                                </p>
                                <!-- social -->
                                <div class="mg-5">
                                    <!--Fb like share-->
                                    <div class="fb-like" data-href="/cam-nang-du-lich/@(Model.Title.convertToUnSign2() + "-v" + Model.HotelNewsID).aspx" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
                                    <!--Fb like share-->
                                </div>
                                <!-- /.social -->
                                <input type="hidden" name="" class="check-location" value="1">
                                <input type="hidden" name="" class="check-city" value="15">
                            </div>
                        </div>
                        <div class="dark mg-bt-10"></div>
                    </div>
                    <!-- /.page-header -->
                    <div class="blog clearfix location_content">
                        <div class="detail-content col-xs-12 pd-l-10">
                            @Html.Raw(Model.Content)
                        </div>
                    </div>
                    <div class="mg-5">
                        <!--Fb like share-->
                        <div class="fb-like" data-href="/cam-nang-du-lich/@(Model.Title.convertToUnSign2() + "-v" + Model.HotelNewsID).aspx" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
                        <!--Fb like share-->
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
