﻿<!-- Thêm thư viện -->
@model PagedList.IPagedList<HotelNews>
@using PagedList.Mvc;
<!-- Kết thúc-->
@{
    ViewBag.Title = "Cẩm nang du lịch";
    var categories = ViewBag.NewsCategories as List<NewsCategory>;
    int itemNewfirst = 0;
}

<body>
    <div class="container desktop d-none-sm">
        <div class="row">
            <!-- breadcrumb -->
            <div class="col-md-12" import-html="breadcrumb">
                <div class="breadcrumb-scroll">
                    @*<ul class="breadcrumb scroll" id="breadcrumb-scroll">
                            <li class="active"><a href="@Url.Action("Index")">Cẩm nang du lịch</a> </li>
                        </ul>*@
                    @Html.Partial("_Breadcrumbs")
                </div>
            </div>

            <!-- /.sidebar -->
            @{Html.RenderAction("_SideBar"); }
            <!-- /.sidebar -->
            <div class="col-md-9">
                <!-- page-header -->
                <div class="page-header">
                    <h1 class="title-lg" title="Cẩm nang du lịch">
                        <a href="@Url.Action("Index")">Cẩm nang du lịch</a>
                    </h1>
                    <div class="dark mg-bt-10 mg-t-10"></div>
                </div>
                <!-- /.page-header -->
                <div class="blog row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4">
                            <!-- blog-item -->
                            <div class="blog-item" style="min-height:94%">
                                <a href="/cam-nang-du-lich/@(item.Title.convertToUnSign2() + "-v" + item.HotelNewsID).aspx">
                                    <img class="img-responsive blog-img"
                                            src="/FileUploads/News/@item.FileAttchment"
                                            onerror="this.src='/Content/images/pc-listing-default.png';this.onerror=null;"
                                            style="width:100%;">
                                    <h2 class="blog-name">
                                        @item.Title
                                    </h2>
                                </a>
                                <p class="blog-data">
                                    <span>
                                        <i class="fa fa-calendar"></i>
                                        <span class="date">@item.CrtDate.ToShortDateString()</span>
                                    </span>
                                    @*<span class="pull-right">
            <i class="fa fa-eye"></i>
            <span class="data-view">17</span>
        </span>*@
                                    <div class="mg-5">
                                        <!--Fb like share-->
                                        <div class="fb-like" data-href="/cam-nang-du-lich/@(item.Title.convertToUnSign2() + "-v" + item.HotelNewsID).aspx" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
                                        <!--Fb like share-->
                                    </div>
                                </p>
                                <div class="blog-item-content">
                                    @{ if (item.Brief.Length < 100)
                                        {
                                            <text>@item.Brief.Substring(0, item.Brief.Length)</text>
                                        }
                                        else
                                        {
                                            <text>@item.Brief.Substring(0, 100) ...</text>
                                        }
                                    }
                                </div>
                            </div>
                            <!-- /.blog-item -->
                        </div>
                    }
                    @if (Model.Count == 0)
                    {
                        <h1>Chưa có bài viết</h1>
                    }
                    <!-- show link parent if empty listing -->
                </div>
                <!-- panigation-blue -->
                <div id="place-paginator">
                    <!-- panigation-center -->
                    <div class="panigation-center">
                        <!-- Thêm mã phân trang -->
                        @Html.PagedListPager(Model, page => Url.Action("Index",
                            new { page }))
                        <!-- Kết thúc -->
                    </div>
                    <!-- /.panigation-center -->
                </div>
                <!-- /.panigation-blue -->

            </div>
        </div>
    </div>
    <div class="mobile d-none-lg flex-column">
        <div class="blog-categories">
            <ul class="list-inline">
                <li class="active"><a href="@Url.Action("Index","TravelGuide")">Tổng hợp</a></li>

                @if (categories != null)
                {
                    foreach (var item in categories)
                    {
                        @*<li>
                            <a title="@item.CategoryName"
                               href="@Url.Action("Index","TravelGuide", new { category = item.CategoryID })">@item.CategoryName</a>
                        </li>*@
                        <li>
                            <a title="Chuyên mục @item.CategoryName" alt="Chuyên mục @item.CategoryName"
                               href="/cam-nang-du-lich/@(item.CategoryName.convertToUnSign2() +"-c-"+ item.CategoryID)">
                                @item.CategoryName
                            </a>
                        </li>
                    }
                } 

            </ul>
        </div>
        <div class="blog-sub-nav">
            <a class="blog-sub-nav-btn">Cẩm nang du lịch</a>
        </div>
        <div class="container">
            <div class="row">
                <main class="col-md-12">

                    @foreach (var item in Model)
                    {
                        if (itemNewfirst == 0)
                        {
                            <article class="blog main">
                                <figure>
                                    <a href="/cam-nang-du-lich/@(item.Title.convertToUnSign2() + "-v" + item.HotelNewsID).aspx">
                                        <img src="/FileUploads/News/@item.FileAttchment"
                                             data-src="/FileUploads/News/@item.FileAttchment"
                                             alt="Khách Sạn Venus Tam Đảo Tiêu Chuẩn 4 Sao"
                                             title="Khách Sạn Venus Tam Đảo Tiêu Chuẩn 4 Sao" style="width:100%;"
                                             onerror="this.src='/Content/images/pc-listing-default.png';this.onerror=null;"
                                             class="img-responsive lazyload">
                                    </a>
                                </figure>
                                <a href="/cam-nang-du-lich/@(item.Title.convertToUnSign2() + "-v" + item.HotelNewsID).aspx">
                                    <h2 class="blog-name">
                                        @item.Title
                                    </h2>
                                    <ul class="list-inline gray-dark-65">
                                        <li>
                                            <i class="far fa-calendar-alt"></i> @item.CrtDate.ToShortDateString()
                                        </li>
                                        <li>
                                            <!--Fb like share-->
                                            <div class="fb-like" data-href="/cam-nang-du-lich/@(item.Title.convertToUnSign2() + "-v" + item.HotelNewsID).aspx" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
                                            <!--Fb like share-->
                                        </li>
                                        @*<li><i class="far fa-eye"></i> 12</li>*@
                                    </ul>
                                    <p class="blog-description">
                                        @{ if (item.Brief.Length < 100)
                                            {
                                                <text>@item.Brief.Substring(0, item.Brief.Length)</text>
                                            }
                                            else
                                            {
                                                <text>@item.Brief.Substring(0, 100) ...</text>
                                            }
                                        }
                                    </p>
                                </a>
                            </article>
                            <hr />
                            itemNewfirst++;
                        }
                        else
                        {
                            <article class="blog small">
                                <a href="/cam-nang-du-lich/@(item.Title.convertToUnSign2() + "-v" + item.HotelNewsID).aspx">
                                    <h2 class="blog-name">
                                        @item.Title
                                    </h2>
                                </a>
                                <figure>
                                    <a href="/cam-nang-du-lich/@(item.Title.convertToUnSign2() + "-v" + item.HotelNewsID).aspx">
                                        <img src="/FileUploads/News/@item.FileAttchment"
                                             data-src="/FileUploads/News/@item.FileAttchment"
                                             alt="@item.Title"
                                             title="@item.Title"
                                             style="width:100%;"
                                             onerror="this.onerror=null;this.src='/Content/images/pc-listing-default.png';"
                                             class="img-responsive lazyload">
                                    </a>
                                </figure>
                                <ul class="list-inline gray-dark-65">
                                    <li><i class="far fa-calendar-alt"></i> @item.CrtDate.ToShortDateString()</li>
                                    <li>
                                        <!--Fb like share-->
                                        <div class="fb-like" data-href="/cam-nang-du-lich/@(item.Title.convertToUnSign2() + "-v" + item.HotelNewsID).aspx" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
                                        <!--Fb like share-->
                                    </li>
                                    @*<li><i class="far fa-eye"></i> 12</li>*@
                                </ul>
                                <a href="@Url.Action("Details","TravelGuide",new { id = item.HotelNewsID })">
                                    <p class="blog-description">
                                        @{ if (item.Brief.Length < 100)
                                            {
                                                <text>@item.Brief.Substring(0, item.Brief.Length)</text>
                                            }
                                            else
                                            {
                                                <text>@item.Brief.Substring(0, 100) ...</text>
                                            }
                                        }
                                    </p>
                                </a>
                            </article>
                            <hr />
                        }
                    }
                    @if (Model.Count == 0)
                    {
                        <h1>Chưa có bài viết</h1>
                    }

                </main>
            </div>
        </div>
    </div>    
</body>





