﻿@model IEnumerable<CustomerAdminViewModel>

@{
    ViewBag.Title = "Danh sách khách hàng";
    var ordId = 1;
}

<table id="mytable" class="table table-bordered table-striped">
    <thead>
        <tr style="background-color: #1b80c8; color: white; font-size: 11.5px">
            <th style="width:5%;">
                STT
            </th>
            <th width="20%">
                Tên khách hàng
            </th>
            <th width="20%">
                Email
            </th>
            <th width="20%">
                Số điện thoại
            </th>
            <th width="5%">
                Giới tính
            </th>
            <th width="10%">
                Ngày sinh
            </th>
            <th width="30%">
                Trạng thái
            </th>
            <th width="10%" style="min-width:40px;"></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr id="row_@item.CustomerId">
            <td class="text-center">
                @(ordId++)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @if (item.Gender == 1)
                {
                    <a style="cursor:pointer;">
                        Nam
                    </a>
                }
                else
                {
                    <a style="cursor:pointer;">
                        Nữ
                    </a>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dob)
            </td>
            <td>
                @if (item.IsActive == true)
                {
                    <a style="cursor:pointer;" onclick="ToggleActive('@item.CustomerId', this)">
                        Hoạt động
                    </a>
                }
                else
                {
                    <a style="cursor:pointer;" onclick="ToggleActive('@item.CustomerId', this)" class="text-warning">
                        Không hoạt động
                    </a>
                }
            </td>
            <td class="tt-wrapper text-center">
                <a href="@Url.Action("Edit", new {  id=item.CustomerId  })" class="text-success" data-original-title="Cập nhật" title="Cập nhật">
                    <span> Cập nhật </span>
                    <i class="fa fa-edit fa-lg"></i>
                </a>
            </td>
        </tr>

    }
</table>



