﻿@model CustomerAdminViewModel
@{
    ViewBag.Title = "Cập nhật khách hàng";
}
<!-- cập nhật tour -->
<div>
    @using (Html.BeginForm("Edit", "Customer", FormMethod.Post, new { id = "form-submittour", enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        @Html.HiddenFor(m => m.CustomerId)
        @Html.HiddenFor(m => m.CustomerId, new { @id = "IdCustomerVal" })
        <div class="row tour">
            <div class="col-md-12 col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border" data-widget="collapse">
                        <h3 class="box-title">Thông tin cơ bản</h3>
                    </div>
                    <div class="box-body" style="display: block;height:auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Mã khách hàng</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.CustomerNo, new { @class = "form-control input-sm" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Tên khách hàng</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control input-sm" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Giới tính</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Gender, (SelectList)ViewBag.ddlGender, "--Chọn--", new { @class = "form-control d-inline-block", @id = "ddlGioiTinh" })

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Số CMND</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.IdCard, new { @class = "form-control input-sm" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                @*<div class="form-group">
                                    <label class="col-md-4">Ngày cấp</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.DateOfIssue, new { @class = "form-control input-sm" })

                                    </div>
                                </div>*@
                                <div class="form-group">
                                    <label class="col-md-4">Từ ngày</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.DateOfIssue, new { @class = "form-control input-sm", @autocomplete = "off" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Nơi cấp</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.PlaceOfIssue, new { @class = "form-control input-sm" })

                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        @*<div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Quốc gia</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.CountryId, null, null, new { @class = "form-control chosen-select input-sm", @id = "ddlCountryId", @onchange = "GetProvince(this, 'ddlProvince');" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Tỉnh thành</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.ProvinceId, (SelectList)ViewBag.Province, "-- Chọn --", new { @class = "form-control input-sm", @id = "ddlProvince", @onchange = "GetDistrict(this, 'ddlDistrictId');" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Quận huyện</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.DistrictId, null, null, new { @class = "form-control chosen-select input-sm", @id = "ddlDistrictId" })
                                    </div>
                                </div>
                            </div>
                        </div>*@
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Email</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-sm" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Mật khẩu</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control input-sm" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Địa chỉ</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Hoạt động</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.IsActiveInt, (SelectList)ViewBag.ddlStatus, "--Chọn--", new { @class = "form-control d-inline-block", @id = "ddlTrangThai" })

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 dropup f-left bar-footer">
                <button type="submit" class="btn btn-success btn-sm" id="btnSubmitTour"><i class="fa fa-save"></i>&nbsp;Lưu</button>&nbsp;
                <a class="btn btn-danger btn-sm" href="@Url.Action("Index","Customer")"><i class="fa fa-reply"></i>&nbsp;Quay lại</a>
            </div>
        </div>
    }
    <div style="clear:both"></div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#DateOfIssue").datepicker({
                autoclose: true,
                dateFormat: 'dd/mm/yy',
                keyboardNavigation: true,
                language: 'vi',
                changeYear: true,
                //startDate: new Date(),
                todayBtn: true,
                todayHighlight: true,
            });
        });

    </script>
    <script>
       
        $(function () {
            EditHotelModule.init();
        });

        var EditHotelModule = (function () {
            var danhSachRoomlUrl = "/Admin/Hotels/GetRoomsListInEditHotel";
            var danhSachHoteNoticeUrl = "/Admin/Hotels/GetHotelNoticesListInEditHotel";
            var danhSachHoteSurchargePolicyUrl = "/Admin/Hotels/GetHotelSurchargePolicysListInEditHotel";

            function init() {
                initRoomTable();
                initHoteNoticeTable();
                initHoteSurchargePolicyTable();
                initLoadHotelNoticeTable();
                initLoadHotelPolicyTable();
            }

            function initRoomTable() {
                var hotelId = $('#Id').val();

                $.ajax({
                    type: "GET",
                    url: danhSachRoomlUrl,
                    data: {
                        HotelId: hotelId
                    },
                    success: function (response) {
                        $('#mytable').html(response);
                            $("#mytable").DataTable({
                            "paging": true,
                            "lengthChange": false,
                            "ordering": true,
                            "info": true,
                                "autoWidth": false,
                            destroy: true,
                            "aoColumnDefs": [
                                { 'bSortable': false, 'aTargets': [1] }
                            ]
                        });
                    }
                });
            }

            function initHoteNoticeTable() {
                var hotelId = $('#Id').val();

                $.ajax({
                    type: "GET",
                    url: danhSachHoteNoticeUrl,
                    data: {
                        HotelId: hotelId
                    },
                    success: function (response) {
                        $('#mytableHotelNotice').html(response);
                        $("#mytableHotelNotice").DataTable({
                            "paging": true,
                            "lengthChange": false,
                            "ordering": true,
                            "info": true,
                            "autoWidth": false,
                            destroy: true,
                            "aoColumnDefs": [
                                { 'bSortable': false, 'aTargets': [1] }
                            ]
                        });
                    }
                });
            }

            function initHoteSurchargePolicyTable() {
                var hotelId = $('#Id').val();

                $.ajax({
                    type: "GET",
                    url: danhSachHoteSurchargePolicyUrl,
                    data: {
                        HotelId: hotelId
                    },
                    success: function (response) {
                        $('#mytableSurcharge').html(response);
                        $("#mytableSurcharge").DataTable({
                            "paging": true,
                            "lengthChange": false,
                            "ordering": true,
                            "info": true,
                            "autoWidth": false,
                            destroy: true,
                            "aoColumnDefs": [
                                { 'bSortable': false, 'aTargets': [1] }
                            ]
                        });
                    }
                });
            }

            return {
                init: init,
                reloadRoomTable: initRoomTable,
                reloadHoteNoticeTable: initHoteNoticeTable,
                reloadHoteSurchargePolicyTable: initHoteSurchargePolicyTable
            };
        })();

        $(document).ready(function () {
            console.log("ready!");
        });

        var $modalSlide = $('#myModalSlide');
        var $myModalContentSlide = $("#myModalContentSlide");
        var $myModalTitleSlide = $("#myModalTitleSlide");

        function SlideRoom(Id, HotelId) {
            $myModalContentSlide.html("");
            $myModalTitleSlide.html("Thêm hình ảnh");
            $.ajax({
                url: '@Url.Action("_AddRoomImages")',
                timeout: 20000,
                data: {
                    Id: Id,
                    HotelId: HotelId
                },
                beforeSend: function (xhr) {
                    $(".divLoading").addClass("loading");
                },
                success: function (result) {
                    $myModalContentSlide.html(result);
                    $modalSlide.modal({ backdrop: 'static', keyboard: false });
                    $(".divLoading").removeClass("loading");
                },
                error: function (message) {
                    $(".divLoading").removeClass("loading");
                }
            });
        }

        function initLoadHotelNoticeTable() {
            var hotelId = $('#Id').val();
            $('.nav-tabs a[href="#tab1"]').tab('show');
            $.ajax({
                url: '@Url.Action("GetHotelNoticesListInEditHotel", "Hotels")',
                data: {"HotelId" :  hotelId},
                success: function (result) {
                    $('#idHotelMoticeList').html(result);
                    $('#idHotelMoticeList').trigger("change");
                    $("#mytableHotelNotice").DataTable({
                        "paging": true,
                        "lengthChange": false,
                        "ordering": true,
                        "info": true,
                        "autoWidth": false,
                        destroy: true,
                        "aoColumnDefs": [
                            { 'bSortable': false, 'aTargets': [1] }
                        ]
                    });
                },
                error: function (e) {
                    $('#idHotelMoticeList').html(e.responseText);
                }
            });
        }

        function initLoadHotelPolicyTable() {
            var hotelId = $('#Id').val();
            $('.nav-tabs a[href="#tab3"]').tab('show');
            $.ajax({
                url: '@Url.Action("GetHotelSurchargePolicysListInEditHotel", "Hotels")',
                data: {"HotelId" :  hotelId},
                success: function (result) {
                    $('#idHotelPolicyList').html(result);
                    $('#idHotelPolicyList').trigger("change");
                    $("#mytableSurcharge").DataTable({
                        "paging": true,
                        "lengthChange": false,
                        "ordering": true,
                        "info": true,
                        "autoWidth": false,
                        destroy: true,
                        "aoColumnDefs": [
                            { 'bSortable': false, 'aTargets': [1] }
                        ]
                    });
                },
                error: function (e) {
                    $('#idHotelPolicyList').html(e.responseText);
                }
            });
        }

        function mySaveNotice() {
            var idHotel = $('#IdHotelVal').val;
            var id = $('#idHotelSaveNote').val();
            var content = $('#ContentNotice').val();

            $.ajax({
                type: "POST",
                url: '@Url.Action("HotelNoticesCreate")',
                data: {
                    Id: id,
                    ContentNotice: content
                },
                beforeSend: function () {
                    $('#preloader-wrapper').toggleClass('hide');
                },
                success: function (result) {

                    $('#preloader-wrapper').toggleClass('hide');
                    $('.modal-content').toggleClass('hide');
                    $('#myModal').modal('hide');
                    initLoadHotelNoticeTable();
                    ShowNotify('Thêm thông tin thành công', 'success', 'bottom');
                },
                error: function(data)
                {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });
        }

        function mySaveSur() {
            var idHotel = $('#IdHotelVal').val;
            var id = $('#idHotelSaveNote').val();
            var condition = $('#ConditionSurcharge').val();
            var amount = $('#AmountSurcharge').val();

            $.ajax({
                type: "POST",
                url: '@Url.Action("HotelSurchargesCreate")',
                data: {
                    Id: id,
                    ConditionSurcharge: condition,
                    AmountSurcharge: amount
                },
                beforeSend: function () {
                    $('#preloader-wrapper').toggleClass('hide');
                },
                success: function (result) {
                    $('#preloader-wrapper').toggleClass('hide');
                    $('.modal-content').toggleClass('hide');
                    $('#myModal').modal('hide');
                    initLoadHotelPolicyTable();
                    ShowNotify('Thêm thông tin thành công', 'success', 'bottom');
                },
                error: function(data)
                {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });
        }

        function DoEditNotice(id) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("_HotelNoticesEdit")',
                data: { id: id },
                beforeSend: function () {
                    $('#preloader-wrapper').toggleClass('hide');
                },
                success: function (result) {
                    if (result.length > 0) {
                        $('#preloader-wrapper').toggleClass('hide');
                        $('.modal-content').html(result);
                        $('.modal-content').removeClass('hide');
                        $('.modal-content').addClass('show');
                        $('#myModal').modal('show');
                    }
                },
                error: function(data)
                {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });

        }

        function mySubmitEditNotice() {
            $.ajax({
                    type: "POST",
                    url: '@Url.Action("HotelNoticesEdit")',
                    data: $($("#frmPopEditNotice")).serialize(),
                    beforeSend: function () {
                        $('#preloader-wrapper').toggleClass('hide');
                    },
                    success: function (result) {

                        $('#preloader-wrapper').toggleClass('hide');
                        $('.modal-content').toggleClass('hide');
                        $('#myModal').modal('hide');
                        initLoadHotelNoticeTable();
                        ShowNotify('Thêm thông tin thành công', 'success', 'bottom');
                    },
                    error: function(data)
                    {
                        $('#preloader-wrapper').toggleClass('hide');
                    }
                });

        }

        function mySubmitEditPolicy() {
            $.ajax({
                    type: "POST",
                    url: '@Url.Action("SurchargePolicysEdit")',
                    data: $($("#frmPopEditPolicy")).serialize(),
                    beforeSend: function () {
                        $('#preloader-wrapper').toggleClass('hide');
                    },
                    success: function (result) {

                        $('#preloader-wrapper').toggleClass('hide');
                        $('.modal-content').toggleClass('hide');
                        $('#myModal').modal('hide');
                        initLoadHotelPolicyTable();
                        ShowNotify('Thêm thông tin thành công', 'success', 'bottom');
                    },
                    error: function(data)
                    {
                        $('#preloader-wrapper').toggleClass('hide');
                    }
                });

        }

        function DoEditSur(id) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("_SurchargePolicysEdit")',
                data: { id: id },
                beforeSend: function () {
                    $('#preloader-wrapper').toggleClass('hide');
                },
                success: function (result) {
                    if (result.length > 0) {
                        $('#preloader-wrapper').toggleClass('hide');
                        $('.modal-content').html(result);
                        $('.modal-content').removeClass('hide');
                        $('.modal-content').addClass('show');
                        $('#myModal').modal('show');
                    }
                },
                error: function(data)
                {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });

        }

        function DoDeleteNotice(id) {
           $.ajax({
                type: 'post',
                url: '@Url.Action("HotelNoticesDelete")',
                data: { "id": id },
                success: function () {
                    initLoadHotelNoticeTable();
                    ShowNotify('Xoá thông tin thành công', 'success', 'bottom');

                },
                error: function () {
                    ShowNotify('Xoá thông tin không thành công', 'danger', 'top');
                }
            })

        }

        function DoDeleteSurcharge(id) {
           $.ajax({
                type: 'post',
                url: '@Url.Action("HotelSurchargesDelete")',
                data: { "id": id },
                success: function () {
                    initLoadHotelPolicyTable();
                    ShowNotify('Xoá thông tin thành công', 'success', 'bottom');
                },
                error: function () {
                    ShowNotify('Xoá thông tin không thành công', 'danger', 'top');
                }
            })

        }
        function GetProvince(parent, child) {
            var countryid = $(parent).val();

            $.ajax({
                type: "GET",
                url: '@Url.Action("_GetProvince")',
                data: { "countryid": countryid },
                beforeSend: function () {
                    $('#preloader-wrapper').toggleClass('hide');
                },
                success: function (result) {
                    if (result != '') {
                        $('#' + child).empty();
                        $.each(result, function (i, state) {
                            $('#' + child).append($('<option/>', { value: this.Value }).html(this.Text));
                        });
                        $('#' + child).trigger("chosen:updated");
                        $('#preloader-wrapper').toggleClass('hide');
                    } else {
                        ShowNotify('Có lỗi xảy ra, vui lòng kiểm tra lại dữ liệu.', 'danger', 'top');
                        $('#preloader-wrapper').toggleClass('hide');
                    }
                }
            });
        }

         function GetDistrict(parent, child) {
            var provinceId = $(parent).val();

            $.ajax({
                type: "GET",
                url: '@Url.Action("_GetDistrict")',
                data: { "provinceId": provinceId },
                beforeSend: function () {
                    $('#preloader-wrapper').toggleClass('hide');
                },
                success: function (result) {
                    if (result != '') {
                        $('#' + child).empty();
                        $.each(result, function (i, state) {
                            $('#' + child).append($('<option/>', { value: this.Value }).html(this.Text));
                        });
                        $('#' + child).trigger("chosen:updated");
                        $('#preloader-wrapper').toggleClass('hide');
                    } else {
                        ShowNotify('Có lỗi xảy ra, vui lòng kiểm tra lại dữ liệu.', 'danger', 'top');
                        $('#preloader-wrapper').toggleClass('hide');
                    }
                }
            });
        }
    </script>
}