﻿@model IEnumerable<CustomerAdminViewModel>
@{
    ViewBag.Title = "Quản lý khách hàng";
    SearchUser search = ViewBag.Search;
}

<div class="row">
    <div class="col-md-12 form-search">
        <div class="box box-warning" style="margin: 0 auto; margin-bottom: 20px;">
            <div class="box-header with-border" data-widget="collapse">
                <h3 class="box-title">Tìm kiếm</h3>
            </div>
            <div class="box-body">
                @using (Html.BeginForm("Index", "Customer", FormMethod.Post, new { id = "form-search" }))
                {
                    <div class="row" style="padding: 0px;">
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>Họ và tên</label>
                                <div>
                                    @*<input type="text" value="@search.Fullname" placeholder="Họ và tên" name="Fullname" id="Fullname" class="form-control">*@
                                    <input type="text" id="CustomerName" name="CustomerName" class="form-control input-sm" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 col-left">
                            <div class="form-group">
                                <label>Email</label>
                                <div>
                                    @*<input type="text" value="@search.Email" placeholder="Email" name="Email" id="Email" class="form-control">*@
                                    <input type="text" id="Email" name="Email" class="form-control input-sm" />
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 col-left">
                            <div class="form-group">
                                <label>Số điện thoại</label>
                                <div>
                                    @*<input type="text" value="@search.Username" placeholder="Tên đăng nhập" name="Username" id="Username" class="form-control">*@
                                    <input type="text" id="PhoneNumber" name="PhoneNumber" class="form-control input-sm" />
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 col-left">
                            <div class="form-group">
                                <label>Tình trạng</label>
                                <div>
                                    @*@Html.DropDownList("Status", null, null, new { @class = "form-control" })*@
                                    @Html.DropDownList("Status", null, "---  Chọn  ---", new { @class = "form-control chosen-select input-sm" })
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 0px;">
                        <div class="col-xs-12 col-md-6">
                            <button type="button" name="SubmitSearch" value="Search" id="btnTimKiem" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>&nbsp;Tìm kiếm</button>
                            @*<a href="@Url.Action("Create")" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>&nbsp;Thêm mới</a>*@
                            <a class="btn btn-warning btn-sm" onclick="javascript: clearForm('form-search'); void (0);"><i class="fa fa-refresh"></i> Làm mới</a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="box box-primary collapsed-box" style="margin: 0 auto; margin-bottom: 20px; display: none;">
            <div class="box-header with-border" data-widget="collapse">
                <h3 class="box-title fa-plus">
                    Tìm kiếm nhanh
                </h3>
            </div>
            <div class="box-body" style="display:none;">
                <div class="row" style="padding: 0px;">
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label>Họ và tên</label>
                            <div>
                                <input type="text" placeholder="Họ và tên" name="qsFullName" id="qsFullName" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 col-left">
                        <div class="form-group">
                            <label>Email</label>
                            <div>
                                <input type="text" placeholder="Email" name="qsEmail" id="qsEmail" class="form-control">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2 col-left">
                        <div class="form-group">
                            <label>Tên đăng nhập</label>
                            <div>
                                <input type="text" placeholder="Tên đăng nhập" name="qsUsername" id="qsUsername" class="form-control">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 col-left">
                        <div class="form-group">
                            <label>Phân quyền</label>
                            <div>
                                <input type="text" placeholder="Phân quyền" name="qsRole" id="qsRole" class="form-control">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-1">
                        <button type="submit" name="SubmitSearch" value="Reset" id="btnTimKiem11" class="btn btn-primary" style="margin-top: 25px;" onclick="Javascript:resetvalue();"><i class="fa fa-refresh"></i>&nbsp; Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box box-success">
    <!-- End Header -->
    <!-- Start Body -->
    <div class="box-body scroll" style="max-height: 600px;">
        <div class="nContent">
            @Html.Partial("_CustomerList", Model)
        </div>
    </div>
</div>
@section scripts{
    <script>

        $(function () {
            CustomerModule.init();
        });

        var CustomerModule = (function () {
            var danhSachCustomerUrl = "/Admin/Customer/GetCustomerList";

            function init() {
                initCustomerTable();
            }

            $('#btnTimKiem').on('click', function (event) {
                initCustomerTable();
            });

            function initCustomerTable() {
                var customerName = $('#CustomerName').val();
                var email = $('#Email').val();
                var phoneNumber = $('#PhoneNumber').val();
                var status = $('#Status').val();

                $.ajax({
                    type: "GET",
                    url: danhSachCustomerUrl,
                    data: {
                        CustomerName: customerName,
                        Email: email,
                        PhoneNumber: phoneNumber,
                        Status: status
                    },
                    success: function (response) {
                        $('#mytable').html(response);
                            $("#mytable").DataTable({
                            "paging": true,
                            "lengthChange": false,
                            "ordering": true,
                            "info": true,
                                "autoWidth": false,
                            destroy: true,
                            "aoColumnDefs": [
                                { 'bSortable': false, 'aTargets': [1] }
                            ]
                        });
                    }
                });
            }

            return {
                init: init,
                reloadCustomerTable: initCustomerTable
            };
        })();

        var DeleteHotelModule = (function (hotelModule) {

            //var $form;

            function init() {
                //$form = $("#frmThayDoiTrangThai");
                //editStatusSinhVien();
            }

            function confirmDeleteHotel(id_) {
                var confirm_ = confirm('Bạn có muốn xóa dữ liệu này không?');
                if (confirm_) {
                    $.ajax({
                        url: '@Url.Action("DeleteHotel", "Hotels")',
                        timeout: 20000,
                        data: { id: id_ },
                        beforeSend: function (xhr) {
                            $(".divLoading").addClass("loading");
                        },
                        success: function (result) {
                            if (result.status >= 1) {
                                //ShowNoti(result.title, result.text, "success");
                                window.location.href = '@Url.Action("Index", "Hotels")';
                            }
                            else {
                                //ShowNoti(result.title, result.text, "error");
                                alert(result.text);
                            }

                            $(".divLoading").removeClass("loading");

                            //reloadData(true);
                        },
                        error: function (message) {
                            $(".divLoading").removeClass("loading");
                        }
                    });
                }

            }

            return {
                init: init
            }
        })(HotelModule);

        $(document).ready(function (event) {

        });

        function DoImageManage() {
            $('.btn-imagesA').off('click').on('click', function (e) {
                e.preventDefault();
                $('#imagesManage').modal('show');
                $('#khachSanId').val($(this).data('id'));
            });

            $('input[type="file"]').on('change', function (e) {
                console.log('cccccccc', e);
                if (!e.target.files || !window.FileReader) return;

                //selDiv.innerHTML = "";

                var files = e.target.files;
                var filesArr = Array.prototype.slice.call(files);
                filesArr.forEach(function (f) {
                    var f = files[i];
                    if (!f.type.match("image.*")) {
                        return;
                    }


                    var reader = new FileReader();
                    reader.onload = function (e) {
                        console.log('eeee this', e);
                        console.log('fffff this', f);
                        $('#imageList').append('<div style="float:left"><img src="' + e.target.result + '" width="100" height="100" alt="' + f.name + '"/><a href="#" class="btn-delImage"><i class="fa fa-times"></i></a></div>')

                        $('.btn-delImage').off('click').on('click', function (e) {
                            e.preventDefault();
                            $(this).parent().remove();
                        });
                    }
                    reader.readAsDataURL(f);
                });
            });
        }

        var $modalSlide = $('#myModalSlide');
        var $myModalContentSlide = $("#myModalContentSlide");
        var $myModalTitleSlide = $("#myModalTitleSlide");

        function Slide(Id) {
            $myModalContentSlide.html("");
            $myModalTitleSlide.html("Thêm hình ảnh");
            $.ajax({
                url: '@Url.Action("_AddImages")',
                timeout: 20000,
                data: {
                    Id: Id
                },
                beforeSend: function (xhr) {
                    $(".divLoading").addClass("loading");
                },
                success: function (result) {
                    $myModalContentSlide.html(result);
                    $modalSlide.modal({ backdrop: 'static', keyboard: false });
                    $(".divLoading").removeClass("loading");
                },
                error: function (message) {
                    $(".divLoading").removeClass("loading");
                }
            });
        }


        function GetProvince(parent, child) {
            var countryid = $(parent).val();

            $.ajax({
                type: "GET",
                url: '@Url.Action("_GetProvince")',
                data: { "countryid": countryid },
                beforeSend: function () {
                    $('#preloader-wrapper').toggleClass('hide');
                },
                success: function (result) {
                    if (result != '') {
                        $('#' + child).empty();
                        $.each(result, function (i, state) {
                            $('#' + child).append($('<option/>', { value: this.Value }).html(this.Text));
                        });
                        $('#' + child).trigger("chosen:updated");
                        $('#preloader-wrapper').toggleClass('hide');
                    } else {
                        ShowNotify('Có lỗi xảy ra, vui lòng kiểm tra lại dữ liệu.', 'danger', 'top');
                        $('#preloader-wrapper').toggleClass('hide');
                    }
                }
            });
        }

         function GetDistrict(parent, child) {
            var provinceId = $(parent).val();

            $.ajax({
                type: "GET",
                url: '@Url.Action("_GetDistrict")',
                data: { "provinceId": provinceId },
                beforeSend: function () {
                    $('#preloader-wrapper').toggleClass('hide');
                },
                success: function (result) {
                    if (result != '') {
                        $('#' + child).empty();
                        $.each(result, function (i, state) {
                            $('#' + child).append($('<option/>', { value: this.Value }).html(this.Text));
                        });
                        $('#' + child).trigger("chosen:updated");
                        $('#preloader-wrapper').toggleClass('hide');
                    } else {
                        ShowNotify('Có lỗi xảy ra, vui lòng kiểm tra lại dữ liệu.', 'danger', 'top');
                        $('#preloader-wrapper').toggleClass('hide');
                    }
                }
            });
        }
    </script>
}
