﻿@model IEnumerable<BookingViewModel>
@{
    ViewBag.Title = "Danh sách booking";

    var search = ViewBag.Search as SearchBookingViewModel;

    var sllSearchStatus = new List<SelectListItem> {
        new SelectListItem{Value = "-1", Text = "Tất cả"},
        new SelectListItem{ Value = ((int)Parameters.Booking.BookingStatus.KHDaThanhToan).ToString(), Text = "KH Xác nhận thanh toán"},
        new SelectListItem{ Value = ((int)Parameters.Booking.BookingStatus.AdminXNThanhToan).ToString(), Text = "Admin XN thanh toán"},
        new SelectListItem{ Value = ((int)Parameters.Booking.BookingStatus.DaHuy).ToString(), Text = "Booking đã huỷ"},
    };
}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            @using (Html.BeginForm("Index", "Booking", FormMethod.Post, new { id = "form-search", enctype = "multipart/form-data" }))
            {
                <div class="box-body">
                    <div class="row" style="padding: 0px;">
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>Mã booking</label>
                                <div>
                                    <input type="text" id="BookingCode" name="BookingCode" class="form-control input-sm" value="@search.BookingCode" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>Khách sạn</label>
                                <div>
                                    <input type="text" id="HotelName" name="HotelName" class="form-control input-sm" value="@search.HotelName" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 0px;">
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>Khách hàng </label>
                                <div>
                                    <input type="text" id="CustomerName" name="CustomerName" class="form-control input-sm" value="@search.CustomerName" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>Email khách </label>
                                <div>
                                    <input type="text" id="CustomerEmail" name="CustomerEmail" class="form-control input-sm" value="@search.CustomerEmail" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>Số điện thoại khách </label>
                                <div>
                                    <input type="text" id="CustomerPhone" name="CustomerPhone" class="form-control input-sm" value="@search.CustomerPhone" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 0px;">
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>Ngày check-in từ</label>
                                <div>
                                    <input type="text" id="FromDate" name="FromDate" class="form-control input-sm datepicker" value="@(search.FromDate.HasValue ? search.FromDate.Value.ToString("dd/MM/yyyy") : "" )" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>Ngày check-in đến</label>
                                <div>
                                    <input type="text" id="ToDate" name="ToDate" class="form-control input-sm datepicker" value="@(search.ToDate.HasValue ? search.ToDate.Value.ToString("dd/MM/yyyy") : "" )" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>Trạng thái</label>
                                <div>
                                    @Html.DropDownList("Status", new SelectList(sllSearchStatus, "Value", "Text", search.Status), new { @class = "form-control input-sm d-inline-block chosen-select", @id = "ddlTrangThai" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <label>&nbsp;</label>
                            <div>
                                <button type="submit" name="SubmitSearch" value="Search" id="btnTimKiem" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>&nbsp;Tìm kiếm</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Danh sách booking</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="nContent">
                    <table id="mytable" class="table table-bordered table-striped">
                        <thead>
                            <tr style="background-color: #1b80c8; color: white; font-size: 11.5px">
                                <th style="width:5%;">
                                    STT
                                </th>
                                <th style="width:8%">
                                    Mã booking
                                </th>
                                <th width="20%">
                                    Tên khách sạn
                                </th>
                                <th width="8%">
                                    Tỉnh thành
                                </th>
                                <th width="10%">
                                    Tên khách hàng
                                </th>
                                <th width="10%">
                                    Check In - Check Out
                                </th>
                                <th width="5%">
                                    Số phòng
                                </th>
                                <th width="5%">
                                    Số khách
                                </th>
                                <th width="5%">
                                    KH Thanh toán
                                </th>
                                <th width="5%">
                                    Xác nhận TT
                                </th>
                                <th width="15%" style="min-width:40px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @Html.Partial("_BookingList", Model)
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- Pager -->
<div id="page">
    @Html.Raw(ViewBag.Pager)
</div>

<script>
    $(".datepicker").datepicker({ dateFormat: 'dd/mm/yy' });
</script>

