﻿@model NewsListViewModel

<div class="box-body">
    <input type="hidden" value="@ViewBag.Page" name="page" />
    <div class="row">
        <div class="col-md-2 col-sm-6 col-sx-12">
            <div class="form-group">
                <label>Từ ngày</label>
                @Html.EditorFor(model => model.CrtDateFrom, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-md-2 col-sm-6 col-sx-12">
            <div class="form-group">
                <label>Đến ngày</label>
                @Html.EditorFor(model => model.CrtDateTo, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-md-2 col-sm-6 col-sx-12">
            <div class="form-group">
                <label>Loại tin</label>
                @Html.DropDownList("NewsTypeID", null, "--- Tất cả ---", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-2 col-sm-6 col-sx-12">
            <div class="form-group">
                <label>Tiêu đề</label>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-md-2 col-sm-6 col-sx-12">
            <div class="form-group">
                <label>Nguồn</label>
                @Html.EditorFor(model => model.Source, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-md-1 col-sm-6 col-sx-12">
            <div class="form-group">
                <label>&nbsp;</label>
                <button class="btn btn-primary">
                    <i class="fa fa-search"></i>&nbsp;Tìm kiếm
                </button>
            </div>
        </div>
    </div>
</div>




