﻿@model NewsListViewModel

@{
    var ordId = 1;
    var _db = new HotelEntities();
    var listNewsType = _db.NewsTypes.Where(d => d.Status).ToList();
}

<table class="table table-condensed table-striped table-bordered table-hover no-margin" id="tblNewsList">
    <thead>
        <tr>
            <td class="text-center" style="width: 30px;">STT</td>
            <td class="text-center" style="width: 70px;">Loại tin</td>
            <td class="text-center" style="width: 100px;">Hình/ Link</td>
            <td class="text-center" style="width: 250px;">Tiêu đề</td>
            @*<td class="text-center" style="width: 350px;">Tóm tắt</td>*@
            <td class="text-center" style="width: 90px;">Nguồn</td>
            @*<td class="text-center" style="width: 60px;">Thứ tự hiển thị</td>*@
            <td class="text-center" style="width: 30px;">Hiển thị</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.News)
        {
            <tr>
                <td class="col-md-1 text-center">@(ordId++)</td>
                <td class="col-md-2 text-center">
                    @{
                        <text>@listNewsType.FirstOrDefault(d=>d.NewsTypeID == item.NewsTypeID).Name</text>

                    }
                </td>
                <td class="col-md-1 text-center">
                        <a href="@item.Link" target="_blank"><img src="~/FileUploads/News/@item.FileAttchment" class="img-responsive img-n"></a>
                </td>
                <td class="col-md-3 text-center">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                @*<td class="col-md-4 text-center">
                    @Html.DisplayFor(modelItem => item.Brief)
                </td>*@
                <td class="col-md-1 text-center">
                    @Html.DisplayFor(modelItem => item.Source)
                </td>
                @*<td class="text-center">
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>*@
                <td class="col-md-1 text-center">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td class="col-md-1 text-center">
                    @using (Html.BeginForm())
                    {
                        @Html.ActionLink("Sửa", "Edit", "HotelNews", new { id = item.HotelNewsID }, new { @class = "fa fa-edit fa-lg" })
                        
                    <text>&nbsp;&nbsp;</text>
                        @Html.ActionLink("Xóa", "Delete", new { id = item.HotelNewsID }, new { @onclick = "return confirm('Bạn có muốn xóa tin này?');", @class = "fa fa-trash-o fa-lg" })
                    }
                </td>
            </tr>
                        }
    </tbody>
</table>
