﻿@model Hotel.EntityFramework.Models.HotelNews

@{
    ViewBag.Title = "Tạo tin mới";
}

@using (Html.BeginForm("Create", "HotelNews", FormMethod.Post, new { id = "frm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <!--Input Control-->
        <div class="panel panel-primary">
            <div class="panel-heading">THÊM TIN MỚI</div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-3" style="margin-bottom:8px;">
                    <label>Loại tin</label>
                    <div>
                        @Html.DropDownList("NewsTypeID", null, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NewsTypeID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3" style="margin-bottom:8px;">
                    <label>Tiêu đề</label>
                    <div>
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3" style="margin-bottom:8px;">
                    <label>Thứ tự hiển thị</label>
                    <div>
                        @Html.EditorFor(model => model.OrderID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OrderID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3" style="margin-bottom:8px;">
                    <label>Hiển thị</label>
                    <div>
                        @Html.EditorFor(model => model.Status)
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="margin-bottom:8px;">
                    <label>Tóm tắt</label>
                    <div>
                        @Html.EditorFor(model => model.Brief, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Brief, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3" style="margin-bottom:8px;">
                    <label>Link</label>
                    <div>
                        @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3" style="margin-bottom:8px;">
                    <label>Nguồn</label>
                    <div>
                        @Html.EditorFor(model => model.Source, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Source, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Nội dung</label>
                    <div>
                        @Html.HtmlEditor("Content", "")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" style="margin-bottom:8px;">
                    <label>Hình đại diện</label>
                    <div>
                        <input type="file" id="files" name="files" multiple="multiple" style="float: left; height: auto;" class="form-control" />
                        @Html.ValidationMessageFor(model => model.FileAttchment, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3" style="margin-bottom:8px;">
                    <label>Ghi chú</label>
                    <div>
                        @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3" style="margin-bottom:8px;">
                    <label>Tỉnh liên quan</label>
                    <div>
                        @Html.DropDownListFor(m => m.ProvinceID, (SelectList)ViewBag.ProvinceId, "-- Chọn --", new { @class = "form-control input-sm" })
                    </div>
                </div>
            </div>
        </div>
        <!--./Input Control-->
        <!--Button-->
        <div class="row" style="margin-top:10px;">
            <div class="col-md-12 text-right">
                <input type="submit" id="submit" value="Lưu" class="btn btn-default" />&nbsp;&nbsp;
                <a href="@Url.Action("Index")" class="btn btn-danger">Quay lại</a>
            </div>
        </div>
        <!--End Button-->
    </div>
}