﻿@model  Hotel.EntityFramework.Models.HotelNew

@{
    ViewBag.Title = "Xoá tin";
}

<h3>Bạn có muốn xóa tin này?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            Loại tin
        </dt>

        <dd>
            @if (Model.NewsTypeID == 1)
            {
                <text>Tin tức</text>
            }
        </dd>

        <dt>
            Tiêu đề
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Tóm tắt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brief)
        </dd>

        <dt>
            Nguồn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>

        <dt>
            Thứ tự hiển thị
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderID)
        </dd>

        <dt>
            Hiển thị
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            Ghi chú
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            Tạo bởi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrtBy)
        </dd>

        <dt>
            Ngày tạo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrtDate)
        </dd>

        <dt>
            Sửa bởi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdBy)
        </dd>

        <dt>
            Ngày sửa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdDate)
        </dd>

        <dt>
            Hình đại diện
        </dt>

        <dd>
            @if (!String.IsNullOrEmpty(Model.FileAttchment))
            {
                <a href="@Model.Link" target="_blank"><img src="~/FileUploads/News/@Model.FileAttchment" class="img-responsive img-n" width="160px;"></a>
            }
            else
            {
                <text>[Không hình]</text>
            }
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-xs btn-danger mg-b" /> |
            <a href="@Url.Action("Index")" class="btn btn-xs btn-default mg-b">Quay lại</a>
        </div>
    }
</div>
