﻿@model Hotel.EntityFramework.Models.HotelNew

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WHSafeNew</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NewsTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsTypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brief)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brief)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileAttchment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileAttchment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CrtBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrtBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CrtDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrtDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HotelNewsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
