﻿@model NewsListViewModel

@{
    ViewBag.Title = "Danh sách tin";
}

<!-- Tìm kiếm -->
<div>
    <div class="box">
        <div class="box-header">
            <div class="title">
                Tìm kiếm
            </div>
        </div>
        @using (Html.BeginForm("Index", "HotelNews", FormMethod.Post, new { id = "form-data" }))
        {
            @Html.Partial("_NewsSearch", Model)
        }
    </div>
</div>
<!-- ./Tìm kiếm -->
<!-- Kết quả tìm kiếm-->
<div>
    <div class="box">
        <div class="box-header">
            <div class="title">
                Danh sách tin tức
                <a href="@Url.Action("Create","HotelNews")"><i class="fa fa-plus" style="margin-left:10px; color:#428bca;"> thêm mới</i></a>
            </div>
        </div>
        <div class="box-body">
            @Html.Partial("_NewsList", Model)
        </div>
    </div>
</div>
<!-- ./Kết quả tìm kiếm-->

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        //Paging & filter
        $('#tblWHNewList').DataTable();
        //End Paging & filter
    </script>
}