﻿@{
}

<input id="HotelIdImage" name="HotelIdSlide" type="hidden" value="@ViewBag.HotelId" />

<div class="danhgialanhdaocaptrung">
    <div class="section0" style="margin-top: 15px;margin-bottom: 15px">
        <div class="text-center"><span class="title"></span></div>
    </div>
    <div class="section0" style="margin-top: 15px;margin-bottom: 15px">
        <div class="row" style="margin-bottom:5px">
            <div class="col-md-6" style="margin-bottom:5px">
                <div class="row" style="margin-bottom:5px">
                    <div class="form-group">
                        <label class="col-md-5 col-form-label">Hình (1200x600px)</label>
                        <div class="col-md-7">
                            <input type="file" name="ImageSlide_" id="ImageSlide_" aria-setsize="200" />
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:5px">
                    <div class="form-group">
                        <label class="col-md-5 col-form-label">Nhóm ảnh</label>
                        <div class="col-md-7">
                            @Html.DropDownList("Types", null, new { @class = "form-control chosen-select input-sm" })
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:5px">
                    <div class="form-group">
                        <label class="col-md-5 col-form-label">Thứ tự</label>
                        <div class="col-md-7">
                            <input type="number" id="Order" name="Order" min="0" class="form-control input-sm" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="margin-bottom:5px">
                <div class="form-group">
                    <label class="col-md-5 col-form-label text-right">&nbsp;</label>
                    <div class="col-md-7">
                        <button type="button" class="btn btn-primary btn-sm" id="btnLuuSlide" name="btnLuuSlide"><i class="fa fa-save"></i> Lưu</button>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <div class="section3">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="table-body-slide">

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function reloadDataSlide(isDelete) {
        var oSettings = $('#myTableSlides').dataTable().fnSettings();

        var currentPageIndex = 1;

        try {
            currentPageIndex = Math.ceil(oSettings._iDisplayStart / oSettings._iDisplayLength) + 1;
        } catch (e) {
        }

        $.ajax({
            url: '@Url.Action("_GetListImage")',
            timeout: 20000,
            data: {
                HotelId: '@ViewBag.HotelId'
            },
            beforeSend: function () {
                $(".divLoading").addClass("loading");
            },
            success: function (response) {
                $(".divLoading").removeClass("loading");

                $('.table-body-slide').html(response);

                $("#myTableSlides").dataTable({
                    "stateSave": true,
                    "initComplete": function (oSettings) {
                        if (!isDelete) {
                            var oTable = this;
                            var totalRows = oTable.fnGetData().length;
                            oTable.fnPageChange(currentPageIndex - 1);
                            page = 1;

                            try {
                                page = Math.ceil(oSettings._iDisplayStart / oSettings._iDisplayLength);

                            } catch (e) {

                            }

                            $id = readCookie('LoaiCauHoi');
                            highlight_rowclick('row-' + $id);
                            console.log($id);
                        }
                        else {
                            $id = "";
                            eraseCookie('LoaiCauHoi');
                            console.log($id);
                        }
                    }
                });
            },
            error: function (message) {
                $(".divLoading").removeClass("loading");
            }
        });
    }

    $(document).ready(function () {

        reloadDataSlide(false);

        $("#btnLuuSlide").click(function () {
            form = $("#frmSlide");
            form.removeData('validator');
            form.removeData('unobtrusiveValidation');
            $.validator.unobtrusive.parse("#frmSlide");
            if (form.valid()) {
                var formdata = new FormData(); //FormData object

                var fileInput = document.getElementById('ImageSlide_');
                for (i = 0; i < fileInput.files.length; i++) {
                    formdata.append("ImageSlide_" + i, fileInput.files[i]);
                }
                formdata.append("HotelId", $("#HotelIdImage").val());
                formdata.append("Types", $("#Types").val());
                formdata.append("Order", $("#Order").val());

                $.ajax({
                    url: '@Url.Action("_FunSaveImage")',
                    type: "POST",
                    data: formdata,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $(".divLoading").addClass("loading");
                    },
                    success: function (result) {
                        $(".divLoading").removeClass("loading");

                        if (result.status >= 1) {
                            ShowNoti(result.title, result.text, "success");

                            reloadDataSlide(false);
                        }
                        else {
                            ShowNoti(result.title, result.text, "error");
                        }
                    },
                    error: function (message) {
                        $(".divLoading").removeClass("loading");
                    }
                });
            }
        });
    });

    function DeleteImage(Id) {
        var confirm_ = confirm('Bạn có chắc muốn xóa mã này?');
        if (confirm_) {
            $.ajax({
                url: '@Url.Action("_FunXoaImage")',
                timeout: 20000,
                data: { Id: Id },
                beforeSend: function (xhr) {
                    $(".divLoading").addClass("loading");
                },
                success: function (result) {
                    if (result.status >= 1) {
                        ShowNoti(result.title, result.text, "success");

                        reloadDataSlide(true);
                    }
                    else {
                        ShowNoti(result.title, result.text, "error");
                    }

                    $(".divLoading").removeClass("loading");
                },
                error: function (message) {
                    $(".divLoading").removeClass("loading");
                }
            });
        }
    }
</script>

