﻿@model tbl_Area

@using (Html.BeginForm("AreasEdit", "Category", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.AreaId)
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="title-modal">Điều chỉnh khu vực @Model.AreaName</span>
    </div>
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="col-md-12 mg-top5">
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Quốc gia
                    </label>
                    <div class="col-sm-10">
                        @Html.DropDownList("CountryId", (SelectList)ViewBag.CountryId, new { @class = "form-control chosen-select input-sm", @onchange = "GetProvince(this, 'editProvinceId');" })
                    </div>
                </div>
            </div>
            <div class="col-md-12 mg-top5">
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Tỉnh thành
                    </label>
                    <div class="col-sm-10">
                        @Html.DropDownList("editProvinceId", (SelectList)ViewBag.ProvinceId, new { @class = "form-control chosen-select input-sm", @onchange = "GetDistrict(this, 'editDistrictId');" })
                    </div>
                </div>
            </div>
            <div class="col-md-12 mg-top5">
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Quận huyện
                    </label>
                    <div class="col-sm-10">
                        @Html.DropDownList("editDistrictId", (SelectList)ViewBag.DistrictId, new { @class = "form-control chosen-select input-sm" })
                    </div>
                </div>
            </div>
            <div class="col-md-12 mg-top5">
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Tên khu vực
                    </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.AreaName, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.AreaName)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-left">
            <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-save"></i>&nbsp;Lưu</button>
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Quay lại</button>
        </div>
    </div>
}

