﻿@model tbl_HotelConvenientType

@using (Html.BeginForm("ConvenientTypesEdit", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.Id)
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="title-modal">Cập nhật tiện ích</span>
    </div>
    <div class="modal-body form-horizontal">
        <div class="form-group clear-prefix">
            <label class="col-sm-2 control-label">
                Tên tiện tích
            </label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.ConvenientName, new { @class = "form-control input-sm" })
            </div>
        </div>
        @*<div class="form-group clear-prefix">
            <label class="col-sm-2 control-label">
                Tên loại thanh toán
            </label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.PayTypeName, new { @class = "form-control input-sm" })
            </div>
        </div>*@
        <div class="form-group">
            <label class="col-sm-2 control-label">
                Biểu tượng
            </label>
            <div class="col-sm-10">
                <input type="file" name="Symbol" id="Symbol" aria-setsize="200" />
            </div>
        </div>
        <div class="form-group clear-prefix hidden">
            <label class="col-sm-2 control-label">
                Order
            </label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Order, new { @class = "form-control input-sm" })
            </div>
        </div>
        <div class="form-group clear-prefix">
            <label class="col-sm-2 control-label">
                Khách sạn/Phòng
            </label>
            <div class="col-sm-10">
                @Html.DropDownList("Type", new SelectList(new List<SelectListItem> {
               new SelectListItem() { Value = "0", Text = "Khách sạn" },
               new SelectListItem() {Value = "1",Text ="Phòng" }

           }, "Value", "Text", Model.Type), new { @class = "form-control input-sm" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-left">
            <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-save"></i>&nbsp;Lưu</button>
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Quay lại</button>
        </div>
    </div>
}


