﻿@model tbl_Country

@using (Html.BeginForm("CountriesEdit", "Category", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.CountryId)
    @*@Html.HiddenFor(m => m.country_type)*@

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="title-modal">Cập nhật quốc gia</span>
    </div>
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Mã quốc gia
                    </label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.Symbol, new { @class = "form-control input-sm", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Symbol)
                    </div>
                </div>
            </div>
        </div>
        <div class="row mg-top5">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Tên quốc gia
                    </label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.CountryName, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.CountryName)
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row mg-top5">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        @Language.TenQuocGiaEN
                    </label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.country_name_en, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.country_name_en)
                    </div>
                </div>
            </div>
        </div>*@
        @*<div class="row mg-top5">
            <div class="form-group">
                <div class="col-md-12">
                    <label class="col-sm-3 control-label">
                        @Language.PhuThuVisaTaiNhapVietNam
                    </label>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(model => model.phuthuvisatainhapvn, null, null, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.country_name_en)
                    </div>
                </div>
            </div>
        </div>*@


        @*<div class="row mg-top5">
            <div class="form-group">
                <div class="col-md-12">
                    <label class="col-sm-3 control-label">
                        Trạng thái
                    </label>
                    <div class="col-sm-9">
                        <select id="Status" name="Status" class="form-control input-sm">
                            <option value="1" @((Model.Status == null || Model.Status == 1) ? "selected=\"selected\"" : "")>Có hiệu lực</option>
                            <option value="0" @((Model.Status == null || Model.Status == 1) ? "" : "selected=\"selected\"")>Không hiệu lực</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
    <div class="modal-footer">
        <div class="text-left">
            <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-save"></i>&nbsp;Lưu</button>
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Quay lại</button>
        </div>
    </div>
}
