﻿
@model tbl_Direction

@using (Html.BeginForm("DirectionEdit", "Category", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.Id)
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="title-modal">Danh sách hướng</span>
    </div>
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="col-md-12 mg-top5">
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Hướng
                    </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.DirectionName, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.DirectionName)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-left">
            <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-save"></i>&nbsp;Lưu</button>
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Quay lại</button>
        </div>
    </div>
}

