﻿@model tbl_District

@using (Html.BeginForm("DistrictsEdit", "Category", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.DistrictId)
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="title-modal">Danh sách quận huyện</span>
    </div>
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="col-md-12 mg-top5">
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Quốc gia
                    </label>
                    <div class="col-sm-10">
                        @Html.DropDownList("CountryId", (SelectList)ViewBag.country_id, new { @class = "form-control chosen-select input-sm", @onchange = "GetProvince(this, 'editProvinceId');" })
                    </div>
                </div>
            </div>
            <div class="col-md-12 mg-top5">
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Tỉnh thành
                    </label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.ProvinceId, null, null, new { @class = "form-control chosen-select input-sm", @id = "editProvinceId" })
                        @Html.ValidationMessageFor(model => model.ProvinceId)
                    </div>
                </div>
            </div>
            <div class="col-md-12 mg-top5">
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Tên quận huyện
                    </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.DistrictName, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.DistrictName)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-left">
            <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-save"></i>&nbsp;Lưu</button>
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Quay lại</button>
        </div>
    </div>
}

