﻿@model RoomViewModel


<div class="modal-header">
    <h5 class="modal-title text-uppercase text-center">Chỉnh sửa phòng</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body pl-4 pr-4">
    <div class="row">
        <div class="col-12">
            @using (Html.BeginForm("EditRoomPopup", "Category", FormMethod.Post, new { id = "frmPopSuaSinhVien" }))
            {
                @*@Html.HiddenFor(x => x.ID, new { id = "id-hidden" })
                <div class="row mb-2">
                    <div class="col-5">
                        <label>Mã SV<span class="input-required">*</span></label>
                    </div>
                    <div class="col-7">
                        @Html.TextBoxFor(x => x.MaSV, new { @class = "form-control", @maxlength = 100, id = "txtMaSV" })
                        <small class="form-text text-danger"><span id="txtMaSV-error"></span></small>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-5">
                        <label>Tên SV<span class="input-required">*</span></label>
                    </div>
                    <div class="col-7">
                        @Html.TextBoxFor(x => x.HoTen, new { @class = "form-control", @maxlength = 100, id = "txtTenSV" })
                        <small class="form-text text-danger"><span id="txtTenSV-error"></span></small>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-5">
                        <label>Hệ đào tạo<span class="input-required">*</span></label>
                    </div>
                    <div class="col-7">
                        @Html.DropDownListFor(x => x.MaHe, (SelectList)ViewBag.ddlHeDaoTao, "--Chọn--", new { @class = "form-control d-inline-block", @id = "ddlHeDaoTaoSua" })
                        <small class="form-text text-danger"><span id="ddlHeDaoTaoSua-error"></span></small>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-5">
                        <label>Ngành<span class="input-required">*</span></label>
                    </div>
                    <div class="col-7">
                        @Html.DropDownListFor(x => x.MaNganh, (SelectList)ViewBag.ddlNganh, "--Chọn--", new { @class = "form-control d-inline-block", @id = "ddlNganhSua" })
                        <small class="form-text text-danger"><span id="ddlNganhSua-error"></span></small>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-5">
                        <label>Chuyên Ngành<span class="input-required">*</span></label>
                    </div>
                    <div class="col-7">
                        @Html.DropDownListFor(x => x.MaCN, (SelectList)ViewBag.ddlChuyenNganh, "--Chọn--", new { @class = "form-control d-inline-block", @id = "ddlChuyenNganhSua" })
                        <small class="form-text text-danger"><span id="ddlChuyenNganhSua-error"></span></small>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-5">
                        <label>Lớp<span class="input-required">*</span></label>
                    </div>
                    <div class="col-7">
                        @Html.DropDownListFor(x => x.MaLop, (SelectList)ViewBag.ddlLop, "--Chọn--", new { @class = "form-control d-inline-block", @id = "ddlLopSua" })
                        <small class="form-text text-danger"><span id="ddlLopSua-error"></span></small>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-5">
                        <label>Ngày sinh<span class="input-required">*</span></label>
                    </div>
                    <div class="col-md-7 col-12">
                        <div class="input-group date input-group-append" id="ngay-sinh-sv-sua-dtp">
                            @Html.TextBoxFor(m => m.NgaySinh, string.Format(ViewText.FORMAT_DATE, @Model.NgaySinh), new { @class = "form-control", @id = "dtpNgaySinh" })
                            <span class="input-group-addon input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-calendar fa-lg"></i>
                                </span>
                            </span>
                        </div>
                        <small class="form-text text-danger"><span id="dtpNgaySinh-error"></span></small>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-5">
                        <label>Giới tính<span class="input-required">*</span></label>
                    </div>
                    <div class="col-7">
                        @Html.DropDownListFor(x => x.GioiTinh, (SelectList)ViewBag.ddlGioiTinh, "--Chọn--", new { @class = "form-control d-inline-block", @id = "ddlGioiTinhThem" })
                        <small class="form-text text-danger"><span id="ddlGioiTinhThem-error"></span></small>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-5">
                        <label>Địa chỉ<span class="input-required">*</span></label>
                    </div>
                    <div class="col-7">
                        @Html.TextBoxFor(x => x.DiaChi, new { @class = "form-control", @maxlength = 100, id = "txtDiaChi" })
                        <small class="form-text text-danger"><span id="txtDiaChi-error"></span></small>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-5">
                        <label>SĐT<span class="input-required">*</span></label>
                    </div>
                    <div class="col-7">
                        @Html.TextBoxFor(x => x.SoDienThoai, new { @class = "form-control", @maxlength = 100, id = "txtSoDienThoai" })
                        <small class="form-text text-danger"><span id="txtSoDienThoai-error"></span></small>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-5">
                        <label>Email<span class="input-required">*</span></label>
                    </div>
                    <div class="col-7">
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @maxlength = 100, id = "txtEmail" })
                        <small class="form-text text-danger"><span id="txtEmail-error"></span></small>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-5">
                        <label>Niên khóa<span class="input-required">*</span></label>
                    </div>
                    <div class="col-7">
                        @Html.TextBoxFor(x => x.NienKhoa, new { @class = "form-control", @maxlength = 100, id = "txtNienKhoa" })
                        <small class="form-text text-danger"><span id="txtNienKhoa-error"></span></small>
                    </div>
                </div>*@
            }
        </div>
    </div>
</div>
<div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-default float-left" data-dismiss="modal">Hủy</button>
    <button type="button" class="btn btn-danger float-right" id="btn_sua_sinhvien_pop">Lưu</button>
</div>

<script type="text/javascript">
	//$(function() {
	//	SuaSinhVienModule.init();
	//});
</script>






