﻿
@model tbl_HotelNotice

@using (Html.BeginForm("HotelNoticesEdit", "Category", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.Id)
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="title-modal">Cập nhật lưu ý khách sạn</span>
    </div>
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="col-md-12 mg-top5">
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Khách sạn
                    </label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.HotelId, null, null, new { @class = "form-control chosen-select input-sm", @id = "editProvinceId" })
                        @Html.ValidationMessageFor(model => model.HotelId)
                    </div>
                </div>
            </div>
            <div class="col-md-12 mg-top5">
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Nội dung
                    </label>
                    <div>
                        @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-left">
            <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-save"></i>&nbsp;Lưu</button>
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Quay lại</button>
        </div>
    </div>
}


