﻿@model tbl_HotelComment

@using (Html.BeginForm("HotelCommentsEdit", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.Id)
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="title-modal">Cập nhật tiện ích</span>
    </div>
    <div class="modal-body form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Khách hàng
            </label>
            <div class="col-sm-9">
                <select name="CustomerId" id="CustomerId" class="form-control chosen-select">
                    @foreach (var selectList in (List<SelectListItem>)ViewBag.CustommerList)
                    {
                        <option value="@selectList.Value" @(selectList.Selected ? "selected" : "")>
                            @selectList.Text
                        </option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Bình luận
            </label>
            <div class="col-sm-9">
                @Html.HtmlEditor("ContentEdit", Model.Content)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Loại bình luận
            </label>
            <div class="col-sm-9">
                @Html.DropDownList("Type", new SelectList(new List<SelectListItem> {
               new SelectListItem() { Value = "0", Text = "Công tác" },
               new SelectListItem() {Value = "1",Text ="Cặp đôi" },
               new SelectListItem() {Value = "2",Text ="Gia Đình" },
               new SelectListItem() {Value = "3",Text ="Bạn bè" },
               new SelectListItem() {Value = "4",Text ="Cá nhân" }
           }, "Value", "Text", Model.Type), new { @class = "form-control input-sm" })
            </div>
        </div>
        @*0: Công tác; 1: Cặp đôi; 2: Gia Đình; 3: Bạn bè; 4: Cá nhân*@
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Điểm vị trí
            </label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.PointLocation, new { @class = "form-control input-sm" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Điểm dịch vụ
            </label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.PointServe, new { @class = "form-control input-sm" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Điểm tiện nghi
            </label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.PointConvenient, new { @class = "form-control input-sm" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Điểm giá cả
            </label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.PointCost, new { @class = "form-control input-sm" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Điểm vệ sinh
            </label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.PointClean, new { @class = "form-control input-sm" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-left">
            <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-save"></i>&nbsp;Lưu</button>
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Quay lại</button>
        </div>
    </div>
}



