﻿@model tbl_PaymentType

@using (Html.BeginForm("PaymentTypesEdit", "Category", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.Id)
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="title-modal">Cập nhật cấp khách sạn</span>
    </div>
    <div class="modal-body form-horizontal">
        <div class="form-group clear-prefix">
            <label class="col-sm-2 control-label">
                Mã loại thanh toán
            </label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.PayTypeCode, new { @class = "form-control input-sm" })
            </div>
        </div>
        <div class="form-group clear-prefix">
            <label class="col-sm-2 control-label">
                Tên loại thanh toán
            </label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.PayTypeName, new { @class = "form-control input-sm" })
            </div>
        </div>
        <div class="form-group clear-prefix">
            <label class="col-sm-2 control-label">
                Order
            </label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Order, new { @class = "form-control input-sm" })
            </div>
        </div>
        <div class="form-group clear-prefix">
            <label class="col-sm-2 control-label">
                Trạng thái
            </label>
            <div class="col-sm-10">
                @Html.DropDownList("Status",new SelectList(new List<SelectListItem> {
               new SelectListItem() { Value = "0", Text = "Không sử dụng" },
               new SelectListItem() {Value = "1",Text ="Sử dụng" }

           },"Value", "Text", Model.Status), new { @class = "form-control input-sm" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-left">
            <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-save"></i>&nbsp;Lưu</button>
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Quay lại</button>
        </div>
    </div>
}

