﻿@model tbl_Province

@using (Html.BeginForm("ProvincesEdit", "Category", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.ProvinceId)
    @Html.HiddenFor(m => m.IsDelete)

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="title-modal">Ngày cập nhật</span>
    </div>
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Tên tỉnh thành
                    </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.ProvinceName, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.ProvinceName)
                    </div>
                </div>
            </div>
            <div class="col-md-12 mg-top5">
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                       Tên quốc gia
                    </label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(model => model.CountryId, (SelectList)ViewBag.CountryId, "-- Chọn quốc gia --", new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.CountryId)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-left">
            <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-save"></i>&nbsp;Lưu</button>
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Quay lại</button>
        </div>
    </div>
}
