﻿@model IEnumerable<RoomViewModel>

@{
    ViewBag.Title = "Danh sách phòng";
    var ordId = 1;
}

<table id="mytable" class="table table-bordered table-striped">
    <thead>
        <tr style="background-color: #1b80c8; color: white; font-size: 11.5px">
            <th style="width:40px;min-width:40px">
                STT
            </th>
            <th width="20%">
                Tên khách sạn
            </th>
            <th width="18%">
                Tên phòng
            </th>
            <th width="8%">
                Số lượng phòng 
            </th>
            <th width="8%">
                Diện tích
            </th>
            <th width="8%">
                Hướng
            </th>
            <th width="8%">
                Số lượng phòng đơn
            </th>
            <th width="8%">
                Số lượng phòng đôi
            </th>
            <th width="8%">
                Số người tối đa
            </th>
            <th width="5%" style="min-width:40px;"></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr id="row_@item.Id">
            <td class="text-center">
                @(ordId++)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SingleBed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoubleBed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPeople)
            </td>
            <td class="tt-wrapper text-center">
                <a href="@Url.Action("RoomsEdit", new {  id=item.Id  })" class="text-success" data-original-title="Cập nhật" title="Cập nhật">
                    <span> Cập nhật </span>
                    <i class="fa fa-edit fa-lg"></i>
                </a>
            </td>
        </tr>

    }
</table>

