﻿@model tbl_HotelServiceType

@using (Html.BeginForm("ServiceTypesEdit", "Category", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.Id)
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="title-modal">Cập nhật dịch vụ đính kèm</span>
    </div>
    <div class="modal-body form-horizontal">
        <div class="form-group clear-prefix">
            <label class="col-sm-2 control-label">
                Tên dịch vụ
            </label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.ServiceName, new { @class = "form-control input-sm" })
            </div>
        </div>
        <div class="form-group clear-prefix">
            <label class="col-sm-2 control-label">
                Order
            </label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Order, new { @class = "form-control input-sm" })
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
        <div class="text-left">
            <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-save"></i>&nbsp;Lưu</button>
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Quay lại</button>
        </div>
    </div>
}



