﻿@model tbl_Area

@{
    ViewBag.Title = "Danh sách khu vực";
    List<tbl_Area> areas = ViewBag.Areas;
}

<div>
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <div class="form-group">
                        <label>Mã quốc gia</label>
                        <div>
                            @Html.DropDownList("CountryId", (SelectList)ViewBag.country_id, new { @class = "form-control chosen-select input-sm", @onchange = "GetProvince(this, 'SearchCountryId');" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="form-group">
                        <label>Tỉnh thành</label>
                        <div>

                            <select id="SearchCountryId" onchange = "GetDistrict(this, 'SearchProvinceId');"  class="form-control chosen-select">
                                <option value="0">
                                    ---  Chọn  ---
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="form-group">
                        <label>Quận huyện</label>
                        <div>
                            <select id="SearchProvinceId" class="form-control chosen-select">
                                <option value="0">
                                    ---  Chọn  ---
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="form-group">
                        <label>Tên địa điểm</label>
                        <div>
                            <input type="text" name="AreasName" id="AreasName" class="form-control input-sm" value="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- box End -->
    <!-- box Start -->
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">
                Danh sách địa điểm
            </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <ul id="tabs" class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Danh sách</a></li>
                <li><a href="#tab2" data-toggle="tab"><i class="fa fa-plus"></i>&nbsp;Thêm mới</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="tab1">
                    <table id="myTable" class="table table-bordered table-hover">
                        <thead>
                            <tr style="background-color: #1b80c8; color: white; font-size: 11.5px">
                                <th>
                                    Tên địa điểm
                                </th>
                                <th>
                                    Tên tỉnh thành
                                </th>
                                <th>
                                    Tên quận huyện
                                </th>   
                                <th style="width:50px;min-width:50px">

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in areas)
                            {
                                <tr id="row_@item.AreaId">
                                    <td data-search="@item.AreaName">@item.AreaName</td>
                                    <td data-search="@item.tbl_District.tbl_Province.ProvinceId">@item.tbl_District.tbl_Province.ProvinceName</td>
                                    <td data-search="@item.DistrictId">@item.tbl_District.DistrictName</td>
                                    <td class="tt-wrapper text-center" data-search="@item.DistrictId, @item.DistrictId">
                                        <a href="javascript:DoEdit('@item.AreaId')" class="text-success" data-original-title="Cập nhật" title="Cập nhật">
                                            <span> Cập nhật </span>
                                            <i class="fa fa-edit fa-lg"></i>
                                        </a>&nbsp;
                                        <a data-confirm="Bạn muốn xoá thông tin này" href="javascript:void(0)" class="text-danger delete" data-original-title="Xoá" title="Xoá" data-id="@item.DistrictId">
                                            <span> Xoá </span>
                                            <i class="fa fa-trash-o fa-lg"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="tab2">
                    <div class="form-horizontal col-sm-12 col-md-6 clear" style="padding-top: 20px;">
                        @using (Html.BeginForm("AreasCreate", "Category", FormMethod.Post, new {@id = "form-AreaCreate", @enctype = "multipart/form-data", @autocomplete = "off" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Quốc gia
                                </label>
                                <div class="col-sm-9">
                                    @Html.DropDownList("CountryId", (SelectList)ViewBag.country_id, new { @class = "form-control chosen-select input-sm required", @onchange = "GetProvince(this, 'ProvinceId');" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Tỉnh thành
                                </label>
                                <div class="col-sm-9">
                                    <select id="ProvinceId" name="ProvinceId" onchange = "GetDistrict(this, 'DistrictId');"  class="form-control chosen-select input-sm required">
                                        <option value="0">
                                            ---  Chọn ---
                                        </option>
                                    </select>
                                    @Html.ValidationMessageFor(model => model.AreaId)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Quận huyện
                                </label>
                                <div class="col-sm-9">
                                    <select id="DistrictId" name="DistrictId" class="form-control chosen-select input-sm required">
                                        <option value="0">
                                            ---  Chọn ---
                                        </option>
                                    </select>
                                    @Html.ValidationMessageFor(model => model.DistrictId)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Tên địa điểm
                                </label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.AreaName, new { @class = "form-control input-sm required" })
                                    @Html.ValidationMessageFor(model => model.AreaName)
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="col-sm-offset-3 col-sm-9" style="padding-left:5px">
                                <button id="btnCreateArea" type="submit" class="btn btn-success btn-sm"><i class="fa fa-save"></i>&nbsp;Lưu</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- box End -->
</div>



@section scripts{
    <script>

        $(function () {
            //$("#example2").DataTable();
            $('#myTable').DataTable({
                "paging": true,
                "lengthChange": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [1] }
                ]
            });
        });

        $('a.delete').click(function (e) {
            e.preventDefault();

            var id = $(this).attr('data-id');
            var parent = $('#row_' + id);

            $.ajax({
                type: 'post',
                url: '@Url.Action("DistrictsDelete")',
                data: { "id": id },
                beforeSend: function () {
                    parent.animate({ 'backgroundColor': '#fb6c6c' }, 300);
                },
                success: function () {
                    parent.fadeOut(500, function () {
                        var table = $('#myTable').DataTable();
                        table.row('#row_' + id).remove().draw(false);
                    });
                    ShowNotify('Xoá thông tin thành công', 'success', 'bottom');
                },
                error: function () {
                    ShowNotify('Xoá thông tin không thành công', 'danger', 'top');
                }
            })
        })
        $(document).ready(function (event) {
            GetProvince('#CountryId', 'SearchCountryId');
            GetProvince('#CountryId', 'ProvinceId');
            GetDistrict('#ProvinceId', 'DistrictId');
        })

        $("#CountryId").on('keyup change', function () {
            //DoSearch(2, this.value);
        });

        $("#SearchCountryId").on('keyup change', function () {
            if ($("#SearchCountryId").val() == 0) {
                DoSearch(1, "");
                DoSearch(2, "");
            }
            else {
                DoSearch(1, $('#SearchCountryId').val());
                DoSearch(2, "");
            }
        });
        $("#SearchProvinceId").on('keyup change', function () {
            if ($("#SearchProvinceId").val() == 0) {
                DoSearch(2, "");
            }
            else {
                DoSearch(2, this.value);
            }
        });
        $("#AreasName").on('keyup change', function () {
            DoSearch(0, this.value);
        });

        function DoSearch(column, _value) {            
            var table = $('#myTable').DataTable();
            table
                .column(column)
                .search(_value)
                .draw();
        }

        $("#form-AreaCreate").submit(function (event) {
            event.preventDefault();
            if (!$('#form-AreaCreate').valid()) {
                ShowNotify('Vui lòng nhập đầy đủ thông tin', 'warning', 'top');
                var validator = $("#form-AreaCreate").validate();
                validator.focusInvalid();
                return false;
            }
            else {
                if ($('#ProvinceId').val() == '' || $('#ProvinceId').val() == 0) {
                    ShowNotify('Vui lòng nhập thông tin tỉnh thành', 'warning', 'top');
                    $('#ProvinceId').click();
                    return false;
                }
                if ($('#DistrictId').val() == '' || $('#DistrictId').val() == 0) {
                    ShowNotify('Vui lòng nhập thông tin quận huyện', 'warning', 'top');
                    $('#DistrictId').click();
                    return false;
                }
            }
            var data = $("#form-AreaCreate").serialize();
            $.ajax({
                url: '@Url.Action("AreasCreate", "Category")',
                type: 'POST',
                data: data,
                beforeSend: function () {

                },
                success: function (result) {
                    if (result.Status == 1) {
                        ShowNotify(result.Message, result.Type, result.Position);
                    }
                },
                error: function () {
                    ShowNotify("Lỗi", "danger", "top");
                }
            })

        })


        function DoEdit(id) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("_AreasEdit")',
                data: { id: id },
                beforeSend: function () {
                    $('#preloader-wrapper').toggleClass('hide');
                },
                success: function (result) {
                    if (result.length > 0) {
                        $('#preloader-wrapper').toggleClass('hide');
                        $('.modal-content').html(result);
                        $('#myModal').modal('show');
                    }
                },
                error: function(data)
                {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });

        }

        function GetProvince(parent, child) {
            var countryid = $(parent).val();

            $.ajax({
                type: "GET",
                url: '@Url.Action("_GetProvince")',
                data: { "countryid": countryid },
                beforeSend: function () {
                    $('#preloader-wrapper').toggleClass('hide');
                },
                success: function (result) {
                    if (result != '') {
                        $('#' + child).empty();
                        $.each(result, function (i, state) {
                            $('#' + child).append($('<option/>', { value: this.Value }).html(this.Text));
                        });
                        $('#' + child).trigger("chosen:updated");
                        $('#preloader-wrapper').toggleClass('hide');
                    } else {
                        ShowNotify('Có lỗi xảy ra, vui lòng kiểm tra lại dữ liệu.', 'danger', 'top');
                        $('#preloader-wrapper').toggleClass('hide');
                    }
                }
            });
        }

        function GetDistrict(parent, child) {
            var provinceId = $(parent).val();

            $.ajax({
                type: "GET",
                url: '@Url.Action("_GetDistrict")',
                data: { "provinceId": provinceId },
                beforeSend: function () {
                    $('#preloader-wrapper').toggleClass('hide');
                },
                success: function (result) {
                    if (result != '') {
                        $('#' + child).empty();
                        $.each(result, function (i, state) {
                            $('#' + child).append($('<option/>', { value: this.Value }).html(this.Text));
                        });
                        $('#' + child).trigger("chosen:updated");
                        $('#preloader-wrapper').toggleClass('hide');
                    } else {
                        ShowNotify('Có lỗi xảy ra, vui lòng kiểm tra lại dữ liệu.', 'danger', 'top');
                        $('#preloader-wrapper').toggleClass('hide');
                    }
                }
            });
        }

        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': { allow_single_deselect: true },
            '.chosen-select-no-single': { disable_search_threshold: 10 },
            '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
            '.chosen-select-width': { width: "95%" }
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }

    </script>
}