﻿@model tbl_Country

@{
    ViewBag.Title = "Danh sách quốc gia";
    List<tbl_Country> countries = ViewBag.Countries;
}

<div>
    <div class="box box-primary">
        <div class="box-body">
            <div class="row" style="padding: 0px;">
                <div class="col-xs-12 col-md-3 col-left">
                    <div class="form-group">
                        <label>Mã quốc gia</label>
                        <div>
                            <input type="text" name="CountryId" id="CountryId" class="form-control input-sm" value="">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="form-group">
                        <label>Tên quốc gia</label>
                        <div>
                            <input type="text" name="CountryNameVn" id="CountryNameVn" class="form-control input-sm" value="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- box End -->
    <!-- box Start -->
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">
                Danh sách quốc gia
            </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <ul id="tabs" class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Danh sách</a></li>
                <li><a href="#tab2" data-toggle="tab"><i class="fa fa-plus"></i>&nbsp;Thêm mới</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="tab1">
                    <table id="myTable" class="table table-bordered table-hover">
                        <thead>
                            <tr style="background-color: #1b80c8; color: white; font-size: 11.5px">
                                <th>
                                    Mã quốc gia
                                </th>
                                <th>
                                    Tên quốc gia
                                </th>
                                <th>
                                    Trạng thái
                                </th>
                                <th style="width:50px;min-width:50px">

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in countries)
                            {
                                <tr id="row_@item.CountryId">
                                    <td data-search="@item.Symbol">@item.CountryId</td>
                                    <td data-search="@item.CountryName">@item.CountryName</td>
                                    
                                    <td data-search="@item.IsDelete">
                                        @Html.Raw((item.IsDelete == null || item.IsDelete == false) ? "<font color='blue'>Có hiệu lực</font>" : "<font color='red'>Không hiệu lực</font>")
                                    </td>
                                    <td class="tt-wrapper text-center">
                                        <a href="javascript:DoEdit('@item.CountryId')" class="text-success" data-original-title="'Cập nhật'" title="'Cập nhật'">
                                            <span> Cập nhật </span>
                                            <i class="fa fa-edit fa-lg"></i>
                                        </a>&nbsp;
                                        <a data-confirm="'Bạn muốn xóa thông tin này?'" href="javascript:void(0)" class="text-danger delete" data-original-title="'Xóa'" title="'Xóa'" data-id="@item.CountryId">
                                            <span> Xóa </span>
                                            <i class="fa fa-trash-o fa-lg"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="tab2">
                    <div class="form-horizontal col-sm-12 col-md-6 clear" style="padding-top: 20px;">
                        @using (Html.BeginForm("CountriesCreate", "Category", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                <label class="col-sm-4 control-label">
                                    Mã quốc gia
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.Symbol, new { @class = "form-control input-sm" })
                                    @Html.ValidationMessageFor(model => model.Symbol)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">
                                    Tên quốc gia
                                </label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.CountryName, new { @class = "form-control input-sm" })
                                    @Html.ValidationMessageFor(model => model.CountryName)
                                </div>
                            </div>                           
                            <div class="clear"></div>
                            <div class="col-sm-offset-4 col-sm-8" style="padding-left:10px;">
                                <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-save"></i>&nbsp;Lưu</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- box End -->
</div>



@section scripts{
    <script>
        $(document).ready(function () {
            //$("#example2").DataTable();
            $('#myTable').DataTable();
        });

        function DoDelete(id) {

            $.post("@Url.Action("CountriesDelete")", { "id": id },
                function (result) {
                    if (result) {
                        ShowNotify('Xoá thông tin thành công', 'success', 'bottom');
                        var table = $('#myTable').DataTable();
                        table.row('#row_' + id).remove().draw(false);
                    }
                    else {
                        ShowNotify('Xoá thông tin không thành công', 'danger', 'top');
                    }
                });
        }

        $("#CountryId").on('keyup change', function () {
            DoSearch(0, this.value);
        });

        $("#CountryNameVn").on('keyup change', function () {
            DoSearch(1, this.value);
        });

        $("#CountryNameEn").on('keyup change', function () {
            DoSearch(2, this.value);
        });

        $('#PhuThuVisa').on('change', function (event) {
            if ($(this).val() != '-1') {
                DoSearch(3, this.value);
            }
        });

        function DoSearch(column, _value) {
            var table = $('#myTable').DataTable();
            table
                .column(column)
                .search(_value)
                .draw();
        }

        function DoSearch(column, _value) {
            var table = $('#myTable').DataTable();
            table
                .column(column)
                .search(_value)
                .draw();
        }

        function DoEdit(id) {
            $.get('@Url.Action("_CountriesEdit")', { id: id }, function (result) {
                $('.modal-content').html(result);
                $('#myModal').modal('show');
            });
        }

    </script>
}