﻿@model tbl_District

@{
    ViewBag.Title = "Danh sách quận huyện";
    List<tbl_District> districts = ViewBag.Districts;
}

<div>
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <label>Mã quốc gia</label>
                        <div>
                            @Html.DropDownList("CountryId", (SelectList)ViewBag.country_id , new { @class = "form-control chosen-select input-sm", @onchange = "GetProvince(this, 'SearchCountryId');" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <label>Tỉnh thành</label>
                        <div>

                            <select id="SearchCountryId" class="form-control chosen-select">
                                <option value="0">
                                    ---  Chọn  ---
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <label>Tên quận huyện</label>
                        <div>
                            <input type="text" name="ProvinceName" id="ProvinceName" class="form-control input-sm" value="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- box End -->
    <!-- box Start -->
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">
                Danh sách quận huyện
            </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <ul id="tabs" class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Danh sách</a></li>
                <li><a href="#tab2" data-toggle="tab"><i class="fa fa-plus"></i>&nbsp;Thêm mới</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="tab1">
                    <table id="myTable" class="table table-bordered table-hover">
                        <thead>
                            <tr style="background-color: #1b80c8; color: white; font-size: 11.5px">
                                <th>
                                    Tên quận huyện
                                </th>
                                <th>
                                    Tên tỉnh thành
                                </th>
                                <th style="width:50px;min-width:50px">

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in districts)
                            {
                                <tr id="row_@item.DistrictId">
                                    <td data-search="@item.DistrictName">@item.DistrictName</td>
                                    <td data-search="@item.ProvinceId">@item.tbl_Province.ProvinceName</td>
                                    <td class="tt-wrapper text-center" data-search="@item.tbl_Province.CountryId, @item.ProvinceId">
                                        <a href="javascript:DoEdit('@item.DistrictId')" class="text-success" data-original-title="Cập nhật" title="Cập nhật">
                                            <span> Cập nhật </span>
                                            <i class="fa fa-edit fa-lg"></i>
                                        </a>&nbsp;
                                        <a data-confirm="Bạn muốn xoá thông tin này" href="javascript:void(0)" class="text-danger delete" data-original-title="Xoá" title="Xoá" data-id="@item.DistrictId">
                                            <span> Xoá </span>
                                            <i class="fa fa-trash-o fa-lg"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="tab2">
                    <div class="form-horizontal col-sm-12 col-md-6 clear" style="padding-top: 20px;">
                        @using (Html.BeginForm("DistrictsCreate", "Category", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Quốc gia
                                </label>
                                <div class="col-sm-9">
                                    @Html.DropDownList("CountryId", (SelectList)ViewBag.country_id, new { @class = "form-control chosen-select input-sm", @onchange = "GetProvince(this, 'ProvinceId');" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Tỉnh thành
                                </label>
                                <div class="col-sm-9">
                                    <select id="ProvinceId" name="ProvinceId" class="form-control chosen-select input-sm">
                                        <option value="0">
                                            ---  Chọn ---
                                        </option>
                                    </select>
                                    @Html.ValidationMessageFor(model => model.ProvinceId)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Tên quận huyện
                                </label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.DistrictName, new { @class = "form-control input-sm" })
                                    @Html.ValidationMessageFor(model => model.DistrictName)
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="col-sm-offset-3 col-sm-9" style="padding-left:5px">
                                <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-save"></i>&nbsp;Lưu</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- box End -->
</div>



@section scripts{
    <script>
        $(function () {
            //$("#example2").DataTable();
            $('#myTable').DataTable({
                "paging": true,
                "lengthChange": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [1] }
                ]
            });
        });

        $('a.delete').click(function (e) {
            e.preventDefault();

            var id = $(this).attr('data-id');
            var parent = $('#row_' + id);

            $.ajax({
                type: 'post',
                url: '@Url.Action("DistrictsDelete")',
                data: { "id": id },
                beforeSend: function () {
                    parent.animate({ 'backgroundColor': '#fb6c6c' }, 300);
                },
                success: function () {
                    parent.fadeOut(500, function () {
                        var table = $('#myTable').DataTable();
                        table.row('#row_' + id).remove().draw(false);
                    });
                    ShowNotify('Xoá thông tin thành công', 'success', 'bottom');
                },
                error: function () {
                    ShowNotify('Xoá thông tin không thành công', 'danger', 'top');
                }
            })
        })
        $(document).ready(function (event) {
            GetProvince('#CountryId', 'SearchCountryId');
            GetProvince('#CountryId', 'ProvinceId');
            DoSearch(2, $("#CountryId").val());
        })

        $("#CountryId").on('keyup change', function () {
            DoSearch(2, this.value);
        });

        $("#SearchCountryId").on('keyup change', function () {
            DoSearch(1, this.value);
            if (this.value == 0) {
                DoSearch(1, "");
            }
        });

        $("#ProvinceName").on('keyup change', function () {
            DoSearch(0, this.value);
        });

        function DoSearch(column, _value) {
            var table = $('#myTable').DataTable();
            table
                .column(column)
                .search(_value)
                .draw();
        }

        function DoEdit(id) {
            @*$.get('@Url.Action("_Edit")', { id: id }, function (result) {
                $('.modal-content').html(result);
                $('#myModal').modal('show');
            })*@

            $.ajax({
                type: "GET",
                url: '@Url.Action("_DistrictsEdit")',
                data: { id: id },
                beforeSend: function () {
                    $('#preloader-wrapper').toggleClass('hide');
                },
                success: function (result) {
                    if (result.length > 0) {
                        $('#preloader-wrapper').toggleClass('hide');
                        $('.modal-content').html(result);
                        $('#myModal').modal('show');
                    }
                },
                error: function(data)
                {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });

        }

        function GetProvince(parent, child) {
            var countryid = $(parent).val();

            $.ajax({
                type: "GET",
                url: '@Url.Action("_GetProvince")',
                data: { "countryid": countryid },
                beforeSend: function () {
                    $('#preloader-wrapper').toggleClass('hide');
                },
                success: function (result) {
                    if (result != '') {
                        $('#' + child).empty();
                        $.each(result, function (i, state) {
                            $('#' + child).append($('<option/>', { value: this.Value }).html(this.Text));
                        });
                        $('#' + child).trigger("chosen:updated");
                        $('#preloader-wrapper').toggleClass('hide');
                    } else {
                        ShowNotify('Có lỗi xảy ra, vui lòng kiểm tra lại dữ liệu.', 'danger', 'top');
                        $('#preloader-wrapper').toggleClass('hide');
                    }
                }
            });
        }

        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': { allow_single_deselect: true },
            '.chosen-select-no-single': { disable_search_threshold: 10 },
            '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
            '.chosen-select-width': { width: "95%" }
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }

    </script>
}