﻿@model tbl_HotelComment

@{
    ViewBag.Title = "DS tien ich";
    List<HotelCommentAdminViewModel> comment = ViewBag.Comment;
    var ordId = 1;
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Danh sách bình luận khách sạn @ViewBag.HotelName</h3>
                @*<div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>*@
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ul id="tabs" class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Danh sách</a></li>
                    <li><a href="#tab2" data-toggle="tab"><i class="fa fa-plus"></i>&nbsp;Thêm mới</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="tab1">
                        <table id="mytable" class="table table-bordered table-hover">
                            <thead>
                                <tr style="background-color: #1b80c8; color: white; font-size: 11.5px">
                                    <th style="width:40px;min-width:40px">
                                        STT
                                    </th>
                                    <th style="width:80px;min-width:40px">
                                        Khách hàng
                                    </th>
                                    <th style="width:80px;min-width:40px">
                                        Loại bình luận
                                    </th>
                                    <th style="width:200px;min-width:200px">
                                        Bình luận
                                    </th>
                                    <th>
                                        Thời gian bình luận
                                    </th>
                                    <th style="width:40px;min-width:40px">
                                        Điểm vị trí
                                    </th>
                                    <th style="width:40px;min-width:40px">
                                        Điểm dịch vụ
                                    </th>
                                    <th style="width:40px;min-width:40px">
                                        Điểm tiện nghi
                                    </th>
                                    <th style="width:40px;min-width:40px">
                                        Điểm giá cả
                                    </th>
                                    <th style="width:40px;min-width:40px">
                                        Điểm vệ sinh
                                    </th>
                                    <th style="width:80px;min-width:40px">
                                        Điểm trung bình
                                    </th>

                                    @*<th style="width:100px;min-width:80px">Trạng thái</th>*@
                                    <th style="width:50px;min-width:50px"></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in comment)
                                {
                                    <tr id="row_@item.Id">
                                        <td class="text-center">
                                            @(ordId++)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.CustomerName)
                                        </td>
                                        <td class="text-center">
                                            @{switch (item.Type)
                                                {
                                                    case 0:
                                                        <text>Công tác</text>
                                                        break;
                                                    case 1:
                                                        <text>Cặp đôi</text>
                                                        break;
                                                    case 2:
                                                        <text>Gia Đình</text>
                                                        break;
                                                    case 3:
                                                        <text>Bạn bè</text>
                                                        break;
                                                    case 4:
                                                        <text>Cá nhân</text>
                                                        break;
                                                }
                                            }
                                        </td>
                                        <td class="text-center">
                                            @Html.Raw(item.Content)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.DateTimeComment)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.PointLocation)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.PointServe)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.PointConvenient)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.PointCost)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.PointClean)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.PointAvg)
                                        </td>

                                        <td class="tt-wrapper text-center">
                                            <a href="javascript:DoEdit('@item.Id')" class="text-success" data-original-title="Cập nhật" title="Cập nhật">
                                                <span> Cập nhật </span>
                                                <i class="fa fa-edit fa-lg"></i>
                                            </a>&nbsp;
                                            <a data-id="@item.Id" data-confirm="Bạn muốn xoá thông tin này?" class="text-danger delete" data-original-title="Xoá" title="Xoá">
                                                <span> Xoá </span>
                                                <i class="fa fa-trash-o fa-lg"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="tab2">
                        <div class="form-horizontal col-sm-12 col-md-12 clear" style="padding-top: 20px;">
                            @using (Html.BeginForm("HotelCommentsCreate", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                @*@Html.ValidationSummary(true)*@
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(m => m.HotelId)
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        Khách hàng
                                    </label>
                                    <div class="col-sm-9">
                                        @*@Html.DropDownListFor(m => m.CustomerId, (SelectList)ViewBag.CustommerList, "-- Chọn --", new { @class = "form-control input-sm", @id = "ddlHotelType" })*@
                                        <select name="CustomerId" id="CustomerId" class="form-control chosen-select">
                                            @foreach (var selectList in (List<SelectListItem>)ViewBag.CustommerList)
                                            {
                                                <option value="@selectList.Value" @(selectList.Selected ? "selected" : "")>
                                                    @selectList.Text
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        Bình luận
                                    </label>
                                    <div class="col-sm-9">
                                        @Html.HtmlEditor("Content", "")
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        Loại bình luận
                                    </label>
                                    <div class="col-sm-9">
                                        <select name="Type" class="form-control">
                                            <option value="0">Công tác</option>
                                            <option value="1">Cặp đôi</option>
                                            <option value="2">Gia Đình</option>
                                            <option value="3">Bạn bè</option>
                                            <option value="4">Cá nhân</option>
                                        </select>
                                    </div>
                                </div>
                                @*0: Công tác; 1: Cặp đôi; 2: Gia Đình; 3: Bạn bè; 4: Cá nhân*@
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        Điểm vị trí
                                    </label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(m => m.PointLocation, new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        Điểm dịch vụ
                                    </label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(m => m.PointServe, new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        Điểm tiện nghi
                                    </label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(m => m.PointConvenient, new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        Điểm giá cả
                                    </label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(m => m.PointCost, new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        Điểm vệ sinh
                                    </label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(m => m.PointClean, new { @class = "form-control input-sm" })
                                    </div>
                                </div>

                                <div class="col-sm-9 col-sm-offset-3 form-group" style="padding-left:5px">
                                    <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-save"></i>&nbsp;Lưu</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 dropup f-left bar-footer">
                    <a class="btn btn-danger btn-sm" href="@Url.Action("HotelComments","Category")"><i class="fa fa-reply"></i>&nbsp;Quay lại</a>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>


@section scripts{
    <script>
        $(function () {
            $("#mytable").DataTable({
                                                            "paging": true,
                "lengthChange": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [1] }
                ]
            });
        });

        $('a.delete').click(function (e) {
            e.preventDefault();

            var id = $(this).attr('data-id');
            var parent = $('#row_' + id);

            $.ajax({
                type: 'post',
                url: '@Url.Action("HotelCommentsDelete")',
                data: { "id": id },
                beforeSend: function () {
                    parent.animate({ 'backgroundColor': '#fb6c6c' }, 300);
                },
                success: function () {
                    parent.fadeOut(500, function () {
                        var table = $('#myTable').DataTable();
                        table.row('#row_' + id).remove().draw(false);
                    });
                    ShowNotify('Xoá thông tin thành công', 'success', 'bottom');
                },
                error: function () {
                    ShowNotify('Xoá thông tin không thành công', 'danger', 'top');
                }
            })
        })

        function DoEdit(id) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("_HotelCommentsEdit")',
                data: { id: id },
                beforeSend: function () {
                    $('#preloader-wrapper').toggleClass('hide');
                },
                success: function (result) {
                    if (result.length > 0) {
                        $('#preloader-wrapper').toggleClass('hide');
                        $('.modal-content').html(result);
                        $('#myModal').modal('show');
                    }
                },
                error: function (data) {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });
        }
    </script>
}


