﻿@model tbl_HotelType

@{
    ViewBag.Title = "DS loại khách sạn";
    List<tbl_HotelType> types = ViewBag.Types;
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Danh sách loại khách sạn</h3>
                @*<div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>*@
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ul id="tabs" class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Danh sách</a></li>
                    <li><a href="#tab2" data-toggle="tab"><i class="fa fa-plus"></i>&nbsp;Thêm mới</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="tab1">
                        <table id="mytable" class="table table-bordered table-hover">
                            <thead>
                                <tr style="background-color: #1b80c8; color: white; font-size: 11.5px">
                                    <th style="width:40px;min-width:40px">
                                        ID
                                    </th>
                                    <th>
                                        Loại khách sạn
                                    </th>
                                    <th style="width:50px;min-width:50px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in types)
                                {
                                    <tr id="row_@item.Id">
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.HotelTypeName)
                                        </td>
                                        <td class="tt-wrapper text-center">
                                            <a href="javascript:DoEdit('@item.Id')" class="text-success" data-original-title="Cập nhật" title="Cập nhật">
                                                <span> Cập nhật </span>
                                                <i class="fa fa-edit fa-lg"></i>
                                            </a>&nbsp;
                                            <a data-id="@item.Id" data-confirm="Bạn muốn xoá thông tin này?" class="text-danger delete" data-original-title="Xoá" title="Xoá">
                                                <span> Xoá </span>
                                                <i class="fa fa-trash-o fa-lg"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="tab2">
                        <div class="form-horizontal col-sm-12 col-md-6 clear" style="padding-top: 20px;">
                            @using (Html.BeginForm("HotelTypesCreate", "Category", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        Tên loại khách sạn
                                    </label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.HotelTypeName, new { @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(model => model.HotelTypeName)
                                    </div>
                                </div>
                                <div class="col-sm-9 col-sm-offset-3" style="padding-left:5px">
                                    <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-save"></i>&nbsp;Lưu</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>


@section scripts{
    <script>
        $(function () {
            $("#mytable").DataTable({
                "paging": true,
                "lengthChange": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [1] }
                ]
            });
        });

        $('a.delete').click(function (e) {
            e.preventDefault();

            var id = $(this).attr('data-id');
            var parent = $('#row_' + id);

            $.ajax({
                type: 'post',
                url: '@Url.Action("HotelTypesDelete")',
                data: { "id": id },
                beforeSend: function () {
                    parent.animate({ 'backgroundColor': '#fb6c6c' }, 300);
                },
                success: function () {
                    parent.fadeOut(500, function () {
                        var table = $('#myTable').DataTable();
                        table.row('#row_' + id).remove().draw(false);
                    });
                    ShowNotify('Xoá thông tin thành công', 'success', 'bottom');
                },
                error: function () {
                    ShowNotify('Xoá thông tin không thành công', 'danger', 'top');
                }
            })
        })

        function DoEdit(id) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("_HotelTypesEdit")',
                data: { id: id },
                beforeSend: function () {
                    $('#preloader-wrapper').toggleClass('hide');
                },
                success: function (result) {
                    if (result.length > 0) {
                        $('#preloader-wrapper').toggleClass('hide');
                        $('.modal-content').html(result);
                        $('#myModal').modal('show');
                    }
                },
                error: function (data) {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });
        }
    </script>
}


