﻿@model tbl_HotelNotice

@{
    ViewBag.Title = "Danh sách lưu ý";
    List<tbl_HotelNotice> hotelNotices = ViewBag.HotelNotices;
    var ordId = 1;
}

<div>
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <label>Khách sạn</label>
                        <div>
                            <input type="text" name="HotelName" id="HotelName" class="form-control input-sm" value="">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- box End -->
    <!-- box Start -->
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">
                Danh sách lưu ý
            </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <ul id="tabs" class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Danh sách</a></li>
                <li><a href="#tab2" data-toggle="tab"><i class="fa fa-plus"></i>&nbsp;Thêm mới</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="tab1">
                    <table id="myTable" class="table table-bordered table-hover">
                        <thead>
                            <tr style="background-color: #1b80c8; color: white; font-size: 11.5px">
                                <th style="width:40px;min-width:40px">
                                    STT
                                </th>
                                <th>
                                    Tên khách sạn
                                </th>
                                <th>
                                    Nội dung
                                </th>
                                <th style="width:50px;min-width:50px">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in hotelNotices)
                            {
                                <tr id="row_@item.Id">
                                    <td class="text-center">
                                        @(ordId++)
                                    </td>
                                    <td>@item.tbl_Hotel.HotelName</td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.Content)
                                    </td>
                                    <td class="tt-wrapper text-center">
                                        <a href="javascript:DoEdit('@item.Id')" class="text-success" data-original-title="Cập nhật" title="Cập nhật">
                                            <span> Cập nhật </span>
                                            <i class="fa fa-edit fa-lg"></i>
                                        </a>&nbsp;
                                        <a data-confirm="Bạn muốn xoá thông tin này" href="javascript:void(0)" class="text-danger delete" data-original-title="Xoá" title="Xoá" data-id="@item.Id">
                                            <span> Xoá </span>
                                            <i class="fa fa-trash-o fa-lg"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="tab2">
                    <div class="form-horizontal col-sm-12 col-md-6 clear" style="padding-top: 20px;">
                        @using (Html.BeginForm("HotelNoticesCreate", "Category", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Khách sạn
                                </label>
                                <div class="col-sm-9">
                                    @Html.DropDownList("HotelId", (SelectList)ViewBag.hotel_id, new { @class = "form-control chosen-select input-sm" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Nội dung
                                </label>
                                <div>
                                    @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="col-sm-offset-3 col-sm-9" style="padding-left:5px">
                                <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-save"></i>&nbsp;Lưu</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- box End -->
</div>



@section scripts{
    <script>
        $(function () {
            //$("#example2").DataTable();
            $('#myTable').DataTable({
                "paging": true,
                "lengthChange": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [1] }
                ]
            });
        });

        $('a.delete').click(function (e) {
            e.preventDefault();

            var id = $(this).attr('data-id');
            var parent = $('#row_' + id);

            $.ajax({
                type: 'post',
                url: '@Url.Action("HotelNoticesDelete")',
                data: { "id": id },
                beforeSend: function () {
                    parent.animate({ 'backgroundColor': '#fb6c6c' }, 300);
                },
                success: function () {
                    parent.fadeOut(500, function () {
                        var table = $('#myTable').DataTable();
                        table.row('#row_' + id).remove().draw(false);
                    });
                    ShowNotify('Xoá thông tin thành công', 'success', 'bottom');
                },
                error: function () {
                    ShowNotify('Xoá thông tin không thành công', 'danger', 'top');
                }
            })
        })
        $(document).ready(function (event) {
            //DoSearch(4, $("#HotelId").val());
        })

        //$("#HotelId").on('keyup change', function () {
        //    DoSearch(3, this.value);
        //});

        $("#HotelId").on('keyup change', function () {
            DoSearch(1, this.value);
            if (this.value == 0) {
                DoSearch(1, "");
            }
        });

        $("#HotelName").on('keyup change', function () {
            DoSearch(1, this.value);
        });

        function DoSearch(column, _value) {
            var table = $('#myTable').DataTable();
            table
                .column(column)
                .search(_value)
                .draw();
        }

        function DoEdit(id) {
            @*$.get('@Url.Action("_Edit")', { id: id }, function (result) {
                $('.modal-content').html(result);
                $('#myModal').modal('show');
            })*@

            $.ajax({
                type: "GET",
                url: '@Url.Action("_HotelNoticesEdit")',
                data: { id: id },
                beforeSend: function () {
                    $('#preloader-wrapper').toggleClass('hide');
                },
                success: function (result) {
                    if (result.length > 0) {
                        $('#preloader-wrapper').toggleClass('hide');
                        $('.modal-content').html(result);
                        $('#myModal').modal('show');
                    }
                },
                error: function(data)
                {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });

        }

        @*function GetHotel(parent, child) {
            var hotelId = $(parent).val();

            $.ajax({
                type: "GET",
                url: '@Url.Action("_GetHotel")',
                data: { "hotelid": hotelId },
                beforeSend: function () {
                    $('#preloader-wrapper').toggleClass('hide');
                },
                success: function (result) {
                    if (result != '') {
                        $('#' + child).empty();
                        $.each(result, function (i, state) {
                            $('#' + child).append($('<option/>', { value: this.Value }).html(this.Text));
                        });
                        $('#' + child).trigger("chosen:updated");
                        $('#preloader-wrapper').toggleClass('hide');
                    } else {
                        ShowNotify('Có lỗi xảy ra, vui lòng kiểm tra lại dữ liệu.', 'danger', 'top');
                        $('#preloader-wrapper').toggleClass('hide');
                    }
                }
            });
        }*@

        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': { allow_single_deselect: true },
            '.chosen-select-no-single': { disable_search_threshold: 10 },
            '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
            '.chosen-select-width': { width: "95%" }
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }

    </script>
}