﻿@model List<HotelCommentAreaViewModel>

@{
    ViewBag.Title = "DS tien ich";
    //List<tbl_HotelComment> types = ViewBag.ConvenientTypes;
    var ordId = 1;
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Danh sách bình tổng quan bình luận theo khách sạn</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="tab1">
                        <table id="mytable" class="table table-bordered table-hover">
                            <thead>
                                <tr style="background-color: #1b80c8; color: white; font-size: 11.5px">
                                    <th style="width:40px;min-width:40px">
                                        STT
                                    </th>
                                    <th>
                                        Khách sạn
                                    </th>
                                    <th>
                                        Số lượng bình luận
                                    </th>
                                    <th>
                                        Điểm trung bình
                                    </th>
                                    <th>
                                        xếp loại
                                    </th>
                                    @*<th style="width:100px;min-width:80px">Trạng thái</th>*@
                                    <th style="width:50px;min-width:50px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr id="row_@item.HotelId">
                                    <td class="text-center">
                                        @(ordId++)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.HotelName)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.NumAll)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.PointAvg)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.RankText)
                                    </td>
                                    <td class="tt-wrapper text-center">
                                        <a href="@Url.Action("HotelCommentDetail", "Category", new { hotelId = item.HotelId })" class="text-success" data-original-title="Cập nhật" title="Cập nhật">
                                            <span> Cập nhật </span>
                                            <i class="fa fa-edit fa-lg"></i>
                                        </a>&nbsp;
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>


@section scripts{
    <script>
        $(function () {
            $("#mytable").DataTable({
                "paging": true,
                "lengthChange": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [1] }
                ]
            });
        });

        function DoEdit(id) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("HotelCommentDetail")',
                data: { hotelId: id },
                beforeSend: function () {
                    $('#preloader-wrapper').toggleClass('hide');
                },
                success: function (result) {
                    if (result.length > 0) {
                        $('#preloader-wrapper').toggleClass('hide');
                        $('.modal-content').html(result);
                        $('#myModal').modal('show');
                    }
                },
                error: function (data) {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });
        }
    </script>
}


