﻿@model HotelViewModel
@{
    ViewBag.Title = "Cập nhật khách sạn";
}
<!-- cập nhật tour -->
<div>
    @using (Html.BeginForm("HotelsEdit", "Category", FormMethod.Post, new { id = "form-submittour", enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Image)
        <div class="row tour">
            <div class="col-md-12 col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border" data-widget="collapse">
                        <h3 class="box-title">Thông tin cơ bản</h3>
                    </div>
                    <div class="box-body" style="display: block;height:auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Tên khách sạn</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.HotelName, new { @class = "form-control input-sm" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Địa chỉ</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control input-sm" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Loại</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.HotelTypeId, (SelectList)ViewBag.HotelType, "-- Chọn --", new { @class = "form-control input-sm", @id = "ddlHotelType" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @*<label class="col-md-4">@Language.TenTour</label>*@
                                    <label class="col-md-4">Quốc gia</label>
                                    <div class="col-md-8">
                                        @*@Html.DropDownListFor(m => m.CountryId, (SelectList)ViewBag.Country, "-- Chọn --", new { @class = "form-control input-sm", @id = "ddlContry" })*@

                                        @Html.DropDownListFor(m => m.CountryId, null, null, new { @class = "form-control chosen-select input-sm", @id = "ddlCountryId" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @*<label class="col-md-4">@Language.TenTour</label>*@
                                    <label class="col-md-4">Tỉnh thành</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.ProvinceId, (SelectList)ViewBag.Province, "-- Chọn --", new { @class = "form-control input-sm", @id = "ddlProvince" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @*<label class="col-md-4">@Language.TenTour</label>*@
                                    <label class="col-md-4">Quận huyện</label>
                                    <div class="col-md-8">
                                        @*@Html.DropDownListFor(m => m.CountryId, (SelectList)ViewBag.District, "-- Chọn --", new { @class = "form-control input-sm", @id = "ddlDistrict" })*@

                                        @Html.DropDownListFor(m => m.DistrictId, null, null, new { @class = "form-control chosen-select input-sm", @id = "ddlDistrictId" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @*<label class="col-md-4">@Language.TenTour</label>*@
                                    <label class="col-md-2" style="width: 11%;">Khu vực du lịch</label>
                                    <div class="col-md-10" style="width: 89%;">
                                        <select name="sllAreaTypeID" id="sllAreaTypeID" class="form-control chosen-select" multiple="multiple">
                                            @foreach (var selectList in (List<SelectListItem>)ViewBag.ddlAreaType)
                                            {
                                                <option value="@selectList.Value" @(selectList.Selected ? "selected" : "")>
                                                    @selectList.Text
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2" style="width: 11%;">Tiện ích</label>
                                    <div class="col-md-10" style="width: 89%;">
                                        <select name="sllConvenientTypeID" id="sllConvenientTypeID" class="form-control chosen-select" multiple="multiple">
                                            @foreach (var selectList in (List<SelectListItem>)ViewBag.ddlConvenientType)
                                            {
                                                <option value="@selectList.Value" @(selectList.Selected ? "selected" : "")>
                                                    @selectList.Text
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Số điện thoại</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Telephone, new { @class = "form-control input-sm" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Di động</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control input-sm" })

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Email</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-sm" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Url</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Url, new { @class = "form-control input-sm" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Hạng sao</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.HotelRatingTypeId, (SelectList)ViewBag.HotelRatingType, "-- Chọn --", new { @class = "form-control input-sm", @id = "ddlHotelRatingType" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 10px;">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-2" style="width: 11%;">
                                        Nội dung
                                    </label>
                                    <div class="col-md-10" style="width: 89%;">
                                        @Html.HtmlEditor("Content", Model.Content)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-2" style="width: 11%;">Hình đại diện</label>
                                    <div class="col-md-4">
                                        @if (!String.IsNullOrEmpty(Model.Image))
                                        {
                                            <img src="~/FileUploads/Image/@Model.Image" height="150" width="150" />
                                        }
                                        else
                                        {
                                            <img src="~/FileUploads/Image/default-image.jpg" height="150" width="150" />
                                        }
                                        <input type="file" id="files" name="files" multiple="multiple" style="float: left; height: auto;" class="form-control" />
                                    </div>

                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                                <div id="imageList" style="margin:5px;">

                                </div>
                                <div class="clear"></div>
                                <input type="file" id="fileImages" name="fileImages" multiple="multiple" style="float: left; height: auto;" class="form-control" />
                                <input type="hidden" id="khachSanId" value="0" />
                            </div>*@
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Hoạt động</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.IsActive, (SelectList)ViewBag.ddlStatus, "--Chọn--", new { @class = "form-control d-inline-block", @id = "ddlTrangThai" })

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Danh sách phòng</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="nContent">
                                    <a href="@Url.Action("RoomsCreate", new {  hotelId=Model.Id  })" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>&nbsp;Thêm mới</a>
                                    @Html.Partial("_RoomList", Model.Rooms)
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        @*<div class="row w-100 justify-content-between m-0">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div><p>Danh sách phòng</p></div>
                                        <div id="listLop" class="row w-100 justify-content-between m-0">
                                            @Html.Partial("_RoomList", Model.Rooms)
                                        </div>
                                    </div>
                                </div>

                            </div>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 dropup f-left bar-footer">
                <button type="submit" class="btn btn-success btn-sm" id="btnSubmitTour"><i class="fa fa-save"></i>&nbsp;Lưu</button>&nbsp;
                <a class="btn btn-danger btn-sm" href="@Url.Action("Hotels")"><i class="fa fa-reply"></i>&nbsp;Quay lại</a>
            </div>
        </div>
    }
    <div style="clear:both"></div>
</div>

<!-- Modal -->
<div id="myModalSlide" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="min-width: 800px;">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frmRoomSlide", id = "frmRoomSlide", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="modal-title" style="font-size: 17px;text-transform:uppercase;color:#3c8dbc"><strong id="myModalTitleSlide"></strong></div>
                </div>
                <div class="modal-body">
                    <div id="myModalContentSlide">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-right">
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            EditHotelModule.init();
        });

        var EditHotelModule = (function () {
            var danhSachRoomlUrl = "/Admin/Category/GetRoomsListInEditHotel";

            function init() {
                initRoomTable();
            }

            function initRoomTable() {
                var hotelId = $('#Id').val();

                $.ajax({
                    type: "GET",
                    url: danhSachRoomlUrl,
                    data: {
                        HotelId: hotelId
                    },
                    success: function (response) {
                        $('#mytable').html(response);
                            $("#mytable").DataTable({
                            "paging": true,
                            "lengthChange": false,
                            "ordering": true,
                            "info": true,
                                "autoWidth": false,
                            destroy: true,
                            "aoColumnDefs": [
                                { 'bSortable': false, 'aTargets': [1] }
                            ]
                        });
                    }
                });
            }

            return {
                init: init,
                reloadRoomTable: initRoomTable
            };
        })();

        $(document).ready(function (event) {

        });

        var $modalSlide = $('#myModalSlide');
        var $myModalContentSlide = $("#myModalContentSlide");
        var $myModalTitleSlide = $("#myModalTitleSlide");

        function SlideRoom(Id, HotelId) {
            $myModalContentSlide.html("");
            $myModalTitleSlide.html("Thêm hình ảnh");
            $.ajax({
                url: '@Url.Action("_AddRoomImages")',
                timeout: 20000,
                data: {
                    Id: Id,
                    HotelId: HotelId 
                },
                beforeSend: function (xhr) {
                    $(".divLoading").addClass("loading");
                },
                success: function (result) {
                    $myModalContentSlide.html(result);
                    $modalSlide.modal({ backdrop: 'static', keyboard: false });
                    $(".divLoading").removeClass("loading");
                },
                error: function (message) {
                    $(".divLoading").removeClass("loading");
                }
            });
        }

    </script>
}