﻿@model tbl_Province

@{
    ViewBag.Title = "Danh sách tỉnh thành";
    int i = 1;
    var provinces = ViewBag.Provinces as List<tbl_Province>;
}



<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body">
                <form action="@Url.Action("Provinces")" method="post">
                    <div class="row" style="padding: 0px;">
                        <!--- Tên Quốc gia --->
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label>Quốc gia</label>
                                <div>
                                    @Html.DropDownListFor(d => d.CountryId, (SelectList)ViewBag.CountryId, new { @class = "form-control input-sm chosen-select" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label>Tên tỉnh thành</label>
                                <div>
                                    <input type="text" name="ProvinceName" id="ProvinceName" class="form-control input-sm" value="@ViewBag.ProvinceName">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <label>&nbsp;</label>
                            <div>
                                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>&nbsp;Tìm kiếm</button>
                            </div>
                        </div>
                    </div>
                </form>
                @*@using (Html.BeginForm(""))
                    {
                    }*@
            </div>
        </div>
        <!-- box End -->
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">
                    Danh sách tỉnh thành
                </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ul id="tabs" class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Danh sách</a></li>
                    <li><a href="#tab2" data-toggle="tab"><i class="fa fa-plus"></i>&nbsp;Thêm mới</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="tab1">
                        <table id="myTable" class="table table-bordered table-hover">
                            <thead>
                                <tr style="background-color: #1b80c8; color: white; font-size: 11.5px">
                                    <th style="width:40px;min-width:40px">
                                        STT
                                    </th>
                                    <th>
                                       Tên tỉnh thành
                                    </th>
                                    <th style="width:50px;min-width:50px">

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in provinces)
                                {
                                    <tr id="row_@item.ProvinceId">
                                        <td align="center">@(i++)</td>
                                        <td>@item.ProvinceName</td>
                                        <td class="tt-wrapper text-center">
                                            <a href="javascript:DoEdit('@item.ProvinceId')" class="text-success" data-original-title="Cập nhật" title="Cập nhật">
                                                <span> Cập nhật </span>
                                                <i class="fa fa-edit fa-lg"></i>
                                            </a>&nbsp;
                                            <a href="javascript:DoDelete('@item.ProvinceId')" data-confirm="Bạn muốn xóa thông tin này?" class="text-danger delete" data-original-title="Xóa" title="Xóa">
                                                <span> Xóa </span>
                                                <i class="fa fa-trash-o fa-lg"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- ./END tab List -->
                    <div class="tab-pane fade" id="tab2">
                        <div class="form-horizontal col-sm-12 col-md-6 clear" style="padding-top: 20px;">
                            @using (Html.BeginForm("ProvincesCreate", "Category", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                       Tên tỉnh thành
                                    </label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.ProvinceName, new { @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(model => model.ProvinceName)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        Tên quốc gia
                                    </label>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(model => model.CountryId, (SelectList)ViewBag.CountryId, "-- Chọn --", new { @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(model => model.CountryId)
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="col-sm-offset-3 col-sm-9" style="padding-left:5px">
                                    <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-save"></i>&nbsp;Lưu</button>
                                </div>
                            }
                        </div>
                    </div>
                    <!-- ./END tab Add new -->
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            //$("#example2").DataTable();
            $('#myTable').DataTable({
                "order": [[1, "asc"]]
            });
        });

        function DoDelete(id) {
            $.post("@Url.Action("ProvincesDelete")", { "id": id },
            function (result) {
                if (result) {
                    ShowNotify('Xoá thông tin thành công', 'success', 'bottom');
                    var table = $('#myTable').DataTable();
                    table.row('#row_' + id).remove().draw(false);
                }
                else {
                    ShowNotify('Xoá thông tin không thành công', 'danger', 'top');
                }
            });
        }

        function DoEdit(id) {
            $.get('@Url.Action("_ProvincesEdit")', { id: id }, function (result) {
                $('.modal-content').html(result);
                $('#myModal').modal('show');
            });
        }
    </script>
}
