﻿@model IEnumerable<RoomViewModel>

@{
    ViewBag.Title = "Danh sách phòng";
}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            @using (Html.BeginForm("Rooms", "Category", FormMethod.Post, new { id = "form-search" }))
            {
                <div class="box-body">
                    <div class="row" style="padding: 0px;">
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>Khách sạn</label>
                                <div>
                                    @Html.DropDownList("HotelId", null, "---  Chọn  ---", new { @class = "form-control chosen-select input-sm" })
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-xs-12 col-md-3">
                            <label>&nbsp;</label>
                            <div>
                                <button type="button" name="SubmitSearch" value="Search" id="btnTimKiem" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>&nbsp;Tìm kiếm</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Danh sách phòng</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="nContent">
                    <a href="@Url.Action("RoomsCreate")" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>&nbsp;Thêm mới</a>
                    @Html.Partial("_RoomsList", Model)
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>

@section scripts{
    <script>
        $(function () {
            RoomModule.init();
        });

        var RoomModule = (function () {
            var danhSachRoomUrl = "/Admin/Category/GetRoomsList";

            function init() {
                initRoomTable();
            }

            $('#btnTimKiem').on('click', function (event) {
                initRoomTable();
            });

            function initRoomTable() {
                var hotelId = $('#HotelId').val();

                $.ajax({
                    type: "GET",
                    url: danhSachRoomUrl,
                    data: {
                        HotelId: hotelId,
                    },
                    success: function (response) {
                        $('#mytable').html(response);
                            $("#mytable").DataTable({
                            "paging": true,
                            "lengthChange": false,
                            "ordering": true,
                            "info": true,
                                "autoWidth": false,
                            destroy: true,
                            "aoColumnDefs": [
                                { 'bSortable': false, 'aTargets': [1] }
                            ]
                        });
                    }
                });
            }

            return {
                init: init,
                reloadRoomTable: initRoomTable
            };
        })();

        $(document).ready(function (event) {

        });

    </script>
}