﻿@model RoomViewModel
@{
    ViewBag.Title = "Thêm phòng";
}

<!-- cập nhật phòng -->
<div>
    @using (Html.BeginForm("RoomsEdit", "Category", FormMethod.Post, new { id = "form-submittour", enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        @Html.HiddenFor(m => m.Image)
        <div class="row tour">
            <div class="col-md-12 col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border" data-widget="collapse">
                        <h3 class="box-title">Thông tin phòng</h3>
                    </div>
                    <div class="box-body" style="display: block;height:auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @*<label class="col-md-4">@Language.TenTour</label>*@
                                    <label class="col-md-4">Khách sạn</label>
                                    <div class="col-md-8">
                                        @*@Html.DropDownListFor(m => m.HotelId, (SelectList)ViewBag.HotelId, "-- Chọn --", new { @class = "form-control input-sm", @id = "ddlHotel" })*@

                                        @Html.DropDownListFor(m => m.HotelId, null, null, new { @class = "form-control chosen-select input-sm", @id = "editProvinceId" })
                                        @Html.ValidationMessageFor(model => model.HotelId)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Tên phòng</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.RoomName, new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Số lượng phòng</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.AvailableRoom, new { @class = "form-control input-sm" })

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Diện tích</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.RoomArea, new { @class = "form-control input-sm" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="form-group">
                                    <label class="col-md-4">Tiện ích</label>
                                    <div class="col-md-8">
                                        <select name="sllConvenientTypeID" id="sllConvenientTypeID" class="form-control chosen-select" multiple="multiple">
                                            @foreach (var selectList in (List<SelectListItem>)ViewBag.ddlConvenientType)
                                            {
                                                <option value="@selectList.Value" @(selectList.Selected ? "selected" : "")>
                                                    @selectList.Text
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Hướng</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Direction, (SelectList)ViewBag.DirectionType, "-- Chọn --", new { @class = "form-control input-sm", @id = "ddlDirectionType" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Số lượng gường đơn</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.SingleBed, new { @class = "form-control input-sm" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Số lượng gường đôi</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.DoubleBed, new { @class = "form-control input-sm" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4">Số người tối đa</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.MaxPeople, new { @class = "form-control input-sm" })

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-2" style="width: 11%;">Hình ảnh</label>
                                    <div class="col-md-4">
                                        @if (!String.IsNullOrEmpty(Model.Image))
                                        {
                                            <img src="~/FileUploads/Image/@Model.Image" height="150" width="150" />
                                        }
                                        else
                                        {
                                            <img src="~/FileUploads/Image/default-image.jpg" height="150" width="150" />
                                        }
                                        <input type="file" id="files" name="files" multiple="multiple" style="float: left; height: auto;" class="form-control" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 dropup f-left bar-footer">
                <button type="submit" class="btn btn-success btn-sm" id="btnSubmitRoom"><i class="fa fa-save"></i>&nbsp;Lưu</button>&nbsp;
                <a href="@Url.Action("HotelsEdit", new {  id=Model.HotelId  })" class="btn btn-danger btn-sm">
                    <i class="fa fa-reply"></i>&nbsp;Quay lại
                </a>
            </div>
        </div>
    }
    <div style="clear:both"></div>
</div>

@section scripts
{

}