﻿@model BookingViewModel
@if (Model.Status < (int)Parameters.Booking.BookingStatus.DaHuy)
{
    if (Model.PaymentType == (int)Parameters.Booking.PaymentTypes.ChuyenKhoan)
    {
        <div class="box">
            <div class="box-header">
                <h4 class="title-sm">Hướng dẫn Thanh toán - Chuyển Khoản</h4>
            </div>
            <div class="box-body">
                <ul class="nav-guide-payment">
                    <li>
                        <i class="fa fa-circle"></i> Nội dung chuyển khoản: <strong class="blue">
                            "@Model.CustomerInfo.CustomerName ,@Model.BookingCode"
                        </strong>
                    </li>
                    @if (ViewBag.PaymentGuide != null)
                    {
                        @Html.Raw(ViewBag.PaymentGuide)
                    }

                </ul>
            </div>
        </div>
    }
    else
    {
        <div class="box">
            <div class="box-header">
                <h4 class="title-sm">Hướng dẫn Thanh toán - Tiền mặt</h4>
            </div>
            <div class="box-body">
                <ul class="nav-guide-payment">
                    @if (ViewBag.PaymentGuide != null)
                    {
                        @Html.Raw(ViewBag.PaymentGuide)
                    }
                </ul>
            </div>
        </div>
    }

    if (Model.Status == (int)Parameters.Booking.BookingStatus.TaoThanhCong && Model.PaymentType == (int)Parameters.Booking.PaymentTypes.ChuyenKhoan)
    {
        <div class="box">
            <div class="box-body">
                <h4 class="title-sm">bạn đã thanh toán thành công?</h4>
                <p>
                    Hãy thông báo khi bạn đã hoàn tất thanh toán để HotCombo xác nhận đơn phòng thành công nhanh
                    hơn!
                </p>
                <div class="text-center mg-t-15">
                    <button id="confirmPayment" class="btn btn-blue events-tracking" data-toggle="modal"
                            data-target="#ConfirmPaymentModal" data-category="Payment"
                            data-action="Confirm completing Payment_Click" data-label="HLZ3X2">
                        Tôi đã thanh toán
                    </button>
                </div>
            </div>
        </div>
    }

    if (Model.Status == (int)Parameters.Booking.BookingStatus.KHDaThanhToan)
    {
        <div class="box">
            <div class="box-body">
                <h4 class="title-sm">Đã ghi nhận tình trạng thanh toán thành công.</h4>
                <p>
                    Chúng tôi sẽ kiểm tra thông tin thanh toán và thông báo cho bạn.
                    Vui lòng chờ!
                </p>
            </div>
        </div>
    }

}
else
{
    <div class="box">
        <div class="box-body">
            <h4 class="title-sm">Booking đã bị huỷ do quá hạn thanh toán</h4>
            <p>
                Vui lòng thanh toán trước khi hết hạn để sử dụng dịch vụ của chúng tôi.
            </p>
        </div>
    </div>
}
