﻿@model BookingViewModel
    @{ 
        ViewBag.Title = "Đặt phòng hoàn tất";
    }
<div class="container payment">
    <div class="row">
        <!-- page-header -->
        <div class="col-md-12">
            <div class="page-header mg-t-40">
                <h1 class="title-lg text-center mg-bt-20">
                    YÊU CẦU ĐẶT PHÒNG CỦA BẠN ĐÃ ĐƯỢC GỬI
                </h1>
                <div class="alert alert-warning text-center" role="alert">
                    Xác nhận đặt phòng và hướng dẫn thanh toán đã được gửi qua email <strong>@Model.CustomerInfo.CustomerEmail</strong>
                    <br>
                    Vui lòng thanh toán trước 
                    <strong>
                        @string.Format("{0}, {1}, {2}", Model.CODCancel.ToString("hh:mm"), Hotel.Utilities.Utility.GetDayOfWeek((int)Model.CODCancel.DayOfWeek), Model.CODCancel.ToString("dd/MM/yyyy"));

                    </strong>. Quá thời hạn thanh
                    toán trên, đơn phòng sẽ tự động bị hủy.
                </div>
            </div>
        </div>
        <!-- /.page-header -->
        <!-- col-left -->
        <div class="col-md-8 col-left">
            <!-- info-pay-hotel -->
            <div class="box info-pay-hotel">
                <div class="box-header">
                    <div class="booking-code">
                        Mã đơn phòng: <strong class="blue">@Model.BookingCode</strong>
                    </div>
                </div>
                <div class="box-body tooltip-no-max-width">
                    <h4 class="hotel-name">
                        <strong>@Model.Hotel.HotelName</strong>
                    </h4>
                    <p class="mg-bt-5">
                        <span class="star">
                            <span class="star-@Model.Hotel.HotelRatingTypeId" data-toggle="tooltip" data-placement="bottom"
                                  data-original-title="Hạng sao do nơi cư trú cung cấp"></span>
                        </span>
                    </p>
                    <p class="mg-bt-5">
                        <i class="fa fa-map-marker"></i> @Model.Hotel.Address
                    </p>
                    <div class="row">
                        <div class="col-md-4">
                            Ngày nhận phòng:
                        </div>
                        <div class="col-md-8">
                            @string.Format("{0}, {1}, {2}", Model.DateCheckIn.ToString("HH:mm"), Hotel.Utilities.Utility.GetDayOfWeek((int)Model.DateCheckIn.DayOfWeek), Model.DateCheckIn.ToString("dd/MM/yyyy"))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            Ngày trả phòng:
                        </div>
                        <div class="col-md-8">
                            @string.Format("{0}, {1}, {2}", Model.DateCheckOut.ToString("HH:mm"), Hotel.Utilities.Utility.GetDayOfWeek((int)Model.DateCheckOut.DayOfWeek), Model.DateCheckOut.ToString("dd/MM/yyyy"))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            Số phòng:
                        </div>
                        <div class="col-md-8">
                            @Model.RoomCount phòng
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            Số đêm:
                        </div>
                        <div class="col-md-8">
                            @Model.CountDate đêm
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            Khách hàng:
                        </div>
                        <div class="col-md-8">
                            @Model.CustomerInfo.CustomerName
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            Điện thoại:
                        </div>
                        <div class="col-md-8">
                            @Model.CustomerInfo.CustomerPhoneNumber
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            Email:
                        </div>
                        <div class="col-md-8">
                            @Model.CustomerInfo.CustomerEmail
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.info-pay-hotel -->
            <!-- info-pay-hotel-list -->
            <div class="box info-pay-hotel-list">
                <div class="box-header">
                    <h4 class="title-sm">Thông tin chi tiết</h4>
                </div>
                <div class="box-body">
                    <div class="info-pay-hotel-list-item">
                        <dl class="dl-horizontal dl-left">
                            <dt>@Model.Room.RoomName</dt>
                            <dd>
                                @Model.RoomCount phòng
                            </dd>
                            <dd>
                                @Model.PersonCount người
                            </dd>
                            <dd>
                            </dd>
                        </dl>
                        <div class="info-pay-hotel-warning">
                            <p>- Đơn phòng không hoàn, không hủy, không thay đổi.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.info-pay-hotel-list -->
            <!--Payment Status-->

            @Html.Partial("_PaymentStatus", Model)
            <!--Payment Status-->
        </div>
        <!-- /.col-left -->
        <!-- col-right -->
        <div class="col-md-4 col-right">
            <div class="js-fixed" style="">
                <div class="box box-green">
                    <div class="box-header">
                        <h4 class="title-sm">
                            <strong>Thông tin thanh toán</strong>
                        </h4>
                    </div>
                    <!-- booking-bill -->
                    <div class="booking-bill">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        Tổng số tiền phòng, giường phụ <i class="fa fa-info-circle js-popup"></i>
                                    </td>
                                    <td class="text-right">
                                        <span class="price">@Model.RoomAmount.ToString("#,###đ")</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mg-0 text-xs">
                                            10% thuế
                                        </p>
                                    </td>
                                    <td class="text-right">
                                        <span class="price">@Model.Tax.ToString("#,###đ")</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mg-0 text-xs">
                                            Phí giao dịch tại HotCombo
                                        </p>
                                    </td>
                                    <td class="text-right">
                                        <span class="price">Miễn phí</span>
                                    </td>
                                </tr>
                                @if (Model.Discount > 0)
                                {
                                    <tr>
                                        <td>
                                            <p class="mg-0 text-xs">
                                                Giá giảm từ điểm HotCombo
                                            </p>
                                        </td>
                                        <td class="text-right">
                                            <span class="price">@Model.Discount.ToString("#,###đ")</span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <table class="table total-money">
                            <tbody>
                                <tr>
                                    <td>
                                        Tổng tiền
                                    </td>
                                    <td class="text-right">
                                        <span class="price">
                                            @Model.TotalAmount.ToString("#,###đ")
                                        </span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong class="text-df">THANH TOÁN</strong> <i>(1 đêm)</i>
                                        <p class="mg-0 text-xs">
                                            Đã bao gồm thuế phí
                                        </p>
                                    </td>
                                    <td class="text-right">
                                        <strong class="price green text-lg">
                                            @Model.TotalAmount.ToString("#,###") <small>đ</small>
                                        </strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- /.table-money -->
                    </div>
                    <!-- /.booking-bill -->
                </div>
                <!-- Sign-up to get vpoint -->
                <!-- End sign-up to get vpoint -->
                <div class="box">
                    <div class="box-body">
                        <ul class="nav-list-support">
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-phone fa-lg mg-r-5"></i> Hỗ trợ khách hàng
                                </a>
                            </li>
                        </ul>
                        <dl class="dl-horizontal dl-left">
                           @if (ViewBag.Contact != null)
                           {
                               @Html.Raw(ViewBag.Contact)
                           }
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-right -->
    </div>
</div>
<script>
    $('#confirmPayment').on('click', function (event) {        
        event.preventDefault();
        if (!confirm("Xác nhận đã gửi thanh toán")) {
            return false;
        }
        else {
            ConfirmPayment(1);
        }
    });
    function ConfirmPayment(status) {
         $.ajax({
             url: '@Url.Action("CustomerPaymentChange","Booking")',
             type: 'POST',
                data: {
                    bookingId: '@Model.BookingId',
                    status : status
                },
                beforeSend: function () {

                },
                success: function (result) {
                    alert(result.Message);
                    location.reload();
                },
                error: function () {
                    alert("Không thực hiện được");
                }
            })
    }
</script>