﻿@model BookingViewModel
@{
    ViewBag.Title = "Xác nhận thông tin booking";
    var hotel = Model.Hotel;
    var room = Model.Room;
    string nhanPhong = string.Format("{0}, {1}, {2}", "14:00", Hotel.Utilities.Utility.GetDayOfWeek((int)Model.DateCheckIn.DayOfWeek), Model.DateCheckIn.ToString("dd/MM/yyyy"));
    string traPhong = string.Format("{0}, {1}, {2}", "12:00", Hotel.Utilities.Utility.GetDayOfWeek((int)Model.DateCheckOut.DayOfWeek), Model.DateCheckOut.ToString("dd/MM/yyyy"));
    string CODCancel = string.Format("{0}, {1}, {2}", Model.CODCancel.ToString("HH:mm:ss"), Hotel.Utilities.Utility.GetDayOfWeek((int)Model.CODCancel.DayOfWeek), Model.CODCancel.ToString("dd/MM/yyyy"));
    double giaGiamToiDa = Model.TotalAmount;
    double? diemHotCombo = Model.CustomerInfo.TotalPoint ?? 0;
}
@using (Html.BeginForm("ConfirmBooking", "Booking", FormMethod.Post, new { id = "form-booking" }))
{
    <div class="container booking layout">
        <div class="booking-info">
            <div class="row">
                <div class="col-md-7">
                    <div class="box box-blue">
                        <div class="box-body">
                            <div class="row">
                                <div class="info-block-wrapper">
                                    <div class="col-md-7">
                                        <h3 class="title-sm tooltip-no-max-width">
                                            @hotel.HotelName
                                            <br>
                                            <span class="star">
                                                <span class="star-@hotel.HotelRatingTypeId" data-toggle="tooltip"
                                                      data-placement="bottom"
                                                      data-original-title="Hạng sao do nơi cư trú cung cấp"></span>
                                            </span>
                                        </h3>
                                        <p class="text-df">
                                            <i class="fa fa-map-marker"></i>
                                            <span class="gray">
                                                @hotel.Address
                                            </span>
                                        </p>
                                        <dl class="dl-horizontal">
                                            <dt>Nhận phòng:</dt>
                                            <dd>@nhanPhong</dd>
                                            <dt>Trả phòng:</dt>
                                            <dd>@traPhong</dd>
                                            <dt>Số phòng:</dt>
                                            <dd>@Model.RoomCount Phòng</dd>
                                            <dt>Số đêm</dt>
                                            <dd>
                                                @Model.CountDate Đêm
                                                @*<span class="change-date mg-l-20 text-underline">
                                                        <a href="javascript:;"
                                                           class="events-tracking change-info-room"
                                                           data-toggle="modal" data-target="#ChangeDate"
                                                           data-category="Booking"
                                                           data-action="Pop up Thay đổi ngày"
                                                           data-label="Change date click">
                                                            Thay đổi ngày
                                                        </a>
                                                    </span>*@
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box-align-center" style="display: -webkit-box;">
                                        <div class="calendar">
                                            <i class="li-calendar-full"></i>
                                        </div>
                                        <p class="text mg-bt-0" style="font-size: 14px;">
                                            <strong class="pink">
                                                Nhanh tay đặt
                                                phòng giữ giá tốt.
                                            </strong>
                                        </p>
                                    </div>
                                    <div class="alert alert-info alert-none-radius text-center mg-bt-10">
                                        Giá tốt nhất dành cho bạn
                                    </div>
                                    <div class="alert alert-warning alert-none-radius text-center mg-bt-10">
                                        Giữ phòng ngay cho kì nghỉ sắp tới
                                    </div>
                                    @*<div class="alert alert-info alert-none-radius text-center mg-bt-10">
                                            Được đặt cách đây <strong>6 phút trước !</strong>
                                        </div>*@
                                </div>
                            </div>
                            <!--Thông tin liên hệ-->
                            <div class="row">
                                <div class="info-block-wrapper top-border">
                                    <div class="contact-info-wrapper">
                                        <h4 class="title-sm">
                                            Thông tin liên hệ
                                        </h4>
                                        @Html.HiddenFor(m => m.CustomerInfo.CustomerId)
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>
                                                        Email<sup class="text-xs red-dark-3">*</sup>
                                                        <br>
                                                        <small class="help-info">
                                                            <i class="fa fa-info-circle"></i>
                                                            Xác nhận đơn phòng sẽ được gửi qua email
                                                            này.
                                                        </small>
                                                    </label>

                                                    @Html.TextBoxFor(m => m.CustomerInfo.CustomerEmail, new { @class = "form-control info_customer_book required" })
                                                    @Html.ValidationMessageFor(m => m.CustomerInfo.CustomerEmail)
                                                    <p class="help-block red-dark-3 text-xs mg-t-0"
                                                       style="display: none;"></p>
                                                    <div id="alert-check-account"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>
                                                        Số điện thoại<sup class="text-xs red-dark-3">*</sup> <br>
                                                        <small class="help-info">
                                                            <i class="fa fa-info-circle"></i>
                                                            Xác nhận đơn phòng sẽ được gửi SMS.
                                                        </small>
                                                    </label>
                                                    @Html.TextBoxFor(m => m.CustomerInfo.CustomerPhoneNumber, new { @class = "form-control info_customer_book required" })
                                                    @Html.ValidationMessageFor(m => m.CustomerInfo.CustomerPhoneNumber)
                                                    <p class="help-block red-dark-3 text-xs mg-t-0"
                                                       style="display: none;"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>
                                                        Họ và tên<sup class="text-xs red-dark-3">*</sup>
                                                    </label>
                                                    @Html.TextBoxFor(m => m.CustomerInfo.CustomerName, new { @class = "form-control info_customer_book required" })
                                                    @Html.ValidationMessageFor(m => m.CustomerInfo.CustomerName)
                                                    <p class="help-block red-dark-3 text-xs mg-t-0"
                                                       style="display: none;"></p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Tỉnh/Thành phố</label>
                                                    <div class="select-df">
                                                        <select class="selectpicker info_customer_book select-city form-control"
                                                                data-width="100%" title="Tỉnh/Thành phố"
                                                                name="CustomerInfo.CustomerProvinceId"
                                                                aria-hidden="true"
                                                                id="ddlCustomerProvince"
                                                                onchange="GetDistrict(this.value, 'ddlCustomerDistrict', '')">
                                                            <option> - Tỉnh/Thành phố -</option>
                                                        </select>
                                                        @Html.ValidationMessage("Vui lòng chọn Tỉnh/Thành phố")
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>
                                                        Địa chỉ@*<sup class="text-xs red-dark-3">*</sup>*@
                                                    </label>
                                                    @Html.TextBoxFor(m => m.CustomerInfo.CustomerAddress, new { @class = "form-control info_customer_book" })

                                                    <p class="help-block red-dark-3 text-xs mg-t-0"
                                                       style="display: none;"></p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Quận/Huyện</label>
                                                    <div class="select-df">
                                                        <select class="selectpicker info_customer_book select-city form-control"
                                                                data-width="100%" title="Quận/Huyện"
                                                                name="CustomerInfo.CustomerDistrictId"
                                                                aria-hidden="true"
                                                                id="ddlCustomerDistrict">

                                                            <option> - Quận/Huyện -</option>
                                                        </select>
                                                        @Html.ValidationMessage("Vui lòng chọn Quận/Huyện")
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Thông tin liên hệ-->
                            <!-- Xuất hoá đơn - Yêu cầu bổ sung-->
                            <div class="dl-list-wrapper">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="tab">
                                        <a class="nav-link" id="invoice-tab" data-toggle="tab" href="#invoice-export" type="button" role="tab" aria-controls="invoice" aria-selected="false">
                                            <i class="fa fa-plus-circle"></i> Xuất hóa đơn?
                                        </a>
                                    </li>
                                    <li class="nav-item" role="tab">
                                        <a class="nav-link " id="requests-tab" data-toggle="tab" href="#requests-export" type="button" role="tab" aria-controls="requests" aria-selected="true">
                                            <i class="fa fa-plus-circle"></i> Yêu cầu bổ sung?
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade" id="invoice-export" role="tabpanel" aria-labelledby="invoice-tab">
                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <label class="checkbox">
                                                    @Html.CheckBoxFor(m => m.IsInvoceExport, new { })
                                                    Yêu cầu xuất hóa đơn
                                                </label>
                                                <div class="form-group">
                                                    <label class="mg-bt-0">
                                                        Tên công ty<sup class="text-xs red-dark-3">*</sup>
                                                    </label>
                                                    @Html.TextBoxFor(m => m.InvoceInfo.CompanyName, new { @class = "form-control" })
                                                    <p class="help-block red-dark-3 text-xs mg-t-0"
                                                       style="display: none;"></p>
                                                </div>
                                                <div class="form-group">
                                                    <label class="mg-bt-0">
                                                        Mã số thuế<sup class="text-xs red-dark-3">*</sup>
                                                    </label>
                                                    @Html.TextBoxFor(m => m.InvoceInfo.TaxCode, new { @class = "form-control" })
                                                    <p class="help-block red-dark-3 text-xs mg-t-0"
                                                       style="display: none;"></p>
                                                </div>
                                                <div class="form-group">
                                                    <label class="mg-bt-0">
                                                        Địa chỉ công ty<sup class="text-xs red-dark-3">*</sup>
                                                    </label>
                                                    @Html.TextBoxFor(m => m.InvoceInfo.CompanyAddress, new { @class = "form-control" })
                                                    <p class="help-block red-dark-3 text-xs mg-t-0"
                                                       style="display: none;"></p>
                                                </div>
                                                <div class="form-group">
                                                    <label class="mg-bt-0">Địa chỉ nhận hóa đơn</label>
                                                    @Html.TextBoxFor(m => m.InvoceInfo.BillingAddress, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <p class="mg-t-20 mg-l-20">
                                                    <strong>
                                                        Điều kiện xuất hóa
                                                        đơn:
                                                    </strong>
                                                </p>
                                                <ul>
                                                    <li>
                                                        Quý khách hàng cần cung cấp thông tin và địa
                                                        chỉ xuất hóa đơn
                                                        trước hoặc ngay sau khi thanh toán đơn phòng.
                                                    </li>
                                                    <li>
                                                        HotCombo sẽ xuất hóa đơn bằng với số tiền thực tế
                                                        khách hàng đã thanh toán.
                                                    </li>
                                                    <li>
                                                        HotCombo sẽ không thể xuất hóa đơn nếu Quý khách
                                                        gửi thông tin
                                                        chậm hơn thời gian trên.
                                                    </li>
                                                    <li>
                                                        HotCombo sẽ gửi hóa đơn đến Quý khách trong vòng
                                                        một tuần sau
                                                        ngày trả phòng.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="requests-export" role="tabpanel" aria-labelledby="requests-tab">
                                        <p class="mg-bt-5">
                                            <strong>
                                                Mọi yêu cầu được đáp ứng tùy thuộc
                                                vào điều kiện của khách sạn.
                                            </strong>
                                        </p>
                                        <div class="row special_request_box">
                                            <div class="col-md-6">
                                                <label class="checkbox">
                                                    <input type="checkbox" class="special_request"
                                                           data-value="phòng có 2 giường đơn">
                                                    <i class="icon-checkbox"></i> Phòng có 2 giường đơn
                                                </label>
                                                <label class="checkbox">
                                                    <input type="checkbox" class="special_request"
                                                           data-value="phòng có 1 giường đôi">
                                                    <i class="icon-checkbox"></i> Phòng có 1 giường đôi
                                                </label>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="checkbox">
                                                    <input type="checkbox" class="special_request"
                                                           data-value="phòng không hút thuốc">
                                                    <i class="icon-checkbox"></i> Phòng không hút thuốc
                                                </label>
                                                <label class="checkbox">
                                                    <input type="checkbox" class="special_request"
                                                           data-value="phòng ở tầng cao">
                                                    <i class="icon-checkbox"></i> Phòng ở tầng cao
                                                </label>
                                            </div>
                                        </div>
                                        <textarea class="form-control customer_comment" id="CustomerNote" data-origin=""
                                                  name="CustomerNote" placeholder="Nhập yêu cầu"
                                                  cols="3"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- Xuất hoá đơn - Yêu cầu bổ sung-->
                            <div class="alert alert-success text-center mt-3" role="alert">
                                Thanh toán ngay để giữ <strong>phòng trống</strong> và <strong>
                                    giá
                                    tốt nhất
                                </strong>!
                            </div>
                            <div class="confirm-payment pd-bt-30 btnPaymentCredit"
                                 style="display: none;">
                                <a class="btn btn-lotus-pink continue-payment submit_booking"
                                   data-toggle="modal" data-target="#BookingProcessing"
                                   data-category="Booking" data-action="Button click"
                                   data-label="Submit button Thanh Toán">
                                    Thanh Toán
                                </a>
                            </div>
                            <!--Phương thức thanh toán-->
                            <div class="tab-payment-wrapper mg-bt-30" id="list-method-payment">
                                <h4 class="title-sm">
                                    <strong>Chọn phương thức thanh toán</strong>
                                </h4>
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="tab">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#money" type="button" role="tab" aria-controls="home" aria-selected="true">
                                            Tiền mặt
                                        </a>
                                    </li>
                                    <li class="nav-item" role="tab">
                                        <a class="nav-link" id="ibanking-tab" data-toggle="tab" href="#ibanking" type="button" role="tab" aria-controls="contact" aria-selected="false">Chuyển khoản</a>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="money" role="tabpanel" aria-labelledby="home-tab">
                                        <ul class="nav-list-icon">
                                            <li>
                                                <i class="fa fa-check-circle"></i>
                                                Vui lòng kiểm tra thông tin đặt phòng trước khi xác nhận <strong>Đặt Phòng</strong>
                                            </li>
                                            <li>
                                                <i class="fa fa-check-circle"></i> Nhận <strong>
                                                    xác nhận
                                                    ngay
                                                </strong> qua email và SMS.
                                            </li>
                                        </ul>
                                        <div class="confirm-payment show">
                                            <a class="btn btn-lotus-pink continue-payment submit_booking"
                                               id="btnBookingMoney" data-toggle="modal"
                                               data-target="#BookingProcessing" data-category="Booking"
                                               data-action="Button click"
                                               data-label="Submit button Đặt phòng">Đặt phòng</a>
                                            <p class="text-center accept-condition">
                                                <small>
                                                    Bằng cách
                                                    nhấp nút Đặt phòng, bạn đồng ý
                                                    với <a href="https://hotcombo.vn/StaticPage/Index?Type=privacy-cook"
                                                           target="_blank">Điều kiện và điều khoản</a> của
                                                    chúng tôi.
                                                </small>
                                            </p>
                                        </div>
                                    </div>
                                    <div role="tabpanel" aria-labelledby="ibanking-tab" class="tab-pane" id="ibanking">
                                        <div class="payment-notice alert alert-warning text-center">
                                            Hướng dẫn thanh toán sẽ gửi tới email <span class="email_cus_input">đặt phòng</span>.
                                            <br>
                                            Vui lòng thanh toán trước <strong>
                                                @CODCancel
                                                @Html.HiddenFor(m => m.CODCancel)
                                            </strong>.
                                            <br>
                                            Quá thời hạn thanh toán trên, đơn phòng sẽ tự động bị hủy.
                                        </div>
                                        <div class="confirm-payment">
                                            <a class="btn btn-lotus-pink continue-payment submit_booking"
                                               id="btnBookingBanking" data-toggle="modal"
                                               data-target="#BookingProcessing" data-category="Booking"
                                               data-action="Button click"
                                               data-label="Submit button Đặt phòng">Đặt phòng</a>
                                            <p class="text-center accept-condition">
                                                <small>
                                                    Bằng cách
                                                    nhấp nút Đặt phòng, bạn đồng ý
                                                    với <a href="https://hotcombo.vn/StaticPage/Index?Type=privacy-cookies"
                                                           target="_blank">Điều kiện và điều khoản</a> của
                                                    chúng tôi.
                                                </small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Phương thức thanh toán-->
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <!-- /booking-bill -->
                    @Html.HiddenFor(m => m.BookingId)
                    <div class="booking-bill">
                        <h3 class="title-sm title-sm-green">
                            <strong>Đặt ngay!</strong> Giá phòng có thể thay đổi trong giây lát!
                        </h3>
                        <!-- table-none-border list room-list -->
                        <table class="table table-none-border">
                            <tbody>
                                <tr>
                                    <td>
                                        <table class="table table-none-border room-list">
                                            <tbody>
                                                <tr>
                                                    <td colspan="2">
                                                        <strong>
                                                            @Model.Room.RoomName
                                                        </strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <strong>
                                                            Giá phòng (1 phòng/ 1 đêm)
                                                        </strong>
                                                    </td>
                                                </tr>
                                                @{
                                                    foreach (var item in Model.RoomPrices)
                                                    {
                                                        <tr style="border-bottom:double">
                                                            <td>
                                                                Ngày @item.RoomDate.ToString("dd/MM/yyyy")
                                                            </td>
                                                            <td>
                                                                <strong class="price black">
                                                                    @item.PricePromotion.Value.ToString("#,###đ")
                                                                </strong>
                                                                <br />
                                                                @*<small>x2 phòng</small>*@
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                <tr>
                                                    <td>
                                                        Tiền phòng <strong>@(string.Format(" ( {0} phòng)", Model.RoomCount))</strong>
                                                    </td>
                                                    <td>
                                                        <strong class="price black">
                                                            @Model.RoomAmount.ToString("#,###đ")
                                                        </strong>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- /table-none-border list room-list -->
                        <!-- total-money -->
                        <div class="col-sm-12 table table-none-border mg-bt-10">
                            <table class="listing-note-price table table-none-border room-list">
                                <tbody>
                                    <tr class="line-blue">
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            10% thuế
                                        </td>
                                        <td class="text-right">
                                            <span class="price black pd-r-10">
                                                @Model.Tax.ToString("#,###đ")
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Phí giao dịch tại HotCombo
                                        </td>
                                        <td class="text-right">
                                            <span class="price black pd-r-10">Miễn phí</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Điểm còn của quý khách là <span style="color:red;">@diemHotCombo</span>  điểm HotCombo (1 điểm giá trị quy đổi 1000VNĐ)
                                            <input type="number" class="form-control info_customer_book" placeholder="Nhập số điểm bạn muốn quy đổi" id="txtTotalPointUse" onchange="changePrice()" style="display:none;"/>
                                        </td>
                                        <td class="text-right" style="width:20%;">
                                            <input type="checkbox" id="ckbTotalPointUse" onclick="CheckBoxSuDungDiemHotCombo()" name="ckbTotalPointUse" value="1">
                                            Sử dụng
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Số tiền được giảm từ điểm HotCombo <span id="lblTotalPointUse" style="color:red"></span>
                                        </td>
                                        <td class="text-right">
                                            <span id="lblTotalPointPrice" class="price black pd-r-10">
                                                0đ
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12">
                            <input type="hidden" id="hdTotalAmount" value="@Model.TotalAmount" />
                            <input type="hidden" id="hdGiaGiamToiDa" value="@giaGiamToiDa" />
                            <table class="table total-money mg-bt-0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong>Tổng tiền</strong>
                                        </td>
                                        <td class="text-right">
                                            <strong id="txtTotalAmount" class="price">@Model.TotalAmount.ToString("#,###đ")</strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table id="table-pricing" class="table total-money">
                                <tbody class="repricing-booking">
                                    <tr>
                                        <td>
                                            <strong class="text-df">THANH TOÁN</strong> <br> <i>
                                                @string.Format("({0} phòng x {1} đêm)", Model.RoomCount, Model.CountDate)
                                            </i>
                                            <p class="mg-0 text-xs">
                                                Đã bao gồm thuế phí
                                            </p>
                                        </td>
                                        <td class="text-right">
                                            <strong id="txtTotalAmountEnd" class="price text-lg">
                                                @Model.TotalAmount.ToString("#,###đ")
                                            </strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <!-- /total-money -->
                        <!-- /booking-bill -->
                        <div class="col-sm-12">
                            <dl class="nav-dl-list">
                                <dt>
                                    <a href="javascript:;" class="events-tracking"
                                       data-category="Booking" data-action="Button click"
                                       data-label="PromoCode">
                                        <i class="fa fa-plus-circle"></i> Bạn có
                                        mã giảm giá?
                                    </a>
                                </dt>
                                <dd style="display: none;">
                                    <div class="form-inline voucherBox">
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <input id="voucher_code" name="voucher_code"
                                                       class="form-control" type="text"
                                                       placeholder="Nhập mã giảm giá">
                                                <i class="fa fa-spinner fa-pulse"
                                                   style="position: absolute; top: 10px; right: 20px; display: none;"></i>
                                            </div>
                                            <div class="col-sm-3">
                                                <a id="voucherApply" class="btn btn-default" href="#">
                                                    Áp
                                                    dụng
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="display: none;" id="show-vouhcer-alert-msg"
                                         class="bold form-inline">
                                    </div>
                                    <div>
                                        <div style="display: none;" id="showVoucherDescription">
                                            <a>Xem chi tiết khuyến mãi</a>
                                            <div style="display: none; border-radius: 4px; border: 1px solid #cce6f0;"
                                                 class="box-body" id="voucherDescription">
                                            </div>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                            <!-- /nav-dl-list -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.booking -->
        </div>
    </div>
}

<script>
    
     (function () {
        // your page initialization code here
        // the DOM will be available here
          GetProvince("ddlCustomerProvince","@(Model.CustomerInfo.CustomerProvinceId)");
        if (JSON.parse("@(Model.CustomerInfo.CustomerDistrictId != null)".toLowerCase())) {
            GetDistrict('@(Model.CustomerInfo.CustomerProvinceId)', 'ddlCustomerDistrict','@Model.CustomerInfo.CustomerDistrictId');
        }
    })();

    function GetProvince(child, selected) {
        var countryid = 1;
        $.ajax({
            type: "GET",
            url: '@Url.Action("_GetProvince","Ajax")',
            data: { "countryid": countryid },
            beforeSend: function () {
                $('#preloader-wrapper').toggleClass('hide');
            },
            success: function (result) {
                if (result != '') {
                    $('#' + child).empty();
                    $.each(result, function (i, state) {
                        if (this.Value === selected) {
                            $('#' + child).append($('<option/>', { value: this.Value, selected: true }).html(this.Text));
                        }
                        else {
                            $('#' + child).append($('<option/>', { value: this.Value }).html(this.Text));
                        }
                    });
                    $('#' + child).trigger("chosen:updated");
                    $('#preloader-wrapper').toggleClass('hide');
                } else {
                    ShowNotify('Có lỗi xảy ra, vui lòng kiểm tra lại dữ liệu.', 'danger', 'top');
                    $('#preloader-wrapper').toggleClass('hide');
                }
            }
        });
    }

    function GetDistrict(provinceId, child, selected) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("_GetDistrict","Ajax")',
            data: { "provinceId": provinceId },
            beforeSend: function () {
                $('#preloader-wrapper').toggleClass('hide');
            },
            success: function (result) {
                if (result != '') {
                    $('#' + child).empty();
                    $.each(result, function (i, state) {
                        if (this.Value === selected) {
                            $('#' + child).append($('<option/>', { value: this.Value, selected: true }).html(this.Text));
                        }
                        else {
                            $('#' + child).append($('<option/>', { value: this.Value }).html(this.Text));
                        }
                    });
                    $('#' + child).trigger("chosen:updated");
                    $('#preloader-wrapper').toggleClass('hide');
                } else {
                    ShowNotify('Có lỗi xảy ra, vui lòng kiểm tra lại dữ liệu.', 'danger', 'top');
                    $('#preloader-wrapper').toggleClass('hide');
                }
            }
        });
    }
</script>
<script>
    $('#btnBookingMoney').on('click', function (event) {
        if (!$('#form-booking').valid()) {
            event.preventDefault();
            alert('Vui lòng nhập đầy đủ thông tin');

            var validator = $("#form-booking").validate();
            validator.focusInvalid();
            return false;
        }
        if (chboxs.checked) {
            if (inputTotalPointUse.value == "") {
                alert('Vui lòng nhập số điểm muốn sử dụng hoặc bỏ chọn sử dụng điểm HotCombo');
                inputTotalPointUse.focus();
                return false;
            }
        }
        ConfirmBooking(1);
    });
    $('#btnBookingBanking').on('click', function (event) {
        if (chboxs.checked) {
            if (inputTotalPointUse.value == "") {
                alert('Vui lòng nhập số điểm muốn sử dụng hoặc bỏ chọn sử dụng điểm HotCombo');
                inputTotalPointUse.focus();
                return false;
            }
        }
        ConfirmBooking(2);
    });

    function ConfirmBooking(type) {
        var note = "";
        var ctmReq = $('.special_request:checkbox:checked'); // Customer request
        ctmReq.each(function () {
            note += "-" + this.dataset.value + "\n";
        });
        var formData = new FormData($('#form-booking')[0]);
        formData.append("PaymentType", type);
        formData.set("CustomerNote", note + "-" + formData.get("CustomerNote"));
        formData.set("TotalPointUse", inputTotalPointUse.value);
        formData.set("IsTotalPointUse", isTotalPointUse);
        $.ajax({
            url: '/Booking/ConfirmBooking',
            data: formData,
            type: "POST",
            dataType: 'json',
            cache: false,
            processData: false,
            contentType: false,
            beforeSend: function () {

            },
            success: function (result) {
                if (result.Status == 1) {
                    location.href = "/Booking/ConfirmSuccess?Id=" + result.BookingId;
                }
                else {
                    if (result.Status == 0) {
                        alert(result.Message);
                    }
                }
            },
            error: function () {

            }
        })
    }


</script>
@section scripts {
    <script>
        const inputTotalPointUse = document.getElementById('txtTotalPointUse');
        const logTotalPointPrice = document.getElementById('lblTotalPointPrice');
        const inputTotalAmount = document.getElementById('txtTotalAmount');
        const inputTotalAmountEnd = document.getElementById('txtTotalAmountEnd');
        const chboxs = document.getElementById("ckbTotalPointUse");
        var hdTotalAmount = document.getElementById('hdTotalAmount');
        var hdGiaGiamToiDa = document.getElementById('hdGiaGiamToiDa');
        var isTotalPointUse = false;

        function changePrice() {
            if (inputTotalPointUse.value > 0 && inputTotalPointUse.value <= @diemHotCombo && (hdTotalAmount.value - inputTotalPointUse.value * 1000) >= 0) {
                var value = (inputTotalPointUse.value * 1000).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + "đ";
                var valueTotalAmount = (hdTotalAmount.value - inputTotalPointUse.value * 1000).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + "đ";
                logTotalPointPrice.textContent = value;
                inputTotalAmount.textContent = valueTotalAmount;
                inputTotalAmountEnd.textContent = valueTotalAmount;
            } else if (inputTotalPointUse.value > 0 && inputTotalPointUse.value <= @diemHotCombo && (hdTotalAmount.value - inputTotalPointUse.value * 1000) < 0) {
                alert("Số tiến được giảm tối đa là " + hdGiaGiamToiDa.value.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + "đ" + "!");
                inputTotalPointUse.value = "";
                inputTotalPointUse.focus();
                inputTotalAmount.textContent = hdGiaGiamToiDa.value.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + "đ";
                inputTotalAmountEnd.textContent = hdGiaGiamToiDa.value.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + "đ";
                logTotalPointPrice.textContent = "0đ";
            } else {
                alert("Số điểm nhập vào phải > 0 và <= " + @diemHotCombo + "!");
                inputTotalPointUse.value = "";
                inputTotalPointUse.focus();
                inputTotalAmount.textContent = hdGiaGiamToiDa.value.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + "đ";
                inputTotalAmountEnd.textContent = hdGiaGiamToiDa.value.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + "đ";
                logTotalPointPrice.textContent = "0đ";
            }
        }

        function CheckBoxSuDungDiemHotCombo() {
            var vis = "none";
            if (chboxs.checked) {
                isTotalPointUse = true;
                vis = "block";
            }
            else {
                isTotalPointUse = false;
            }
            document.getElementById("txtTotalPointUse").style.display = vis;
        }
    </script>
}