﻿@model tbl_Content

@{
    ViewBag.Title = "Tạo mới nội dung";
}

<h2>Tạo mới nội dung</h2>
@using (Html.BeginForm("Create", "Content", FormMethod.Post, new { id = "Form" }))
{
<div class="col-md-12">
    <!-- general form elements -->
    <div class="box box-primary">        
        <div class="box-body">
            @{
                if (ViewBag.Status == "Success"){
                    <div class="alert alert-success alert-dismissable" style="max-width: 500px;">
                        <i class="fa fa-check"></i>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <b>Cập nhật thành công!</b>
                    </div>    
                }
                else if (ViewBag.Status == "Error")
                {
                    <div class="alert alert-danger alert-dismissable" style="max-width: 500px;">
                        <i class="fa fa-ban"></i>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <b>Cập nhật bị lỗi!</b> @ViewBag.Message
                    </div>
                }
            }            

            @using (Html.BeginMultipartForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend></legend>
      
                    <div class="form-group">
                    <label>Mã nội dung</label>
                        @Html.TextBox("ContenCode", null, new { @class="form-control", @style=" max-width: 600px; " })
                        @Html.ValidationMessageFor(model => model.ContenCode)
                    </div>

                    <div class="form-group">
                        <label>Tên</label>
                        @Html.TextBox("ContentName",null, new { @class="form-control", @style=" max-width: 600px; " })
                    </div>
                    <div class="form-group">
                        <label>Nội dung</label>
                        @Html.HtmlEditor("ContentDetail", "","")
                    </div>

                    <div class="box-footer">
                        <input type="submit" class="btn btn-primary" value="Tạo mới" />
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>
}
<div>
    @*@Html.ActionLink("Trở lại danh sách", "Index")*@
    <a href="#" onclick="history.go(-1); return false;">Quay trở về</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $('#Form').ajaxForm({
        beforeSerialize: function (form, options) {
            for (instance in CKEDITOR.instances)
                CKEDITOR.instances[instance].updateElement();
        },
        success: function (data) { alert(data); history.go(-1); }
    });
</script>