﻿@model tbl_Content

@{
    ViewBag.Title = "Cập nhật nội dung";
}

<h2>Cập nhật nội dung</h2>
@using (Html.BeginForm("Edit", "Content", FormMethod.Post, new { id = "Form" }))
{
<div class="col-md-12">
    <!-- general form elements -->
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">@Model.ContentName</h3>
        </div><!-- /.box-header -->

        <div class="box-body">
            @{
                if (ViewBag.Status == "Success"){
                    <div class="alert alert-success alert-dismissable" style="max-width: 500px;">
                        <i class="fa fa-check"></i>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <b>Cập nhật thành công!</b>
                    </div>
                }
                else if (ViewBag.Status == "Error")
                {
                    <div class="alert alert-danger alert-dismissable" style="max-width: 500px;">
                        <i class="fa fa-ban"></i>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <b>Cập nhật bị lỗi!</b> @ViewBag.Message
                    </div>
                }
            }

            @using (Html.BeginMultipartForm("Edit","Content"))
            {
                @Html.AntiForgeryToken()
                
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.ContenCode)
                @Html.HiddenFor(model => model.DateCreate)

                <div class="form-group">
                    <label>Mã nội dung</label>
                    @Html.TextBoxFor(model => model.ContenCode, new { @class="form-control", @style=" max-width: 600px; ", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.ContenCode)
                </div>

                <div class="form-group">
                    <label>Tên</label>
                    @Html.TextBoxFor(m => m.ContentName, new { @class="form-control", @style=" max-width: 600px; " })
                </div>
                <div class="form-group">
                    <label>Nội dung</label>
                    @Html.HtmlEditor("ContentDetail", Model.ContentDetail,"")
                </div>
                <div class="box-footer">
                    <input type="submit" class="btn btn-primary" value="Cập nhật"/>
                </div>                
            }
        </div>
    </div>
</div>
}
<div>
    @*@Html.ActionLink("Trở lại danh sách", "Index")*@
    <a href="#" onclick="history.go(-1); return false;">Quay trở về</a>
</div>
<script type="text/javascript">
    $('#Form').ajaxForm({
        beforeSerialize: function (form, options) {
            for (instance in CKEDITOR.instances)
                CKEDITOR.instances[instance].updateElement();
        },
        success: function (data) { alert(data); history.go(-1); }
    });
</script>