﻿@model IEnumerable<tbl_Content>

@{
    ViewBag.Title = "Quản trị nội dung";
}

<h2>Danh sách nội dung</h2>

<div>
    <div class="box box-primary">
        <div class="box-body">         
            @using (Html.BeginForm("Index", "Content", FormMethod.Post, new { id = "Form" }))
            {
                <input type="text" id="page" name="page" style="display:none;" />
                <div class="row" style="padding: 0px;">
                    <div class="col-xs-12 col-md-2 col-left">
                        <div class="form-group">
                            <label>Mã nội dung</label>
                            <div>
                                @Html.TextBox("ContenCode", "", new { @class = "form-control", @style = " max-width: 150px; " })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2 col-left">
                        <div class="form-group">
                            <label>Tên nội dung</label>
                            <div>
                                @Html.TextBox("ContentName", "", new { @class = "form-control", @style = " max-width: 200px; " })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2  col-left">
                        <div class="form-group">
                            <label> </label>
                            <div>
                                <input type="submit" class="btn btn-primary" value="Tìm kiếm" />
                            </div>
                        </div>
                    </div>
                </div>                
            }
        </div>
    </div>
    <!-- box End -->
    <!-- box Start -->
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">
                Danh sách nội dung
                <i class="fa fa-plus"></i> @Html.ActionLink("Tạo mới", "Create")
            </h3>
           
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div id="myTabContent" class="tab-content">
 
                    <table id="myTable" class="table table-bordered table-hover">
                        <thead>
                            <tr style="background-color: #1b80c8; color: white; font-size: 11.5px">
                                <th>
                                    Mã nội dung
                                </th>
                                <th>
                                    Tên tên nội dung
                                </th>
                                <th>
                                    Ngày tạo
                                </th>
                                <th>
                                    Ngày cập nhật
                                </th>
                                <th style="width:100px;min-width:80px">

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.ID">
                                    <td data-search="@item.ContenCode">@Html.ActionLink(item.ContenCode, "Edit", new { id = item.ID })</td>
                                    <td data-search="@item.ContentName">@item.ContentName</td>

                                    <td data-search="@item.DateCreate">@item.DateCreate</td>
                                    <td data-search="@item.DateUpdate">@item.DateUpdate</td>
                                    <td class="tt-wrapper text-center">                                   
                                        <a href="~/Admin/Content/Edit?id=@item.ID"> <i class="fa fa-edit"></i>Cập nhật</a>                                    
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
     
                
            </div>
        </div>
    </div>
    <!-- box End -->
</div>


<script type="text/javascript">
    $('#page a').click(function () {
        $('#page').val(this.textContent);
        $('#Form').submit();
        return false;
    });
    $(document).ready(function () {
            //$("#example2").DataTable();
            $('#myTable').DataTable({
                "order": [[1, "asc"]]
            });
        });
</script>
