﻿<div class="container payment">
    <div class="row">
        <!-- col-left -->
        <div class="col-md-8 col-left">
            <!-- info-pay-hotel -->
            <div class="box info-pay-hotel">
                <div class="box-header">
                    <div class="booking-code">
                        <img alt="hotcombo"
                             src="https://hotcombo.vn/Content/assets/images/logo-combo.png" width="250px" /><br />
                        <div colspan="2" align="center" style="font-weight: bold; font-size: 30px; color: #fc7700">
                            <span>Phiếu xác nhận booking</span>
                        </div>
                        <br />
                        Mã đơn phòng: <strong class="blue"><a href="{LinkBooking}" target="_blank" style="text-decoration:none;">{BookingCode}</a></strong>
                    </div>
                </div>
                <div class="box-body tooltip-no-max-width">
                    <h4 class="hotel-name">
                        <strong>{HotelName}</strong>
                    </h4>
                    <p class="mg-bt-5">
                        <i class="fa fa-map-marker"></i> {HotelAddress}
                    </p>
                    <div class="row">
                        <div class="col-md-4">
                            <b>
                                Ngày nhận phòng:
                            </b>{CheckIn}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <b>
                                Ngày trả phòng:
                            </b>{CheckOut}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <b>Số phòng:</b>
                            {RoomCount} phòng
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <b>Số đêm:</b>{CountDay} đêm
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <b>Khách hàng:</b>{CustomerName}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <b>Điện thoại:</b>{CustomerPhone}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <b>Email:</b>{CustomerEmail}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.info-pay-hotel -->
            <!-- info-pay-hotel-list -->
            <div class="box info-pay-hotel-list">
                <div class="box-header">
                    <h4 class="title-sm">Thông tin chi tiết</h4>
                </div>
                <div class="box-body">
                    <div class="info-pay-hotel-list-item">
                        <dl class="dl-horizontal dl-left">
                            <dt>{RoomName}</dt>
                            <dd>
                                {RoomCount} phòng
                            </dd>
                            <dd>
                                {PersonCount} khách
                            </dd>
                            <dd>
                            </dd>
                        </dl>
                        <div class="info-pay-hotel-warning">
                            <p>- Đơn phòng không hoàn, không hủy, không thay đổi.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.info-pay-hotel-list -->
           
        </div>
        <!-- /.col-left -->
        <!-- col-right -->
        <div class="col-md-4 col-right">
            <div class="js-fixed" style="">
                <div class="box box-green">
                    <div class="box-header">
                        <h4 class="title-sm">
                            <strong>
                                <span style="color: #fc7700; border-bottom: 1px solid #fc7700; padding-bottom: 3px; font-weight: bold">Thông tin thanh toán:</span>
                            </strong>
                        </h4>
                    </div>
                    <!-- booking-bill -->
                    <div class="booking-bill">
                        <table class="table" cellpadding="0" cellspacing="0" width="600" border="0">
                            <tbody>
                                <!--<tr>
                                    <td>
                                        Tổng số tiền phòng, giường phụ <i class="fa fa-info-circle js-popup"></i>
                                    </td>
                                    <td class="text-right">
                                        <span class="price">{RoomAmount}đ</span>
                                    </td>
                                </tr>-->
                                <tr class="info-popup">
                                    <td>
                                        {RoomName}
                                    </td>
                                    <td class="text-right">
                                        <span class="price">{RoomAmount}đ</span>
                                        <br>
                                        <small>{CountDay} đêm</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mg-0 text-xs">
                                            10% thuế
                                        </p>
                                    </td>
                                    <td class="text-right">
                                        <span class="price">{Tax}đ</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mg-0 text-xs">
                                            Phí giao dịch tại HotCombo
                                        </p>
                                    </td>
                                    <td class="text-right">
                                        <span class="price">Miễn phí</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table total-money" cellpadding="0" cellspacing="0" width="600" border="0">
                            <tbody>
                                <tr>
                                    <td>
                                        Tổng tiền
                                    </td>
                                    <td class="text-right">
                                        <span class="price">
                                            {TotalAmount}đ
                                        </span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong class="text-df">THANH TOÁN</strong> <i>({CountDay} đêm)</i>
                                        <p class="mg-0 text-xs">
                                            Đã bao gồm thuế phí
                                        </p>
                                    </td>
                                    <td class="text-right">
                                       
                                            {TotalAmount} <small>đ</small>
                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- /.table-money -->
                    </div>
                    <!-- /.booking-bill -->
                </div>
                <!-- Sign-up to get vpoint -->
                <!-- End sign-up to get vpoint -->
                <!--<div class="box">
                    <div class="box-body">
                        <ul class="nav-list-support">
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-phone fa-lg mg-r-5"></i> Hỗ trợ khách hàng
                                </a>
                            </li>
                        </ul>
                        <dl class="dl-horizontal dl-left">
                            <dt>Hà Nội:</dt>
                            <dd> 024 7109 9999</dd>
                            <dt>TP.HCM:</dt>
                            <dd> 028 7109 9998</dd>
                        </dl>
                    </div>
                </div>-->
            </div>
        </div>
        <!-- /.col-right -->
        <!--Payment Status-->

        <div class="box">
            <div class="box-header">
                <strong>
                    <span style="color: #fc7700; border-bottom: 1px solid #fc7700; padding-bottom: 3px; font-weight: bold">Hướng dẫn Thanh toán - Chuyển Khoản:</span>
                </strong>
            </div>
            <div class="box-body">
                <ul class="nav-guide-payment">
                    <li>
                        <i class="fa fa-circle"></i> Nội dung chuyển khoản: <strong class="blue">
                            "{CustomerName} ,{BookingCode}"
                        </strong>
                    </li>
                    <li>
                        {HuongDanThanhToanChuyenKhoan}
                    </li>
                    <li>
                        <i class="fa fa-circle"></i> Để được xác nhận thanh toán nhanh nhất, Quý khách vui lòng liên hệ:
                    </li>
                    <li>
                        {ThongTinLienHe}
                    </li>
                </ul>
            </div>
        </div>
        <div class="box">
            <div class="box-body">
                <h4 class="title-sm">Bạn đã thanh toán thành công?</h4>
                <p>
                    Hãy thông báo khi bạn đã hoàn tất thanh toán để HotCombo xác nhận đơn phòng thành công nhanh
                    hơn!
                </p>
                <div class="text-center mg-t-15">
                    <button id="confirmPayment" class="btn btn-blue events-tracking">
                        <a href="{LinkBooking}" target="_blank" style="text-decoration:none;">Vào đây để thông báo tôi đã thanh toán</a>
                    </button>
                </div>
            </div>
        </div>

        <!--Payment Status-->
        <div colspan="2" align="center" style="font-weight: bold; font-size: 30px; color: #fc7700">
            <span>Kính chúc quý khách có chuyến du lịch vui vẻ!</span>
        </div>
    </div>
</div>
