/* Theme Variables */
/* Optional Variables  Ex- Success, Error, Info, Warning */
/* Default Black and White Colors */
/*   Mixins  */
/*  Gradients  */
/*  Transition  */
/*  Box Sizing  */
/*  Box Shadow  */
/*  Border Radius  */
/*  Opacity  */

/*#scrollbar .warning-thumb {
        background-color: #ffb400;
    }

    #scrollbar-success .thumb {
        background-color: #74b749;
    }

    #scrollbar-denger .thumb {
        background-color: #f63131;
    }*/

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #333333;
    background: #262626;
}

a {
    color: #337ab7;
    text-decoration: none;
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -ms-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    transition: All 0.2s ease;
}

    a:hover {
        color: #ed6d49;
        text-decoration: none;
    }

.clear {
    clear: both;
}

table {
    background-color: white;
}

table .fa, .box-header .fa {
    font-size: 22px;
}

table a:hover {
    color:#ed6d49;
}

table tr td {
    vertical-align: middle !important;
}

.number::-webkit-inner-spin-button, .number::-webkit-outer-spin-button {
    opacity: 1;
}

@media (min-width: 980px) {
    .nav-collapse.collapse {
        height: auto !important;
        overflow: visible !important;
    }
}

@media (min-width: 768px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
}

.no-margin {
    margin: 0!important;
}

.no-border {
    border: none !important;
}

.no-padding {
    padding: 0!important;
}

.less-bottom-margin {
    margin-bottom: 5px!important;
}

.center-align-text {
    text-align: center!important;
}

.right-align-text {
    text-align: right!important;
}

.left-align-text {
    text-align: left!important;
}

.text-justify {
    text-align: justify!important;
}

.progress-lg {
    height: 9px;
    margin-bottom: 7px;
}

.progress-sm {
    height: 6px;
    margin-bottom: 7px;
}

.progress-mini {
    height: 3px;
    margin-bottom: 5px;
}

.progress-mini-x {
    height: 1px;
    margin-bottom: 5px;
}

.success-bg {
    background: #74b749 !important;
    color: white !important;
}

.danger-bg {
    background: #f63131 !important;
    color: white !important;
}

.info-bg {
    background: #3693cf !important;
    color: white !important;
}

.warning-bg {
    background: #ed6d49 !important;
    color: white !important;
}

.facebook-bg {
    background: #4c66a4 !important;
    color: white !important;
}

.twitter-bg {
    background: #00abf0 !important;
    color: white !important;
}

.gplus-bg {
    background: #cd3d2b !important;
    color: white !important;
}

.grey-bg {
    background: #999 !important;
    color: white !important;
}

.semi-grey-bg {
    background: #ccc !important;
    color: #666 !important;
}

.light-grey-bg {
    background: #f7f7f7 !important;
    color: #666 !important;
}

.lg-border-radius {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.md-border-radius {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.sm-border-radius {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.lg-padding {
    padding: 20px;
}

.md-padding {
    padding: 10px;
}

.sm-padding {
    padding: 5px;
}

.no-border {
    border: none !important;
}

.btn {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

    .btn:focus {
        outline: none;
    }

@media (max-width: 767px) {
    .btn {
        margin: 2px;
    }
}

iframe.wysihtml5-sandbox {
    width: 100% !important;
    border: 1px solid #e6e6e6 !important;
    height: 200px !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    /*margin-bottom: 20px !important;*/
}

.text-success {
    color: #74b749 !important;
}

.text-danger {
    color: #f63131 !important;
}

.text-info {
    color: #3693cf !important;
}

.text-warning {
    color: #ffb400 !important;
}

.text-facebook {
    color: #4c66a4 !important;
}

.text-twitter {
    color: #00abf0 !important;
}

.text-gplus {
    color: #cd3d2b !important;
}

.jumbotron {
    padding: 10px;
}

    .jumbotron p {
        font-size: 12px;
        margin-bottom: 0;
    }

@media screen and (min-width: 768px) {
    .container .jumbotron {
        padding: 20px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
}

blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 20px;
    border-left: 4px solid #ebebeb;
}

    blockquote p {
        margin-bottom: 0;
        font-size: 12px;
        font-weight: 300;
        line-height: 24px;
    }

    blockquote .title {
        color: #ed6d49;
        font-weight: bold;
        font-size: 14px;
    }

    blockquote small {
        display: block;
        line-height: 20px;
        color: #999999;
    }

        blockquote small:before {
            content: '\2014 \00A0';
        }

    blockquote.pull-right {
        float: right;
        padding-right: 15px;
        padding-left: 0;
        border-right: 5px solid #eeeeee;
        border-left: 0;
    }

        blockquote.pull-right p {
            text-align: right;
        }

        blockquote.pull-right small {
            text-align: right;
        }

            blockquote.pull-right small:before {
                content: '';
            }

            blockquote.pull-right small:after {
                content: '\00A0 \2014';
            }

.stylish-lists .upper-alpha {
    list-style: upper-alpha;
}

.stylish-lists .lower-alpha {
    list-style: lower-alpha;
}

.stylish-lists .roman-list {
    list-style: upper-roman;
}

.stylish-lists .decimal-leading-zero {
    list-style: decimal-leading-zero;
}

.stylish-lists ul, .stylish-lists ol {
    padding: 0;
    margin: 0 0 10px 25px;
    list-style: disc;
}

    .stylish-lists ul ul, .stylish-lists ul ol {
        margin-bottom: 0;
    }

    .stylish-lists ol ol, .stylish-lists ol ul {
        margin-bottom: 0;
    }

.stylish-lists li {
    line-height: 20px;
}

.stylish-lists ul.unstyled, .stylish-lists ol.unstyled, .stylish-lists ul.inline, .stylish-lists ol.inline {
    margin-left: 0;
    list-style: none;
}

    .stylish-lists ul.inline > li, .stylish-lists ol.inline > li {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
    }

.stylish-lists dl {
    margin-bottom: 20px;
}

.stylish-lists dt, .stylish-lists dd {
    line-height: 20px;
}

.stylish-lists dt {
    font-weight: normal; /*bold*/
}

.stylish-lists dd {
    margin-left: 20px;
}

.stylish-lists .dl-horizontal {
    *zoom: 1;
}

    .stylish-lists .dl-horizontal:before {
        display: table;
        content: "";
        line-height: 0;
    }

    .stylish-lists .dl-horizontal:after {
        display: table;
        content: "";
        line-height: 0;
        clear: both;
    }

    .stylish-lists .dl-horizontal dt {
        float: left;
        width: 130px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .stylish-lists .dl-horizontal dd {
        margin-left: 150px;
    }

/*  Login  */
.sign-in-container {
    margin: 30px auto;
}

    .sign-in-container .login-wrapper {
        background: #fcfcfc;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 18px 6px -8px #121212, 0 0 0 #333333;
        -moz-box-shadow: 0 18px 6px -8px #121212, 0 0 0 #333333;
        box-shadow: 0 18px 6px -8px #121212, 0 0 0 #333333;
        border: 2px solid #d9d9d9;
        position: relative;
    }

        .sign-in-container .login-wrapper .header {
            padding: 30px 20px 10px 20px;
            margin: 0;
        }

            .sign-in-container .login-wrapper .header h3 {
                line-height: 40px;
                margin: 0;
                padding: 0;
                color: #f63131;
            }

            .sign-in-container .login-wrapper .header p {
                font-size: 12px;
                text-align: left;
                line-height: 18px;
                color: gray;
                padding: 10px 0;
                margin: 0;
            }

            .sign-in-container .login-wrapper .header .logo img {
                max-width: 80px;
                float: right;
            }

        .sign-in-container .login-wrapper .content {
            padding: 10px 20px;
        }

            .sign-in-container .login-wrapper .content .input {
                height: 30px;
                font-weight: normal;
                color: #cccccc;
                box-shadow: none;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
            }

                .sign-in-container .login-wrapper .content .input:hover, .sign-in-container .login-wrapper .content select:hover {
                    background: #fafafa;
                }

        .sign-in-container .login-wrapper .actions {
            padding: 10px 20px;
            background: white;
            border-radius: 0 0 4px 4px;
        }

            .sign-in-container .login-wrapper .actions .btn {
                float: right;
            }

            .sign-in-container .login-wrapper .actions .link {
                float: right;
                padding: 8px;
                margin-right: 10px;
                color: #737373;
            }

.input-group .input-group-addon i {
    display: block;
    cursor: pointer;
    width: 18px;
    height: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/*  Tiny Scrollbar CSS  */
#scrollbar, #scrollbar-one, #scrollbar-two, #scrollbar-three {
    width: 100%;
    clear: both;
    margin: 0;
}

    #scrollbar .viewport, #scrollbar-one .viewport, #scrollbar-two .viewport, #scrollbar-three .viewport {
        width: 98%;
        min-height: 200px; /*height: 270px;*/
        overflow: hidden;
        position: relative;
    }

    #scrollbar .overview, #scrollbar-one .overview, #scrollbar-two .overview, #scrollbar-three .overview {
        list-style: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    #scrollbar .thumb, #scrollbar-one .thumb, #scrollbar-two .thumb, #scrollbar-three .thumb {
        background-color: #ffb400;
    }

        #scrollbar .thumb .end, #scrollbar-one .thumb .end, #scrollbar-two .thumb .end, #scrollbar-three .thumb .end {
            background-color: #ffb400;
        }

    #scrollbar .scrollbar, #scrollbar-one .scrollbar, #scrollbar-two .scrollbar, #scrollbar-three .scrollbar {
        position: relative;
        float: right;
        width: 3px;
    }

    #scrollbar .track, #scrollbar-one .track, #scrollbar-two .track, #scrollbar-three .track {
        background-color: #cccccc;
        height: 100%;
        width: 3px;
        position: relative;
        padding: 0;
    }

    #scrollbar .thumb, #scrollbar-one .thumb, #scrollbar-two .thumb, #scrollbar-three .thumb {
        height: 20px;
        width: 3px;
        cursor: pointer;
        overflow: hidden;
        position: absolute;
        top: 0;
    }

        #scrollbar .thumb .end, #scrollbar-one .thumb .end, #scrollbar-two .thumb .end, #scrollbar-three .thumb .end {
            overflow: hidden;
            height: 5px;
            width: 13px;
        }

    #scrollbar .disable, #scrollbar-one .disable, #scrollbar-two .disable, #scrollbar-three .disable {
        display: none;
    }

    #scrollbar-one .thumb, #scrollbar-two .thumb {
        background-color: #74b749;
    }

        #scrollbar-one .thumb .end, #scrollbar-two .thumb .end {
            background-color: #74b749;
        }

.noSelect {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.info-fade {
    color: gray;
}

.right-align-text {
    text-align: right !important;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Tab style */
#scrollUp {
    bottom: 0px;
    right: 30px;
    width: 70px;
    height: 70px;
    padding: 15px 5px;
    font-size: 12px;
    text-align: center;
    color: white;
    background: #ed6d49;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    -webkit-transition: bottom 150ms linear;
    -moz-transition: bottom 150ms linear;
    -ms-transition: bottom 150ms linear;
    -o-transition: bottom 150ms linear;
    transition: bottom 150ms linear;
}

@media (max-width: 767px) {
    #scrollUp {
        display: none !important;
    }
}

.nav-tabs {
    padding: 4px 4px 0 0px;
    border-color: #C5D0DC;
    margin-bottom: 0!important;
    margin-left: 0;
    position: relative;
    top: 1px;
    border-bottom: 1px solid #ddd;
}

.nav-tabs>li>a {
    border-color: #c5d0dc;
    background-color: #F9F9F9;
    color: #999;
    margin-right: -1px;
    line-height: 18px;
    position: relative;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #576373;
    border-color: #c5d0dc #c5d0dc transparent;
    border-top: 2px solid #4c8fbd;
    background-color: #FFF;
    z-index: 1;
    line-height: 18px;
    margin-top: -1px;
    box-shadow: 0 -2px 3px 0 rgba(0,0,0,.15);
}

.tab-content {
    padding: 15px;
    border: 1px solid #e6e6e6;
    background: white;
    border-top: 0;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
}

    .tab-content>.active {
        overflow: hidden;
    }

.breadcrumb {
    background: #ebebeb;
}

    .breadcrumb a {
        color: #333333;
        font-weight: 600;
    }

.actions-button [data-icon]:before {
    font-size: 13px;
}

.actions-button li {
    float: left;
    margin-right: 10px;
}

    .actions-button li:last-child {
        margin-right: 0;
    }

    .actions-button li a {
        color: #666666;
    }

/*  Next-prev Buttons  */
.next-prev-btn-container {
    margin-left: 10px;
}

    .next-prev-btn-container .button {
        display: inline-block;
        position: relative;
        color: white;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
        text-align: center;
        padding: 4px 17px;
        font-size: 12px;
        font-weight: bold;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid #e8481b;
        background: #ed6d49;
    }

        .next-prev-btn-container .button:hover {
            color: #d9d9d9;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
        }

        .next-prev-btn-container .button.prev {
            border-left: none;
        }

            .next-prev-btn-container .button.prev:after {
                background: #ed6d49;
                content: '';
                position: absolute;
                height: 50%;
                width: 15px;
                border-left: 1px solid #e8481b;
                left: -5px;
                top: 1px;
                -webkit-transform: skew(-40deg, 0);
                -moz-transform: skew(-40deg, 0);
                -o-transform: skew(-40deg, 0);
                -ms-transform: skew(-40deg, 0);
                transform: skew(-40deg, 0);
            }

            .next-prev-btn-container .button.prev:before {
                background: #ed6d49;
                content: '';
                position: absolute;
                height: 48%;
                width: 15px;
                border-left: 1px solid #e8481b;
                bottom: 1px;
                left: -5px;
                -webkit-transform: skew(40deg, 0);
                -moz-transform: skew(40deg, 0);
                -o-transform: skew(40deg, 0);
                -ms-transform: skew(40deg, 0);
                transform: skew(40deg, 0);
            }

        .next-prev-btn-container .button.next {
            border-right: none;
        }

            .next-prev-btn-container .button.next:after {
                background: #ed6d49;
                content: '';
                position: absolute;
                height: 48%;
                width: 15px;
                border-right: 1px solid #e8481b;
                right: -5px;
                bottom: 1px;
                -webkit-transform: skew(-40deg, 0);
                -moz-transform: skew(-40deg, 0);
                -o-transform: skew(-40deg, 0);
                -ms-transform: skew(-40deg, 0);
                transform: skew(-40deg, 0);
            }

            .next-prev-btn-container .button.next:before {
                background: #ed6d49;
                content: '';
                position: absolute;
                height: 50%;
                width: 15px;
                border-right: 1px solid #e8481b;
                top: 1px;
                right: -5px;
                -webkit-transform: skew(40deg, 0);
                -moz-transform: skew(40deg, 0);
                -o-transform: skew(40deg, 0);
                -ms-transform: skew(40deg, 0);
                transform: skew(40deg, 0);
            }

/*  Horizontal Rule Styles  */
.hr-stylish {
    padding: 0;
    border: none;
    line-height: 0;
    border-top: medium double #b3b3b3;
    color: #b3b3b3;
    text-align: center;
}

    .hr-stylish:after {
        content: "";
        display: inline-block;
        position: relative;
        top: -12px;
        font-size: 14px;
        padding: 0 10px;
        background: #f7f7f7;
    }

.hr-stylish-1 {
    padding: 0;
    border: none;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f7f7f7, #b3b3b3, gray, #b3b3b3, #f7f7f7);
    background-image: -moz-linear-gradient(left, #f7f7f7, #b3b3b3, gray, #b3b3b3, #f7f7f7);
    background-image: -ms-linear-gradient(left, #f7f7f7, #b3b3b3, gray, #b3b3b3, #f7f7f7);
    background-image: -o-linear-gradient(left, #f7f7f7, #b3b3b3, gray, #b3b3b3, #f7f7f7);
    color: gray;
    text-align: center;
}

    .hr-stylish-1:after {
        content: "";
        display: inline-block;
        position: relative;
        top: -12px;
        font-size: 14px;
        padding: 0 10px;
        background: #f7f7f7;
    }

/*  Beautiful Breadcrumb  */
.breadcrumb-beauty {
    list-style: none;
    overflow: hidden;
    font-size: 12px;
    background: #e6e6e6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
}

    .breadcrumb-beauty li {
        float: left;
    }

        .breadcrumb-beauty li a {
            background: #e6e6e6;
            color: #4d4d4d;
            padding: 4px 0 4px 48px;
            position: relative;
            display: block;
            float: left;
        }

            .breadcrumb-beauty li a:after {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 50px solid transparent;
                border-bottom: 50px solid transparent;
                border-left: 30px solid #e6e6e6;
                position: absolute;
                top: 50%;
                margin-top: -50px;
                left: 100%;
                z-index: 2;
            }

        .breadcrumb-beauty li:first-child a {
            padding-left: 10px;
            -webkit-border-radius: 2px 0 0 2px;
            -moz-border-radius: 2px 0 0 2px;
            border-radius: 2px 0 0 2px;
        }

        .breadcrumb-beauty li:nth-child(2) a {
            background: #d9d9d9;
        }

            .breadcrumb-beauty li:nth-child(2) a:after {
                border-left-color: #d9d9d9;
            }

        .breadcrumb-beauty li:nth-child(3) a {
            background: #d1d1d1;
        }

            .breadcrumb-beauty li:nth-child(3) a:after {
                border-left-color: #d1d1d1;
            }

        .breadcrumb-beauty li:nth-child(4) a {
            background: #c9c9c9;
        }

            .breadcrumb-beauty li:nth-child(4) a:after {
                border-left-color: #c9c9c9;
            }

        .breadcrumb-beauty li:nth-child(5) a {
            background: #c2c2c2;
        }

            .breadcrumb-beauty li:nth-child(5) a:after {
                border-left-color: #c2c2c2;
            }

        .breadcrumb-beauty li:last-child a {
            background: transparent !important;
            color: black;
            pointer-events: none;
            cursor: default;
        }

            .breadcrumb-beauty li:last-child a:after {
                border-left-color: transparent;
            }

/*  Header Starts  */
header {
    border-top: 4px solid #3693cf;
    background-color: #212121;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), color-stop(85%, #262626), to(#0d0d0d));
    background-image: -webkit-linear-gradient(#333333, #262626 85%, #0d0d0d);
    background-image: -moz-linear-gradient(top, #333333, #262626 85%, #0d0d0d);
    background-image: -o-linear-gradient(#333333, #262626 85%, #0d0d0d);
    background-image: linear-gradient(#333333, #262626 85%, #0d0d0d);
    background-repeat: no-repeat;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

    header .logo {
        max-width: 360px;
        padding-left: 15px;
        float: left;
    }

        header .logo:hover {
            opacity: 0.7;
        }

    header .title {
        color: #B5B5B5;
        position: absolute;
        width: 100%;
        text-align: center;
    }

        header .title h2 {
            font-size: 25px;
        }

    header .mini-nav {
        position: absolute;
        right: 50px;
        top: 0;
        height: 56px;
        margin: 0px 20px 0 0;
    }

        header .mini-nav li {
            background-color: #1e1e1e;
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), color-stop(85%, #262626), to(black));
            background-image: -webkit-linear-gradient(#333333, #262626 85%, black);
            background-image: -moz-linear-gradient(top, #333333, #262626 85%, black);
            background-image: -o-linear-gradient(#333333, #262626 85%, black);
            background-image: linear-gradient(#333333, #262626 85%, black);
            background-repeat: no-repeat;
            -webkit-box-shadow: 0 0 30px black inset;
            -moz-box-shadow: 0 0 30px black inset;
            box-shadow: 0 0 30px black inset;
            padding: 0px 30px;
            float: left;
            position: relative;
            height: 100%;
            border-right: 1px solid #333333;
            display: block;
            cursor: pointer;
        }

            header .mini-nav li a {
                color: #eeeeee;
                font-size: 11px;
            }

            header .mini-nav li .fa {
                padding-top: 10px;
                line-height: 38px;
                font-size: 14px;
            }

            header .mini-nav li .info-label, header .mini-nav li .info-label-green, header .mini-nav li .info-label-orange {
                display: inline-block;
                position: absolute;
                top: 8px;
                right: 15px;
                width: 24px;
                text-align: center;
                background: #3693cf;
                color: white;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
                z-index: 1000;
                line-height: 16px;
            }

            header .mini-nav li .info-label-green {
                background: #74b749;
            }

                header .mini-nav li .info-label-green:before {
                    background: #74b749;
                }

            header .mini-nav li .info-label-orange {
                background: #ed6d49;
            }

                header .mini-nav li .info-label-orange:before {
                    background: #ed6d49;
                }

            header .mini-nav li:hover {
                background-color: #0a0a0a;
                background-image: -webkit-gradient(linear, 0 0, 0 100%, from(black), color-stop(85%, black), to(#333333));
                background-image: -webkit-linear-gradient(black, black 85%, #333333);
                background-image: -moz-linear-gradient(top, black, black 85%, #333333);
                background-image: -o-linear-gradient(black, black 85%, #333333);
                background-image: linear-gradient(black, black 85%, #333333);
                background-repeat: no-repeat;
                -webkit-box-shadow: 0 0 10px black inset;
                -moz-box-shadow: 0 0 10px black inset;
                box-shadow: 0 0 10px black inset;
            }

            header .mini-nav li:first-child {
                border-left: 1px solid #333333;
            }

    header .user-profile {
        position: absolute;
        right: 5px;
        top: 0;
        cursor: pointer;
        line-height: 24px;
        margin: 8px 15px 0 0;
    }

        header .user-profile img {
            width: 32px;
            height: 32px;
            /*border: 2px solid white;*/
        }

        header .user-profile .caret {
            border-top: 4px solid white;
            margin-top: 2px;
            display: block;
            margin: auto;
        }

@media (max-width: 767px) {
    header .user-profile {
        display: none;
    }

    header .mini-nav {
        right: 5px;
        margin: 0px 10px 0 0;
    }

        header .mini-nav li {
            padding: 0 20px;
        }
}
/* Main Navigation starts  */
.top-nav {
    margin-bottom: 0px;
}

    .top-nav ul li {
        width: 95px;
        float: left;
        margin-right: 1px;
    }

        .top-nav ul li a {
            -webkit-border-radius: 4px 4px 0 0;
            -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
            background-color: #e4e4e4;
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), color-stop(85%, #ebebeb), to(#cccccc));
            background-image: -webkit-linear-gradient(#f2f2f2, #ebebeb 85%, #cccccc);
            background-image: -moz-linear-gradient(top, #f2f2f2, #ebebeb 85%, #cccccc);
            background-image: -o-linear-gradient(#f2f2f2, #ebebeb 85%, #cccccc);
            background-image: linear-gradient(#f2f2f2, #ebebeb 85%, #cccccc);
            background-repeat: no-repeat;
            text-align: center;
            -webkit-transition: All 0.2s ease;
            -moz-transition: All 0.2s ease;
            -ms-transition: All 0.2s ease;
            -o-transition: All 0.2s ease;
            transition: All 0.2s ease;
            display: block;
            padding: 20px 10px 10px 10px;
            text-transform: uppercase;
            color: #666666;
            font-size: 11px;
        }

            .top-nav ul li a .fa {
                text-shadow: 0 0 0 transparent;
                font-size: 14px;
                display: block;
            }

            .top-nav ul li a:hover {
                background: #3693cf;
                color: white;
            }

                .top-nav ul li a:hover .icon {
                    background: #5fa9d9;
                    border: 4px solid #246895;
                }

        .top-nav ul li .selected,.top-nav ul li .active {
            -webkit-border-radius: 4px 4px 0 0;
            -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
            background: #3693cf;
            color: white;
            text-shadow: 1px 1px 1px #1f5a80;
        }

            .top-nav ul li .selected:hover {
                background: #3693cf;
                color: white;
                text-shadow: 1px 1px 1px #1f5a80;
            }

@media (max-width: 767px) {
    .top-nav {
        /*display: none;*/
    }
}
/* Sub Navigation starts  */
.sub-nav {
    background-color: #3187bf;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3693cf), color-stop(85%, #3693cf), to(#1f5a80));
    background-image: -webkit-linear-gradient(#3693cf, #3693cf 85%, #1f5a80);
    background-image: -moz-linear-gradient(top, #3693cf, #3693cf 85%, #1f5a80);
    background-image: -o-linear-gradient(#3693cf, #3693cf 85%, #1f5a80);
    background-image: linear-gradient(#3693cf, #3693cf 85%, #1f5a80);
    background-repeat: no-repeat;
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0;
    height: 48px;
    line-height: 48px;
}

    .sub-nav li {
        float: left;
        margin-top: 14px;
        line-height: 100%;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

        .sub-nav li a {
            color: white;
            font-size: 12px;
            text-shadow: none;
            line-height: 18px;
            height: 18px;
            padding: 2px 20px;
        }

            .sub-nav li a:hover {
                opacity: 0.7;
            }

        .sub-nav li:last-of-type {
            border-right: none;
        }

        .sub-nav li:first-of-type {
            border-right: none;
        }

        .sub-nav li .selected, .sub-nav li .active {
            color: black;
        }

        .sub-nav li .heading {
            font-size: 16px;
            line-height: 16px;
            padding-right: 10px;
            color: white;
            opacity: 1;
        }

    .sub-nav .input-search {
        float: right;
        margin: 8px 15px 0 0;
        background: rgba(0, 0, 0, 0.3);
        border: 1px solid #5fa9d9;
        width: 220px;
        line-height: 21px;
        padding: 4px 10px;
    }

    .sub-nav ::-webkit-input-placeholder {
        color: #c6e0f1;
    }

    .sub-nav ::-moz-placeholder {
        color: #c6e0f1;
    }

    .sub-nav ::-moz-placeholder {
        color: #c6e0f1;
    }

    .sub-nav :-ms-input-placeholder {
        color: #c6e0f1;
    }

    .sub-nav .btn-group {
        line-height: 24px;
        float: right;
        margin-top: 8px;
        margin-right: 20px;
    }

        .sub-nav .btn-group li {
            float: none;
            margin-top: 0;
            border-right: none;
        }

            .sub-nav .btn-group li a {
                height: 30px;
                line-height: 30px;
                color: #4d4d4d;
            }

            .sub-nav .btn-group li:hover {
                opacity: 1;
            }

@media (max-width: 767px) {
    .sub-nav {
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
    }
}
/*  DASHBOARD CSS Starts here  */
.dashboard-container {
    margin-top: 80px;
}

.wrapper {
    position: relative;
    background: #f7f7f7;
    min-height: 480px;
    padding: 15px;
    /*  Left Sidebar Container Starts Here  */
    /*  Left Sidebar Container Ends Here  */
    /*  Right Sidebar Container Starts Here  */
    /*  Right Sidebar Container Ends Here  */
}

    .wrapper .full {
        margin-right: 0px !important;
    }

    .wrapper .content-left {
        margin-right: 260px;
    }

        .wrapper .content-left .box {
            background: #fafafa;
            border: 1px solid #cfcfcf;
            clear: both;
            margin-top: 0px;
            margin-bottom: 30px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

            .wrapper .content-left .box .box-header {
                background-color: #e8e8e8;
                /* Fallback Color */
                background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#e8e8e8));
                /* Saf4+, Chrome */
                background-image: -webkit-linear-gradient(top, #fcfcfc, #e8e8e8);
                /* Chrome 10+, Saf5.1+, iOS 5+ */
                background-image: -moz-linear-gradient(top, #fcfcfc, #e8e8e8);
                /* FF3.6 */
                background-image: -ms-linear-gradient(top, #fcfcfc, #e8e8e8);
                /* IE10 */
                background-image: -o-linear-gradient(top, #fcfcfc, #e8e8e8);
                /* Opera 11.10+ */
                background-image: linear-gradient(top, #fcfcfc, #e8e8e8);
                -webkit-border-radius: 2px 2px 0 0;
                -moz-border-radius: 2px 2px 0 0;
                border-radius: 2px 2px 0 0;
                border-bottom: 1px solid #cfcfcf;
                height: 48px;
                padding: 10px;
                line-height: 28px;
            }

                .wrapper .content-left .box .box-header .title {
                    color: #333333;
                    float: left;
                    font-weight: bold;
                    font-size: 16px;
                }
    
                    .wrapper .content-left .box .box-header .title .attribution, .wrapper .content-left .box .box-header .title .mini-title {
                        font-size: 11px;
                        padding-left: 4px;
                        color: #b3b3b3;
                        font-weight: normal;
                    }

                        .wrapper .content-left .box .box-header .title .attribution a, .wrapper .content-left .box .box-header .title .mini-title a {
                            color: #b3b3b3;
                        }

                .wrapper .content-left .box .box-header span.tools {
                    padding: 0;
                    float: right;
                    margin: 0;
                }

                    .wrapper .content-left .box .box-header span.tools > a {
                        display: inline-block;
                        margin-right: 5px;
                        color: #666666;
                        margin-top: 3px;
                    }

                        .wrapper .content-left .box .box-header span.tools > a:hover {
                            text-decoration: none;
                            opacity: .6;
                        }

                        .wrapper .content-left .box .box-header span.tools > a.btn {
                            color: white;
                            margin-top: 0;
                        }

@media (max-width: 767px) {
    .wrapper .content-left .box .box-header span.tools {
        display: none;
    }

    .wrapper .content-left .box .box-header .tools {
        display: none;
    }
}

.wrapper .content-left .box .box-body {
    padding: 15px;
    border-bottom: 1px solid #b3b3b3;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
}

@media (max-width: 767px) {
    .wrapper .content-left {
        margin-right: 0px;
    }
}

.wrapper .content-right {
    width: 240px;
    margin-left: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
}

    .wrapper .content-right .block {
        margin-bottom: 10px;
        padding: 5px;
        background: #e6e6e6;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }

@media (max-width: 767px) {
    .wrapper .content-right {
        display: none;
    }
}

/*  Dashboard Wrapper Ends Here  */
/*  Metro nav */
.metro-nav {
    text-align: center;
}

    .metro-nav .metro-nav-block {
        display: inline-block;
        height: 70px;
        width: 26%;
        cursor: pointer;
        text-decoration: none;
        color: white;
        overflow: hidden;
        position: relative;
        font-weight: 300;
        letter-spacing: 0.02em;
        line-height: 20px;
        text-align: left;
        margin: auto;
        overflow: hidden;
        z-index: 1;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

        .metro-nav .metro-nav-block .fa {
            font-size: 32px;
            color: white;
            line-height: 36px;
        }

        .metro-nav .metro-nav-block a {
            height: 100%;
            vertical-align: top;
            padding: 5px 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            position: absolute;
            font-weight: 400;
            color: white;
            font-size: 16px;
            line-height: 16px;
            width: 100%;
        }

        .metro-nav .metro-nav-block.double {
            width: 47%;
        }

        .metro-nav .metro-nav-block:hover {
            opacity: 0.8;
        }

        .metro-nav .metro-nav-block .info {
            position: absolute;
            top: 20px;
            right: 10px;
            font-size: 24px;
        }

        .metro-nav .metro-nav-block .brand, .metro-nav .metro-nav-block .tile-status {
            position: absolute;
            bottom: -10px;
            left: 10px;
            min-height: 30px;
            background-color: transparent;
            *zoom: 1;
            font-size: 14px;
        }

        .metro-nav .metro-nav-block .tile-status {
            right: 10px;
        }

    .metro-nav * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .metro-nav *:after, .metro-nav *:before {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

    .metro-nav .nav-block-orange {
        background: #ed6d49;
    }

    .metro-nav .nav-block-green {
        background: #74b749;
    }

    .metro-nav .nav-block-yellow {
        background: #ffb400;
    }

    .metro-nav .nav-block-blue {
        background: #3693cf;
    }

    .metro-nav .nav-block-red {
        background: #f63131;
    }

@media (max-width: 767px) {
    .metro-nav .metro-nav-block {
        width: 49%;
    }

        .metro-nav .metro-nav-block:hover {
            outline: none;
            opacity: 0.8;
        }

        .metro-nav .metro-nav-block.double {
            width: 99%;
        }
}
/*  Chats starts here  */
.chats {
    margin: 0;
    padding: 0;
    margin-top: -15px;
}

    .chats li {
        padding: 5px 0;
        margin: 10px auto;
    }

        .chats li img.avatar {
            height: 60px;
            width: 60px;
            -webkit-border-radius: 60%;
            -moz-border-radius: 60%;
            border-radius: 60%;
        }

        .chats li.in img.avatar {
            margin-right: 10px;
            float: left;
        }

        .chats li .name {
            color: #ed6d49;
            font-size: 13px;
            font-weight: 400;
        }

        .chats li .date-time {
            color: #1a1a1a;
            font-size: 11px;
            font-weight: 400;
        }

        .chats li.out img.avatar {
            float: right;
            margin-left: 10px;
        }

        .chats li .message {
            display: block;
            padding: 5px 10px;
            position: relative;
        }

        .chats li.in .message {
            text-align: left;
            border-left: 3px solid #ed6d49;
            margin-left: 80px;
            background: #f5f5f5;
        }

            .chats li.in .message .arrow {
                display: block;
                position: absolute;
                top: 7px;
                left: -8px;
                width: 0;
                height: 0;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-right: 8px solid #ed6d49;
            }

        .chats li.out .message {
            border-right: 3px solid #3693cf;
            margin-right: 80px;
            background: #f5f5f5;
            text-align: right;
        }

            .chats li.out .message .arrow {
                display: block;
                position: absolute;
                top: 7px;
                right: -8px;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-left: 8px solid #3693cf;
            }

        .chats li.out .name {
            color: #3693cf;
        }

        .chats li.out .name, .chats li.out .date-time {
            text-align: right;
        }

        .chats li .message .body {
            display: block;
        }

.chat-form {
    margin-top: 15px;
    padding: 10px;
    background: #e0e0e0;
    clear: both;
}

    .chat-form .input-cont {
        margin-right: 55px;
    }

        .chat-form .input-cont input {
            width: 100%;
            margin-top: 0;
        }

/*  Todo Container  */
.todo-container {
    width: 100%;
}

    .todo-container .todo-list {
        margin-bottom: 10px;
        min-height: 180px;
    }

        .todo-container .todo-list li {
            background: #f5f5f5;
            border-bottom: 1px dotted #cccccc;
            line-height: 34px;
        }

            .todo-container .todo-list li:last-child {
                border-bottom: 0;
            }

            .todo-container .todo-list li input[type="checkbox"] {
                margin: 0 2px 0 10px;
            }

                .todo-container .todo-list li input[type="checkbox"]:checked + label {
                    text-decoration: line-through;
                    color: #999999;
                }

            .todo-container .todo-list li label {
                display: inline-block;
                cursor: pointer;
                font-size: 12px;
                margin-bottom: 0;
            }

                .todo-container .todo-list li label .date {
                    font-size: 10px;
                    color: #b3b3b3;
                    padding-left: 5px;
                    font-weight: normal;
                }

            .todo-container .todo-list li:hover {
                background: #fafafa;
            }

        .todo-container .todo-list .new {
            border-left: 3px solid #ed6d49;
            margin: 1px 0;
        }

        .todo-container .todo-list .completed {
            border-left: 3px solid #74b749;
            margin: 1px 0;
        }

        .todo-container .todo-list .process {
            border-left: 3px solid #ffb400;
            margin: 1px 0;
        }

    .todo-container .input-append {
        margin-top: 5px;
        margin-bottom: 0;
        width: 90%;
    }

/*  Messages Container  */
.message-container .message {
    position: relative;
    margin-bottom: 12px;
    min-height: 90px;
    padding: 10px;
    background: white;
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
}

.message-container .img-container {
    width: 10%;
    position: absolute;
    padding: 2px;
}

    .message-container .img-container img {
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        max-height: 80px;
        width: 100%;
    }

.message-container article {
    width: 85%;
    position: absolute;
    left: 13%;
    right: 2%;
    top: 0px;
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
}

    .message-container article a {
        color: #ed6d49;
    }

    .message-container article h6 {
        margin: 0 0 5px 0 !important;
    }

.message-container .icons-nav {
    width: 85%;
    position: absolute;
    left: 13%;
    top: 60px;
    margin-top: 4px;
}

    .message-container .icons-nav ul li .fa {
        float: right;
        display: inline-block;
        margin: 0 0 0 4px;
        color: #4d4d4d;
        font-size: 19px;
    }

    .message-container .icons-nav li.time {
        float: left;
        color: #bfbfbf;
    }

/*  Easy Pie Charts Container  */
.pie-charts-container {
    text-align: center;
}

    .pie-charts-container .pie-chart {
        margin-right: 20px;
        display: inline-block;
    }

        .pie-charts-container .pie-chart .name {
            text-align: center;
            padding-top: 10px;
        }

/*  Icomoon Icons Container  */
.icons-container {
    text-align: center;
}

    .icons-container li {
        background: white;
        border: 1px solid #f2f2f2;
        color: #666666;
        display: inline-block;
        margin: 0px;
        padding: 10px;
        height: 64px;
        width: 20%;
        float: left;
    }

        .icons-container li .fa {
            display: block;
            font-size: 25px;
        }

        .icons-container li:hover {
            background: #f7f7f7;
            cursor: pointer;
        }

@media (max-width: 767px) {
    .icons-container li {
        width: 100%;
    }
}

#dt_example {
    /* Sorting */
}

    #dt_example .dataTables_length {
        display: none;
    }

    #dt_example .dataTables_filter {
        float: right;
    }

        #dt_example .dataTables_filter input {
            width: 160px;
            margin-bottom: 0;
            outline: none;
            border: 1px solid #e6e6e6;
        }

    #dt_example .dataTables_info {
        float: left;
        margin-bottom: 5px;
    }

    #dt_example .dataTables_paginate {
        margin: 5px 0;
        float: right;
    }

        #dt_example .dataTables_paginate .first, #dt_example .dataTables_paginate .previous, #dt_example .dataTables_paginate .next, #dt_example .dataTables_paginate .last {
            display: none;
        }

        #dt_example .dataTables_paginate .paginate_button, #dt_example .dataTables_paginate .paginate_active {
            background: #f2f2f2;
            margin: 1px;
            padding: 5px 10px;
        }

            #dt_example .dataTables_paginate .paginate_button:hover, #dt_example .dataTables_paginate .paginate_active:hover {
                background: #e6e6e6;
                cursor: pointer;
            }

        #dt_example .dataTables_paginate .paginate_active {
            background: #3693cf;
            color: white;
        }

    #dt_example .dataTable .sorting {
        cursor: pointer;
        background: url(../img/sorting.png) no-repeat center right;
    }

    #dt_example .dataTable .sorting_asc {
        cursor: pointer;
        background: url(../img/sorting_asc.png) no-repeat center right;
    }

    #dt_example .dataTable .sorting_desc {
        cursor: pointer;
        background: url(../img/sorting_desc.png) no-repeat center right;
    }

/*  Featured Articles  */
.featured-articles-container {
    background: #f7f7f7;
    padding: 10px;
}

    .featured-articles-container .heading, .featured-articles-container .heading-green {
        margin-top: 0;
        color: #ffb400;
        padding-bottom: 8px;
        border-bottom: 1px dotted #d9d9d9;
    }

    .featured-articles-container .heading-green {
        color: #74b749;
    }

    .featured-articles-container .articles a {
        position: relative;
        border-bottom: 1px dotted #d9d9d9;
        color: #0d0d0d;
        display: block;
        font-size: 12px;
        font-weight: 500;
        line-height: 30px;
        padding-left: 20px;
        margin-bottom: 1px;
    }

        .featured-articles-container .articles a:hover {
            color: #737373;
        }

        .featured-articles-container .articles a .label-bullet, .featured-articles-container .articles a .label-bullet-green {
            position: absolute;
            left: 1px;
            top: 10px;
            width: 0;
            height: 0;
            border-top: 9px solid #ffb400;
            border-left: 9px solid transparent;
        }

        .featured-articles-container .articles a .label-bullet-green {
            border-top: 9px solid #74b749;
        }

        .featured-articles-container .articles a .date {
            font-size: 10px;
            padding-left: 2px;
            color: #b3b3b3;
            font-weight: normal;
        }

    .featured-articles-container .articles:hover {
        opacity: 1;
        cursor: default;
    }

    .featured-articles-container .articles .phone {
        text-align: right;
        font-size: 12px;
        padding-top: 5px;
    }

/*  Status  */
.stats li {
    padding: 10px;
    background: #f7f7f7;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    transition: All 0.5s ease;
    border: 1px solid #d9d9d9;
    height: 64px;
    margin-bottom: 4px;
}

    .stats li:last-child {
        margin-bottom: 0px;
    }

    .stats li:hover {
        opacity: 0.7;
        cursor: pointer;
    }

    .stats li .left {
        border-right: 1px solid #e6e6e6;
        float: left;
        display: inline-block;
        text-align: left;
        width: 120px;
        margin-right: 10px;
    }

        .stats li .left h4 {
            margin-top: 0;
            margin-bottom: 6px;
            color: #4d4d4d;
        }

        .stats li .left p {
            font-size: 11px;
            color: #ed6d49;
            text-transform: uppercase;
            margin-bottom: 0;
        }

    .stats li .chart {
        width: 70px;
        margin-top: 10px;
        margin-left: 5px;
        float: left;
    }

/*  Month Income  */
.month-income li {
    padding: 5px;
    background: #f7f7f7;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    transition: All 0.5s ease;
    border: 1px solid #d9d9d9;
    height: 50px;
    margin-bottom: 4px;
}

    .month-income li:last-child {
        margin-bottom: 0px;
    }

    .month-income li:hover {
        opacity: 0.7;
        cursor: pointer;
    }

    .month-income li .icon-block {
        width: 38px;
        height: 38px;
        line-height: 38px;
        float: left;
        margin-top: 0;
        color: white;
        text-align: center;
        vertical-align: middle;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }

    .month-income li h5 {
        margin: 0 0 3px 45px;
        padding: 0;
        color: gray;
    }

        .month-income li h5 small {
            font-size: 11px;
        }

    .month-income li p {
        font-size: 11px;
        margin-bottom: 0;
        margin-left: 45px;
        color: #b3b3b3;
    }

    .month-income li .yellow-block {
        background: #ffb400;
    }

    .month-income li .orange-block {
        background: #ed6d49;
    }

    .month-income li .green-block {
        background: #74b749;
    }

    .month-income li .blue-block {
        background: #3693cf;
    }

    .month-income li .red-block {
        background: #f63131;
    }

/*  Mini Dashboard  */
.mini-dashboard {
    padding: 5px;
    background: #f7f7f7;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    margin-bottom: 4px;
}

    .mini-dashboard .graph-container .city {
        margin: 5px 0 15px 0;
        font-size: 18px;
        color: #4d4d4d;
    }

        .mini-dashboard .graph-container .city .time {
            font-size: 11px;
            padding-left: 7px;
            color: gray;
        }

    .mini-dashboard .graph-container .graph {
        margin: 10px 0;
        width: 100%;
        height: 34px;
    }

    .mini-dashboard .graph-container .info-container {
        padding: 5px 0;
        color: #3693cf;
    }

        .mini-dashboard .graph-container .info-container .blocks-container .block {
            position: relative;
            background: #e6e6e6;
            text-align: center;
            width: 108px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            float: left;
            height: 40px;
            line-height: 40px;
            font-size: 18px;
            font-weight: bold;
        }

            .mini-dashboard .graph-container .info-container .blocks-container .block.last {
                margin-left: 2px;
            }

        .mini-dashboard .graph-container .info-container .blocks-container .arrow {
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid #e8481b;
            position: absolute;
            top: 18px;
            width: 0;
            height: 0;
            left: 10px;
        }

/*  Progress statistics  */
.progress-stats li {
    padding: 5px;
    background: #f7f7f7;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    transition: All 0.5s ease;
    border: 1px solid #d9d9d9;
    margin-bottom: 5px;
}

    .progress-stats li:last-child {
        margin-bottom: 0px;
    }

    .progress-stats li:hover {
        opacity: 0.7;
        cursor: pointer;
    }

/*  Doc icons  */
.doc-icons-container {
    position: relative;
    line-height: 100%;
}

    .doc-icons-container .icon {
        display: inline-block;
        position: relative;
        width: 40px;
        height: 50px;
        background: #d9d9d9;
        margin: 0 15px 0 0;
    }

        .doc-icons-container .icon:before {
            position: absolute;
            content: "";
            top: 0px;
            right: -10px;
            width: 0;
            height: 50px;
            border-left: 10px solid #d9d9d9;
            border-top: 10px solid transparent;
        }

        .doc-icons-container .icon:after {
            position: absolute;
            content: "";
            top: 0px;
            right: -10px;
            width: 0;
            height: 0;
            border-right: 10px solid transparent;
            border-bottom: 10px solid rgba(0, 0, 0, 0.2);
        }

        .doc-icons-container .icon.light-blue {
            background: #5fa9d9;
            color: #1f5a80;
        }

            .doc-icons-container .icon.light-blue:before {
                border-left-color: #5fa9d9;
            }

        .doc-icons-container .icon.light-green {
            background: #90c56e;
            color: #466e2c;
        }

            .doc-icons-container .icon.light-green:before {
                border-left-color: #90c56e;
            }

        .doc-icons-container .icon.light-yellow {
            background: #ffc333;
            color: #996c00;
        }

            .doc-icons-container .icon.light-yellow:before {
                border-left-color: #ffc333;
            }

        .doc-icons-container .icon.light-orange {
            background: #f29277;
            color: #bd3813;
        }

            .doc-icons-container .icon.light-orange:before {
                border-left-color: #f29277;
            }

    .doc-icons-container .doc-icon {
        position: absolute;
        top: 10px;
        width: 50px;
        height: 20px;
        font-size: 16px;
        text-align: center;
        line-height: 20px;
    }

    .doc-icons-container .doc-type {
        position: absolute;
        bottom: 0;
        width: 50px;
        height: 16px;
        font-size: 11px;
        text-transform: uppercase;
        text-align: center;
        line-height: 8px;
    }

/*  INVOICE  */
.invoice-head {
    border-bottom: 1px solid #cccccc;
    height: 48px;
}

    .invoice-head span {
        font-size: 14px;
    }

    .invoice-head .logo {
        margin: 0;
    }

    .invoice-head .invoice-info {
        float: right;
        margin-top: 8px;
        text-align: right;
    }

        .invoice-head .invoice-info span {
            color: #ed6d49;
            font-weight: bold;
            font-size: 12px;
            float: right;
            text-align: right;
        }

        .invoice-head .invoice-info .date {
            color: #3693cf;
            font-size: 11px;
            font-weight: 500;
        }

.invoice-data-container {
    padding: 10px 0;
}

    .invoice-data-container .from {
        width: 40%;
    }

        .invoice-data-container .from h5 {
            color: #4d4d4d;
            margin: 0 0 10px 0;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
        }

        .invoice-data-container .from span {
            color: #ef8060;
            display: block;
            font-size: 12px;
            margin-bottom: 3px;
        }

/*  page not found - 404 -500  */
.page-not-found {
    margin-top: 80px;
    color: #b3b3b3;
}

    .page-not-found .number {
        font-size: 150px;
        color: #ed6d49;
        line-height: 100%;
    }

footer {
    background: #3693cf;
    color: white;
    font-weight: normal;
    line-height: 30px;
    font-size: 11px;
    padding: 10px;
    margin-bottom: 10px;
    z-index: 1;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

    footer p {
        margin-bottom: 0;
    }


.login-box {
    margin: auto;
    margin-top: 120px;
    background-image: url(../../images/BgLogin.png);
    width: 765px;
    height: 430px;
    webkit-box-shadow: 0 18px 6px -8px #121212, 0 0 0 #333333;
    -moz-box-shadow: 0 18px 6px -8px #121212, 0 0 0 #333333;
    box-shadow: 0 18px 6px -8px #121212, 0 0 0 #333333;
}

.login-box-body {
    width: 240px;
    padding: 10px;
    padding-top: 110px;
}

table tr th {
    text-align: center;
}

#tbl_Suggests tbody tr {
    cursor: pointer;
}

.form-horizontal .editor-label{
    padding-top: 2px;
    font-weight: 700;
}

.form-horizontal .editor-field {
    margin-bottom: 15px;
}

.auto-filter {
    margin-bottom: 15px;
}

.easy-autocomplete-container {
    margin-top: 35px;
}

.back {
    color: #ed6d49;
    padding-left: 15px;
}

.back a{
    color: #ed6d49;/*eea236;*/
}

.back a:hover{
    color: #ed6d49;
    text-decoration:underline;
}

.list-gift {
    margin-bottom: 10px;
    padding: 5px;
    background: #e6e6e6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.list-gift li {
    padding: 5px;
    background: #f7f7f7;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    transition: All 0.5s ease;
    border: 1px solid #d9d9d9;
    height: 50px;
    margin-bottom: 4px;
}

    .list-gift li h5, .list-gift textarea {
        font-size: 16px;
    }

    .list-gift li select {
        width: 350px;
        height: 38px;
        margin-left: 10px;
        background: none;
        border: none;
        color: grey;
        border-bottom: 1px solid #74B749;
        font-size: 16px;
    }

.list-gift li .icon-block {
    width: 38px;
    height: 38px;
    line-height: 38px;
    float: left;
    margin-top: 0;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.list-gift li h5 {
     margin: 0 0 0 45px;
    padding: 0;
    color: gray;
    line-height: 38px;
}

.list-gift li .blue-block {
    background: #3693cf;
}

.list-gift li .green-block {
    background: #74b749;
}

.list-gift li .orange-block {
    background: #ed6d49;
}

/*.featured-articles-container .heading-blue {
    color: #3693cf;
}*/
.box-body .heading-blue {
    color: #3693cf;
}

.box-body .heading-green {
    color: #74b749;
}

.box-body .heading-orange {
    color: #ed6d49;
}

.box-body .heading {
    margin-top: 0;
    padding-bottom: 8px;
    border-bottom: 1px dotted #d9d9d9;
    font-size: 16px;
}

.callout {
    border-radius: 3px;
    margin: 0 0 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}

.bg-red,
.callout.callout-danger,
.alert-danger,
.alert-error,
.label-danger,
.modal-danger .modal-body {
  background-color: #dd4b39 !important;
}

.callout.callout-danger {
    border-color: #c23321;
}

.bg-red,
.callout.callout-danger,
.alert-danger,
.alert-error,
.label-danger,
.modal-danger .modal-body {
    color: #fff !important;
}
@media (max-width: 480px) {
    body {

        background: #f4f4f4 !important;
    }
    .login-box-body {
        width: initial !important; 
        padding: 15px !important;

    }
    .login-box {
        margin: auto;
        margin-top: 100px;
        background: #f4f4f4;
        width: initial !important;
        height:initial !important;
        box-shadow: initial !important;
    }

}
