﻿
@{ var province = ViewBag.Province as List<tbl_Province>;}
<li class="nav-head">Khách sạn tại</li>
@foreach (var item in province)
{
    <li class="item-popular-place"
        id="province-@item.ProvinceId">
        <a id="province-@item.ProvinceId" class="popular-destination" href="#"
           link="/c42/khach-san-tai-ninh-binh.html"
           title="@item.ProvinceName">@item.ProvinceName</a>
    </li>
}
<script>
    //$('.popular-destination').click((e) => {
    //    console.log('da vao _search');
    //    $('.js-check-content').val(e.target.title);
    //    $('.search-suggestion').removeClass('show');
    //    $('#KeywordType').val(e.target.title);
    //})
</script>
