﻿@model List<tbl_Hotel>
@{
    var hotels = ViewBag.Hotels as List<tbl_Hotel>;
}
@{
    if (hotels != null && hotels.Count() > 0)
    {
        <li class="nav-head">Gợi ý khách sạn</li>
        foreach (var item in hotels)
        {
            <li class="item-popular-place" id="hotel-@item.Id">
                <a id="hotel-@item.Id" class="popular-destination" href="#"
                   link="/c42/khach-san-tai-ninh-binh.html"
                   title="@item.HotelName">@item.HotelName</a>
            </li>
        }
    }
    else
    {
        <li class="nav-head">Không có thông tin</li>
    }
}
<script>
    //$('.popular-destination').click((e) => {
    //    $('.js-check-content').val(e.target.title);
    //    $('.search-suggestion').removeClass('show');
    //    $('#KeywordType').val(e.target.id);
    //});
</script>