﻿<div id="laymatkhau" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="LoginModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Quên mật khẩu?</h4>*@
                <h5 class="modal-title" id="exampleModalLongTitle">Quên mật khẩu?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 mg-bot15">
                        <div class="input-container" style="text-align:center;">
                            <i class="fas fa-envelope icon"></i>
                            @Html.TextBox("EmailPassword", "", new { @class = "input-field", @type = "email", placeholder = "Email", @Style= "width: 90%;" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-md btn-default" onclick="ForgotPasswordAccount();">Lấy lại mật khẩu&nbsp;&nbsp;<i class="fas fa-sign-in-alt" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function clickClosePopLauMayKhau() {
        $('#LoginModal').modal('hide');
    }

    function ForgotPasswordAccount() {
        Email = $("#EmailPassword").val();

        if (Email == '') {
            alert('Quý khách vui lòng nhập email');
        }
        else {
            // Tương tác với server
            $.ajax({
                url: "/AccountCustomer/ForgotPasswordAccount",
                data: { Email: Email },
                success: function (result) {
                    if (result == 'true') {
                        alert('Quý khách vui lòng kiểm tra email để nhập mật khẩu mới');
                        window.location.href = '/';
                        //window.location.href = 'dang-nhap.aspx';
                    }
                    else {
                        alert('Email không tồn tại trong hệ thống. Quý khách vui lòng kiểm tra lại');
                        $("#EmailPassword").val('');
                    }
                }
            });
        }
    }
</script>
