﻿<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("Login", "AccountCustomer", FormMethod.Post, new { id = "Form-Login" }))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Đăng nhập</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="events-tracking" name="data-action">
                    <div class="error-login"></div>
                    <div class="form-group row">
                    </div>
                    @Html.AntiForgeryToken()
                    <div class="mg-bt-15 device-mb-show"></div>
                    <div class="col-md-6 col-md-12 mg-bt-10 text-center">
                        <a href="@Url.Action("Facebook","AccountCustomer", new { returnUrl = Request.Url})" class="events-tracking btn btn-facebook text-sm btn-google-fix-width">
                            <i class="fab fa-facebook" accesskey=""></i> Tiếp tục với Facebook
                        </a>
                    </div>

                    <div class="mg-bt-15 device-mb-show"></div>
                    <div class="col-md-6 col-md-12 mg-bt-10 text-center">
                        <a href="#" id="customBtn" class="events-tracking btn btn-google text-sm btn-google-fix-width">
                            <i class="fab fa-google-plus-g"></i> Tiếp tục với Google
                        </a>
                    </div>
                    <script>startApp();</script>
                    <div class="line-hr">
                        <span class="line-hr-text">hoặc</span>
                    </div>

                    <div class="form-group text-center mg-bt-5">
                        <label class="text-sm">
                            Đăng nhập bằng email/ Điện thoại
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email/ Điện thoại<small class="red">*</small></label>
                        <input type="text" id="emailOrPhoneNumber" class="form-control required" name="emailOrPhoneNumber" tabindex="1">
                        <div class="email-alert"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mật khẩu<small class="red">*</small></label>
                        <input type="password" id="password" class="form-control required" name="password" tabindex="2">
                        <div class="password-alert"></div>
                    </div>
                    <div class="form-group">
                        <label class="checkbox mg-t-0">
                            <input type="checkbox">
                            Nhớ đăng nhập
                        </label>

                        <a class="events-tracking lost-password mg-0" onclick="clickClosePopLauMayKhau();" href="#" data-toggle="modal" data-target="#laymatkhau">Quên mật khẩu?</a>
                    </div>
                </div>
                <div class="modal-footer bd-0 bg-white">
                    <button type="submit" class="btn btn-block btn-blue btn-lg pull-left mg-bt-15">Đăng nhập</button>
                    <div class="help-block mg-bt-15 d-flex align-items-center justify-content-between">
                        <strong class="pull-left mg-t-5">Chưa có tài khoản?</strong>
                        <a class="events-tracking pull-right bd-1px btn bd-blue" href="~/AccountCustomer/Register" data-category="login" data-action="signup" data-label="email">
                            <span class="blue">Tạo tài khoản</span>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $('#Form-Login').submit(function () {
        event.preventDefault();
        if ($('#emailOrPhoneNumber').val() == '') {
            alert("Email hoặc số điện thoại không được để trống");
            //$('#email').focus();
            return false;
        }
        if ($('#password').val() == '') {
            alert("Mật khẩu không được để trống");
            //$('#password').focus();
            return false;
        }
        $.ajax({
            url: '@Url.Action("Login", "AccountCustomer")',
            type: 'POST',
            data: {
                __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                emailOrPhoneNumber: $('#emailOrPhoneNumber').val(),
                password: $('#password').val(),
            },
            success: function (result) {
                if (result.status == 1) {
                    alert(result.message);
                    location.reload();
                }
                else {
                    alert(result.message);
                }
            },
            error: function () {
                alert("Không thực hiện được");
            }
        })
    });
</script>
