﻿
@{
    ViewBag.Title = "ChangePassword";
}

<div class="container n3-lg-rg mg-bot40">
    <div class="row">
        <div class="col-lg-6 col-md-7 col-sm-7 hidden-xs">
            <img src="~/Content/images/BgLoginHome.jpg" class="img-responsive" alt="backgroud" />
        </div>
        <div class="col-lg-6 col-md-5 col-sm-5 col-xs-12">
            <h2 class="title mg-bot20">Thay đổi mật khẩu</h2>
            <div class="mg-bot15">
                <div class="input-container mg-bt-15">
                    <i class="fa fa-key icon"></i>
                    @Html.Password("Password", "", new { @class = "input-field", placeholder = "Mật khẩu cũ" })
                </div>
                <div class="input-container mg-bt-15">
                    <i class="fa fa-key icon"></i>
                    @Html.Password("PasswordNew", "", new { @class = "input-field", placeholder = "Mật khẩu mới" })
                </div>
                <div class="input-container mg-bt-15">
                    <i class="fa fa-key icon"></i>
                    @Html.Password("RePasswordNew", "", new { @class = "input-field", placeholder = "Nhập lại mật khẩu mới" })
                </div>
                <div>
                    <hr>
                </div>
                <div class="text-right">
                    <button class="btn btn-md btn-default" onclick="ChangePasswordAccount();">Thay đổi mật khẩu&nbsp;&nbsp;<i class="fas fa-sign-in-alt" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function ChangePasswordAccount() {
        Password = $("#Password").val();
        PasswordNew = $("#PasswordNew").val();
        RePasswordNew = $("#RePasswordNew").val();

        // Tương tác với server
        $.ajax({
            url: "/AccountCustomer/ChangePasswordAccount",
            data: { Password: Password, PasswordNew: PasswordNew, RePasswordNew: RePasswordNew },
            success: function (result) {
                alert(result);
                if (result == 'Đổi mật khẩu thành công') {
                    window.location.href = '/';
                }
            }
        });
    }
</script>
