﻿
@{
    ViewBag.Title = "Cập nhật mật khẩu mới";
}

<div class="container profile-page sign-up">
    <div class="row">
        <div class="col-md-5 offset-md-1 mg-t-40 mg-bt-40">
            <!-- NEW -->
            <div class="box">
                <div class="box-body">
                    
                    <h3 class="title"><b>Lấy lại mật khẩu</b></h3>
                    <input type="hidden" id="tk" value="@ViewBag.tk" />
                    <div class="form-group">
                        <label>
                            Mật khẩu<small class="red">*</small>
                        </label>
                        <i class="fa fa-key icon"></i>
                        @Html.Password("Password", "", new { @class = "input-field  ip-email  form-control", placeholder = "Mật khẩu" })
                    </div>

                    <div class="form-group">
                        <label>
                            Nhập lại mật Khẩu<small class="red">*</small>
                        </label>
                        <i class="fa fa-key icon"></i>
                        @Html.Password("RePassword", "", new { @class = "input-field ip-email  form-control", placeholder = "Nhập lại mật khẩu" })
                    </div>
                    <div class="form-group text-center mg-bt-20">
                        <button class="btn btn-md btn-default" onclick="CustomerEnterPassword();">Lưu&nbsp;&nbsp;<i class="fas fa-sign-in-alt" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 col-md-offset-1 mg-t-40 mg-bt-40">
            <div class="box benefit">
                <p class="special"><b>Lợi ích khi tạo tài khoản</b></p>
                <p><i class="fa fa-check-circle green-dark-1"></i>Đặt phòng với giá giảm đến 40%.</p>
                <p><i class="fa fa-check-circle green-dark-1"></i>Tích lũy điểm thưởng hotcombo với mỗi đơn phòng.</p>
                <p><i class="fa fa-check-circle green-dark-1"></i>Nhận ưu đãi đặc biệt chỉ dành cho thành viên.</p>

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        function CustomerEnterPassword() {
            tk = $("#tk").val();
            Password = $("#Password").val();
            RePassword = $("#RePassword").val();

            // Tương tác với server
            $.ajax({
                url: "/AccountCustomer/CustomerEnterPasswordAccount",
                data: { tk: tk, Password: Password, RePassword: RePassword },
                success: function (result) {
                    if (result == "1") {
                        alert("Đổi mật khẩu thành công");
                        window.location.href = '/';
                    } else if (result == "0") {
                        alert("Nhập mật khẩu không đúng");
                    }
                    else {
                        alert("Đổi mật khẩu thất bại");
                    }
                    //alert(result);
                    //if (result == 'Đổi mật khẩu thành công') {
                    //    window.location.href = '/';
                    //}
                }
            });
        }
    </script>
}


