﻿
@{
    ViewBag.Title = "ForgotPassword";
}

<div class="container n3-lg-rg mg-bot40">
    <div class="row">
        <div class="col-lg-6 col-md-7 col-sm-5 hidden-xs">
            <img src="~/Content/images/bg-menu-hover.jpg" class="img-responsive" alt="backgroud" />
        </div>
        <div class="col-lg-6 col-md-5 col-sm-7 col-xs-12">
            <h2 class="title mg-bot20">Quên mật khẩu</h2>
            <div class="mg-bot15">
                <div class="input-container mg-bot15">
                    <i class="fas fa-envelope icon"></i>
                    @Html.TextBox("Email", "", new { @class = "input-field", placeholder = "Email" })
                </div>
                <div>
                    <hr>
                </div>
                <div class="text-right">
                    <button class="btn btn-md btn-default" onclick="ForgotPasswordAccount();">Lấy lại mật khẩu&nbsp;&nbsp;<i class="fas fa-sign-in-alt" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function ForgotPasswordAccount() {
        Email = $("#Email").val();

        if (Email == '') {
            alert('Quý khách vui lòng nhập email');
        }
        else {
            // Tương tác với server
            $.ajax({
                url: "/AccountCustomer/ForgotPasswordAccount",
                data: { Email: Email },
                success: function (result) {
                    if (result == 'true') {
                        alert('Quý khách vui lòng kiểm tra email để nhập mật khẩu mới');
                        window.location.href = 'dang-nhap.aspx';
                    }
                    else {
                        alert('Email không tồn tại trong hệ thống. Quý khách vui lòng kiểm tra lại');
                        $("#Email").val('');
                    }
                }
            });
        }
    }
</script>

