﻿
@{
    ViewBag.Title = "Đăng ký tài khoản";
}

<div class="container profile-page sign-up">
    <div class="row">
        <div class="col-md-5 offset-md-1 mg-t-40 mg-bt-40">
            <!-- NEW -->
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="mg-bt-15 device-mb-show"></div>
                        <div class="col-md-6 col-md-12 mg-bt-10 text-center">
                            <a href="@Url.Action("Facebook","AccountCustomer", new { returnUrl = Request.Url})" class="events-tracking btn btn-facebook text-sm btn-google-fix-width">
                                <i class="fab fa-facebook" accesskey=""></i> Tiếp tục với Facebook
                            </a>
                        </div>

                        <!-- In the callback, you would hide the gSignInWrapper element on a
                        successful sign in -->
                        <div class="mg-bt-15 device-mb-show"></div>
                        <div class="col-md-6 col-md-12 mg-bt-10 text-center">
                            <a href="#" id="customBtn" class="events-tracking btn btn-google text-sm btn-google-fix-width" data-category="Login" data-action="Item click" data-label="Login Google">
                                <i class="fab fa-google-plus-g"></i> Tiếp tục với Google
                            </a>
                        </div>
                        @*@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@


                        <div class="col-md-12">
                            <hr>
                            <span class="line-hr-text">hoặc</span>
                        </div>
                    </div>

                    @*<form method="POST" action="">*@
                    <div class="tab">
                        <div class="row">
                            <button class="tablinks col-md-6 active" onclick="openRegister(event, 'Email')">Email</button>
                            <button class="tablinks col-md-6" onclick="openRegister(event, 'Phone')">Số điện thoại</button>
                        </div>
                    </div>

                    <div id="Email" class="tabcontent" style="display:block">
                        <h3 class="title"><b>đăng ký bằng email</b></h3>

                        <div class="form-group">
                            <label>
                                Họ và tên<small class="red">*</small>
                            </label>
                            @*<input type="text" class="ip-email form-control" name="email" value="">*@
                            @Html.TextBox("CustomerName", "", new { @class = "input-field ip-email form-control", placeholder = "Nguyễn Văn A" })
                        </div>

                        <div class="form-group">
                            <label>
                                Email<small class="red">*</small>
                            </label>
                            @*<input type="text" class="ip-email form-control" name="email" value="">*@
                            @Html.TextBox("Email", "", new { @class = "input-field ip-email form-control", placeholder = "example@gmail.com" })
                        </div>

                        <div class="form-group">
                            <label>
                                Mật khẩu<small class="red">*</small>
                            </label>
                            @*<input type="password" class="form-control" name="password">*@
                            @Html.Password("Password", "", new { @class = "input-field ip-email form-control", placeholder = "Mật khẩu" })
                        </div>

                        <div class="form-group">
                            <label>
                                Xác nhận lại mật khẩu<small class="red">*</small>
                            </label>
                            @*<input type="password" class="form-control" name="re_password">*@
                            @Html.Password("RePassword", "", new { @class = "input-field ip-email form-control", placeholder = "Xác nhận lại mật khẩu" })
                        </div>
                        <div class="form-group text-center mg-bt-20">
                            <p class="help-block" style="font-size: 10px">
                                Chọn đăng ký là bạn đã đồng ý với các <a href="~/privacy-cookies.aspx">Điều khoản dịch vụ</a> của
                                hotcombo.vn
                            </p>
                            @*<button type="submit" class="btn btn-block-center btn-blue btn-lg">Đăng ký</button>*@
                            <button class="btn btn-block-center btn-blue btn-lg" onclick="RegisterAccount();">Đăng ký&nbsp;&nbsp;<i class="fas fa-sign-in-alt" aria-hidden="true"></i></button>
                        </div>
                    </div>

                    <div id="Phone" class="tabcontent">
                        <h3 class="title"><b>đăng ký bằng số điện thoại</b></h3>

                        <div class="form-group">
                            <label>
                                Họ và tên<small class="red">*</small>
                            </label>
                            @Html.TextBox("CustomerNamePhone", "", new { @class = "input-field ip-email form-control", placeholder = "Nguyễn Văn A" })
                        </div>

                        <div class="form-group">
                            <label>
                                Số điện thoại<small class="red">*</small>
                            </label>
                            @Html.TextBox("PhoneNumber", "", new { @class = "input-field ip-email form-control", placeholder = " VD: 0987654321" })
                        </div>

                        <div class="form-group">
                            <label>
                                Mã OTP<small class="red">*</small>
                                <button id="btnSendOTP" class="btn btn-success" onclick="SendOTP()">Nhận mã</button>
                                <span id="countDown"></span>
                            </label>
                            @Html.TextBox("OTP", "", new { @class = "input-field ip-email form-control", placeholder = "Nhận mã OTP qua số điện thoại" })

                            @if (Session["TimePhoneRegister"] != null)
                            {
                                @Html.Hidden("TimePhoneRegister", ((DateTime)Session["TimePhoneRegister"]).ToString("MM/dd/yyyy HH:mm:ss"))
                            }
                        </div>

                        <div class="form-group">
                            <label>
                                Mật khẩu<small class="red">*</small>
                            </label>
                            @Html.Password("PasswordPhone", "", new { @class = "input-field ip-email form-control", placeholder = "Mật khẩu" })
                        </div>

                        <div class="form-group">
                            <label>
                                Xác nhận lại mật khẩu<small class="red">*</small>
                            </label>
                            @Html.Password("RePasswordPhone", "", new { @class = "input-field ip-email form-control", placeholder = "Xác nhận lại mật khẩu" })
                        </div>
                        <div class="form-group text-center mg-bt-20">
                            <p class="help-block" style="font-size: 10px">
                                Chọn đăng ký là bạn đã đồng ý với các <a href="~/privacy-cookies.aspx">Điều khoản dịch vụ</a> của
                                hotcombo.vn
                            </p>
                            <button class="btn btn-block-center btn-blue btn-lg" onclick="RegisterByPhoneNumber();">Đăng ký&nbsp;&nbsp;<i class="fas fa-sign-in-alt" aria-hidden="true"></i></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-5 col-md-offset-1 mg-t-40 mg-bt-40">
            <div class="box benefit">
                <p class="special"><b>Lợi ích khi tạo tài khoản</b></p>
                <p><i class="fa fa-check-circle green-dark-1"></i>Đặt phòng với giá giảm đến 40%.</p>
                <p><i class="fa fa-check-circle green-dark-1"></i>Tích lũy điểm thưởng hotcombo với mỗi đơn phòng.</p>
                <p><i class="fa fa-check-circle green-dark-1"></i>Nhận ưu đãi đặc biệt chỉ dành cho thành viên.</p>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            CheckCountDown();
        });

        function CheckCountDown() {
            if ($('#TimePhoneRegister').val() != null) {
                var timerCount = new Date($('#TimePhoneRegister').val());
                var countDown = Math.floor(((new Date - timerCount) % (1000 * 60 * 60)) / (1000 * 60));
                if (countDown < 5) {
                    CountDown(5 - countDown);
                }
            }
        }

        function RegisterAccount() {
            CustomerName = $("#CustomerName").val();
            Email = $("#Email").val();
            Password = $("#Password").val();
            RePassword = $("#RePassword").val();

            if (CustomerName == '' || Email == '' || Password == '' || RePassword == '') {
                alert('Quý khách vui lòng nhập đủ thông tin.');
            } else if (Password != RePassword) {
                alert('Nhập lại mật khẩu không chính xác.');
            }
            else {
                // Tương tác với server
                $.ajax({
                    url: "/AccountCustomer/RegisterAccount",
                    data: { CustomerName: CustomerName, Email: Email, Password: Password, RePassword: RePassword },
                    success: function (result) {
                        if (result == '1') {
                            alert('Tạo mới tài khoản thành công. Quý khách cần kiểm tra email để kích hoạt tài khoản');
                            document.location.href = "/";
                            //window.location.href = '.aspx';
                        }
                        if (result == '2') {
                            alert('Tài khoản đã tồn tại trong hệ thống. Nếu chưa kích hoạt, quý khách vui lòng kiểm tra email để kích hoạt tài khoản');
                            //window.location.href = 'dang-nhap.aspx';
                        }
                        if (result == '0') {
                            alert('Tạo mới tài khoản thất bại.');
                        }
                        if (result == '-1') {
                            alert('Tài khoản đã tồn tại trong hệ thống với Email này.');
                        }

                        $("#CustomerName").val('');
                        $("#Email").val('');
                        $("#Password").val('');
                        $("#RePassword").val('');
                    },
                    error: function (data) {
                        alert("Vui lòng thử lại sau");
                        console.log(data);
                    }
                });
            }
        }


        function RegisterByPhoneNumber() {
            CustomerName = $("#CustomerNamePhone").val();
            PhoneNumber = $("#PhoneNumber").val();
            OTP = $("#OTP").val();
            Password = $("#PasswordPhone").val();
            RePassword = $("#RePasswordPhone").val();
            if (CustomerName == '' || Email == '' || Password == '' || RePassword == '') {
                alert('Quý khách vui lòng nhập đủ thông tin.');
            } else if (OTP == '') {
                alert('Vui lòng nhập mã OTP');
            } else if (Password != RePassword) {
                alert('Nhập lại mật khẩu không chính xác.');
            }
            else {
                // Tương tác với server
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("RegisterByPhoneNumber", "AccountCustomer")',
                    data: { CustomerName: CustomerName, PhoneNumber: PhoneNumber, OTP: OTP, Password: Password, RePassword: RePassword },
                    success: function (result) {
                        if (result.status == 1) {
                            alert(result.message);
                            document.location.href = "/";
                        }
                        else {
                            alert(result.message);
                        }

                        $("#CustomerName").val('');
                        $("#Email").val('');
                        $("#Password").val('');
                        $("#RePassword").val('');
                    },
                    error: function (data) {
                        alert("Vui lòng thử lại sau");
                        console.log(data.error);
                    }
                });
            }
        }
    </script>

    <script>
        function openRegister(evt, type) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(type).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>

    <script>

        function SendOTP() {
            phoneNumber = $("#PhoneNumber").val();

            $.ajax({
                url: '@Url.Action("SendOTPMessage", "AccountCustomer")',
                type: 'POST',
                data: { phoneNumber: phoneNumber },
                success: function (result) {
                    if (result.status == 1) {
                        alert(result.message); 

                        CountDown(5);
                    }
                    else {
                        alert(result.message);
                    }
                },
                error: function (data) {
                    alert("Vui lòng thử lại sau");
                    console.log(data);
                }
            });
        }

        function CountDown(minute) {
            // Set the date we're counting down to
            var countDownDate = new Date().setMinutes(new Date().getMinutes() + minute)
            $('#btnSendOTP').attr('disabled', 'disabled');
            // Update the count down every 1 second
            var x = setInterval(function () {

                // Get today's date and time
                var now = new Date().getTime();

                // Find the distance between now and the count down date
                var distance = countDownDate - now;

                // Time calculations for days, hours, minutes and seconds
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Output the result in an element with id="demo"
                document.getElementById("countDown").innerHTML ="yêu cầu lại sau: "+ minutes + "m " + seconds + "s ";

                // If the count down is over, write some text
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("countDown").innerHTML = "";
                    $('#btnSendOTP').removeAttr('disabled');
                }
            }, 1000);
        }
    </script>
}
