﻿@model string
@{
    ViewBag.Title = Model;
}

<body>
    <div class="container desktop d-none-sm">
        <!-- breadcrumb -->
        <div class="col-md-12" import-html="breadcrumb">
            <div class="breadcrumb-scroll">
                <ul class="breadcrumb scroll-y ps-container ps-active-x" id="breadcrumb-scroll">
                    <li><a href="https://hotcombo.vn">Trang chủ</a></li>
                    <li class="active"> Thông tin</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div>
                @Html.Raw(Hotel.Utilities.Utility.GetContentValue(Model))
            </div>
        </div>
    </div>
</body>

